
.navbar-site {

    .navbar-brand {
        padding: 0px 60px 0 15px;
        margin-top: 15px;
        height: auto;
        color: #C386AE;
        font-weight: 700;
        font-size: 17.5px;
        font-family: Source Sans Pro, -apple-system, Roboto, Helvetica Neue, sans-serif;

        &:hover,
        &:focus {
            color: #C386AE;
        }

        .navbar-brand-img{
            position: relative;
            bottom: 2px;
            padding-right: 10px;
        }
    }

    .navbar-form {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .navbar-toggle {
        border: none;
        margin-top: 20px;

        .icon-bar {
            background-color: #fff;
        }
    }

    .navbar-nav {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        > li > a {
            padding-left: 20px;
            padding-right: 20px;

            &.active{
                padding-bottom: 6px;
                border-bottom: 3px solid #FFFFFF;
            }
        }

        .open .dropdown-menu {
            > li > a {
                color: #f0ebf5;
                &,
                &:hover,
                &:focus {
                    font-weight: 700;
                }
                &:focus {
                    color: #f0ebf5;
                }
                &:hover {
                    color: #C386AE;
                }
            }
            > .active > a {
                &,
                &:hover,
                &:focus {
                    font-weight: 700;
                }
                &:focus {
                    color: #f0ebf5;
                }
                &:hover {
                    color: #C386AE;
                }
            }
        }
    }

    .lang_and_sign {
        display: flex;
        position: absolute;
        top: 6px;
        right: 30px;
        background-color: transparent;

        .navbar-form {
            margin: 0;
            padding: 0;
            border-color: transparent;
            box-shadow: none;
        }

        .btn-logout {
            margin-top: -1px;
        }

        .dropdown-toggle.btn {
            color: #C386AE;
            margin-top: -7px;
        }
        .navbar-nav > li > a.active{
            border-bottom: none;
        }
        @media (max-width: $grid-float-breakpoint-max) {
            .dropdown-toggle.btn {
                margin-top: 4px;
            }
        }
    }

    .navbar-nav > li > .btn {
        color: $theme-color;
        padding: 4px 10px;
        .caret {
            margin-left: 10px;
        }
    }

    ul.navbar-lang {
        // By default the js powered language selector is hidden
        // This selector is enabled in js/base.js
        display: none;
    }

    .navbar-lang {

        @media (max-width: $grid-float-breakpoint-max) {
            margin: 0;

        }
    }

    .navbar-lang__close {
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fff;
    }

    .navbar-lang > li.dropdown > .dropdown-toggle.btn {
        font-size: 17.5px;
        font-weight: 700;
        padding-bottom: 5px;
        margin-left: 20px;
        margin-bottom: 5px;
        color: #f0ebf5; //2022
            &,
            &:hover,
            &:active {
                background-color: transparent;
                border: transparent;
            }
            &:active {
                color: #f0ebf5;
            }
            &:hover {
                color: #C386AE;
            }
    }

    .navbar-lang > li > .dropdown-menu {
        background-color: #1a1a30;
        margin-top: 8px;
        text-align: center;
        min-width: initial;
        width: 100%;
        border: none;
        > li > a {
            padding: 5px 10px;
            color: #f0ebf5; //2022
            background-color: #1a1a30;
            font-weight: 700;
            font-size: 17.5px;

            &:hover {
                color: #C386AE;
            }
        }
    }

}


.navbar-site {
    .navbar-nav > li > a {
        @extend .text-uppercase;
    }
    .social {
        margin-left: 30px;
        @media (max-width: $grid-float-breakpoint-max) {
            margin-top: -60px;
        }
    }
    .social-btn {
        color: #fff;
        margin-top: 20px;
    }
}


// .em
.navbar-site .nav .em {
    background-color: $navbar-em-bg;
    color: #fff;
    border-radius: 40px;
    padding: 5px 20px;
    margin-top: 10px;
}

@media (min-width: $grid-float-breakpoint) {
    .navbar-nav.navbar-nav-hover {
        .dropdown-menu {
            @include transition (all 0.8s);
            display: block;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
        }

        .dropdown:hover > .dropdown-menu {
            opacity: 1;
            max-height: 300px;
        }
    }
}

.top-nav {
    background-color: $theme-color;
    padding: 24px 44px;

    > .logo {
        @extend .hidden-xs;
    }

    .social-btn {
        color: #fff;
    }

    .navbar-header{
        margin: 3px 0 0;
    }

    .navbar-right {
        padding: 0;
        margin: 0 0 0 6px;

        .form-control {
            font-size: 14px;
        }

        a, .btn-link {
            font-weight: 300;
            padding: 0;

            &:hover {
                text-decoration: none;
            }
        }

        .btn {
            padding: 5px 19px;
            line-height: 19px;
            font-weight: 400;
            color: #FFFFFF;
            background: #2350D2;
            border-radius: 3px;
        }
    }
}
