{% extends 'contents/_base.html' %}

{% block title %}開放空間{% endblock %}

{% block content %}

<h1>開放空間</h1>

<p>開放空間（Open Spaces）是自助式、聚會形式的活動。該活動將會舉辦在會場四樓兩側走廊，與大會議程平行進行，且於大會第三日擁有一個專屬的時段。開放空間有別於大會大部分的會議內容，議程規劃是由大會與會者「當場」計畫的。開放空間讓你能用任何你喜歡的方式定義、組織、規劃你自己的小聚。</p>

<p>對於曾經參加過過往 PyCon Taiwan 或是其他研討會的會眾，開放空間的概念也許讓你覺得似曾相識。沒有錯，開放空間基本上很類似 <a href="https://tw.pycon.org/2014apac/zh/bof/" target="_blank" rel="noopener">BoF</a> ，不過「開放空間 / Open Spaces」對於第一次參加的會眾來說更容易理解。</p>


<h2>如何參與一個開放空間？</h2>

<p>很簡單：人到場就好了 :)</p>

<p>在大會的第三天，交誼廳兩側走廊會擺設數張桌子，代表不同的開放空間，每張桌子上面都會有個看板，看板即為該空間討論的主題。你可以找到你有興趣的主題，隨時使用一旁的便利貼給予一些想法或是回饋。如果找不到你想討論的主題，那就直接在還沒主題的空間上面填寫吧！</p>


<h2>有哪些開放空間？</h2>

<p>這由你與其他會眾決定，我們也不知道會有什麼 😉</p>

<p>開放空間有各種與會者想討論的主題。由於與會者非常多元化，開放空間也同樣非常多元化。開放空間的主題並沒有限制，可以是關於美甲、女權主義、瑜珈、甚至是桌遊。也可以是討論各種常見的技術議題，從資訊安全到你最喜歡的 Python 專案，到一些特定職位的討論，比如說 DevOps。</p>


<h2>開放空間在哪裡？在什麼時候？</h2>

<p>開放空間將會在大會第三天的下午 13:30—15:10 舉辦在「R4」交誼廳兩側的走廊。每側各有五個開放空間，總共十個開放空間同時舉行，該時段不會有其他議程，會眾可以盡情的享受開放空間的激烈討論。</p>


<h2>如何舉辦一個開放空間？</h2>

<p>在大會第三天期間，「R4」交誼廳兩側走廊會各放置數張桌子，每張桌子上面都會有個看板。你只需要在看板上寫下此開放空間的名稱與簡介，並且在開放空間的時段（第三天 13:30—15:10）到場即可。附上一些你的基本聯絡資訊，比如說 Twitter、Gitter/GitHub ID、Telegram 等等，這樣也能幫助有興趣的會眾能夠順利與你聯絡上並且進行更多後續交流。</p>

<p>開放空間總共只有十組，數量有限，要討論要快！</p>


<h2>開放空間的好主意</h2>

<p>以下有幾個可以辦成開放空間的點子，提供您參考：</p>

<ul>
	<li>用 Python 的 Maker 專案（例如樹莓派、IoT、居家自動化、機器人、四軸飛行器）</li>
	<li>Hacking / Networking / DevOps</li>
	<li>資料視覺化、科學</li>
	<li>自然語言處理（例如聊天機器人）</li>
	<li>自我量化</li>
	<li>女性主義</li>
	<li>主辦人們的聚會：研討會、工作坊、在地社群的主辦人們</li>
	<li>網頁框架，例如 Django 或 Flask</li>
	<li>如何做開源貢獻：給初心者的協助、指導</li>
	<li>Git</li>
	<li>如何避免職業倦怠</li>
	<li>求職相關討論</li>
</ul>

您也可以參考看看 [PyCon US 2018 的 Open Spaces 活動](https://us.pycon.org/2018/events/open-spaces) ，有許多很棒的開放空間的主題可以參考！

<p>您也可以參考看看 <a href="https://us.pycon.org/2018/events/open-spaces" target="_blank" rel="noopener">PyCon US 2018 的 Open Spaces 活動</a>，有許多很棒的開放空間的主題可以參考！</p>

{% endblock content %}
