{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}活動總覽{% endblock title %}
{% block content %}

{% url 'page' path='events/sprints' as events_sprint_url %}
{% url 'page' path='events/tutorials' as events_tutorial_url %}
{% url 'page' path='events/open-spaces' as events_openspaces_url %}
{% url 'page' path='events/keynotes' as events_keynote_url %}
{% url 'events_talk_list' as events_talk_list_url %}

<h1>活動總覽</h1>

<h2>基調演講（Keynote）</h2>

<p>為期三天的議程中，邀請四位講者分別在不同場次進行基調演講 (Keynote)。基調演講講者都是在全球而言各領域非常頂尖的人士；他們將帶來對自己的領域、專案的經驗分享，或者對於未來數年發展的方向與想像。</p>

{# <p>更多關於<em>基調演講</em>的內容請參考<a href="{{ events_keynote_url }}">{% trans 'Keynotes' %}</a>頁面。</p> #}

<h2>演講（Talk）</h2>

<p>演講為會期三天最主要的活動，屆時將會有來自台灣各地與全球的講者分享他們在 Python 相關的發現。Talk 有 30 分鐘與 45 分鐘兩種長度，每天都將有三軌議程同步進行，配合各個演講的難易度與類型，選擇自己有興趣的主題聆聽。許多人都會事先筆記想聽的議程，才不會跑錯地點。</p>

<p>更多關於<em>演講</em>的內容請參考<a href="{{ events_talk_list_url }}">{% trans 'Talks' %}</a>頁面。</p>

<h2>專業課程 (Tutorial)</h2>

<p>專業課程 (Tutorial) 是 PyCon Taiwan 的一部份，但需要另外報名，以獲得參加資格。提供全天（6 小時）或半天（3 小時）課程。課程內容採取公開遴選方式徵求提案。</p>

{# <p>更多關於<em>專業課程</em>的內容請參考<a href="{{ events_tutorial_url }}">{% trans 'Learning' context 'menu' %}</a>頁面。</p> #}

<h2>閃電秀（Lightning Talks）</h2>

<p>閃電秀在會議每天下午結束之前舉辦，是每個演講包含設置投影片僅限五分鐘的刺激活動。如果要報名閃電秀，請在註冊櫃檯的「閃電秀」罐中投入你的講題與姓名，我們會在每天中午抽出當日的中選名單。</p>

<h2>開放空間 (Open Spaces)</h2>

<p>開放空間（Open Spaces）是自助式、聚會形式的活動。該活動將會舉辦在會場四樓兩側走廊，與大會議程平行進行，且於大會第三日擁有一個專屬的時段。開放空間有別於大會大部分的會議內容，議程規劃是由大會與會者「當場」計畫的。開放空間讓你能用任何你喜歡的方式定義、組織、規劃你自己的小聚。</p>

<p>對於曾經參加過過往 PyCon Taiwan 或是其他研討會的會眾，開放空間的概念也許讓你覺得似曾相識。沒有錯，開放空間基本上很類似 <a href="https://tw.pycon.org/2014apac/zh/bof/" target="_blank" rel="noopener">BoF</a>，不過「開放空間 / Open Spaces」對於第一次參加的會眾來說是個更好猜測的詞語。</p>

{# <p>更多關於<em>Open Spaces</em>的內容請參考<a href="{{ events_openspaces_url }}">{% trans 'Open Spaces' %}</a>頁面。</p> #}

<h2>Job Fair</h2>

<p>這是一個專門為 Python 工程師而設的就業博覽會。Job Fair 雖不會安排任何議程，但開放廠商在台上自我介紹，會眾可以趁此時與現場的廠商交流、投屨歷，廠商也會藉此時宣傳自己徵才的需求。對於想找工作的會眾，我們鼓勵在這時段多與廠商互相交流，也許美好的機會就此出現。</p>

{% endblock content %}

