{% extends 'contents/_base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Portal' %}{% endblock title %}

{% block body_class%}portal-page{% endblock body_class%}

{% block content%}
<h1>{% trans 'Portal' %}</h1>

<h2>{% trans 'Portal' %}</h2>

<section class="portal-element portal-cards">

	<div class="card">
		<a class="button-round" href="{% url 'events_schedule' %}" class="card-link">{% trans 'Schedule' %}</a>
	</div>

	<div class="card">
		<a class="button-round" href="https://hackmd.io/c/pycontw2018" class="card-link">{% trans 'Collaborative Notes' %}</a>
	</div>

	<div class="card">
		<a class="button-round" href="http://t.me/pycontw2018" class="card-link">{% trans 'Chat Room' %}</a>
	</div>

	<div class="card">
		<a class="button-round" href="https://www.facebook.com/pycontw/" class="card-link">{% trans 'Facebook Fan Page' %}</a>
	</div>
</section>

{% endblock content%}


