{% extends 'contents/_base.html' %}

{% load static %}

{% block extra_css %}
{{ block.super }}
{# Use the CDN because I can't get the local images load correctly. #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="anonymous">
{% endblock extra_css %}

{% block body_class %}{{ block.super }} venue-page{% endblock body_class %}

{% block content %}
<section class="map-section">
	<div class="map-info">{% block map_info %}{% endblock map_info %}</div>
	<div id="venue-map" class="map"></div>
</section>
<script>window.VENUE_ICON = '{% static "pycontw-2018/assets/venue-icon.png" %}'</script>
{% endblock content %}
