html[lang^="zh-"] {

    cite {

        font-style: normal;

        &::before {
            content: "《";
        }
        &::after {
            content: "》";
        }
    }

    em {
        font-style: normal;
        font-weight: 500;
    }

    .staff-list .staff-person::after {
        font-style: normal;
    }
}
