{% extends 'contents/_base.html' %}

{% load i18n static %}

{% block title %}稿件徵求{% endblock title %}

{% block meta_description %}台灣 PyCon 2018 正式開始徵稿，接受包括議程 (Talk) 與課程 (Tutorial) 的稿件喔！{% endblock meta_description %}

{% block content %}
{% url 'page' path='speaking/recording' as speaking_recording_url %}
{% url 'page' path='speaking/talk' as speaking_talk_url %}
{% url 'page' path='speaking/tutorial' as speaking_tutorial_url %}
{% url 'page' path='speaking/unconference' as speaking_unconference_url %}
{% url 'signup' as signup_url %}
{% url 'user_dashboard' as dashboard_url %}

<h1>投稿募集（Call for Proposals）</h1>

<p>臺灣 PyCon 2018 正式開始徵稿，接受包括議程 (talk) 與課程 (tutorial) 的稿件！</p>


<h2>重要日期</h2>

<ul>
	<li>議程、課程 開放徵稿：2 月 1 日</li>
	<li>議程、課程 投稿截止：3 月 5 日（23:59 後，台灣時間）</li>
	<li>公告完整議程：5 月 1 日（暫定）</li>
</ul>

<p>演講（talk）預設將會被錄影、編輯。之後 PyCon Taiwan 會把錄影編輯後上傳至 <a href="http://pyvideo.org" target="_blank" rel="noopener">pyvideo.org</a>，除非講者特別要求。參考<a href="{{ speaking_recording_url }}">錄影釋出</a>。</p>

<p>每一位講者皆需購買會議門票（<a href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/" target="_blank" rel="noopener">Everyone Pays Policy</a>）</p>


<h2>如何提交您的稿件</h2>

<p>您需要先在 tw.pycon.org <a href="{{ signup_url }}">註冊</a>一個新的帳號。在啟用您的帳號之後，就可以填寫講者資訊並且從您的<a href="{{ dashboard_url }}">控制面板</a>中創建新的投搞。</p>

<p>我們強烈建議您儘早送出您的投稿。</p>


<h2>稿件提交指南</h2>

<h3>演講（Talk）</h3>

<p>我們接受泛 Python 相關的各類投稿，包括學術報告、商用專案或者案例研究等。正在閱讀本文件的您，想必也應該是要來投稿的！</p>

<p>我們非常歡迎您分享自己的 Python 套件或應用程式，您學習 Python 的經歷或主持社群的經驗等。呼應今年的主題<em>「加速」</em>，如果講師對於實質效能上的加速、社群發展的加速、使用 Python 加快解決問題的速度等等，或任何您想得到的加速有自己的見解，都邀請您投稿到 PyCon 台灣。當然我們也非常歡迎適合進階者內容的投稿。</p>

<p>絕大部分的議程時間<em>長度為 30 分鐘</em>。此外我們也安排了時間<em>長度為 45 分鐘</em>的議程，此類的議程將會是我們認為比較重要並且能夠極大化影響族群並給予顯著幫助的主題。需要注意的是，議程的時間長度將會包含開場與 Q&amp;A 的時間。</p>

<p>議程可以使用的語言為：<em>英文、中文、台語</em>。</p>

<p>為了幫助講者組織他們的想法，我們重新設計了投稿表單。更多資訊請參考<a href="{{ speaking_talk_url }}">議程投稿演講</a>。</p>

<h3>專業課程（Tutorial）</h3>

<p>同演講，我們對專業課程的主題並不做任何限制。專業課程為半天或一整天的活動，相當於 3 或 6 小時的課程。投稿課程的方針基於演講，所以請先閱讀<a href="{{ speaking_talk_url }}">如何投稿演講？</a>除了該文中的事項外，我們對課程投稿本身有額外的規範，請參見<a href="{{ speaking_tutorial_url }}">如何投稿專業課程？</a>一文。</p>

<h3>開放空間論壇（Open Spaces）</h3>

<p>TBD</p>

<h2>審稿流程</h2>

<p>在投稿截止與公告完整議程之間是審稿的時段，每篇演講和專業課程的稿件將會由 PyCon TW 的審稿委員會進行評分與評論。審稿分成三個階段：</p>
<ul>
  <li>第一階段審稿：審稿者會依據投稿內容給予評分與評論。此階段大約為期二到三週</li>
  <li><em>修稿階段：根據第一階段審稿者的評論與建議，您可以修改稿件。</em>此階段大約為期一到二週</li>
  <li>第二階段審稿：審稿者會依據修改後的內容重新評分與評論，此階段大約為期二週</li>
</ul>

<h3>修稿階段</h3>
<p>在第一與第二階段審稿之間的修稿階段，您可以依據審稿者給予的評論，修改您的稿件。若您想強調您根據某個評論進行了某個更改，您可以在<em>「補充說明」</em>欄位中指名評論的編號以及說明您所做的修改，例如：<em>「#4: 修改了 xxx 段落的時間分配」</em>。或是如果您對於某個評論持反對意見，也可以依照同樣的方式向審稿者回覆。</p>

{% endblock content %}
