{% extends 'contents/_base.html' %}

{% block title %}如何投稿專業課程{% endblock title %}

{% block content %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url 'page' path='speaking/talk' as speaking_talk_url %}

<h1>如何投稿專業課程（Tutorial）？</h1>

<p>有關投稿的整體流程說明，請參考<a href="{{ speaking_cfp_url }}">投稿募集</a>一頁。</p>

<p>首先，謝謝您考慮投稿專業課程至 PyCon Taiwan 2018。</p>

<p>一般來說，好的課程滿足一場好演講的諸多特性。不過專業課程較<a href="{{ speaking_talk_url }}">演講</a>最大的差異在課程有手把手的指導，以及較長的時間。因為有更長的時間，專業課程需要準備更多的內容，並且讓聽眾即便在一天的講課與操作之後還能覺得有趣且清醒；由於有手把手的指導，一個 20 名學員的課程通常要有兩位（以上）的助教來協助，過程中必須能與助教保持良好的溝通。</p>

<p>上述兩個差異使得準備一個專業課程遠比準備演講需要更多練習和經驗。因此，投稿課程的講師需要滿足以下至少一個前提：</p>

<ul>
	<li>曾經為程式會議或社群的課程講師。</li>
	<li>在開源社群中，擁有一次以上的演講經驗，並以 Python 在地社群為優。</li>
	<li>曾經是過去課程的助教。</li>
</ul>

<p>如果您比較缺乏上述的經驗，我們可能會請您先在社群試教。</p>


<h2>專業課程舉辦的日期</h2>

<p>所有的專業課程都在 PyCon Taiwan 會議前三週內舉辦。只要課程的場地允許，講師能決定應該在何時舉辦。</p>

<p>課程也有可能在會議中，即在會場內舉辦。如果講師希望這樣，請在投稿中註定您的需求，並<a href="mailto:organizers@pycon.tw">直接聯絡我們</a>。</p>


<h2>專業課程售票政策</h2>

<p>專業課程的售票與大會的售票是獨立的，如何售票將由講師與大會的議程組共同決定。每個課程的售票可能不同，但我們會讓所有的講師互相溝通找出一個平衡點，不讓整個售票機制變得太複雜。如果您想事先了解售票的定價與細節，也請<a href="mailto:organizers@pycon.tw">直接聯絡我們</a>。</p>

<p>注意：如果是舉辦在會場內的課程，<em>不會有任何額外的收費</em>。</p>


<h2>如何成為專業課程的講師？</h2>

<p>最簡單也是最好的答案：多多參與各地 Python 的社群並多給演講吧！</p>

{% endblock content %}

