{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% load i18n %}

{% block title %}{% trans 'Reset Your Password' %}{% endblock title %}

{% block body-class %}registration{% endblock body-class %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			{% include "registration/_includes/registration_header.html" %}
			<div class="registration-panel-wrapper">
				<div class="registration-panel">
					<h2 class="registration-panel__title">{% trans 'Reset Your Password' %}</h2>
					{% crispy form %}
					<p class="text-center">
						{% url 'signup' as signup_url %}
						{% blocktrans trimmed %}
						<span class="form-tip">Don't have an account?</span>
						<a class="btn btn-link" href="{{ signup_url }}">Sign up now!</a>
						{% endblocktrans %}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
