{% extends 'contents/_base.html' %}

{% load i18n compress %}

{% block title %}{% trans 'Live broadcast' %}{% endblock %}

{% block body_class %}{{ block.super }} live-page{% endblock body_class %}

{% block content %}

<section class="pill-title">
	<h1>{% trans 'Live broadcast' %}</h1>
</section>

{% if attendee.verified %}
{% for room, live in rooms.items %}
<div class="entry">
    <h3>{{ room }}</h3>
    {% if live %}
        <div class="video-container">
            <iframe width="560" height="315"
                    class="video"
                    src="https://www.youtube.com/embed/{{ live }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    {% else %}
    <p>
        {% trans 'This broadcast is not ready yet.' %}
    </p>
    {% endif %}
</div>
{% endfor %}

{% else %}

<p>
{% trans 'The broadcasts are not ready yet, please try again later.' %}
</p>

{% endif %}

<script>
//     // Tom 2020-08-22:
//     // This is a hack to inject the token to the next parameter
//     // The current implementation of the language switcher does not
//     // support query parameters, which means all query paremeters
//     // will be lost after switching language.
// 
//     // However, the token parameter is required in this page,
//     // So we find the "next" field which is used to redirect
//     // to the destination page after switching language,
//     // and then inject the token parameter inside
//     // so the page won't be broken after language switch
//     var next = document.querySelector("[name='next']");
//     var params = new URLSearchParams();
//     params.append('token', '{{ token }}');
//     next.value += `?${params.toString()}`;
// 
    window.TOKEN = '{{ token|default:'' }}';
</script>
{% endblock content %}


{% block extra_js %}
{% compress js %}
<script type="module" src="{% static 'pycontw-2020/scripts/token.js' %}"></script>
{% endcompress %}
{% endblock %}
