{% extends 'contents/_base.html' %}

{% load static %}
{% load compress %}
{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block body_class %}scroll-x{% endblock %}

{% comment %} import js {% endcomment %}
{% compress js %}
{% block scripts %}
{{ block.super }}
<script type="module" src="{% static 'pycontw-2020/scripts/community-track.js' %}"></script>
{% endblock scripts %}
{% endcompress %}

{% compress css %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vendors/blueimp/css/blueimp-gallery.min.css' %}">
<link rel="stylesheet"  type="text/x-scss" href="{% static 'pycontw-2020/styles/gallery.scss' %}">
{% endblock styles %}
{% endcompress %}
{% comment %} {% block extrastyle %}

{% endblock %} {% endcomment %}


{% block content %}
<section class="pill-title">
    <h1>Conference Venue</h1>
</section>

<h2>Brunch of San Dao Men Siang Jian</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/3doors/3doors_1.jpg' %}" title="View">
          <img  src="{% static 'pycontw-2020/assets/venue/3doors/thumbnails/3doors_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
        <a href="{% static 'pycontw-2020/assets/venue/3doors/3doors_2.jpg' %}" title="View">
          <img src="{% static 'pycontw-2020/assets/venue/3doors/thumbnails/3doors_2.jpg' %}" alt="View" />
        </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/3doors/3doors_3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/3doors/thumbnails/3doors_3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/3doors/3doors_4.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/3doors/thumbnails/3doors_4.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
</div>

<h2>Shamu</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/shamu/shamu_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/shamu/thumbnails/shamu_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/shamu/shamu_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/shamu/thumbnails/shamu_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/shamu/shamu_2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/shamu/thumbnails/shamu_2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/shamu/shamu_3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/shamu/thumbnails/shamu_3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/shamu/shamu_4.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/shamu/thumbnails/shamu_4.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/shamu/shamu_5.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/shamu/thumbnails/shamu_5.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/shamu/shamu_6.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/shamu/thumbnails/shamu_6.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
</div>

<h2>Grande Luxe Banquet (Tainan branch)</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/GLB/GLB_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/GLB/thumbnails/GLB_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/GLB/GLB_2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/GLB/thumbnails/GLB_2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
</div>

<h2>Masa Loft</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_4.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_4.jpg' %}" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_5.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_5.jpg' %}" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_6.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_6.jpg' %}" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_7.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_7.jpg' %}" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_8.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_8.jpg' %}" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>
  
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/masa_loft/masa_9.jpg' %}" title="View">
          <img src="{% static 'pycontw-2020/assets/venue/masa_loft/thumbnails/masa_9.jpg' %}" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>
</div>

<h2>REVE Cafe</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/REVE_cafe/REVE_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/REVE_cafe/thumbnails/REVE_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/REVE_cafe/REVE_2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/REVE_cafe/thumbnails/REVE_2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/REVE_cafe/REVE_3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/REVE_cafe/thumbnails/REVE_3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/REVE_cafe/REVE_4.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/REVE_cafe/thumbnails/REVE_4.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
</div>

<h2>Tainan Cultural and Creative Park</h2>
<div class="links">
<div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/thumbnails/1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/thumbnails/2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/thumbnails/3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/chi-chi_exhibition_hall/chi-chi_exhibition_hall_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/chi-chi_exhibition_hall/thumbnails/chi-chi_exhibition_hall_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/chi-chi_exhibition_hall/chi-chi_exhibition_hall_2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/chi-chi_exhibition_hall/thumbnails/chi-chi_exhibition_hall_2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/chi-chi_exhibition_hall/chi-chi_exhibition_hall_3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/chi-chi_exhibition_hall/thumbnails/chi-chi_exhibition_hall_3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/jin-long_exhibition_hall/jin-long_exhibition_hall_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/jin-long_exhibition_hall/thumbnails/jin-long_exhibition_hall_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/jin-long_exhibition_hall/jin-long_exhibition_hall_2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/jin-long_exhibition_hall/thumbnails/jin-long_exhibition_hall_2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/jin-long_exhibition_hall/jin-long_exhibition_hall_3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/jin-long_exhibition_hall/thumbnails/jin-long_exhibition_hall_3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/4.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/4.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/5.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/5.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/6.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/6.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/7.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/7.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/8.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/8.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/9.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/9.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/10.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/10.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/11.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/11.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/12.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/12.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/13.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/13.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/14.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/14.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/15.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/15.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/monuments/16.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/monuments/thumbnails/16.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/shuang-hsi_exhibition_hall/shuang-hsi_exhibition_hall_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/shuang-hsi_exhibition_hall/thumbnails/shuang-hsi_exhibition_hall_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/shuang-hsi_exhibition_hall/shuang-hsi_exhibition_hall_2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/shuang-hsi_exhibition_hall/thumbnails/shuang-hsi_exhibition_hall_2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/goodideas_studio/1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/goodideas_studio/thumbnails/1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/goodideas_studio/2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/goodideas_studio/thumbnails/2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TCCP/goodideas_studio/3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TCCP/goodideas_studio/thumbnails/3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
</div>


<h2>Tsang Fong Art Space</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/TsangFong_1.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/thumbnails/TsangFong_1.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/TsangFong_2.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/thumbnails/TsangFong_2.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/TsangFong_3.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/thumbnails/TsangFong_3.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/TsangFong_4.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/thumbnails/TsangFong_4.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/TsangFong_5.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/thumbnails/TsangFong_5.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/large_room.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/thumbnails/large_room.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/medium_room.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/thumbnails/medium_room.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/small_room.jpg' %}" title="View">
        <img src="{% static 'pycontw-2020/assets/venue/TsangFongCoffee/thumbnails/small_room.jpg' %}" alt="View" />
      </a>
    </div>
  </div>
</div>

<!-- The Gallery as lightbox dialog, should be a document body child element -->
<div id="blueimp-gallery" class="blueimp-gallery gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

{% endblock content %}
