{% extends 'contents/_base.html' %}

{% load static %}
{% load compress %}
{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block body_class %}scroll-x{% endblock %}

{% comment %} import js {% endcomment %}
{% compress js %}
{% block scripts %}
{{ block.super }}
<script type="module" src="{% static 'pycontw-2020/scripts/community-track.js' %}"></script>
{% endblock scripts %}
{% endcompress %}

{% compress css %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vendors/blueimp/css/blueimp-gallery.min.css' %}">
<link rel="stylesheet"  type="text/x-scss" href="{% static 'pycontw-2020/styles/gallery.scss' %}">
{% endblock styles %}
{% endcompress %}
{% comment %} {% block extrastyle %}

{% endblock %} {% endcomment %}


{% block content %}
<section class="pill-title">
    <h1>Community Track Venue</h1>
</section>

<h2>Brunch of San Dao Men Siang Jian</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/threedoorsbrunch/1.jpg" title="View">
          <img  src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/threedoorsbrunch/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
        <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/threedoorsbrunch/2.jpg" title="View">
          <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/threedoorsbrunch/thumbnails/2.jpg" alt="View" />
        </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/threedoorsbrunch/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/threedoorsbrunch/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/threedoorsbrunch/4.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/threedoorsbrunch/thumbnails/4.jpg" alt="View" />
      </a>
    </div>
  </div>
</div>

<h2>Shamu</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/4.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/thumbnails/4.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/5.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/thumbnails/5.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/6.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/shamu/thumbnails/6.jpg" alt="View" />
      </a>
    </div>
  </div>
</div>

<h2>Grande Luxe Banquet (Tainan branch)</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/GLB/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/GLB/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/GLB/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/GLB/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
</div>

<h2>Masa Loft</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/4.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/4.jpg" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/5.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/5.jpg" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/6.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/6.jpg" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/7.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/7.jpg" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>

  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/8.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/8.jpg" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>
  
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/9.jpg" title="View">
          <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/masa_loft/thumbnails/9.jpg" alt="Masa Loft-場景" />
      </a>
    </div>
  </div>
</div>

<h2>REVE Cafe</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/REVE_cafe/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/REVE_cafe/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/REVE_cafe/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/REVE_cafe/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/REVE_cafe/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/REVE_cafe/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/REVE_cafe/4.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/REVE_cafe/thumbnails/4.jpg" alt="View" />
      </a>
    </div>
  </div>
</div>

<h2>Tainan Cultural and Creative Park</h2>
<div class="links">
<div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/chi-chi_exhibition_hall/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/chi-chi_exhibition_hall/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/chi-chi_exhibition_hall/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/chi-chi_exhibition_hall/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/chi-chi_exhibition_hall/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/chi-chi_exhibition_hall/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/jin-long_exhibition_hall/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/jin-long_exhibition_hall/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/jin-long_exhibition_hall/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/jin-long_exhibition_hall/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/jin-long_exhibition_hall/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/jin-long_exhibition_hall/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/4.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/4.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/5.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/5.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/6.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/6.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/7.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/7.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/8.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/8.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/9.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/9.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/10.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/10.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/11.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/11.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/12.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/12.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/13.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/13.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/14.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/14.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/15.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/15.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/16.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/monuments/thumbnails/16.jpg" alt="View" />
      </a>
    </div>
  </div>
  
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/shuang-hsi_exhibition_hall/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/shuang-hsi_exhibition_hall/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/shuang-hsi_exhibition_hall/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/shuang-hsi_exhibition_hall/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/goodideas_studio/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/goodideas_studio/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/goodideas_studio/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/goodideas_studio/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/goodideas_studio/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/TCCP/goodideas_studio/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
</div>


<h2>Tsang Fong Art Space</h2>
<div class="links">
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/1.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/thumbnails/1.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/2.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/thumbnails/2.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/3.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/thumbnails/3.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/4.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/thumbnails/4.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/5.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/thumbnails/5.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/6.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/thumbnails/6.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/7.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/thumbnails/7.jpg" alt="View" />
      </a>
    </div>
  </div>
  <div class="frame-square">
    <div class="crop">
      <a href="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/8.jpg" title="View">
        <img src="https://raw.githubusercontent.com/pycontw/pycontw.asset/master/pycontw2020/venue/tsangfong_coffee/thumbnails/8.jpg" alt="View" />
      </a>
    </div>
  </div>
</div>

<!-- The Gallery as lightbox dialog, should be a document body child element -->
<div id="blueimp-gallery" class="blueimp-gallery gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

{% endblock content %}
