{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block body_class %}scroll-x{% endblock %}
{% block content %}

<section class="pill-title">
    <h1>Sponsorship Prospectus</h1>
</section>

<p>
    <strong>
        Contact:
        <a href="mailto:sponsorship@pycon.tw" title="sponsorship@pycon.tw"></a>
        <a href="mailto:sponsorship@pycon.tw">sponsorship@pycon.tw</a>
        to Sponsorship Team of PyCon Taiwan 2020
    </strong>
</p>
<p>
    PyCon Taiwan 2020 Chair, Chun-Yu Tseng
    <br>
    PyCon Taiwan 2020 Program Chair, Wei Lee
    <br>
    PyCon Taiwan 2020 Sponsorship Director, You-Hao Chang
    <br>
</p>
<p>
    PyCon Taiwan is the largest annual gathering for the community using and developing the open-source Python programming language in Taiwan.
    "PyCon Taiwan" is a trademark authorized according to "PSF PyCon Trademark Usage Policy", and is organized by the Taiwan Python community and Open Culture Foundation (OCF, GUI 38552170) for growing the local community.
    <br>
    PyCon Taiwan continues to connect with new community members locally, nationally, and globally.
    Your sponsorship keeps PyCon Taiwan affordable and accessible to the widest potential audience. Having your support, we are able to provide financial aid to needed attendences.
    <br>
    We have several sponsor packages including but not limited to the list below:
</p>
<ul>
    <li><a href="#prospectus_diamond">Diamond Level Sponsorship</a></li>
    <li><a href="#prospectus_platinum"> Platinum Level Sponsorship</a></li>
    <li><a href="#prospectus_gloden">Gold Level Sponsorship</a></li>
    <li><a href="#prospectus_silver">Silver Level Sponsorship</a></li>
    <li><a href="#prospectus_bronze">Bronze Level Sponsorship</a></li>
    <li><a href="#prospectus_special">Special and Customized Sponsorship</a></li>
</ul>
<p>
    We are eager to hear from you! Only you know your business and what your are looking for the best. We do provide cutomized sponsor packages and are more than willing to take your suggestions into build suitable packages.
</p>
<p>
<b>Estimated attendance:  400+</b> (The first PyCon Taiwan in southern Taiwan!)
</p>
<p>
<b>Quick stats from 2019:</b>
<ul>
    <li>675 attendees</li>
    <li>Of those 675 attendees, 20% were from 9+ different countries out of Taiwan.</li>
    <li>Most attendees are soft engineers. Others are: developers, potential job seekers, data scientist, students, managers, researchers, consultants, CEOs and CTOs etc.</li>
    <li>Around 30% attendees have been using Python for more than 5 years.</li>
</ul>
</p>
<p>
<b>Conference Schedule</b> (Taiwan timezone (UTC+8) if not specified)
<ul>
    <li>Call for Proposal: March 1st, 2020</li>
    <li>Deadline of Call for Proposal: April 26th, 2020 (23:59:59 <a href="https://www.timeanddate.com/worldclock/converter.html?iso=20200427T115900&p1=tz_aoe&p2=241&p3=1440">AoE</a>)</li>
    <li>Schedule Announcement: middle of June, 2020 (TBD)</li>
    <li>Job Fair: September 5th, 2020 (TBD)</li>
    <li>Main Conference: September 5-6th, 2020</li>
</ul>
</p>
<p><b>Sponsor Packages</b></p>
<ul>
    <li>
      <a id="prospectus_diamond">
        <b>Diamond Level Sponsorship</b> - USD$ 16,200 (Available: 1)
        <br>
        Through promoting your brand in unique ways with extremely prominent branding, you will be the hero of PyCon TW 2020!
        <br>
        - Logo Alongside PyCon TW 2020 and Preeminent Branding
        <br>
        - Room Branding / Signage on the main site of PyCon TW 2020
        <br>
        - Exclusive Co-Branding Lanyards
        <br>
        - 30 Enterprise Tickets 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - High-Class Booth and Open Space of Community track
        <br>
        - Talks (30 Mins. Limit: 1 Per Community Track)
        <br>
        - Social Media: 4 posts
        <br>
        - Advertisements on the APP during the Period of PyCon TW 2020
        <br>
        - Prior Choice of the Open Space of Community track
        <br>
        - Speaker Banquets: 5 people
        <br>
        - Job Fair (Details in Notes below)
        <br>
      </a>
    </li>
    <br>
    <li>
      <a id="prospectus_platinum">
        <b>Platinum Level Sponsorship</b> - USD$ 8,100 (Available: 2)
        <br>
        - 12 Enterprise Tickets 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - High-Class Booth and Open Space of Community track
        <br>
        - Talks (30 Mins. Limit: 1 Per Community Track)
        <br>
        - Social Media: 4 posts
        <br>
        - Advertisements on the APP during the Period of PyCon TW 2020
        <br>
        - Prior Choice of the Open Space of Community track
        <br>
        - Speaker Banquets: 4 people
        <br>
        - Job Fair (Details in Notes below)
        <br>
      </a>
    </li>
    <br>
    <li>
      <a id="prospectus_gloden">
        <b>Gold Level Sponsorship</b>  - USD$ 6,500 (Available: 3)
        <br>
        - 8 Enterprise Tickets 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - High-Class Booth
        <br>
        - Social Media: 2 posts
        <br>
        - Advertisements on the APP during the Period of PyCon TW 2020
        <br>
        - Speaker Banquets: 3 people
        <br>
        - Job Fair (Details in Notes below)
        <br>
      </a>
    </li>
    <br>
    <li>
      <a id="prospectus_silver">
        <b>Silver Level Sponsorship</b> - USD$ 3,600 (Available: 5)
        <br>
        - 6 Enterprise Tickets 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - Regular Booth
        <br>
        - Social Media: 1 posts
        <br>
        - Speaker Banquets: 2 people
        <br>
        - Job Fair (Details in Notes below)
        <br>
      </a>
    </li>
    <br>
    <li>
      <a id="prospectus_bronze">
        <b>Bronze Level Sponsorship</b> - USD$ 1,300 (Available: 7)
        <br>
        - 2 Enterprise Tickets 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - Social Media: 1 posts
        <br>
      </a>
    </li>
    <br>
    <li>
        <b>Extra Purchase (USD$)</b>
        <br>
        <br>
        <table class="table-sponsorship-prospectus">
            <thead>
                <tr>
                    <th></th>
                    <th>Diamond</th>
                    <th>Platinum</th>
                    <th>Golden</th>
                    <th>Silver</th>
                    <th>Bronze</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Speaker Banquets / Person</th>
                    <td>200</td>
                    <td>200</td>
                    <td>200</td>
                    <td>200</td>
                    <td>200</td>
                </tr>
                <tr>
                    <th>Luxury Booth (Limit: 2)</th>
                    <td>Included</td>
                    <td>Included</td>
                    <td>Included</td>
                    <td>1,300</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Talks (30 Mins.)<br><font size="-1">(Limit: 1 Per Community Track)</font></th>
                    <td>Included</td>
                    <td>Included</td>
                    <td>500</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Social Media / Post</th>
                    <td>200</td>
                    <td>300</td>
                    <td>300</td>
                    <td>500</td>
                    <td>600</td>
                </tr>
                <tr>
                    <th>Advertisement<br><font size="-1">(APP and Website)</font></th>
                    <td>Included</td>
                    <td>Included</td>
                    <td>Included</td>
                    <td>1,700</td>
                    <td>1,700</td>
                </tr>
                <tr>
                    <th>Ticket Discount</th>
                    <td>10 % off<br><font size="-2">10% off at any quantity</font></td>
                    <td>10 % off<br><font size="-2">If more than 10 tickets</font></td>
                    <td>10 % off<br><font size="-2">If more than 20 tickets</font></td>
                    <td>10 % off<br><font size="-2">If more than 30 tickets</font></td>
                    <td>10 % off<br><font size="-2">If more than 40 tickets</font></td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="square">
    <li>
      <a id="prospectus_special">
        <b>Special Sponsorship</b>
        <br>
        <ul class="white-circle">
            <li>
                <b>Community Track Venue Sponsorship</b> - USD$ 5,000 (Limit: TBA, See Notes)
                <br>
                - Exclusive venue
                - Place an advertisement w/ themed social media promotion.
                <br>
                - Listed as Special Sponsors on the PyCon TW website (Logo & Introduction)
            </li>
            <li>
                <b>Community Financial Aid Sponsorship</b> - USD$ 1,700 (Limit: 5)
                <br>
                - Giveback to the Python community, providing financial aid to the association.
                <br>
                - Exclusive promotions for the sponsoring company.
                <br>
                - Acquire personal information if the aid receiver agree to provide.
                <br>
                - Listed as Special Sponsors on the PyCon TW website (Company Logo & Introduction)
            </li>
            <li>
                <b>Transportation Shuttle Sponsorship</b> - USD$ 1000 (Limit: 1)
                <br>
                - Company name and/or logo placed on all of the PyCon TW shuttle buses used for transporting spectators and volunteers
                <br>
                - Listed as Special Sponsors on the PyCon TW website (Company Logo & Introduction)
            </li>
            <li>
                <b>Main Venue Food Sponsorship</b> - USD$ 1400 (Limit: 3)
                <br>
                - Standing sign with your logo would be placed in a high traffic area
                <br>
                - Listed as Special Sponsors on the PyCon TW website (Company Logo & Introduction)
            </li>
            <li>
                If none of the above programs suit your interests, contact us to customize your sponsor package.
            </li>
        </ul>
      </a>
    </li>
</ul>
<b>Notes</b>
<ol>
    <li>
        Job Fair Introduction, restricted to 5 minutes per organization.
    </li>
    <li>
        PyCon TW 2020 will not produce a digital brochure, all information will be posted on our website and app.
    </li>
    <li>
        PyCon TW 2020 do not provide tote bag and physical brochure to our participants. However, sponsors have the liberty to design, print and provide copies of their own handbook.
    </li>
    <li>
        PyCon TW 2020 community track is currently divided into 5 sectors. The PyCon TW organization holds the final right to decide the location of each sponsor. Diamond and Platinum sponsors have the highest priority for venue selection (already included in the sponsorship plan). Gold sponsors have the option to select subscriptions (right after Diamond and Platinum). The total amount is limited, so the first-come-first-served is adopted. Priorities can pre-subscribe and choose venue.
    </li>
    <li>
        The sponsoring talk in the community track is limited to 30 minutes, and 1 talk per community track.
    </li>
    <li>
        Regarding the purchase restrictions on technical speeches, one sponsor can only have one of them basically. But if a sponsor has special needs, then the official will discuss and decide on it. Besides, If a sponsor above the gold level claims a community track, the selection order will take priority over the single purchase of technical speeches.
    </li>
    <li>
        Diamond Sponsorship includes title rights, the company logo will be displayed with PyCon TW 2020. However, PyCon TW 2020 reserves the right to further evaluate such action.
    </li>
    <li>
        Diamond Sponsorship includes the title right of the main meeting room, set sponsor can name the meeting room. Nevertheless, PyCon TW 2020 reserves the right to evaluate such action.
    </li>
    <li>
        Transportation sponsorship includes the title right for PyCon TW 2020 shuttle bus. However, PyCon TW 2020 reserves the right to evaluate such action.
    </li>
    <li>
        To further promote diversity of PyCon TW 2020, company (group/sponsoring) tickets will not exceeded 1/3 of the total pass sold. Thus, such group passes are sold in a first come first served manner, please order ASAP. 
    </li>
    <li>
        To ensure the quality of your speech, those who long to speak at the PyCon TW 2020 conference must be aware of Call for Proposal (CFP) deadlines. 
    </li>
    <li>
        In response to the impact of the COVID-19 epidemic, the sponsorship plan will be slightly modified and will be released in mid-June with the final meeting details.
    </li>
</ol>
{% endblock content %}
