{% extends 'contents/_base.html' %}

{% load i18n %}

{% block body_class %}scroll-x{% endblock %}
{% block title %}Sponsor{% endblock title %}
{% block content %}

<section class="pill-title">
    <h1>Sponsorship Prospectus</h1>
</section>

<p>
    <strong>
        Contact:
        <a href="mailto:sponsorship@pycon.tw" title="sponsorship@pycon.tw"></a>
        <a href="mailto:sponsorship@pycon.tw">sponsorship@pycon.tw</a>
        to Sponsorship Team of PyCon Taiwan 2020
    </strong>
</p>
<p>
    PyCon Taiwan 2020 Chair, Chun-Yu Tseng
    <br>
    PyCon Taiwan 2020 Program Chair, Wei Lee
    <br>
    PyCon Taiwan 2020 Sponsorship Director, You-Hao Chang
    <br>
</p>
<p>
    PyCon Taiwan is the largest annual gathering for the community using and developing the open-source Python programming language in Taiwan.
    "PyCon Taiwan" is a trademark authorized according to "PSF PyCon Trademark Usage Policy", and PyCon Taiwan is organized by the local Taiwan Python community and Open Culture Foundation (OCF, GUI 38552170) for the community.
    <br>
    PyCon Taiwan continues to connect with new community members locally, nationally, and globally.
    Your sponsorship helps keep PyCon Taiwan affordable and accessible to the widest possible audience. Because of your support, we were able to provide some attendees with financial aid.
    <br>
    We want to hear from you! Contact us anytime - we are flexible and willing to build a sponsorship package that fits your needs. Only you know your business, how you measure success and what you’re looking for. 
</p>
<ul>
    <li>Diamond Level Sponsorship</li>
    <li>Platinum Level Sponsorship</li>
    <li>Gold Level Sponsorship</li>
    <li>Silver Level Sponsorship</li>
    <li>Bronze Level Sponsorship</li>
    <li>Special and Customized Sponsorship</li>
</ul>
<p>
<b>Estimated attendance:  400+</b> （First PyCon Taiwan in southern Taiwan!）
</p>
<p>
<b>Quick stats from 2019:</b>
<ul>
    <li>675 attendees</li>
    <li>Of those 675 attendees，20% were from 9+ different countries out of Taiwan.</li>
    <li>Most attendees are soft engineers. The other audience profile are: developers, potential job seekers, data scientist, students, managers, researchers, consultants, CEOs and CTOs etc.</li>
    <li>Around 30% attendees have been using Python for more than 5 years.</li>
</ul>
</p>
<p>
<b>Conference Schedule</b>
<ul>
	<li>Call for Proposal: March 1st, 2020</li>
	<li>Deadline of Call for Proposal: April 26th, 2020 (23:59:59 <a href="https://www.timeanddate.com/worldclock/converter.html?iso=20200427T115900&p1=tz_aoe&p2=241&p3=1440">AoE</a>)</li>
    <li>Schedule Announcement: middle of June, 2020 (TBD)</li>
    <li>Job Fair: September 5th, 2020 (TBD)</li>
    <li>Main Conference: September 5-6th, 2020</li>
</ul>
</p>
<p><b>Sponsor Packages</b></p>
<ul>
    <li>
        <b>Diamond Level Sponsorship</b> - USD$ 16,200 (Limit: 1)
        <br>
        Through promoting your brand in unique ways with extremely prominent branding, you will be the hero of PyCon TW 2020!
        <br>
        - Logo Alongside PyCon TW 2020 and Preeminent Branding
        <br>
        - Room Branding / Signage of the main site of PyCon TW 2020
        <br>
        - Lanyards
        <br>
        - 30 Enterprise Tickers 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - Luxury Booth and Open Space of Community track
        <br>
        - Talks (30 Mins. Limit: 1 Per Community Track)
        <br>
        - Social Media: 4 posts
        <br>
        - Advertising on the APP during the Period of PyCon TW 2020
        <br>
        - Prior Choice of the Open Space of Community track
        <br>
        - Speaker Banquets: 5 people
        <br>
        - Job Fair
        <br>
    </li>
    <br>
    <li>
        <b>Platinum Level Sponsorship</b> - USD$ 8,100 (Limit: 2)
        <br>
        - 12 Enterprise Tickers 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - Luxury Booth and Open Space of Community track
        <br>
        - Talks (30 Mins. Limit: 1 Per Community Track)
        <br>
        - Social Media: 4 posts
        <br>
        - Advertising on the APP during the Period of PyCon TW 2020
        <br>
        - Prior Choice of the Open Space of Community track
        <br>
        - Speaker Banquets: 4 people
        <br>
        - Job Fair
        <br>
    </li>
    <br>
    <li>
        <b>Gold Level Sponsorship</b>  - USD$ 6,500 (Limit: 4)
        <br>
        - 8 Enterprise Tickers 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - Luxury Booth
        <br>
        - Social Media: 2 posts
        <br>
        - Advertising on the APP during the Period of PyCon TW 2020
        <br>
        - Speaker Banquets: 3 people
        <br>
        - Job Fair
        <br>
    </li>
    <br>
    <li>
        <b>Silver Level Sponsorship</b> - USD$ 3,600 (Limit: 8)
        <br>
        - 6 Enterprise Tickers 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - Regular Booth
        <br>
        - Social Media: 1 posts
        <br>
        - Speaker Banquets: 2 people
        <br>
        - Job Fair
        <br>
    </li>
    <br>
    <li>
        <b>Bronze Level Sponsorship</b> - USD$ 1,300 (Limit: 10)
        <br>
        - 2 Enterprise Tickers 
        <br>
        - Logos and Company Introduction on Website
        <br>
        - Social Media: 1 posts
        <br>
    </li>
    <br>
    <li>
        <b>Extra Purchase (USD$)</b>
        <br>
        <br>
        <table class="table-sponsorship-prospectus">
            <tr>
                <td></td>
                <td>Diamond</td>
                <td>Platinum</td>
                <td>Golden</td>
                <td>Silver</td>
                <td>Bronze</td>
            </tr>
            <tr>
                <td>Speaker Banquets / Person</td>
                <td>200</td>
                <td>200</td>
                <td>200</td>
                <td>200</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Luxury Booth (Limit: 2)</td>
                <td>Included</td>
                <td>Included</td>
                <td>Included</td>
                <td>1,300</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Talks (30 Mins.)<br><font size="-1">(Limit: 1 Per Community Track)</font></td>
                <td>Included</td>
                <td>Included</td>
                <td>500</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Social Media / Post</td>
                <td>200</td>
                <td>300</td>
                <td>300</td>
                <td>500</td>
                <td>600</td>
            </tr>
            <tr>
                <td>Advertisement<br><font size="-1">(APP and Website)</font></td>
                <td>Included</td>
                <td>Included</td>
                <td>Included</td>
                <td>1,700</td>
                <td>1,700</td>
            </tr>
            <tr>
                <td>Ticket Discount</td>
                <td>10 % off<br><font size="-2">Up to 1/3 attendees</font></td>
                <td>10 % off<br><font size="-2">If more than 10 tickets</font></td>
                <td>10 % off<br><font size="-2">If more than 20 tickets</font></td>
                <td>10 % off<br><font size="-2">If more than 30 tickets</font></td>
                <td>10 % off<br><font size="-2">If more than 40 tickets</font></td>
            </tr>
        </table>
    </li>
</ul>
<ul style="list-style-type:square;">
    <li>
        <b>Special and Customized Sponsorship</b>
        <br>
        <ul style="list-style-type:circle;">
            <li>
                <b>Community Track Venue Sponsorship</b> - Limit: TBA (See Notes) - $5k USD 
                <br>
                - Exclusive venue
                - Right to place an advertisement w/ themed social media promotion.
                <br>
                - Listed as Special Sponsors on the PyCon TW website (Logo & Introduction)
            </li>
            <li>
                <b>Community Financial Aid Sponsorship</b> - Limit: 5, unit: 1700 USD
                <br>
                - Giveback to the Python community, providing financial aid to the association.
                <br>
                - Exclusive promotions for the sponsoring company.
                <br>
                - Acquire personal information if the aid receiver agree to provide.
                <br>
                - Listed as Special Sponsors on the PyCon TW website (Company Logo & Introduction)
            </li>
            <li>
                <b>Transportation Shuttle Sponsorship</b> - Limit 1, 1000 USD
                <br>
                - Company name and/or logo placed on all of the PyCon TW shuttle buses used for transporting spectators and volunteers
                <br>
                - Listed as Special Sponsors on the PyCon TW website (Company Logo & Introduction)
            </li>
            <li>
                <b>Main Venue Food Sponsorship</b> - Limit: 3, unit 1400 USD
                <br>
                - Standing sign with your logo to be placed in a high traffic area
                <br>
                - Listed as Special Sponsors on the PyCon TW website (Company Logo & Introduction)
            </li>
            <li>
                If none of the above programs suit your interests, contact us to discover our personalized sponsorship opportunities.
            </li>
        </ul>
    </li>
</ul>
<b>Notes</b>
<ol>
    <li>
        Job Fair Introduction, restricted to 5 minutes per organization.
    </li>
    <li>
        PyCon TW 2020 will not produce a digital brochure, all information will be posted on our website and app.
    </li>
    <li>
        PyCon TW 2020 do not provide tote bag and physical brochure to our participants. However, sponsors have the liberty to design, print and provide copies of their own handbook.
    </li>
    <li>
        PyCon TW 2020 community track is currently divided into 5 sectors. The PyCon TW organization holds the final right to decide the set location for each sponsor. Diamond & Platinum Sponsors have top priority on choosing booth placement (included within sponsorship package). Gold Sponsors have a sequential right (after diamond & platinum). Track amount is limited thus it is reserved in a first come first serve manner. Community track sponsorship will be open if they are available.
    </li>
    <li>
        The sponsoring talk in the community track is limited to 30 minutes, and 1 talk per community track.
    </li>
    <li>
        Diamond Sponsorship includes title rights, the company logo will be displayed with PyCon TW 2020. However, PyCon TW 2020 reserves the right to further evaluate such action.
    </li>
    <li>
        Diamond Sponsorship includes the title right of the main meeting room, set sponsor can name the meeting room. Nevertheless, PyCon TW 2020 reserves the right to evaluate such action.
    </li>
    <li>
        Transportation sponsorship includes the title right for PyCon TW 2020 shuttle bus. However, PyCon TW 2020 reserves the right to evaluate such action.
    </li>
    <li>
        To further promote diversity of PyCon TW 2020, company (group/sponsoring) tickets will not exceeded 1/3 of the total pass sold. Thus, such group passes are sold in a first come first served manner, please order asap. 
    </li>
    <li>
        To ensure the quality of your speech, those who long to speak at the PyCon TW 2020 conference must be aware of Call for Proposal (CFP) deadlines. 
    </li>
</ol>
{% endblock content %}
