{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block content %}
{% url 'page' path='sponsor/prospectus' as prospectus_url %}

<section class="pill-title alt">
    <h1>Why Sponsorship</h1>
    <i class="icon icon-sponsor"></i>
</section>

<p>PyCon Taiwan is driven both by our hardcore community members and, YOU, our awesome sponsor partners!</p>

<p>Your generous support is the engine for us to move forward. Ever since PyCon Taiwan was first held in 2012, the conference has expend its visibility, accessibility, and varieties with a goal to continuously provide a platform for developers, new contributors, organizations, and companies to share knowledge and ideas and to strengthen Python communities in Taiwan.</p>

<p>PyCon Taiwan calls for your sponsorship in order to create more possibilities for all this to happen. Our sponsorship packages make sure your benefits:</p>

<ul>
	<li><p>Visibility on Python Community</p></li>
	<li><p>Recruit in the conference</p></li>
	<li><p>Promote your brand</p></li>
	<li><p>Connect with strong talent network</p></li>
</ul>

<p>Our sponsorship partners are what makes PyCon Taiwan possible! We work closely with our partners in order to optimize what PyCon Taiwan can offer. Look for your participation!</p>

<p>See our <a href="{{ prospectus_url }}">full prospectus</a> for Sponsorship Package</p>
<p><a href="mailto:sponsorship@pycon.tw" target="_blank" rel="noopener">Talk</a> us about sponsorship</p>

{% endblock content %}

