{% extends 'contents/_base/registration.html' %}

{% block title %}Financial Aid{% endblock title %}
{% block page_title %}<h1>Financial Aid</h1>{% endblock page_title %}

{% block content %}
<h1><span>Financial Aid</span></h1>

<h2><span>Financial aid program</span></h2>
<article>
	<p>
		<em>Everybody Pays</em> is one of the core principles of PyCon. All attendees including speakers, chairperson, staff and volunteers have to pay for registering. While following this convention, PyCon Taiwan announced Financial Aid Program this year, which is in order to help those who really can't totally afford traffic or registration to join PyCon TW.
		As long as you need a financial support, please simply apply for the Financial Aid Program. All of the applications will be reviewed and determined based on the budget this year and applier's conditions by PyCon TW organizers. (Please refer to the rationale behind <a href="http://jessenoller.com/blog/2011/05/25/pycon-everybody-pays" target="_blank" rel="noopener"><em>Everybody Pays</em></a>)
	</p>
	<p>
		Everyone is qualified to apply Financial Aid Program if you really need it and you are willing and ready to join PyCon TW and do something for communities, however, the budget is limited and so is the Financial Aid Program. That is why we wish to support people who are the most in need. For instance, taking students and engineers with full-time job into consideration, we will choose students to give aids. Then, community contributors and speakers also have higher priority for aids.
	</p>
</article>

<h2><span>Application How-Tos</span></h2>
<article>
	<p>The procedure of the application is what follows:</p>
	<ol>
		<li>
			The applicant (you) enters a valid email address for contact in the <a href="https://docs.google.com/forms/d/e/1FAIpQLScKhtrrJy-N9dD-fYKRcZXK248MF1zNkoaiJCwhOaLQdKoijg/viewform" target="_blank" rel="noopener">form</a>.
		</li>
		<li>
			Leave a brief description about yourself, and provide at least leave your full name.
		</li>
		<li>
			The conference staff (we) will contact you to verify the information and try to learn more about you.
		</li>
		<li>
			The Financial Aid Program closes on 30 April (15:30 UTC).
		</li>
		<li>
			We will inform you of the results before the end of the conference registration. You will receive instructions about how to claim your aid. Please make sure to bring papers and/or proofs as appropriate to the conference for the claim process.
		</li>
	</ol>

	<p>
		We understand that we all have different financial situations, and contribution is difficult to quantify. As we have limited budget, we cannot guarantee to fund all applicants. But please do let us know if you need support, and we will do our best.
	</p>
</article>
{% endblock content %}
