{% extends 'contents/_base/registration.html' %}

{% block title %}Ticket Info{% endblock title %}
{% block page_title %}<h1>Conference Ticket</h1>{% endblock page_title %}


{% block content %}

{% url 'page' path='events/sprints' as events_sprints_url %}
{% url 'page' path='registration/financial-aid' as reg_financial_aid_url %}

<h2><span>Important Dates</span></h2>
<article>
	<table class="registration-ticket-dates-table">
		<tbody>
			<tr>
				<th>17 April, 2017</th>
				<td>Ticket sale begins.</td>
			</tr>
			<tr>
				<th>30 April, 2017</th>
				<td>Limited early bird tickets sale ends.</td>
			</tr>
			<tr>
				<th>19 May, 2017</th>
				<td>Sale of all tickets ends.</td>
			</tr>
		</tbody>
	</table>
</article>


<h2><span>Ticket Info</span></h2>
<article>

	<p><em><a href="https://pycontw.kktix.cc/events/pycontw2017" taget="_blank" rel="noopener">Purchase tickets via KKTIX</a>.</em></p>

	<p>The following tickets provide access to the main conference during 9–11 June. Please refer to their own pages for tutorial and sprint registrations.</p>

	<table class="registration-table">
		<thead>
			<tr>
				<th>Ticket type</th>
				<th>Early bird</th>
				<th>Regular</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Regular</th>
				<td colspan="2">5,000</td>
				<td class="description">
					<p>You will receive an <a href="https://drive.google.com/file/d/0B3KccB4PeNEOcmk5WktscGJpRG8/view">electronic receipt</a> for this ticket when you check in at PyCon.</p>
					<p>Please provide your company’s name and Unified Business Number, or <em>N/A</em> if reimbursement is not required.</p>
				</td>
			</tr>

			<tr>
				<th>Discount</th>
				<td>2,500</td>
				<td>3,500</td>
				<td class="description">Your invoice will be donated directly to the <a href="http://ocf.tw/">Open Culture Foundation</a>. A discount is thus offered to appreciate you donation.</td>
			</tr>

			<tr>
				<th>Submitters</th>
				<td colspan="2">2,500</td>
				<td class="description">For those who have submitted a proposal to PyCcon Taiwan 2017. Please enter your invitation code when purchasing the ticket.</td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li>All price settled in New Taiwan Dollars (NTD); NTD 30.35 = USD 1.00 (TBD).</li>
		<li>Company Unified Business Number will be present on receipts for those who require reimbursement.</li>
		<li>If you require English receipts, or have any questions regarding ticket sales, please email to <em>organizers[at]pycon.tw</em>.</li>
	</p>
</article>


<h2><span>Notices</span></h2>
<h3>1. T-shirt Size</h3>
<article>
	<p>Every registered participant will receive a souvenir T-shirt. Please check your size according to the following table.</p>

	<table class="registration-table">
			<thead>
					<tr>
							<th>Size</th>
							<th>XS</th>
							<th>S</th>
							<th>M</th>
							<th>L</th>
							<th>XL</th>
							<th>2XL</th>
							<th>3XL</th>
					</tr>
			</thead>
			<tbody>
					<tr>
							<th>Height (cm)</th>
							<td>Under 150</td>
							<td>150–160</td>
							<td>160–170</td>
							<td>170–180</td>
							<td colspan="3">Above 180</td>
					</tr>
					<tr>
							<th>Chest Width</th>
							<td>44.5</td>
							<td>47</td>
							<td>49.5</td>
							<td>52</td>
							<td>54.5</td>
							<td>57</td>
							<td>59.5</td>
					</tr>
					<tr>
							<th>Back Length from HPS</th>
							<td>62</td>
							<td>63.5</td>
							<td>66</td>
							<td>68.5</td>
							<td>71</td>
							<td>73.5</td>
							<td>73.5</td>
					</tr>
			</tbody>
	</table>
</article>

<h3>2. Everybody Pays</h3>
<article>
	<p>PyCon Taiwan 2017 is a paid conference. Everybody, including staffs and speakers, pays for attending (see <a href="http://jessenoller.com/blog/2011/05/25/pycon-everybody-pays" target="_blank" rel="noopener">PyCon: Everybody Pays</a>).</p>
</article>

<h3>3. Ways to Pay for Tickets</h3>
<article>
	<p>You can pay through credit card, PayPal, or ATM transfer.</p>
</article>

<h3>4. No Refund</h3>
<article>
	<p>There will be no refund once registration is confirmed.</p>
</article>

<h3>5. Financial Aid Plan</h3>
<article>
	<p>You can contact us for a financial aid if you feel any difficulty affording a ticket and/or other expanses attending the conference. You will need to purchase the ticket before applying. More info about applications can be found <a href="{{ reg_financial_aid_url }}">here</a>.</p>
</article>

<h3>6. Dietary Requirements</h3>
<article>
	<p>We provide lunch during the conference. Please let us know if you have any specific dietary requirements.</p>
</article>

<h3>7. Contact Information Accuracy</h3>
<article>
	<p>Please provide valid means of contact (phone number and email) on purchase, so that we will be able to inform you of any important notices.</p>
</article>

<h3>8. Ticketing Consultancy</h3>
<article>
	<p>Please kindly email to <em>organizers[at]pycon.tw</em> if you have any questions regarding ticket information. We will reply you as soon as possible!</p>
</article>

<h3>9. Tutorials</h3>
<article>
	<p>You will be able to verify information about tutorials (annoucement pending), <a href="{{ events_sprints_url }}">sprints</a>.</p>
</article>

<h1><span>We look forward to your participation at PyCon Taiwan 2017!</span></h1>

{% endblock %}
