{% extends 'contents/_base/about.html' %}

{% block title %}Code of Conduct{% endblock title %}
{% block page_title %}<h1>Code of Conduct</h1>{% endblock %}

{% block content %}
<p>
    PyCon Taiwan is a community-driven convention for the Python programming
    language in Taiwan, created to facilitate discussions and exchange of ideas
    in the community. To provide a joyful, pleasant, and vibrant environment
    that creates value for all participants, we hereby publish PyCon Taiwan's
    Code of Conduct, which applies to all speech and action in both physical
    and digital venues of PyCon Taiwan. Your cooperation is necessary to help
    all of us to interact with respect and trust in PyCon Taiwan.
</p>


<h2>Code of Conduct</h2>
<p>
    Attendees should not harass others, either by verbal or physical behavior.
    We have zero tolerance towards harassment or discrimination. Each attendee
    should be equally respected, regardless of his or her nationality, race,
    language, gender, sexual orientation, age, disability, physical appearance,
    faith, profession, seniority, political view, or intellect.
</p>

<p>
    Appreciate each other. Each attendee will be expected to have a
    professional attitude and behavior. Users of Python from different
    professional roles, technical backgrounds, and application areas use and
    contribute to the technology in many different ways, and some of them are
    amazingly unimaginable. Opinions or actions that undervalue other members
    of the community are inappropriate.
</p>

<p>
    Show consideration to others. Sexual contents in any form are inappropriate
    in any conference venue, including, but not limited to talks, open spaces,
    or social media. Words and actions originated from stereotypes are
    discouraged.  In the conference rooms, cell phones should be set to silence
    or a mode that doesn't annoy others.
</p>

<p>
    The conference organizers have the power to take appropriate actions to
    redirect the behavior of those who violate the code of conduct. The
    violators may be forced to leave the conference without a refund at the
    sole discretion of the organizers.
</p>

<p>
    This Code of Conduct is approved by the organizers of PyCon Taiwan.
</p>
{% endblock content %}
