{% extends 'contents/_base/about.html' %}

{% block title %}About PyCon Taiwan{% endblock title %}

{% block content %}

<h2>What is PyCon?</h2>
<p>
	The original PyCon was formed in North America in 2003, and now there are
	many other conferences being run in the PyCon spirit around the world.
</p>

<h2>What is PyCon Taiwan?</h2>
<p>
	PyCon Taiwan is an annual convention in Taiwan for the discussion and
	promotion of the Python programming language. It is held by enthusiasts and
	focuses on Python technology and its versatile applications. We welcome
	people who are interested in Python to join PyCon Taiwan to share knowledge, 
	exchange ideas, make connections and to help us grow our network.
</p>

<h2>History of PyCon Taiwan</h2>
<p>
	In 2008 and 2011, thinker organized PyCTW, the predecessor of PyCon Taiwan.
	At that time, PyCon was only an one-day event to keep Pythonistas together.
	(<a href="http://wiki.python.org.tw/PycTW2008" target="_blank">
		PyCTW 2008
	</a>, <a href="http://wiki.python.org.tw/PycTW2011" target="_blank">
		PyCTW 2011</a>）
</p>

<p>
	In 2012, yyc and volunteers from communities founded the first PyCon TW. 
	The speeches were mainly about scientific computation as well as some 
	introductions of Python-based tools. Since the first PyCon TW, the 
	organizers have decided to follow the <a
		href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/"
		target="_blank">Everybody Pays</a> policy from PyCon US. That is, 
	everyone, including the staffs and speakers of PyCon TW, is required to 
	pay the ticket. First year of PyCon TW successfully attracted 250 audiences, 
	which reached the maximum number of attendees. The chairperson, 
	yyc, cheerfully recorded this milestone in <a
		href="http://yyc.solvcon.net/writing/2012/pycontw2012_finale.html"
		target="_blank">his blog</a>.
</p>

<p>
	In 2013, the reappointed chairperson, yyc, decided to expand the scale of 
	PyCon TW and try several new events. For example, collaborated with 
	caterpillar to host an paid Python tutorial before the conference. The 
    tutorial was highly successful that many people came to ask if additional 
    tutorials could be opened. Besides, it was the first time that the so-call 
    night market activities, where communities hosted their own booths while 
    attendees enjoyed the buffet with live music performance, were introduced 
    to BoF (Birds of a Feather) event. These new events later became signature 
    for PyCon TW. yyc summarized his thoughts about this year in <a
		href="http://yyc.solvcon.net/writing/2013/after_pycontw_2013/index.html"
		target="_blank">his blog</a> as well.
</p>

<p>
	In 2014, PyCon TW got the chance to host PyCon APAC/Taiwan. Tim Hsu was the 
	chairperson of 2014. The slogan of 2014 was "from everything import python".
	A competition of problem solving in Python was launched in collaboration with
	 <a href="http://www.checkio.org/"
		target="_blank">CheckIO</a>. Also, apart from the speeches, Show Time and 
	Job Event were organized for promoting sponsors.
</p>

<p>
	In 2015, PyCon TW was responsible for PyCon APAC/Taiwan again. The chairperson 
	of 2015 was Keith Yang. Since in the movie "Back to the Future II", the 
	arrival time of Marty's time travel to the future was 2015, the slogan of that 
	year was "Back to __future__II". The topics mainly focused on how to practice 
	ideas via Python and apply Python in different research fields. Several 
	tutorials, ranging from Python introduction, to web crawling, data mining, 
	signal processing, and even the interaction with Raspberry Pi. At the end of 
	the event, a live Bingo game was made for the lucky draw time. Combing with web 
	programming, attendees were able to see their Bingo number and gaming status on 
	their phone. The attendees were excited when the conditions of getting new 
	lines from numbers got more and more weird.
</p>

<p>
	In 2016, we turned to host PyCon TW again. Let's "Implement the Future, Together!"
</p>

<h2>Python Communities in Taiwan</h2>

<h3><a href="http://www.meetup.com/pythonhug/" target="_blank">Hsinchu &mdash; Python Hsinchu User Group (PyHUG)</a></h3>
<p>
	PyHUG, founded by yyc and Albert Huang in 2011, is the first Python user 
	community in Taiwan. The meetup was first located at Operations Center for 
	Industry Collaboration, NTHU, and was later moved to Information Technology 
	Service Center, NCTU. Speakers were invited on a monthly basis. The majority 
	of participants were university students, along with engineers from Hsinchu 
	Science Park, linguists, and even Hsinchu police officers. Therefore, topics 
	were mostly about scientific application in Python, which affected the focus
	of first PyCon TW. In recent years, the meetup, held in a coffee shop with 
	around 20 attendees on every Wednesday, turns to be "eating, chatting, talking 
    about Python and everything". Currently the community is organized by Dainese. 
    They are looking for new face to join.
</p>

<h3><a href="http://www.meetup.com/Taipei-py/" target="_blank">Taipei &mdash; Taipei.py</a></h3>
<p>
	After COSCUP 2012, Keith, Tim and some enthusiasts launched Taipei.py. The 
	number of members rapidly grew up to 50 after the first few meetups. The 
	events are hosted monthly at CLBC. The topics are mainly related to web 
	programming and web application. Recently there are more sharing of big data 
	topics. Since most of the organizers are in web-related industry, Andy also 
	hosts other activities, such as Python Web Meetup and Django study group, 
	besides the monthly meetups.
</p>

<h3><a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank">Tainan &mdash; Tainan.py</a></h3>
<p>
	In 2013, Joe founded Tainan.py when he moved from Taipei to Tainan due to the 
	change of company location. Since jserv also became the faculty in Department 
	of Computer Science and Information Engineering, NCKU, Joe decided to launch 
	"Tainan.py × MOSUT" events with MOSUT, another community located in Tainan. 
	In order to promote local Tainan food, local dishes, like fried chicken and 
	almond soup, are provided during the break in Tainan.py. Monthly meetup takes 
	place in the weekend afternoon, so attendees are welcome to try more Tainan 
	food after the meetup if the local dishes during the break is just not enough :)
</p>


<h3><a href="http://www.meetup.com/PyLadiesTW/" target="_blank">PyLadies Taiwan</a></h3>
<p>
	2014 was a year that the number of Python local communities grew rapidly. One of 
	these communities was PyLadies Taiwan, which was founded during the night market 
	event in PyCon Taiwan 2013. The first PyLadies meetup was hosted in Taipei. It is  
	a girls only community. Currently there are casul meetups, which provides a place
	to exchange experience in Python, chat, and meet new friends. Every girl who likes 
	Python or wants to learn Python are welcomed to become a member of PyLadies Taiwan.
</p>
<blockquote>
	See report: <a href="http://pycontw.blogspot.tw/2015/06/pyladies.html"
			target="_blank">PyLadies 社群注入台灣女性技術社群新動能</a>
</blockquote>

<h3><a href="http://www.meetup.com/Kaohsiung-Python-Meetup/"
		target="_blank">Kaohsiung &mdash; Kaohsiung.py</a></h3>
<p>
	Before Kaohsiung.py was founded, Python enthusiasts, like TooMore and CD,
	sometimes shared Python-related topics in the KSDG meetups. Founder of 
	Kaohsiung.py is Victor Gau. He joined Tainan.py regularly until one day he 
	had an accident with a speeding motorcycle on the way from Tainan to Kaohsiung.
	The accident induced him to launch a Python community in Kaohsiung. Therefore, 
	Kaohsiung Python User Group was founded in 2014. In addition to casul meetups, 
	which invites specialist from other cities, there is a regular gathering in 
	Wenzao Ursuline University of Languages on one Monday night every month.
	They are welcome anyone who passes by Kaohsiung to join the events.
</p>

<h3><a href="http://www.meetup.com/Taichung-Python-Meetup/"
		target="_blank">Taichung &mdash; Taichung.py</a></h3>
<p>
	Taichung.py was started in 2014 by Prof. Yuan-Liang Tang and several enthusiasts. 
	The events were held at restaurants or coffee shops until later Microprogram Co. 
	supported the event venue. Now the events are held monthly in Saturday afternoon, 
	which is best suited for a walk to have some snacks in Fengjia Night Market 
	after the event.
</p>

<h3><a href="http://www.meetup.com/Hualien-Py/" target="_blank">Hualien &mdash; Hualien.py</a></h3>
<p> 
	
	The history of Hualien.py can be dated back to 2013, Prof. Tzer-Jen Wei felt 
	the lack of open source and technology communities in the east part of Taiwan.
    He started to invite Python speakers from other cities. Having speakers like 
    c3h3, clkao and Mosky, Hualien.py began the first event in 2014. Events have 
    been located in Hualien Railway Cultural Park, National Dong Hwa University, 
    Hualien Cultural Creative Industries Park and so on. By the supports from
    all over the Taiwan, the community in Hualien thrives. Now there are more and 
    more local speakers in the meetups. In addition to speeches, there are casual 
    gathering and special focus workshop. Next time when having a trip in Taiwan 
    east coast, drop by Hualien.py.
</p>

<h3><a href="https://djangogirls.org/taipei/" target="_blank">Django Girls Taiwan</a></h3>
<p>
	Django Girls Taiwan was founded by Michelle Leu in 2014. Currently there are casual 
	tutorials and workshops to help girls build their own Django website. Also there 
	are events held with the Python Web Meetup for novice. Highly recommend to girls with 
	basic understanding of Django to learn more.
</p>

<blockquote>
	<a href="https://www.facebook.com/groups/djangogirls.taiwan/"
		target="_blank">Facebook Group</a>
</blockquote>
{% endblock content %}
