{% extends 'contents/_base/about.html' %}

{% block title %}About PyCon Taiwan{% endblock title %}

{% block content %}

<h2>What is PyCon?</h2>
<p>
	The original PyCon was formed in North America in 2003, and now there are
	many other conferences being run in the PyCon spirit around the world.
</p>

<h2>What is PyCon Taiwan?</h2>
<p>
	PyCon Taiwan is an annual convention in Taiwan for the discussion and
	promotion of the Python programming language. It is held by enthusiasts and
	focuses on Python technology and its versatile applications. We welcome
	people who are interested in Python to join PyCon Taiwan to share knowledge,
	exchange ideas, make connections and to help us grow our network.
</p>

<h2>History of PyCon Taiwan</h2>
<p>
	In 2008 and 2011, thinker organized PyCTW, the predecessor of PyCon Taiwan.
	At that time PyCon was still an one-day event to keep Pythonistas together.
	(<a href="http://wiki.python.org.tw/PycTW2008" target="_blank">
		PyCTW 2008
	</a>, <a href="http://wiki.python.org.tw/PycTW2011" target="_blank">
		PyCTW 2011</a>）
</p>

<p>
	In 2012, yyc and volunteers from several communities in Taiwan formed the
	first PyCon Taiwan. Talk topics mainly focuses on scientific computation as
	well as introduction of Python-based tools. Starting from the first year of
	PyCon TW, the organizers have decided to follow the <a
		href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/"
		target="_blank">Everybody Pays</a> policy from PyCon US. That is, everyone,
	including the staff and speakers of PyCon TW, is required to pay the ticket.
	First year of PyCon TW successfully attracted 250 audience, which reached the
	maximal number of attendees. The chairperson, yyc, cheerfully recorded this
	milestone in <a
		href="http://yyc.solvcon.net/writing/2012/pycontw2012_finale.html"
		target="_blank">his blog</a>.
</p>

<p>
	In 2013, successive chairperson yyc decided to expand PyCon Taiwan and
	experiments several new events. The new events included tutorials, of which
	the first one was an paid Python tutorial held before the conference and
	collaborated with @caterpillar（良葛格）. The first tutorial was so highly
	welcomed that many people even came to ask if additional tutorials could be
	open after the tutorial was full. Plus, BoF (Birds of a Feather) event was
	introduced after the first conference day of PyCon TW, which was accompanied
	by the so-call night market activities where communities hosted their own
	stages and attendees enjoyed the buffet at the same time. Finally, BoF was
	topped by the live music performance and hence became a signature event for
	PyCon TW. yyc summarized his thoughts and sharing about this year in <a
		href="http://yyc.solvcon.net/writing/2013/after_pycontw_2013/index.html"
		target="_blank">his blog</a> as well.
</p>

<p>
	In 2014, Tim Hsu was the chairperson of PyCon Taiwan and got the chance to
	host PyCon APAC/Taiwan. The slogan for this year was "From everything import
	python". In collaboration with <a href="http://www.checkio.org/"
		target="_blank">CheckIO</a>, a competition of Python problem solving was
	launched. Also, Show Time and Job Fair event specially designed for sponsors
	were introduced to increase the exposure of sponsors and keep the talk
	quality of PyCon TW.
</p>

<p>
	In 2015, Keith Yang was the chairperson and continued the hosting of PyCon
	APAC in Taiwan. 2015 was the year when the protagonist Marty did the time
	travel in the file Back to the Future II. The slogan was "Back the
	__future__" in mention of this movie as well. Main tune of the program this
	year was to practice one's own idea and thoughts via Python and application
	of Python in different fields. Several tutorials were held ranging from
	Python induction, web crawling, data mining, and signal processing, to
	interaction with the Raspberry Pi hardware. An live interaction game Bingo
	was made for the lucky draw time. Combing with web programming, attendees
	were able to see one's own Bingo number and gaming status. Bingo event was
	even happier when the conditions of getting new lines from numbers got more
	and more weird and unexpected.
</p>

<p>
	In 2016, this year, we went back hosting PyCon Taiwan again. And let us "Implement the Future, Together!"
</p>

<h2>Python Communities in Taiwan</h2>

<h3><a href="http://www.meetup.com/pythonhug/" target="_blank">Hsinchu &mdash; Python Hsinchu User Group (PyHUG)</a></h3>

<p>
	The first Python user community in Taiwan, started by yyc and Albert Huang in
	2011. The initial meetup place was at 清大創新育成中心, and later moved to
	交大計算機中心. Speakers are invited to speak here monthly. The majority of
	participants are college students. Also, engineers from 竹科, linguists, and
	Hsinchu police officers join the regular meetups. Therefore, most of the
	talks focus on Python's application in science and affected the major tune of
	the first year PyCon TW. Starting from recent years, the weekly meetup on
	Wednesday in coffee shop pivoted to the free form of "eating, chatting, and
	talking about Python and everything". Currently the community is organized by
	Dainese and has around 20 attendees. They have observed that the members of
	PyHUG were seemly to age and are looking for local young people to join.
</p>

<h3><a href="http://www.meetup.com/Taipei-py/" target="_blank">Taipei &mdash; Taipei.py</a></h3>

<p>
	After COSCUP 2012, Keith and Tim and some enthusiasts launched Taipei.py. The
	events are hosted monthly at CLBC. After a few first meetups, the number of
	members has rapidly risen to 50 and up. The sharing topics focus on web
	programming and application, while some topics about big data have also been
	seen in the recent meetups. Since most of the organizers are in web-related
	industry, Andy also hosts Python Web Meetup and Django reading workshop
	besides the monthly meetups.
</p>

<h3><a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank">Tainan &mdash; Tainan.py</a></h3>

<p>
	In 2013, when Joe was following his company moved from Taipei to Tainan, he
	founded Tainan.py. At that time, jserv became the faculty of 成大資訊, so Joe
	decided to host joint meetup with MOSUT, another community in Tainan and
	launched the "Tainan.py×MOSUT" events. During the middle break in Tainan.py,
	to promote local Tainan food, members will try 鹽酥雞, 杏仁湯, and many other
	foods that will make one's clothes size bigger. Monthly meetups take place in
	weekend afternoons, so members can continue to search fore more Tainan food
	after the meetup if the food during the middle break is just not enough :)
</p>


<h3><a href="http://www.meetup.com/PyLadiesTW/" target="_blank">PyLadies Taiwan</a></h3>

<p>
	2014 was a year of rapid expansion for Python local communities in Taiwan. One of these community is PyLadies Taiwan, which was founded during the night market in PyCon Taiwan 2013 and host the first meetup in Taipei. The community is girls only and host events irregularly to let girls share and exchange experience in Python, chat, and meet new friends. Every girl who likes Python or want to learn or understand Python can become a member of PyLadies Taiwan.
</p>
<blockquote>
	See report: <a href="http://pycontw.blogspot.tw/2015/06/pyladies.html"
			target="_blank">PyLadies 社群注入台灣女性技術社群新動能</a>
</blockquote>

<h3><a href="http://www.meetup.com/Kaohsiung-Python-Meetup/"
		target="_blank">Kaohsiung &mdash; Kaohsiung.py</a></h3>
<p>
	Before Kaohsiung.py, Python enthusiasts including TooMore and CD arranged Python dinners and there were talks about Python occasionally in the KSDG meetups. Founder of Kaohsiung.py is Victor Gau, who used to join the Tainan.py events by Joe but was caught in an accident with a speeding motorcycle on the way from Tainan to Kaohsiung, which let Victor come up the idea of launching community in Kaohsiung to reduce the chance of commuting. Kaohsiung.py was launched in 2014. Besides the irregular talk invitations from other places in Saturday afternoon, It also selected one of the Monday night monthly to hold meeup at 文藻外語大學. They welcome visit from everyone when dropping by Kaohsiung.
</p>

<h3><a href="http://www.meetup.com/Taichung-Python-Meetup/"
		target="_blank">Taichung &mdash; Taichung.py</a></h3>
<p>
	Taichung.py was launched in 2014 by Prof. 唐元亮 and several enthusiasts. At
	first the event location was strayed along resturants and coffee shops.
	Thanks to 微程式科技 for sponsoring event venue, now the event location has
	been fixed. Events are held monthly in Saturday afternoon, which is best
	suited a walk and having some snacks in 逢甲夜市 after the event.
</p>

<h3><a href="http://www.meetup.com/Hualien-Py/" target="_blank">Hualien &mdash; Hualien.py</a></h3>
<p>
	First event of the Hualien.py can be dated back to 2013, when Prof. 魏澤人 felt the lack of open source and technology communities in Taiwan east coast. He started to invite Python speakers from all the places in Taiwan. Having speakers c3h3, clkao, and Mosky, Hualien.py began its event in 2014. Events are taken place in 鐵道文化園區二館, 東華大學理工一館, 花蓮文創園區湛盧狂草黎明公益店, and so on. Thanks for the generous support all over Taiwan, community has more and more speakers from Hualien and the general development of the community is promising. Other than regular talks, Hualien.py events include free style gatherings and workshop on specific topic. Everyone is welcomed to drop by Hualien.py when planning trips in Taiwan east coast.
</p>

<h3><a href="https://djangogirls.org/taipei/" target="_blank">Django Girls Taiwan</a></h3>
<p>
	Django Girls Taiwan is founded by Michelle Leu in 2014. Currently there are irregular tutorials and workshops to help girls build their own Django website. Also there are joint events held with the Python Web Meetup for novice. Highly recommended to girls with basic understanding of Django and want to learn more.
</p>
<blockquote>
	<a href="https://www.facebook.com/groups/djangogirls.taiwan/"
		target="_blank">Facebook Group</a>
</blockquote>
{% endblock content %}
