{% extends 'contents/_base/about.html' %}

{% block title %}About PyCon Taiwan{% endblock title %}

{% block content %}
    <h2>What is PyCon?</h2>
    <p>
        The original PyCon was formed in North America in 2003, and now there
        are many other conferences being run in the PyCon spirit around the
        world.
    </p>

    <h2>What is PyCon Taiwan?</h2>
    <p>
        PyCon Taiwan is an annual convention in Taiwan for the discussion and
        promotion of the Python programming language. It is held by enthusiasts
        and focuses on Python technology and its versatile applications. We
        welcome people who are interested in Python to join PyCon Taiwan to
        share knowledge, exchange ideas, make connections and to help us grow
        our network.
    </p>

    <h2>Python Community in Taiwan</h2>
    <ul class="community-list list row">
        <li class="list__item">
            <a href="http://www.meetup.com/Taipei-py/" target="_blank">
                Taipei.py <span class="desc">Taipei Python User Group</span>
            </a>
        </li>
        <li class="list__item">
            <a href="http://www.meetup.com/pythonhug/" target="_blank">
                PyHUG <span class="desc">Python Hsinchu User Group</span>
            </a>
        </li>
        <li class="list__item">
            <a href="http://www.meetup.com/PyLadiesTW/" target="_blank">
                PyLadies Taiwan
            </a>
        </li>
        <li class="list__item">
            <a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank">
                Tainan.py <span class="desc">Python Tainan User Group</span>
            </a>
        </li>
        <li class="list__item">
            <a href="http://www.meetup.com/Kaohsiung-Python-Meetup" target="_blank">
                Kaohsiung.py <span class="desc">Kaohsiung Python User Group</span>
            </a>
        </li>
        <li class="list__item">
            <a href="http://www.meetup.com/Taichung-Python-Meetup/" target="_blank">
                Taichung.py <span class="desc">Taichung Python User Group</span>
            </a>
        </li>
        <li class="list__item">
            <a href="http://djangogirls.org/taipei" target="_blank">
                Django Girls Taipei
            </a>
        </li>
        <li class="list__item">
            <a href="http://www.meetup.com/Hualien-Py/" target="_blank">
                Hualien.py <span class="desc">Hualien Python User Group</span>
            </a>
        </li>
    </ul>
{% endblock content %}
