{% extends 'contents/_base.html' %}

{% block title %}PyCon Taiwan COVID-19 Guidelines{% endblock title %}

{% block content %}

<section class="pill-title alt">
	<h1>PyCon Taiwan COVID-19 Guidelines</h1>
</section>
<h5 style="text-align:right;">(CC BY-SA 3.0 TW)<br/>Last Updated：2020-08-03</h5>
<hr>
<p>
	In response to the 2019 novel coronavirus (COVID-19) outbreak, the PyCon TW host team (We) announced <i>PyCon Taiwan
	COVID-19 Guidelines</i> that are based on the COVID-19 prevention guidelines from Taiwan Central Epidemic Command
	Center (CECC). During the COVID-19 outbreak, these guidelines must be followed so as to prevent epidemic transmission
	and protect oneself and others. The guidelines will adopt any changes required by CECC without further notifications.
	Please pay attention to our website in particular to relevant modification. The final guideline will be announced on
	August 20th, 2020.
</p>
<hr>

<h4>Epidemic Prevention Guidelines</h4>

<ol>
	<li>
		<b>Every PyCon TW attendee has to fill out the PyCon TW 2020 Personal Health Declaration Form online</b>, a
		personal QR code will be generated after you complete the form. Your QR code is your entry to PyCon TW 2020, it is
		not retrievable after it is lost. If you lose your QR code, you will need to fill out the Health Declaration Form
		again to obtain a new one.
	</li>
	<ol>
		<li type="a">
			PyCon TW 2020 Health Declaration Form will be available online for previewing on August 20 and be ready
			for use on August 30.
		</li>
		<li type="a">
			If you are unable to fill out the form online, PyCon TW will provide the form in paper, please fill it out and
			give it to staff at the venue.
		</li>
	</ol>

	<li>
		According to Taiwan Central Epidemic Command Center (CECC) COVID-19 Prevention Guidance, <b>To avoid close
		contact,
		all people should keep a distance from others of at least 1.5 meters in the indoor environment and 1 meter in
		outdoor. When these social distancing are not able to be maintained, all people are urged to wear face masks.</b>
		Therefore, <b style="color:red;">all PyCon TW 2020 attendees are required to wear face masks all the time when in
		the indoor environments.</b>
	</li>
	　
	<li>
		PyCon TW will be a real-name registration. All attendees need to show the QR code (the proven completion of Health
		Declaration) to receive a badge. We will check <b>badges at each venue for the entry, please complete the
		registration process and collect your badge at the registration desk before entering each venue.</b> All attendees’
		temperature will be taken prior to the entry.
	</li>
	<li>
		Capacity limits are set for each venue for your safety and comfort. There are staff on site to control the total
		number of people in each venue, please follow the instructions from staff on site. <b>Do not enter a venue that is
		full.</b>
	</li>
	<li>
		If you feel ill or have high risk of infection (home isolation, home quarantine, self monitoring). Please stay
		home, do not go to the PyCon TW venue.
	</li>
</ol>

<h4>Self-preparation for Preventing COVID-19</h4>
<ol>
	<li>
		To complete <b>PyCon TW 2020 Personal Health Declaration Form</b> online before joining PyCon TW 2020 activities.
	</li>
	<li>
		To wear a face mask before entering indoor places. It is recommended that you have one or two spare face masks
		with you.
	</li>
	<li>To wash hands frequently, using hand sanitizer and keeping social distancing are also helpful.</li>
	<li>To sanitize seats and tables your own when moving to different venues.</li>
</ol>

<h4>PyCon TW Preparedness for preventing COVID-19</h4>

<ol>
	<li>
		PyCon TW helps cleaning and disinfecting venues before and after each conference day. We prepare bleach solutions
		to sanitize all venues and facilities within, including: floors of each venue and hallways, door and window handles,
		light and other facilities switches, tables, seats, washstand, and stair handrail.
	</li>
	<li>
		Infrared Ear/Forehead Thermometers are available at the conference desk for anyone that feels like measuring
		temperatures.
	</li>
	<li>Alcohol sanitizers are available for use at the conference desk.</li>
</ol>

<h4>Privacy Policy of PyCon Taiwan</h4>
<ul>
	<li>
		PyCon TW 2020 collects personal data of attendees for the purpose of contact tracing during the outbreak of
		COVID-19. All collected information will be deleted after 28 days. attendees’ access in each venue will be recorded
		for epidemic control measures. We will inform everyone that if any suspected COVID-19 and provide such information
		for CECC for the purpose of preventing spread of COVID-19 and tracing contacts. For more details please
		visit：<a href="https://docs.google.com/document/d/1wcTCXs75VxRK2xWdd0lKD57HCMp7ts_MT7lNSJ9_euU/edit#">Privacy Policy
		of PyCon Taiwan.</a>
	</li>
</ul>

<h4>Government Documents</h4>
<ul>
	<li><a href="https://drive.google.com/file/d/1Gt3KgRFNgs-PBB37zHU_CiweqTngXjL_/view?usp=sharing">教育部函「防疫新生活運動」室內外集會須配合中央疫情指揮中心發布之相關指引</a>
	</li>
	<li><a href="http://serv.oga.ncku.edu.tw/var/file/57/1057/img/1292/104982743.pdf">國立成功大學因應嚴重特殊傳染性肺炎公共空間管理原則</a></li>
</ul>


<h4>License (CC BY-SA 3.0 TW)</h4>
<p>
	This document is licensed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/tw/deed.zh_TW">Attribution-ShareAlike
	3.0 Taiwan</a> license.
</p>
<p><img src="/static/images/CC_icon.png"></p>

<p>The Privacy Policy of PyCon TW will be effective July 1th, 2020.</p>
<p>
	However, due to the rapidly changing social and legal environment and the continual advancement in technology, we
	reserve the right to modify this privacy policy at any time, and will announce any update when available.
</p>
<p>Thank you.</p>

{% endblock content %}
