@mixin list-reset {
	list-style: none;
	padding: 0;
}

@mixin menu-item($base-color, $hover-color) {
	@include no-underline;
	color: $base-color;
	&:hover {
		color: $hover-color;
	}
}

@mixin menu {
	@include list-reset;

	li {	// General menu item styling.
		> input:checked ~ .submenu {
			display: block;
		}

		> * {
			@include no-underline;
			font-family: $header-font-family;
			font-weight: 300;

			&:first-child:hover {
				cursor: pointer;
			}
		}
	}

	> li {	// Styling specific to top-level menu items.
		position: relative;
		text-align: center;

		> * {
			font-size: 1.125rem;
		}
	}

	.submenu {
		@include list-reset;
		@include text(1.125rem);
		display: none;
		margin-top: 8px;
		border: solid 1px transparent;
		border-radius: 4px;
	}
}

.menu-navbar-mobile {
	position: fixed;
	top: $top-navbar-offset;
	z-index: 99;

	width: 100vw;
	height: 0;
	background-image: $top-navbar-background;
	transition: 0.25s ease-in-out;
	overflow: scroll;

	@include on-desktop {
		display: none;
	}

	&.no-script {
		position: relative;
		z-index: -1;
		top: 0 - $top-navbar-offset;
		height: auto;
		border-bottom: $top-navbar-border-bottom;

		.menu {
			padding: $top-navbar-offset + 24px 16px 0 16px;
		}
	}

	&.open {
		height: calc(100vh - #{$top-navbar-offset});
	}

	> * {
		margin: 11vh 0;

		&:first-child {
			margin-top: 11vh;
		}
		&:last-child {
			margin-bottom: 11vh;
		}
	}

	.menu {
		@include menu;

		li > *:first-child {
			@include menu-item($text-light, $link-light);
		}

		> li {
			margin: 32px 0;
		}

		.submenu {
			margin: 8px 24px;
			border-color: $indigo;
			background: $dark-violet;
			text-align: center;

			li {
				margin: 8px;
			}
		}
	}
}

$menu-desktop-margin-x: 48px;
$menu-desktop-height: 136px;

@mixin menu-navbar-desktop($logo, $menu-deco-color) {
	display: none;

	@include on-desktop {
		display: flex;
		flex-direction: column;
		height: $menu-desktop-height;
		margin: 0 $menu-desktop-margin-x;
	}

	.menu-logo {
		flex: 1;
		width: 100%;
		background: $logo center 32px no-repeat;
	}
	.menu {
		@include container;
		@include menu;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;

		li {
			flex: 1;
			> * {
				@include menu-item($text-dark, $link-dark);
			}
		}

		.submenu {
			$width: 160px;
			$margin-above: 16px;
			$margin-between: 24px;
			$item-padding: 8px;

			position: absolute;
			left: calc(50% - #{$width / 2});
			min-width: $width;
			margin-top: $margin-above + $margin-between;
			border-color: $pinkish-grey;
			background: rgba($white, 0.95);
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
			text-align: center;

			&::before {
				$width: 96px;
				display: block;
				content: '';
				width: $width;
				margin: -$margin-between 0 $margin-between calc(50% - #{$width / 2});
				border-top: solid 1.5px $menu-deco-color;
			}

			li {
				display: flex;
				flex-direction: column;
				align-content: stretch;

				> *:first-child {
					display: inline-block;
					padding: $item-padding;
				}

				&:first-child > *:first-child {
					padding-top: 2 * $item-padding;
				}
				&:last-child > *:first-child {
					padding-bottom: 2 * $item-padding;
				}
			}
		}
	}
}

// Applied when mobile menu is open to disable <body> scrolling.
body.menu-overlay-open {
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;

	@include on-desktop {
		max-width: none;
		max-height: none;
		overflow: auto;
	}
}
