$top-navbar-background: linear-gradient(119deg, $indigo, $dark-slate-blue);
$top-navbar-height: 64px;
$top-navbar-logo-height: 24px;
$top-navbar-border-bottom: solid 1px rgba(230, 230, 230, 0.21);

.top-navbar {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: $top-navbar-height;
	border-bottom: $top-navbar-border-bottom;
	overflow: hidden;

	.navbar-logo {
		margin-top: ($top-navbar-height - $top-navbar-logo-height) / 2;

		@include on-desktop {
			display: none;
		}
	}
}

$top-navbar-offset: $top-navbar-height + 1px;		// Plus border.

.navbar-centerbox {
	position: absolute;
	left: 50%;
	width: 160px;
	margin-left: -80px;
	height: $top-navbar-height;
	overflow: hidden;
}

.navbar-logo {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../assets/logo-white.svg') top no-repeat;
}

.navbar-lang-switch {
	@include no-underline;
	margin: 0 8px;

	> button {
		width: 32px;
		height: 32px;
		margin: 16px 2px;
		padding: 0;
		border: none;
		background: none;
		color: $white-35;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;

		&:disabled {
			border-radius: 100px;
			background: $white-35;
			color: $white;
			cursor: default;
		}
		&:not(:disabled):hover {
			color: $white-65;
		}
	}
}

.navbar-toggler {
	display: flex;
	justify-content: center;
	margin-left: auto;
	width: 64px;
	height: 64px;
	padding: 0;
	border: none;
	background-color: transparent;

	$icon-width: 28px;
	$icon-height: 20px;
	$bar-thickness: 3px;

	&.no-script {
		display: none;
	}

	> div {
		position: relative;
		width: $icon-width;
		height: $icon-height;
		transform: rotate(0deg);
		cursor: pointer;

		> span {
			display: block;
			position: absolute;
			height: $bar-thickness;
			width: 100%;
			background: $bluey-grey;
			border-radius: 8px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transform-origin: left center;
			transition: 0.25s ease-in-out;

			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: ($icon-height - $bar-thickness) / 2;
			}
			&:nth-child(3) {
				top: $icon-height - $bar-thickness;
			}
		}
	}

	&[aria-expanded="true"] > div {
		$sqrt-2: 1.4142;

		// Cross the bars correctly.
		$offset: $icon-width * (2 - $sqrt-2) / 4;

		// Move the cross to the center of the button.
		$fix-x: (2 - $sqrt-2) * $icon-width / 8;
		$fix-y: $fix-x + ($icon-width - $icon-height) / 2;

		> span:nth-child(1) {
			transform: rotate(45deg);
			transform-origin: left center;
			top: $offset - $fix-y;
			left: $offset + $fix-x;
		}
		> span:nth-child(2) {
			width: 0%;
			opacity: 0;
		}
		> span:nth-child(3) {
			transform: rotate(-45deg);
			transform-origin: left center;
			top: $icon-width - $offset - $fix-y;
			left: $offset + $fix-x;
		}
	}

	@include on-desktop {
		display: none;
	}
}

@mixin navbar-social-icon($font-size, $base-color, $hover-color) {
	@include no-underline;
	color: $base-color;
	font-size: $font-size;

	&.fa-envelope {
		// The envelope icon is visually larger than others. Compensate.
		font-size: $font-size * 0.9;
	}

	&:hover {
		color: $hover-color;
	}
}

.navbar-social-desktop {
	display: none;

	@include on-desktop {
		display: flex;
		align-content: center;
		margin-right: 8px;

		.fa {
			@include navbar-social-icon(1.375rem, $white-65, $white);
			margin: 0 16px 0 12px;
			line-height: $top-navbar-height;
		}
	}
}

.navbar-social-mobile {
	display: flex;
	justify-content: center;

	.fa {
		@include navbar-social-icon(1.5rem, $text-light, $link-light);
		margin: 0 20px;
	}

	@include on-desktop {
		display: none;
	}
}
