.inner-wrapper {
  margin: 80px 0;

  em, string {
    font-weight: bold;
  }

  a:link,
  a:visited {
    color: #C07FE4;

    &:hover,
    &:active {
      color: #E09FF4;
      text-decoration: underline;
    }
  }

  blockquote {
    padding: 0 32px;
    font: 400 20px/1.5 $font-family-article;

    &:not(:last-child) {
      margin-bottom: 75px;
    }
  }

  h1 {
    font-size: 36px;
    line-height: 60px;
    position: relative;
    border-bottom: 1px solid #C07FE4;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    > span {
      display: inline-block;
      background-image: $gradient-green-blue;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-bottom: 9px;
    }
  }

  h2 {
    position: relative;
    font-size: 30px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    > span {
      display: inline-block;
      background: $gradient-yellow-orange;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h3 {
    color: #D08FF4;
    margin-bottom: 24px;
    font: normal 24px/1.5 $font-family-condensed;
  }

  article {
    font: 400 16px/1.5 $font-family-article;
    padding: 30px 25px;

    &:not(:last-child) {
      margin-bottom: 75px;
    }

    > *:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  ul, ol {
    padding-left: 25px;

    li {
      &.no-style {
        list-style: none;
      }

      // this is for nested <ul>
      ul {
        margin: 7px 0;
      }
    }
  }

  ul {
    list-style: outside disc;
  }

  ol {
    list-style: outside decimal;
  }

  pre {
    font-family: $font-family-mono;
    padding: 20px;
    white-space: pre-wrap;
    border: 1px solid #ccc;
    background: #222;
    border-radius: 3px;
  }

  img {
    max-width: 100%;
  }

  .table-desc {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  table {
    font-family: $font-family-article;
    font-size: 14px;
    background-color: #132637;
    width: 100%;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);

    &:not(:last-child) {
      margin-bottom: 54px;
    }

    tbody {
      tr {
        &:not(:last-child) {
          td {
            border-bottom: 1px solid rgba(100, 125, 146, 0.5);
          }
        }
      }
    }

    @mixin cell() {
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      padding: 2px;
    }
    td {
      @include cell();
      height: 61px;
    }

    th {
      @include cell();
      height: 48px;
      background-color: $color-table-header-background;
      color: $color-table-header-foreground;
      font-weight: bold;
    }
  }
}
