/* Color palette. */
$indigo: #3b097b;
$dark-slate-blue: #192660;
$dark-peach: #e57b5c;
$maize: #eec850;
$azure: #2bb1f7;
$ultramarine-blue: #3000d1;
$black: #333333;
$white: #ffffff;
$pale-grey: #f7f5fa;
$dark-indigo: #280454;
$dark-violet: #280356;
$purple: #521f93;
$light-indigo: #875bcd;
$bluey-grey: #9997b7;
$white-two: #e6e6e6;
$pinkish-grey: #c9c9c9;
$white-35: rgba(255, 255, 255, 0.35);

/* Some extra styles not in the Zepplin palette. */
$white-65: rgba(255, 255, 255, 0.65);


/* Header styles. */

$header-font-family: 'Roboto Mono', 'Noto Sans TC', 'sans-serif';

@mixin header($font-size) {
  color: $black;
  font-family: $header-font-family;
  font-size: $font-size;
  font-weight: 300;
  text-align: center;
}

@mixin header-geometry($margin-top, $margin-bottom: 24px) {
	margin-top: $margin-top;
	margin-bottom: $margin-bottom;
	+ * {
		margin-top: 0;
	}
}

@mixin h1 {
	@include header(2.25rem);		// ~ 36px.
	@include header-geometry(48px);
	line-height: 125%;
}

@mixin h2 {
	@include header(1.75rem);		// ~ 24px.
	@include header-geometry(72px);
}

@mixin h3($margin-top: 24px) {
	@include header(1.125rem);	// ~ 18px.
	@include header-geometry($margin-top);
}


/* Content styles. */

$text-font-size: 1.125rem;			// ~ 18px.
$text-font-size-small: 0.75rem;	// ~ 12px.

$text-light: $white;
$text-dark: $black;

$link-dark: #9d50ff;
$link-hover-dark: #9d50ff;
$link-light: $white-two;
$link-hover-light: $white;

@mixin link($base-color, $hover-color) {
	color: $base-color;
	text-decoration: none;

	&:hover {
		color: $hover-color;
		text-decoration: underline;
	}
}

@mixin link-dark {
	@include link($link-dark, $link-dark);
}

@mixin link-light {
	@include link($link-light, $link-light);
}

@mixin text($font-size) {
  color: $text-dark;
  font-family: 'Raleway', 'Microsoft Jhenghei', 'Noto Sans TC', 'sans-serif';
  font-weight: 200;
  font-size: $font-size;

  strong {
    font-weight: 400;
  }
  em {  // Do not use slant.
    font-style: normal;
    font-weight: 400;
  }
}

@mixin text-light {
  a {
    @include link-light;
  }
  button, dl, p, ul, ol {
    color: $text-light;
  }
}
