.tag {
	display: inline-block;
	color: $white;
	background: #cea9ff;
	text-align: center;
	padding: 4px 24px;
	margin: 4px 2px;
	border-radius: 2px;

	&:hover {
		background-color: $link-hover-dark;
		color: $white;
		text-decoration: none;
	}
}
