$sqrt-2: 1.4142;

@mixin menu-items {
	list-style: none inside;
}

@mixin no-underline {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

dl.inline {
	overflow: auto;

	dt, dd {
		float: left;
	}
	dt {
		clear: left;
	}
	dd {
		margin-left: 0;
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-round {
	@include text($text-font-size);
	@include text-light;
	@include no-underline;

	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 100px;
}

@mixin gradient-hover($angle, $color1, $color2) {
	background: linear-gradient($angle, $color2, $color1, $color2) 0 / 200% 100%;
	transition: background-position-x 0.5s ease-in-out;

	&:hover {
		background-position-x: 100%;
	}
}
