@import 'site';
@import 'index-mixins';
@import 'index-hero';
@import 'index-partners';

.top-navbar {
	@include on-desktop {
		border-bottom-color: transparent;
	}

	.navbar-logo {
		margin-top: (3 * $top-navbar-height - $top-navbar-logo-height) / 2;
	}
}

.menu-navbar-desktop {
	@include menu-navbar-desktop(
		url('../assets/logo-strong-violet.svg'), $indigo, $dark-slate-blue, $text-dark);
	border-radius: $menu-desktop-border-radius;
	background-color: $white;
	box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.2);
}

.index-introduction {
	@include index-section;
	@include logo-background-section;

	@include on-desktop {
		margin-top: 0 - $menu-desktop-height / 2;
		padding-top: 160px;
	}

	.my-pycon {
		@include button(276deg, $dark-peach, $maize);
		margin-top: 40px;
	}
}

.index-volunteer {
	@include index-section;
	padding: 120px inherit;
	background-image: linear-gradient(159deg, $indigo, $dark-slate-blue);

	article:first-of-type {
		margin-top: 0;
	}
	h2, p {
		color: $white;
	}

	.volunteer {
		@include button(259deg, $azure, $ultramarine-blue);
		margin-top: 40px;
	}
}
