@import 'site';
@import 'index-mixins';

.top-navbar {
	@include on-desktop {
		border-bottom-color: transparent;
	}

	.navbar-logo {
		margin-top: (3 * $top-navbar-height - $top-navbar-logo-height) / 2;
	}
}

$menu-desktop-border-radius: 8px;

.menu-navbar-desktop {
	@include menu-navbar-desktop(
		url('../assets/logo-indigo.svg'), $indigo, $dark-slate-blue, $text-dark);
	border-radius: $menu-desktop-border-radius;
	background-color: $white;
	box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.2);
}

.index-hero {
	@import 'index-hero';
}

.index-introduction {
	@include index-section;
	@include logo-background-section;

	@include on-desktop {
		margin-top: 0 - $menu-desktop-height / 2;
		padding-top: 160px;
	}

	.my-pycon {
		@include index-button(276deg, $dark-peach, $maize);
		margin-top: 40px;
	}
}

.index-volenteer {
	@include index-section;
	background-image: linear-gradient(159deg, $indigo, $dark-slate-blue);

	article {
		margin-top: 72px;

		&:first-of-type {
			margin-top: 0;
		}
	}
	h2, p {
		color: $white;
	}

	.volunteer {
		@include index-button(259deg, $azure, $ultramarine-blue);
		margin-top: 40px;
	}
}

.index-partners {
	@include index-section;
	@include circle-background-section;

	.partners {
		$item-spacing: 32px;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 32px 0;
		padding: 0;
		list-style: none inside;

		@include on-desktop {
			margin: 32px #{0 - $item-spacing};
		}

		> li {
			flex: 1;
			text-align: center;
			margin: $item-spacing / 2;

			@include on-desktop {
				flex: 0 0 calc(33.3333% - #{$item-spacing});
			}

			a, img {
				width: 100%;
				min-width: 120px;
				max-width: 320px;
			}
		}
	}

	.sponsorship {
		@include index-button(276deg, $dark-peach, $maize);
	}
}
