@import 'site';

body {
	// Fix the fancy h1 overflowing width (because 100vw includes scrollbar).
	overflow-x: hidden;
}

.page-hero {
	margin-top: 0 - $top-navbar-offset;
	padding: $top-navbar-offset 0 112px 0;
	background-image: $top-navbar-background;

	@include on-desktop {
		padding-bottom: 200px;
	}
}

.menu-navbar-desktop {
	@include menu-navbar-desktop(
		url('../assets/logo-white.svg'), $white, $white-two, $text-light);
}

main {
	@include content-section;
	@include container;

	padding: 80px 16px nth($content-section-padding, 3) 16px;

	@include on-desktop {
		padding-left: 0;
		padding-right: 0;
	}

	// Fancy h1 that merges into the navbar.
	> h1:first-child {
		$padding-y: 1rem;
		width: calc(100vw - #{$padding-y * 2});
		margin-top: -160px;
		margin-bottom: 48px;
		margin-left: calc(50% - 50vw);	// Shove to left edge, ignoring container.
		padding: 0 $padding-y 32px $padding-y;
		background-image: $top-navbar-background;
		color: $text-light;

		@include on-desktop {
			margin-bottom: 72px;
		}
	}

	@mixin header-geometry($margin-top, $margin-bottom: 24px) {
		margin-top: $margin-top;
		margin-bottom: $margin-bottom;
		+ * {
			margin-top: 0;
		}
	}

	h1 {
		@include header-geometry(48px);
		line-height: 125%;
	}
	h2 {
		@include header-geometry(72px);
	}
	h3 {
		@include header-geometry(24px);
	}

	@mixin container-block($margin-top, $margin-bottom) {
		margin-top: $margin-top;
		margin-bottom: $margin-bottom;

		// Cancel terminal margins for nested blocks.
		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}

	// Most content blocks are 48px apart.
	> * {
		@include container-block(48px, 20px);
	}

	// p elements are 20px apart.
	p + p {
		margin-top: 20px;
	}
}
