@import 'site';

body {
	// Fix the fancy h1 overflowing width (because 100vw includes scrollbar).
	overflow-x: hidden;
}

.page-hero {
	margin-top: 0 - $top-navbar-offset;
	padding: $top-navbar-offset 0 112px 0;
	background-image: $top-navbar-background;

	@include on-desktop {
		padding-bottom: 200px;
	}
}

.menu-navbar-desktop {
	@include menu-navbar-desktop(url('../assets/logo-white.svg'), $white);
	.menu > li > * {
		@include menu-item($text-light, $link-light);
	}
}

main {
	@include content-section;
	@include container;

	padding: 80px 16px nth($content-section-padding, 3) 16px;

	@include on-desktop {
		padding-left: 0;
		padding-right: 0;
	}

	h1 {
		margin-top: 48px;
		line-height: 125%;
	}

	> h1:first-child {
		$padding-y: 1rem;
		width: calc(100vw - #{$padding-y * 2});
		margin-top: -160px;
		margin-bottom: 48px;
		margin-left: calc(50% - 50vw);	// Shove to left edge, ignoring container.
		padding: 0 $padding-y 32px $padding-y;
		background-image: $top-navbar-background;
		color: $text-light;

		@include on-desktop {
			margin-bottom: 72px;
		}
	}

	h2 {
		margin-top: 48px;
	}
	h3 {
		margin-top: 24px;
	}
}
