{% load static %}
<footer class="footer container-fluid text-center">
    <div class="row clearfix">
        <div class="col-md-2">2016 PyCon Taiwan</div>
        <div class="col-md-8 hidden-xs hidden-sm">
            <img width="133" height="24" src="{% static 'images/Logo_pycontw16_blue_footer@2x.png' %}" class="logo">
        </div>
        <div class="social col-md-2 text-center">
            <a href="https://www.facebook.com/pycontw" class="social-btn" target="_blank" rel="noopener">
                <i class="fa fa-facebook fa-lg"></i>
            </a>
            <a href="https://twitter.com/pycontw" class="social-btn" target="_blank" rel="noopener">
                <i class="fa fa-twitter fa-lg"></i>
            </a>
            <a href="mailto:organizers@pycon.tw" class="social-btn" target="_blank">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
    </div>
</footer>
