{% extends 'contents/_base/events.html' %}

{% load i18n staticfiles %}
{% load pycontw_tools %}

{% block title %}{% trans 'Schedule' %}{% endblock title %}

{% block page_title %}<h1>{% trans 'Schedule' %}</h1>{% endblock page_title %}

{% block content %}

{% for message in messages %}
<div class="alert {{ message|message_bootstrap_class_str }} clearfix" role="alert">{{ message }}</div>
{% endfor %}


<div class="pycon-list">
	<div class="pycon-list-item text-theme-highlight">
		{% url 'page' path='events/overview' as overview_url %}
		{% url 'page' path='events/keynote' as keynote_url %}
		{% url 'events_talk_list' as talk_list_url %}
		{% blocktrans trimmed %}
		This is the full schedule of talks for PyCon Taiwan 2016. See also:
		<ul>
			<li><a href="{{ overview_url }}">Overview of conference schedule</a></li>
			<li><a href="{{ keynote_url }}">Our keynote speeches</a></li>
			<li><a href="{{ talk_list_url }}">An alphabetically-sorted list of all talks</a></li>
		</ul>
		{% endblocktrans %}
	</div>
	<div class="pycon-list-item text-theme-highlight">
		{% blocktrans trimmed %}
		Program schedule are <span class="text-emphasize">subject to change</span>.
		Please check this page frequently to get the latest version.
		{% endblocktrans %}
	</div>
</div>

<h2>{% trans 'Quick Jump' %}</h2>
<p>
	<a href="#2016-06-03" class="btn btn-primary smooth-scroll">
		{% trans 'Day 1' %}
	</a>
	<a href="#2016-06-04" class="btn btn-primary smooth-scroll">
		{% trans 'Day 2' %}
	</a>
	<a href="#2016-06-05" class="btn btn-primary smooth-scroll">
		{% trans 'Day 3' %}
	</a>
</p>

{% block schedule %}
{{ schedule_html|safe }}
{% endblock schedule %}

{% endblock content %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'js/vendors/Hyphenator.js' %}"></script>
<script src="{% static 'js/vendors/jquery.dotdotdot.min.js' %}"></script>
<script src="{% static 'js/tools/smooth-scroll.js' %}"></script>
<script src="{% static 'js/events/schedule.js' %}"></script>
{% endblock scripts %}
