{% extends 'contents/_base/events.html' %}

{% load i18n %}

{% block title %}{% trans 'Schedule' %}{% endblock title %}

{% block page_title %}<h1>{% trans 'Schedule' %}</h1>{% endblock page_title %}

{% block content %}

<div class="pycon-list">
	<div class="pycon-list-item text-theme-highlight">
		{% url 'page' path='events/overview' as overview_url %}
		{% url 'page' path='events/keynote' as keynote_url %}
		{% url 'events_talk_list' as talk_list_url %}
		{% blocktrans trimmed %}
		This is the full schedule of talks for PyCon Taiwan 2016. See also:
		<ul>
			<li><a href="{{ overview_url }}">Overview of conference schedule</a></li>
			<li><a href="{{ keynote_url }}">Our keynote speeches</a></li>
			<li><a href="{{ talk_list_url }}">An alphabetically-sorted list of all talks</a></li>
		</ul>
		{% endblocktrans %}
	</div>
	<div class="pycon-list-item text-theme-highlight">
		{% blocktrans trimmed %}
		Program schedule are <span class="text-emphasize">subject to change</span>.
		Please check this page frequently to get the latest version.
		{% endblocktrans %}
	</div>
</div>

{% block schedule %}
{{ schedule_html|safe }}
    <h2 class="time-table-header">day 1</h2>
    {% comment %}

    <div class="time-table">
        <div class="time-table__header">
            <div class="time-table__time"></div>
            <div class="time-table__slot">
                <div class="slot-item header-cell header-cell--r0">R0</div>
                <div class="slot-item header-cell header-cell--r1">R1</div>
                <div class="slot-item header-cell header-cell--r2">R2</div>
                <div class="slot-item header-cell header-cell--r3">R3</div>
            </div>
        </div>

        <div class="time-table__row">
            <div class="time-table__time">08:00</div>
            <div class="time-table__slot">
                <div class="slot-item talk">
                    <div class="slot-item__label"></div>
                    <div class="slot-item__content">
                        <div class="slot-item__title">
                            Registration
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="time-table__row">
            <div class="time-table__time">10:00</div>
            <div class="time-table__slot">
                <div class="slot-item talk talk--keynote">
                    <div class="slot-item__label"></div>
                    <div class="slot-item__content">
                        <div class="slot-item__title">Keynote</div>
                        <div class="talk__speaker">Paul Hildebrandt</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="time-table__row">
            <div class="time-table__time">10:00</div>
            <div class="time-table__slot">
                <div class="slot-item slot-item--3 talk">
                    <div class="slot-item__label">R0 R1 R2</div>
                    <div class="slot-item__content">
                        <div class="slot-item__title">Keynote</div>
                        <div class="talk__speaker">Paul Hildebrandt</div>
                    </div>
                </div>
                <div class="slot-item talk time-table__cell">
                    <div class="slot-item__label">R3</div>
                    <div class="slot-item__content">
                        <div class="slot-item__title">Keynote</div>
                        <div class="talk__speaker">Paul Hildebrandt</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="time-table__row">
            <div class="time-table__time time-table__time--row">
                <div class="time__cell time__cell--2">10:00</div>
                <div class="time__cell">12:00</div>
            </div>
            <div class="time-table__slot">
                <div class="slot-item slot-item--h2">
                    <div class="slot-item__content">
                       2/4
                    </div>
                </div>
                <div class="slot-item">
                    <div class="slot-item__content">
                        1/3
                    </div>
                </div>
            </div>
        </div>

        <div class="time-table__row">
            <div class="time-table__time">11:00</div>
            <div class="time-table__slot">
                <div class="slot-item talk">
                    <div class="slot-item__label slot-item__label--r0">R0</div>
                    <div class="slot-item__content">
                        <div class="talk__title">Openstack Swift Benchmark with Ansible</div>
                        <div class="talk__speaker">Charles Hsu</div>
                        <div class="talk__lang">ZH</div>
                    </div>
                </div>
                <div class="slot-item talk">
                    <div class="slot-item__label slot-item__label--r1">R1</div>
                    <div class="slot-item__content">
                        <div class="talk__title">....when thinking functionally with Python</div>
                        <div class="talk__speaker">Apua Juan</div>
                        <div class="talk__lang">ZH</div>
                    </div>
                </div>
                <div class="slot-item talk">
                    <div class="slot-item__label slot-item__label--r2">R2</div>
                    <div class="slot-item__content">
                        <div class="talk__title">Easy Map Applications Using Python</div>
                        <div class="talk__speaker">Victor Gau</div>
                        <div class="talk__lang">EN</div>
                    </div>
                </div>
                <div class="slot-item talk">
                    <div class="slot-item__label slot-item__label--r3">R3</div>
                    <div class="slot-item__content">
                        <div class="talk__title">Easy Map Applications Using Python</div>
                        <div class="talk__speaker">Victor Gau</div>
                        <div class="talk__lang">EN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

    <div class="time-table clearfix">
        <div class="time-table__header">
            <div class="time-table__time"></div>
            <div class="time-table__slot">
                <div class="row">
                    <div class="slot-item header-cell header-cell--r0">R0</div>
                    <div class="slot-item header-cell header-cell--r1">R1</div>
                    <div class="slot-item header-cell header-cell--r2">R2</div>
                    <div class="slot-item header-cell header-cell--r3">R3</div>
                </div>
            </div>
        </div>
        <div class="time-table__time">10:00</div>
        <div class="time-table__slot">
            <div class="row">
                <div class="slot-item">
                    <div class="slot-item__label slot-item__label--r0">R0</div>
                    <div class="slot-item__content talk">
                        <div class="talk__title">Openstack Swift Benchmark with Ansible</div>
                        <div class="talk__speaker">Charles Hsu</div>
                        <div class="talk__lang">ZH</div>
                    </div>
                </div>
                <div class="slot-item">
                    <div class="slot-item__label slot-item__label--r1">R1</div>
                    <div class="slot-item__content talk">
                        <div class="talk__title">....when thinking functionally with Python</div>
                        <div class="talk__speaker">Apua Juan</div>
                        <div class="talk__lang">ZH</div>
                    </div>
                </div>
                <div class="slot-item">
                    <div class="slot-item__label slot-item__label--r2">R2</div>
                    <div class="slot-item__content talk">
                        <div class="talk__title">ker ker in python</div>
                        <div class="talk__speaker">Apua Juan</div>
                        <div class="talk__lang">ZH</div>
                    </div>
                </div>
                <div class="slot-item">
                    <div class="slot-item__label slot-item__label--r3">R2</div>
                    <div class="slot-item__content talk">
                        <div class="talk__title">r3 in python</div>
                        <div class="talk__speaker">hola</div>
                        <div class="talk__lang">EN</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="time-table__time time-table__time--hsmall">10:00</div>
        <div class="time-table__slot">
            <div class="row">
                <div class="slot-item slot-item--w4 slot-item--hsmall">
                    <div class="slot-item__label"></div>
                    <div class="slot-item__content">
                        <div class="slot-item__title">Registration</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="time-table__time time-table__time--hsmall">10:30</div>
        <div class="time-table__slot">
            <div class="row">
                <div class="slot-item slot-item--w4 slot-item--hsmall">
                    <div class="slot-item__label"></div>
                    <div class="slot-item__content talk">
                        <div class="slot-item__title">Keynote</div>
                        <div class="talk__speaker">Paul Hildebrandt</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="time-table__time">11:00</div>
        <div class="time-table__slot">
            <div class="row">
                <div class="slot-item slot-item--w3">slot-item-w3</div>
                <div class="slot-item slot-item--blank"></div>
            </div>
        </div>
        <div class="time-table__time time-table__time--row-span time-table__time">
            <div class="time__cell">12:00</div>
            <div class="time__cell">13:00</div>
        </div>
        <div class="time-table__slot">
            <div class="row">
                <div class="slot-item slot-item--w3">
                    <div class="slot-item__label">R0 R1 R2</div>
                    <div class="slot-item__content">
                        slot-item-w3
                    </div>
                </div>
                <div class="slot-item slot-item--blank slot-item"></div>
            </div>
        </div>
        <div class="time-table__time">11:00</div>
        <div class="time-table__slot">
            <div class="row">
                <div class="slot-item slot-item--w3">slot-item-w3</div>
                <div class="slot-item slot-item--blank"></div>
            </div>
        </div>

        <div class="time-table__time time-table__time--row-span time-table__time--h3">
            <div class="time__cell">14:00</div>
            <div class="time__cell">15:00</div>
            <div class="time__cell">16:00</div>
        </div>
        <div class="time-table__slot">
            <div class="row">
                <div class="slot-item">1</div>
                <div class="slot-item">2</div>
                <div class="slot-item">3</div>
                <div class="slot-item slot-item--h2 pull-right">4</div>
                <div class="slot-item slot-item--w3">4</div>
                <div class="slot-item">1</div>
                <div class="slot-item">2</div>
                <div class="slot-item">3</div>
                <div class="slot-item slot-item--blank"></div>
            </div>
        </div>
    </div>
{% endblock schedule %}

{% endblock content %}
