{% extends 'contents/_base/events.html' %}

{% load i18n proposals %}

{% block title %}{% trans 'Talks' %}{% endblock title %}

{% block page_title %}<h1>{% trans 'Talks' %}</h1>{% endblock page_title %}

{% block content %}

{% if object_list %}

<div class="pycon-list">
	<div class="pycon-list-item text-theme-highlight">
		{% blocktrans trimmed with gdoc_url="https://docs.google.com/spreadsheets/d/17-8E1OhfgiG4pIOIrp3OpNY4OaK1QxUn4TJK9oVmRSw/htmlview" %}
		You can peek at the program schedule on
		<a class="text-emphasize" href="{{ gdoc_url }}" target="_blank">this Google document</a>.
		{% endblocktrans %}
	</div>
	<div class="pycon-list-item text-theme-highlight">
		{% blocktrans trimmed %}
		Program schedule are <span class="text-emphasize">subject to change</span>.
		Please check this page frequently to get the latest version.
		{% endblocktrans %}
	</div>
</div>

<h2>{% trans 'Proposed Talks' %}</h2>
<ul class="talk-list">
	{% for proposal in object_list %}
	{% url 'events_talk_detail' pk=proposal.pk as event_talk_detail_url %}
	<li><p>{% blocktrans with proposal_title=proposal.title speaker_names=proposal|speaker_names_display %}<a class="proposal-title" href="{{ event_talk_detail_url }}">{{ proposal_title }}</a> by {{ speaker_names }}{% endblocktrans %}</p></li>
	{% endfor %}
</ul>
{% endif %}

{% if sponsored_events %}
<h2>{% trans 'Sponsored Events' %}</h2>
<ul class="talk-list">
	{% for event in sponsored_events %}
	<li><p>{% blocktrans with event_title=event.title host_name=event.host.speaker_name sponsored_event_url=event.get_absolute_url %}<a class="proposal-title" href="{{ sponsored_event_url }}">{{ event_title }}</a> by {{ host_name }}{% endblocktrans %}</p></li>
	{% endfor %}
</ul>
{% endif %}

{% endblock content %}
