{% extends 'contents/_base/events.html' %}

{% load i18n pycontw_tools %}

{% block title %}{% trans 'Talks' %}{% endblock title %}

{% block page_title %}<h1>{% trans 'Talks' %}</h1>{% endblock page_title %}

{% block content %}
<ul class="talk-list">
	{% for proposal in object_list %}
	{% url 'events_talk_detail' pk=proposal.pk as event_talk_detail_url %}
	<li>{% blocktrans with proposal_title=proposal.title speaker_names=proposal|speaker_names_display %}<a class="proposal-title" href="{{ event_talk_detail_url }}">{{ proposal_title }}</a> by {{ speaker_names }}{% endblocktrans %}</li>
	{% endfor %}
</ul>
{% endblock content %}
