{% load i18n static %}
<div class="overview-container">
{% for venue in object_list %}
    <div class="venue-block">
        <h3><a href="#{{ venue.topic|slugify }}">{{ venue.topic }}</a></h3>
        <div class="community-track-actions">
            {% if attendee %}
            {% if selected_venue == venue %}
            <button disabled><i class="fa fa-check"></i> {% trans 'Selected' %}</button>
            {% else %}
            <form method="post">
                {% csrf_token %}
                <input name="venue" value="{{ venue.id }}" type="hidden">
                <input name="attendee" value="{{ attendee.id }}" type="hidden">
                <button>{% trans 'Select this track' %}</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div class="community">
        {{ venue.community }}
        </div>

        <div class="venue-name">
        {{ venue.name }}
            <span class="stats">
                /{{ venue.capacity }}
            </span>
        </div>

    </div>
{% endfor %}
</div>

{% if message %}
<p class="message">{{ message }}</p>
{% endif %}

