{% load i18n_plus %}
{% load events %}

<a href="{{ event.get_absolute_url }}" class="talk-info localed-url talk-event">
	<div class="context-container">
		<div class="context">
			<div class="title"
			     style="-webkit-box-orient: vertical;"
			     title="{{ info.title }}"
			>
				{{ info.title }}
			</div>
			<div class="speaker">by <span class="name">{{ speakers }}</span></div>
			<div class="tags">
				<div class="language-{{ info.language.lower }}"></div>
				<div class="python-level-{{ info.python_level.lower }}"></div>
				{% if not info.recording_policy %}
					<div class="no-recording"></div>
				{% endif %}
			</div>
		</div>
		<div class="info">
			<div class="time">
				{{ event.begin_time.value|date:'H:i' }} ~ {{ event.end_time.value|date:'H:i' }}
			</div>
			<div class="room">
				<div class="room-{{ event.location }}">
				</div>
			</div>
		</div>
	</div>
</a>
