{% load events %}

{% with data=event.get_static_data_for_locale %}
	<a href="{% url 'page' path='events/keynotes' %}#{{ event.slug }}" class="keynote-event localed-url">
		<div class="context-container">
			<div class="context">
				<div class="title">{% trans 'Keynote: ' %}{{ data.session.title }}</div>
				<div class="speaker">by <span class="name">{{ data.speaker.name }}</span></div>
			</div>
			<div class="info">
				<div class="time">
					{{ event.begin_time.value|date:'H:i' }} ~ {{ event.end_time.value|date:'H:i' }}
				</div>
				<div class="room">
					<div class="room-{{ event.location }}">
						{{ event.location|room_display }}
					</div>
				</div>
			</div>
		</div>
	</a>
{% endwith %}
