{% extends 'contents/_base.html' %}

{% block title %}Code of Conduct{% endblock title %}

{% block content %}

<section class="pill-title alt">
    <h1>Code of Conduct</h1>
</section>

<p>PyCon Taiwan aims to provide a joyous, pleasant and vibrant environment for our participants. This convention applies to all the words and deeds of participants in the relevant entities and digital fields of PyCon Taiwan. It is hoped that everyone will work together to make PyCon Taiwan full of mutual respect and trust.</p>


<h2>Principles</h2>

<p>PyCon Taiwan is dedicated to providing a harassment-free conference experience for everyone. We do not tolerate harassment toward conference participants in any form.</p>

<ul>
    <li>Do not harass others.</li>
    <li>Appreciate each other.</li>
    <li>Show consideration to others.</li>
</ul>

<p>Remember that harassment and jokes that are sexist, racist, or exclusionary are not tolerated at PyCon Taiwan. PyCon Taiwan take appropriate actions to redirect behavior violating the Code of Conduct.</p>

<h3>Do not harass others</h3>
<p>PyCon Taiwan will not tolerate any form of harassment and discrimination. Each attendee should be equally respected regardless of nationality, race, language, gender, sexual orientation, age, disability, physical appearance, faith, profession, seniority, political view, or intellect.</p>

<h3>Appreciate each other</h3>
<p>Each attendee is expected to act professionally when attending Pycon Taiwan. Users of Python are diverse in their professional roles, technical backgrounds, and application areas. They contribute to the technology in many different ways, some amazingly unimaginable. Opinions or actions that undervalue other members of the community are inappropriate and will not be tolerated.</p>

<h3>Show consideration to others</h3>
<p>Sexual contents in any form are inappropriate in any conference venue, including but not limited to talks, open spaces, or social media. Words and actions originated from stereotypes are discouraged. Cell phones should be set to silent or a mode that does not annoy others in the conference rooms.</p>


<h2>Violation and Reporting</h2>

<p>Conference organizers will take appropriate actions on behaviors violating the Code of Conduct. Violators may be required to leave the conference without a refund at the sole discretion of the organizers. This Code of Conduct is applicable to both physical and online events approved by the organizers of PyCon Taiwan.</p>

<h3>Attendee Procedure For Reporting Code of Conduct Incidents</h3>
<p>If you believe someone is in danger, including from themselves, the most important thing is to find help.</p>
<p>If you feel your safety is in jeopardy, please immediately contact law enforcement in Taiwan (dialing 110 in Taiwan). Ask an organizing staff if you do not have a cell phone.</p>
<p>If you believe the Code of Conduct has been violated, please report the incident to a staff member right away. If you are unsure whether it is a violation, or whether the space where it has happened is covered by this Code of Conduct, we encourage you to still report it.</p>
<p>In the event where there is conflict of interest, you may directly contact any of the lead incident responders:</p>

<ul>
    <li>Committee of Incident Response, PyCon Taiwan</li>
    <ul>
        <li>report@python.tw</li>
    </ul>

    <li>David Yung-Sheng Lu</li>
    <ul>
        <li>Chairperson of PyCon APAC 2022</li>
        <li>davidlu@python.tw</li>
    </ul>
</ul>

<h3>Report Data</h3>
<p>If you make a report via email or phone, please include:</p>
<ul>
    <li>Your contact information (so we can get in touch with you if we need to follow up).</li>
    <li>Date and time of the incident.</li>
    <li>Location of the incident.</li>
    <li>Whether the incident is ongoing.</li>
    <li>Description of the incident.</li>
    <li>Identifying information of the reported person: name, physical appearance, height, clothing, voice accent, identifying badge information such as company name, ribbons, or badge number.</li>
    <li>Additional circumstances surrounding the incident.</li>
    <li>Other people involved in, or witnesses to the incident, and their contact information or description.</li>
</ul>

<h3>Confidentiality</h3>
<p><strong>All reports are confidential.</strong> When we discuss incidents with people who are reported, we will anonymize details as much as we can to protect the reporter’s privacy.</p>
<p>However, the reported person may be able to guess who made the report in certain situations, even with details anonymized. If you have concerns about retaliation or your personal safety, please note those in your report. We still encourage you to report, so that we can support you while keeping our conference attendees safe. In some cases, we can compile several anonymized reports into a pattern of behavior, and take action based on these reports.</p>
<p>In cetain cases, we may determine that a public statement needs to be made. In such cases, the identities of all victims and reporters will remain confidential unless the individuals involved instruct us otherwise.</p>

<h3>Report Handling Procedure</h3>
<p>When you make a report to an incident responder, they will gather information about the incident according to the <strong>Procedure For Incident Response.</strong></p>
<p>After an incident responder takes the report, they will immediately consult with the PyCon Taiwan staff, unless there is a conflict of interest (involved directly with one of the PyCon Taiwan / APAC staff), in which case any non-interested parties will be contacted.</p>
<p>If the incident is ongoing and needs to be immediately addressed, any lead incident responder may take appropriate action to ensure the safety of everyone involved. If the situation requires it, this may take the form of a referral to an appropriate non-PyCon agency, including the law enforcement in Taiwan.</p>
<p>If the incident is less urgent, the report will be discussed by the event staff, who will meet to determine an appropriate response.</p>

<h3>Notes</h3>
<p>This procedure has been adapted from the <a href="https://github.com/python/pycon-code-of-conduct/blob/master/Attendee%20Procedure%20for%20incident%20handling.md" target="_blank">PyCon Procedure for Incident Handling</a>.</p>


<h2>License (CC BY-SA 3.0 TW)</h2>
<p>This document is licensed under an Attribution-ShareAlike 3.0 Taiwan license.</p>
<img src="https://i.imgur.com/cVjN760.jpg =200x"></img>

<p>The Code of Conduct of PyCon APAC 2022 is effective from Mar 1st, 2022. PyCon Taiwan reserve the right to modify this announcement at any time and will announce any updates when available.</p>
<p>Thank you.</p>

{% endblock content %}
