{% extends 'contents/_venue.html' %}

{% block title %}Venue{% endblock title %}

{% block map_info %}

	<h2>Humanities and Social Science Building</h2>

	<h2>Academia Sinica</h2>

	<p>No. 128, Sec. 2, Academia Rd., Nankang, Taipei 115, Taiwan</p>

{% endblock map_info %}

{% block content %}

<h1>Venue</h1>

{{ block.super }}

<h2>Venue Location</h2>

<h3>PyCon TW 2017 venue is at Humanities and Social Science Building (HSSB), Academia Sinica.</h3>
<p>Academia Sinica Address: No. 128, Sec. 2, Academia Rd., Nankang, Taipei 115, Taiwan (Show on <a href="http://goo.gl/maps/tLZKX" target="_blank" rel="noopener">Google Map</a>).<br/>Note: You might want to save the 10-minute walk from main entrance to venue by taxi.<br/></p>

<blockquote>For more information, please refer to <a href="https://www.sinica.edu.tw/en/articles/37" target="_blank" rel="noopener">the venue location</a>.</blockquote>

<h2>Coming From Taoyuan International Airport</h2>

<h3>By Taxi</h3>

<p>Taxi stands are outside the arrival hall of both Terminal I and II. Taxi from/to airport will have an extra 50% surcharge (exempt from highway toll). Typical fare is around NT$ 1,500 or US$ 50 to Academia Sinica directly and NT$ 1,000 or US$ 35 to Taipei downtown.</p>

<h3>By Airport Bus - Direct Express to NanGang Expo Center</h3>

<p>The most economical and easy way is to take the KuoKuang 1843 Line to Taipei NanGang Expo Center (near MRT Nankang Exhibition Center Station Exit 1) for NT$ 115 or US$ 4 then take taxi to the venue for NT$ 100 or US$ 3 in total 90 minutes.</p>

<h3>By Airport Bus - Other Options</h3>

<p><em>Additional transfer might needed, <em>most bus only take you to Taipei Main Station or Taipei City Hall</em></em></p>

<ul>
	<li>Location of ticket counter: at the Arrival Passenger Reception area</li>
	<li>Ticker fare: NT$ 105 to 150 (US$ 3 to 5)</li>
	<li>Estimated time: 1 hour in moderate traffic</li>
	<li>Bus dispatch interval: available every 20 minutes</li>
	<li>Bus platform location:</li>
	<ul>
		<li>Terminal I: the southwest side of the Arrival Passenger Reception Area.</li>
		<li>Terminal II: the northeast side of the Arrival Passenger Reception Area on the 1st floor.</li>
	</ul>
</ul>

<blockquote>For more information, please refer to <a href="http://www.taoyuan-airport.com/english/Buses/" target="_blank" rel="noopener">here</a>.</blockquote>

<h2>Coming From Taipei Main Station</h2>

<h3>By Metro (MRT)</h3>

<p>There are two possible routes to the venue:</p>

<ul>
	<li>Take Line 5 (Bannan Line) to <em>Nangang Exhibition Center Station (Exit 2)</em>,<br/>
  then take bus 205, 212, 276, 306, 620, 645, 679, S1, S5, or S12 to Academia Sinica Stop.</li>
	<li>Take Line 5 (Bannan Line) to <em>Nangang Station (Exit 1)</em>,<br/>
  then take bus 212, 270 or Blue 25 to Academia Sinica Stop.</li>
</ul>

<p>You could take a taxi instead of a bus with an average NT$ 80 fare.</p>

<blockquote>For more information, please refer to <a href="http://english.metro.taipei/ct.asp?xItem=1056373&CtNode=70241&mp=122036" target="_blank" rel="noopener">MRT official site</a>.</blockquote>

<h3>By City Bus</h3>

<p>Take 205, 212, 212-Straight Line, 270, 270 (Shuttle), 276, 306, 306 (Shuttle), 620, 645, 645 (Extended), S1, S12, S12 (Shuttle), S5, BL25, and get off at Academia Sinica stop. City bus fare is either NT$ 15 or 30 (less than US$ 1), which depends on your distance and can be paid by either EasyCard or cash.</p>

<h2>Parking Information</h2>

<p>Cars can directly go into AS campus with visitor registration at the main entrance. Visitor parking lot is located on B2 of the Humanities and Social Sciences Building (HSSB). Parking fee is NT$ 20 per hour.</p>

{% endblock content %}
