{% load i18n %}

<section class="index-partners" data-controller="mediaPopup">

	<article class="container">

		<h2>{% trans 'Partners' %}</h2>
		{% blocktrans trimmed %}<p>Help us organize and make the conference successful!</p>{% endblocktrans %}
		{% for name, section in sponsor_sections %}

		<h3>{{ name }}</h3>

		<ul class="partners">
			{% for sponsor in section %}
			<li>
				<a href="{{ sponsor.website_url|default:'#' }}" target="_blank" rel="noopener"
						data-target="mediaPopup.presenter" data-action="mediaPopup#open">
					{% if sponsor.logo %}
					<img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
					{% else %}
					<span>{{ sponsor.name }}</span>
					{% endif %}
				</a>
				<div class="popup" data-target="mediaPopup.popup">
					<div class="click-to-close" style="height:100%;width:100%"  data-action="click->mediaPopup#close"></div>
					<div class="card">
						<button class="popup-close" data-action="mediaPopup#close">
							<span></span>
							<span></span>
						</button>
						<div class="card-content">
							{% if sponsor.website_url %}
							<a href="{{ sponsor.website_url }}" target="_blank" rel="noopener" class="logo">
								{% if sponsor.logo %}
								<img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
								{% else %}
								<span>{{ sponsor.name }}</span>
								{% endif %}
							</a>
							{% elif sponsor.logo %}
							<span class="logo">
								<img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
							</span>
							{% endif %}
							<div class="text">
								<article>
									<h4 class="name">
										<span>{{ sponsor.name }}</span>
									</h4>
									<section class="description">{{ sponsor.intro|linebreaks }}</section>
									{% if sponsor.website_url %}
									<a class="link-to-website" href="{{ sponsor.website_url }}" target="_blank" rel="noopener">
										<span>{% trans '前往官網' %}</span>
									</a>
									{% endif %}
								</article>
							</div>
						</div>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>

		{% endfor %}

	</article>
</section>

<section class="sponsor-form-block">
	<section class="sponsor-container">
			<article class="container">
				<h2>{% trans 'Sponsors Needed' %}</h2>
				<a href="{{ SPONSOR_FORM_URL }}" class="center button-round sponsorship" target="_blank" rel="noopener">
					{% trans 'Enquire about sponsorship' %}
				</a>
			</article>
		</section>
</section>

