{% load i18n %}

<h2>{% trans 'Chairperson' context 'staff' %}</h2>
<ul class="staff-list">
	<li>tai271828</li>
</ul>

<h2>{% trans 'Registration' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Marr</li>
	<li>Yucheng</li>
	<li>弘哲</li>
	<li>Tom Chen</li>
	<li>Skye</li>
	<li>Tumi</li>
</ul>
<h2>{% trans 'Development' context 'staff' %}</h2>
<ul class="staff-list">
	<li>James</li>
	<li>GTB</li>
	<li>Wilson</li>
	<li>舜喜</li>
	<li>Herber</li>
	<li>Frank Lin</li>
	<li>Weida</li>
	<li>Henry</li>
	<li>David</li>
	<li>Alice</li>
</ul>
<h2>{% trans 'OPass Development' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Denny Huang</li>
	<li>腹黒い茶</li>
	<li>Frank Wu</li>
	<li>大倫</li>
	<li>Jack Cheng</li>
</ul>

<h2>{% trans 'Public Relations' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Hane</li>
	<li>宗翰</li>
	<li>Mike</li>
	<li>阿哲</li>
	<li>米方</li>
	<li>Jenny</li>
	<li>冠廷</li>
</ul>

<h2>{% trans 'Design' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Kaya</li>
	<li>蔡帛軒</li>
	<li>卡卡</li>
	<li>蔡帛軒</li>
	<li>琪琪</li>
	<li>禹翔</li>
	<li>柔安</li>
	<li>Alice</li>
	<li>Andy</li>
	<li>Carol Cho</li>
</ul>

<h2>{% trans 'Photography' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Andy</li>
	<li>Deimos</li>
	<li>吳秉玹</li>
	<li>小草</li>
	<li>Jason</li>
	<li>黃家賢</li>
	<li>林筠庭</li>
	<li>Jim</li>
	<li>Vincent</li>
	<li>HY</li>
	<li>Kaminyou</li>
	<li>YiShan</li>
</ul>

<h2>{% trans 'Program' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Adrian</li>
	<li>TP</li>
	<li>Jason</li>
	<li>Wei Lee</li>
	<li>Kevin</li>
	<li>鯉魚</li>
	<li>Ellie</li>
	<li>KK</li>
	<li>宗翰</li>
	<li>Eric</li>
	<li>Victor</li>
	<li>Chris</li>
</ul>

<h2>{% trans 'Sponsorship' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Robert Lin</li>
	<li>Yun Hua Hsiao</li>
	<li>Rain Wu</li>
	<li>Bill Wang</li>
	<li>Elliott Lin</li>
	<li>Andy</li>
	<li>黃坤賢</li>
	<li>Liting Chen</li>
	<li>祐豪五六</li>
	<li>Eric Xie</li>
</ul>

<h2>{% trans 'Financial' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Rock</li>
	<li>Eric Xie</li>
</ul>

<h2>{% trans 'Venue' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Tim</li>
	<li>Rex Wu</li>
	<li>David Lu</li>
	<li>I-Pin Liao</li>
	<li>David Lu</li>
	<li>Adam Lee</li>
	<li>Yukiko</li>
	<li>Vincent Chen</li>
	<li>Dennis Liu</li>
	<li>CMIND Lin</li>
</ul>

<h2>{% trans 'Maneuvering' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Angela</li>
	<li>Wei Lee</li>
	<li>鯉魚</li>
</ul>

<h2>{% trans 'Review Committee' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Kilik Kuo</li>
	<li>劉純睿 (阿吉)</li>
	<li>petertc</li>
	<li>趙元 (Yuan CHAO)</li>
	<li>Wei Lin</li>
	<li>TP</li>
	<li>曾君宇</li>
	<li>李昱勳</li>
	<li>Kir Chou</li>
	<li>Stanley Huang</li>
	<li>Kuo-tung Kao</li>
	<li>Cheng-Lung Sung (宋政隆)</li>
	<li>柯維然</li>
	<li>Apua Juan</li>
	<li>許邱翔 (Chiu-Hsiang Hsu) (dv)</li>
	<li>maomao</li>
	<li>Liting</li>
	<li>Star Willy</li>
	<li>tai271828</li>
	<li>郭學聰 (Hsueh-Tsung Kuo)</li>
	<li>Zong-han, Xie</li>
	<li>Adrian</li>
	<li>Jian-Ming Huang</li>
	<li>candy02058912</li>
	<li>Yi Hsiao</li>
	<li>Yen</li>
	<li>蘇羿豪</li>
	<li>Yi-Chieh Chen</li>
	<li>Yung-Yu Chen</li>
	<li>席恩</li>
	<li>Shuen-Huei Guan</li>
	<li>Jack Pan</li>
	<li>王文傑</li>
	<li>Maurice Ling</li>
	<li>Jimmy Lai</li>
	<li>Rizky Ariestiyansyah</li>
	<li>Tim Hsu</li>
	<li>Andy Dai</li>
	<li>魏澤人</li>
</ul>
