{% load i18n %}
<table class="proposals-table table table-responsive">
	<thead>
	<tr>
		{% if not verdict %}
			<th width="1%">
				<a {% if ordering == 'review__count' %}class="active asc" href="?order=-count&category={{ category|default:'' }}"
					 {% elif ordering == '-review__count' %}class="active desc" href="?order=count&category={{ category|default:'' }}"
					 {% else %}href="?order=count&category={{ category|default:'' }}"{% endif %}>
					{% trans 'Reviewed' %}
					<i class="fa fa-sort fa-lg"></i>
					<i class="fa fa-sort-asc fa-lg"></i>
					<i class="fa fa-sort-desc fa-lg"></i>
				</a>
			</th>
		{% endif %}
		<th class="proposal-title">
			<a {% if ordering == 'title' %}class="active asc" href="?order=-title&category={{ category|default:'' }}"
				 {% elif ordering == '-title' %}class="active desc" href="?order=title&category={{ category|default:'' }}"{% else %}href="?order=title&category={{ category|default:'' }}"{% endif %}>
				{% trans 'Title' %}
				<i class="fa fa-sort fa-lg"></i>
				<i class="fa fa-sort-asc fa-lg"></i>
				<i class="fa fa-sort-desc fa-lg"></i>
			</a>
		</th>
		<th width="1%" class="hidden-md hidden-sm hidden-xs">
			<a {% if ordering == 'language' %}class="active asc" href="?order=-lang&category={{ category|default:'' }}"
				 {% elif ordering == '-language' %}class="active desc" href="?order=lang&category={{ category|default:'' }}"
				 {% else %}href="?order=lang&category={{ category|default:'' }}"{% endif %}>
				{% trans 'Lang' %}
				<i class="fa fa-sort fa-lg"></i>
				<i class="fa fa-sort-asc fa-lg"></i>
				<i class="fa fa-sort-desc fa-lg"></i>
			</a>
		</th>
		<th width="1%" class="hidden-md hidden-sm hidden-xs">
			<select onchange="javascript:location.href = `?order=${new URLSearchParams(location.search).get('order')}${this.value}`;">
				{% if not category %}
				<option value="">ALL</option>
				{% else %}
				<option value="&category={{ category }}">{{ category }}</option>
				<option value="">ALL</option>
				{% endif %}
				{% for category_option in category_options %}
				{% if category != category_option %}
				<option value="&category={{ category_option }}">{{ category_option }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</th>
		{% if verdict %}
			<th width="1%">{% trans 'Decision' %}</th>
		{% endif %}
		<th width="1%"></th>
	</tr>
	</thead>
	<tbody>
	{% for proposal in proposals %}
		{% if proposal.category == category or not category %}
		<tr>
			{% if proposal.accepted == None %}
				<td>{{ proposal.review__count }}</td>
			{% endif %}
			<td class="proposal-title">
				<div  {% if proposal.review__count > reviews_enough %} class="grayed-out" {% endif %} >{{ proposal.title }}</div>
			</td>
			<td class="hidden-md hidden-sm hidden-xs">{{ proposal.get_language_display }}</td>
			<td class="hidden-md hidden-sm hidden-xs">{{ proposal.category }}</td>
			{% if proposal.accepted != None %}
			<td class="hidden-md hidden-sm hidden-xs">{{ proposal.get_accepted_display }}</td>
			{% endif %}
			<td>
				{% if proposal.accepted == None %}
					<a href="{% url 'review_edit' proposal_pk=proposal.pk %}{% if query_string %}?{{ query_string }}{% endif %}"
						 class="btn btn-natural">{% trans 'Review' %}</a>
				{% else %}
					<a href="{% url 'review_edit' proposal_pk=proposal.pk %}{% if query_string %}?{{ query_string }}{% endif %}"
						 class="btn btn-natural">{% trans 'Read' %}</a>
				{% endif %}
			</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
