{% load i18n %}

<h3>{% trans 'Stage1' %}</h3>
<table class="proposals-table table table-responsive">
	{% include 'reviews/_includes/review_table_thead.html' %}
	<tbody>
		{% for review in reviews %}
			{% if review.stage == 1 %}
				{% include 'reviews/_includes/review_table_tbody.html' with user=user reviews=reviews show_all_comments=True %}
			{% endif %}
		{% endfor %}
	</tbody>
</table>

<h3>{% trans 'Stage2' %}</h3>
<table class="proposals-table table table-responsive">
	{% include 'reviews/_includes/review_table_thead.html' %}
	<tbody>
		{% for review in reviews %}
			{% if review.stage == 2 %}
				{% include 'reviews/_includes/review_table_tbody.html' with user=user reviews=reviews show_all_comments=True %}
			{% endif %}
		{% endfor %}
	</tbody>
</table>
