{% load i18n %}

<p>{% blocktrans trimmed %}
	After the stage 1 review, some proposals that have been accepted or rejected
	will show in a separate tab along with their reviews (read-only).
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
	In review stage 2, you will see scores and comments made by other reviewers
	anonymously, including the name and background of the submitter. With more
	information provided, you may want to update your review. Updating or adding
	review in stage 2 follows the same way as stage 1, but only the last
	review you made will be disclosed to the submitter (if you choose to do so).
{% endblocktrans %}</p>
