{% load i18n %}

<tr class="{% if review.is_outdated %}info{% endif %}">
    <td>{{ review.stage }}</td>
    <td style="padding-right: 0px;">{{ review.get_vote_display }}</td>
    <td class="proposal-title {% if review.is_outdated %}unread{% endif %}" style="padding-right: 0px;">
        <div>
            {{ review.proposal.title }}
        </div>
    </td>
    <td class="hidden-xs">{{ review.comment|truncatechars:20 }}</td>
    <td>
        <a href="{% url 'review_edit' proposal_pk=review.proposal.pk %}{% if query_string %}?{{ query_string }}{% endif %}"
            class="btn btn-natural btn-reactivate">{% trans 'Update' %}</a>
    </td>
</tr>