{% load i18n %}

<table class="proposals-table table table-responsive">
	<thead>
		<tr>
			<th width="1%">{% trans 'Stage' %}</th>
			<th width="1%">{% trans 'Reviewer' %}</th>
			<th width="1%">{% trans 'Vote' %}</th>
			<th class="proposal-title">{% trans 'Title' %}</th>
			<th width="1%" class="hidden-xs">{% trans 'Comment' %}</th>
			<th width="1%"></th>
		</tr>
	</thead>
	<tbody>
		{% for review in reviews %}
			<tr class="{% if review.is_outdated %}info{% endif %}">
				<td>{{ review.stage }}</td>
				<td>{{ review.md5_reviewer }}</td>
				<td>{{ review.get_vote_display }}</td>
				<td class="proposal-title {% if review.is_outdated %}unread{% endif %}">
					{{ review.proposal.title }}
				</td>
				<td class="hidden-xs">{{ review.comment|truncatechars:20 }}</td>
				<td>
					<a href="{% url 'review_edit' proposal_pk=review.proposal.pk %}{% if query_string %}?{{ query_string }}{% endif %}" class="btn btn-natural btn-reactivate">{% trans 'Update' %}</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
