{% load i18n %}

<p>{% blocktrans trimmed %}
	After review stage 1, some of the proposals have been accepted or rejected.
	These proposals and their reviews (read-only) are shown in the separate tab.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
	In review stage 2, you will see score and comment made by other reviewers
	anonymously, including the name and background of the speaker. With more
	information provided, you may want to update your review. Updating or adding
	review in stage 2 follows the same way as stage 1. Only the last review you
	made will be disclosed to the speaker (if you choose to).
{% endblocktrans %}</p>
