{% extends 'contents/_base/speaking.html' %}

{% block title %}如何投稿議程{% endblock %}
{% block page_title %}<h1>如何投稿議程（Talk）？</h1>{% endblock page_title %}

{% block content %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url "user_dashboard" as dashboard_url %}

<article>
	<p>
		一般徵稿資訊，請至<ahref="{{ speaking_cfp_url }}">稿件徵求</a>。
	</p>

	<p>
		首先感謝您考慮投稿於 PyCon 台灣 2017。下面將會幫助您成功地送出一份投稿。
	  我們將會提供一些訣竅使得您的投稿資訊更加豐富與精實並有更高的機率通過審稿。
	</p>

	<p>
		在投稿之前，一般而言將從下面幾個方面展開您的思路。
	</p>

	<ul>
		<li>主題？</li>
		<li>目標觀眾群？</li>
		<li>觀眾群在議程後能得到什麼收穫？</li>
		<li>議程時間管理？</li>
	</ul>
	<br />
	<p>
		您將填寫以下欄位於投稿表單中：
	</p>

	<ul>
		<li>題目</li>
		<li>類型</li>
	  <li>分類</li>
		<li>時間長度</li>
		<li>語言</li>
	  <li>審稿使用語言</li>
		<li>摘要</li>
		<li>難易度</li>
		<li>演講目標</li>
		<li>詳細講題說明（選填）</li>
		<li>大綱（選填）</li>
		<li>補充資訊（選填）</li>
		<li>議程錄影</li>
		<li>投影片連結（選填）</li>
	</ul>
	<br />
	<p>
	  看起來有很多欄位需要填寫，您可以略過選填的欄位，其他的欄位大約會填上五百個字左右。
	  儘管如此，我們建議您儘可能填寫所有的欄位協助審核人員了解您投稿的內容。
	</p>

	<p>
		有些欄位只會顯示給審核人員，您無須擔心被濫用。
	</p>

	<ul>
		<li>演講目標</li>
		<li>大綱</li>
		<li>補充連結</li>
	</ul>
	<br />
	<p>
	    接下來我們將會在各個方面給您更多的建議。
	</p>
</article>

<h2><span>主題與一般建議</span></h2>

<article>
<p>您可以找到許多被接受的議程在過去的 PyCon 中。</p>
	<ul>
		<li><a href="//tw.pycon.org/2015apac/en/schedule/" target="_blank">PyCon
				APAC 2015</a></li>
		<li><a href="//tw.pycon.org/2014apac/en/program/" target="_blank">PyCon
				APAC 2014</a></li>
		<li><a href="//tw.pycon.org/2013/en/program/" target="_blank">PyCon
				TW 2013</a></li>
	</ul>
	<br />
	<p>在本頁的最後也提供一些投稿與其對應難易度的例子。</p>

<h3>好的議程投稿</h3>
<ul>
	<li>摘要與議程詳細說明應包含但不限於：</li>
	<ul>
		<li>
			你的目標聽眾是誰？是否需要什麼背景知識？又或者是否需要特定專業領域的知識？
		</li>
		<li>
			聽眾在議程之後將會得到哪些收穫？
		</li>
	</ul>
	<li>
		請在大綱中詳細列出此議程的各段大綱與估計的時間長度。
	</li>
	<li>
		如果您的主題，對於Python 使用者而言並不常見，請確保您能透過連結、部落格、維基、原始碼或者其他有於瞭解內容的資料中提供足夠的資訊。
	</li>
</ul>
<br />
<h3>不好的議程投稿</h3>
<ul>
	<li>
		<p>避免流於廣告。</p>
		<p>議程不該僅止於促銷您的產品或者是如何使用您的產品儘管如此，
      PyConTW仍然歡迎您分享在您公司中用來解決問題並能夠給予一般會眾收穫的專案內容。</p>
	</li>
	<li>
		<p>請務必提交完整的投稿。請勿假設審稿人員都認識您。</p>
	</li>
</ul>
</article>

<h2><span>如何選擇難易度？</span></h2>
<article>
	<p>選擇一個合適的難易度是非常重要的。</p>

	<p>
		您的議程不會因為很艱深或者極為簡單而被接受。議程被接受與選擇符合的難易度與目標觀眾群相關。
	</p>

	<p>
		如果您的議程目標是給第一次接觸 Python 的族群，而且內容是關於使用 Python 的經驗跟解決你所面對的問題，
	  這將是個合適的投稿。如果您的議程是剖析 Python 記憶體的使用與垃圾回收機制中指標的重用如何運作，
	  但你選擇的難易度為初級或中級，這將不會增加您投稿入選的機率。
	</p>

	<p>
	  要決定極端的例子是很容易的（如上面的例子），但主題可能介於某兩種難度之間，因此我們在下面會給您更多的描述來找到適合的難度。
	</p>

	<h4>初級</h4>
	<p>
		目標群眾僅有鮮少或沒有任何 Python 相關的知識。你可以預期他們懂 Python 基本語法與控制敘述
	  （例如：if-else，迴圈，函式）的基本知識。但不可以假設他們有任何基本函式庫中的模組的知識、變數可視範圍的知識，
	  或者物件導向程式設計與物件繼承的知識。
	</p>

	<p>
		分享您學習 Python 的經驗是非常適合這個難易度的。一般而言，非基本函式庫中的所有模組都不屬於初級難度，
	  除非會眾能夠在議程之後學習到所有議程中的內容。
	</p>

	<h4>中級</h4>
	<p>
		相比於初級難度，中級議程的應用會更為多元。中級議程是針對了解 Python 如何運作並想知道更多 Python 實際應用的會眾。
	  議程範疇包括網頁框架的建置，與資料庫互動，監控網頁流量，自動股市交易等等。
	</p>

	<p>
		過去幾年的投稿中過半數的議程都是屬於這個難度。另外我們也有可能根據您投稿內容聯繫您調整難度到初級或進階。
	</p>


	<h4>進階</h4>
	<p>
		參與進階難度議程的會眾被預期有好的 Python 程式能力背景。
	</p>

	<p>
		進階跟中級議程最主要的不同是在於，進階議程的主題有更多專業領域的知識。舉例來說，關於最佳化的內容或者工具
	  的內部的實作細節將會屬於這個難度。
	</p>
</article>

<h2><span>一些投稿範例</span></h2>
<h3>初級</h3>
<pre>
題目：　　　　　　使用 Python 讓管理電腦資料更容易
分類：　　　　　　Python Core
時間長度：　　　　25 min
語言：　　　　　　中文
Python 難易度：　Novice

摘要：

	對於現代人來說，電腦裡的資料相當於是外部記憶存放區。不論是日常的照片、音
	樂、影片，或者辦公、就學、研究產生的資料， 通通都放在電腦裡。經年累月下來，
	電腦資料夾就長期處於混沌狀態。又或者，拿到一系列的檔案，卻只能用檔案總管一
	個一個改。有沒有更好的做法？在這個演講中，將會介紹如何用 Python 以及內建的
	pathlib 模組「程式化」地管理目錄與檔案，並藉由簡單至複雜案例，最後結合
	Python 迴圈與排序技巧完成複雜的檔案重新歸類。

目標：

	針對初學 Python 、想試著用程式解決生活問題的人。
	我在初學寫程式的時候，並不知道程式可以用在哪裡。乍聽之下很怪，但因為一開始
	自己會的東西很有限， 像是架網站、資料分析的門檻對我來說都太高了。

	但我發現整理電腦裡面的的資料，是個很實用的切入點， 一開始能很簡單就看出效
	果，最後的確也能完成用人工很難做到的問題。這種漸近式的學習過程，應該對初學
	程式的人有幫助。

詳細講題說明（選填）：

	最後的案例分享，將一系列有標註日期檔名的照片，移動到已經有資料的
	「年 / 月」 目錄底下，並且按照時間先後重新依序命名照片。

大綱（選填）：

	1. 資料整理的常見狀況 [5 min]
	2. pathlib 模組設計介紹 [10 min]
		- 運用 Path 物件
		- 目錄結構探索 Path.iterdir(), .glob()
		- 使用 Path 更動路徑
	3. 結合 for 迴圈與排序 [5 min]
		- sorted(key=<lambda fun>) 用法
		- 整合 enumerated, zip 同時處理多個關連檔案
	4. 案例分享  [5 min]

補充資訊（選填）：None
議程錄影：　　　　Yes
投影片連結：　　　None</pre>

<h3>中級</h3>
<pre>
題目：　　　　　　自動處理部落格照片與加工
分類：　　　　　　圖像處理
時間長度：　　　　25 min
語言：　　　　　　中文
Python 難易度：　中階

摘要：

	現在的照片中都有內含拍攝時的資訊，稱為 EXIF。在建構一個以遊記、自然攝影的部
	落格時，需要把照片中的 EXIF 一些欄位整理在文章中照片的下方，如相機機型、鏡
	頭、光圈、快門、GPS 等訊息，有時也需要加註在浮水印之中。本演講將建立一個自
	動化處理 EXIF 的流程。首先介紹 exiftool 的使用，並且結合 Pillow 達到浮水印
	的效果。最後以 Pelican 這個部落格框架為例，建立一個 Pelican 擴充套件來完成
	自動處理所有放在文章的照片。

目標：

	針對需要批次處理照片並利用其 EXIF 做額外處理的人，並以 Pelican 此 blog 框架
	示範實際整合的情況。

	寫部落格文章時，發現處理照片相關的操作花上非常多時間，因此希望能讓聽眾了解
	如何建立一個自動處理照片的流程，更加專心在文章的內容上。會希望會眾能知道
	如何使用 Python 處理 EXIF 與影像加工，以及 Pelican 擴充套件的架構。

詳細講題說明（選填）：

	### 使用的第三方工具：

	- [exiftool] 為分析照片 EXIF 的 Perl 工具
	- [Pillow] 為 Python 影像處理工具，前身為 PIL (Python Image Library)
	- [Pelican] 為 Python 的 static site generator

	[exiftool]: http://www.sno.phy.queensu.ca/~phil/exiftool/
	[Pillow]: http://python-pillow.github.io/
	[Pelican]: http://blog.getpelican.com/

大綱（選填）：

	1. 簡介 EXIF 與 exiftool [5min]
	2. Pillow 使用及如何用它加上浮水印 [5min]
		- 字型的選用
		- 排版的一致性
	3. 自動化 [5min]
		- 使用 stdlib 架出一個 batch 處理流程
		- 搭配 joblib 或 multiprocessing 達成平行化
	4. 舉例（使用 Pelican）[5min]
		- 簡介 Pelican 擴充方式（template tag 與 signal 的搭配）
		- 成果
	5. Q&A [5min]

補充資訊（選填）：

	Taipei.py 的講者，以前講過的主題有：

		- [Pillow 影像處理簡介](/link/to/slides)
		- [使用 Pelican 架設部落格](/link/to/slides)

議程錄影：　　　　　Yes
投影片連結：　　　　None</pre>
{% endblock content %}
