{% extends 'contents/_base/speaking.html' %}

{% block title %}如何投稿議程{% endblock %}
{% block page_title %}<h1>如何投稿議程（Talk）？</h1>{% endblock page_title %}

{% block content %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url "user_dashboard" as dashboard_url %}

<h1><span>如何投稿演講（Talk）？</span></h1>
<article>
	<p>
		有關投稿的整體流程說明，請參考 <a href="{{ speaking_cfp_url }}">投稿募集</a> 頁面。
	</p>

	<p>
		首先，感謝您投稿 PyCon Taiwan 2017！
	</p>
	<p>
		下面將會幫助您成功地送出一份投稿。我們將會提供一些訣竅使得您的投稿資訊更加完整豐富且具吸引力，並有更高的機率通過審稿。從大方向來說，在投稿之前將從下面幾個方面與問題展開您的思路：
	</p>

	<ul>
		<li>投稿的主題是？</li>
		<li>誰是您的目標觀眾群？</li>
		<li>聽眾群在演講後能得到什麼收穫？</li>
		<li>如何在時間限制內組識這演講？</li>
	</ul>
	<br />

	<p>
		思考完這些問題後，就可以準備投稿了！投稿表單有以下欄位：
	</p>

	<ul>
		<li>題目</li>
	  <li>分類</li>
		<li>時間長度</li>
		<li>語言</li>
		<li>摘要</li>
		<li>Python 難易度</li>
		<li>演講目標</li>
		<li>詳細講題說明（選填）</li>
		<li>大綱（選填）</li>
		<li>補充資訊（選填）</li>
		<li>議程錄影</li>
		<li>投影片連結（選填）</li>
	</ul>
	<br />
	<p>
	  看起來有很多欄位需要填寫吧。嗯⋯⋯不過如果您跳過所有選填的欄位的話，那麼整個投稿就只需要約 500 字就能完成。儘管如此，我們依舊鼓勵您儘可能填寫與完成所有的欄位，這能協助審核人員了解您投稿的內容與想法。
	</p>

	<p>
		這些欄位中，有些只開放讓審查人員和議程組看得到，不會公開，因此不用在意會有破梗的問題。這些不公開的欄位有：
	</p>

	<ul>
		<li>演講目標</li>
		<li>大綱</li>
		<li>補充連結</li>
	</ul>
	<br />
	<p>
		這樣已經簡介了投稿的內容。如果您是很有經驗的講者，可以直接進入 <a href="{{ dashboard_url }}">控制面版</a> 投稿囉！
	</p>
	<p>
		如果這是您第一次投稿或不太了解在 PyCon 演講的方式，請繼續閱讀。接下來，我們將針對投稿不同面向提供更多的建議。
	</p>
</article>


<h2><span>主題與一般建議</span></h2>
<article>
	<p>
		在判斷題目適不適合 PyCon Taiwan 時，可以先看看過去幾屆有哪些被接受的講題：
	</p>
	<ul>
		<li><a href="tw.pycon.org/2016/zh-hant/events/schedule/" target="_blank">
			PyCon TW 2016</a></li>
		<li><a href="//tw.pycon.org/2015apac/en/schedule/" target="_blank">PyCon
				APAC 2015</a></li>
		<li><a href="//tw.pycon.org/2014apac/en/program/" target="_blank">PyCon
				APAC 2014</a></li>
		<li><a href="//tw.pycon.org/2013/en/program/" target="_blank">PyCon
				TW 2013</a></li>
	</ul>
	<br />

	<h3>投稿好主意</h3>
	<h4>摘要、詳細講題說明中應能回答以下幾點問題（但不受限於):</h4>
		<p>誰是你的目標聽眾？</p>
		<p>演講之前是否需要什麼背景知識？</p>
		<p>又或者是否需要事先了解某些特定領域的專業知識（domain knowledge）？</p>
		<p>聽眾在演講之後將會得到哪些收穫？</p>
	<h4>雖然不盡然所有的講題都要採取破題法的方式，但建議題目與摘要需具備關聯性，在摘要時儘可能能夠清楚呼應到您的講題。</h4>
	<h4>內容應該具備原創性並能夠清楚的讓審查員與會眾瞭解您的原創內容屬於哪一部分。</h4>
	<h4>請在大綱中詳細列出此議程的各段大綱與預估所需要的時間。
	</h4>
	<h4>如果您的主題，對於Python 使用者而言並不常見，請確保您能將相關介紹內容透過連結、部落格、維基、程式碼或者其他有於瞭解內容的資料中提供足夠的資訊。這能幫助審查者以及會眾了解您的演講。</h4>
	<br />

	<h3>投稿不推薦的主意</h3>
	<h4>避免流於資訊型廣告（infomercials）。</h4>
		<p>議程不該僅止於促銷您的產品或者是介紹如何使用您的產品。儘管如此，PyConTW 仍然非常歡迎分享在您公司遭遇的問題與解決問題方法、貴公司維護的專案內容或是可以給予聽眾收穫的開源專案內容。</p>
	<h4>請勿假設審稿人員都認識您。請務必提交完整以及足夠資訊的稿件。</h4>
	<h4>避免抄襲他人的成果與經驗。歡迎各種形式的分享，但應清楚說明哪部分屬於原創內容與參考內容。</h4>
</article>

<h2><span>如何設定投稿的 Python 難易度？</span></h2>
<article>
	<p>選擇一個合適的 Python 難易度是<strong>非常重要的</strong>。</p>

	<p>
		您的投稿不會因為過於艱深或者極為簡單而被接受。投稿的接受與否會取決於您所設定的 Python 難易度與目標聽眾是否相關而決定。
	</p>

	<p>
		如果您的演講目標是給第一次接觸 Python 的初學者，而且內容是關於使用 Python 的經驗跟分享如何解決你所面對的問題，這將是個合適的投稿。但如果您的演講是剖析 Python 記憶體的使用與垃圾回收機制中指標的重用管理，最後結合兩個 GC 系統並且互傳指標，而你所選擇的難易度為初階或中階，這就不會是個好主意。此時就直接設定為進階，然後隨心所欲地分享吧！
	</p>

	<p>
	  上述的舉例分別是兩個極端的狀況，要判斷難易度十分容易。但如果分享的主題是介於兩端之間，有時就不這麼好決定。因此，我們底下提供了更多說明去幫助您找到合適的分類。
	</p>

	<h3><span>初階</span></h3>
	<p>
		目標群眾僅有鮮少或沒有任何 Python 相關的知識。你可以預期他們懂 Python 基本語法、程式控制流程（例如：if-else，迴圈，函式等）的基本知識。但不可以假設他們有任何基本函式庫中的模組的知識、變數可視範圍的知識，或者物件導向程式設計與物件繼承的知識一些比較進階概念（如：變數可見範圍、物件的 MRO 繼承關係等）。
	</p>

	<p>
		這個難易度適合分享您學習 Python 的經驗、如何經營社群。一般而言，非基本函式庫中的所有模組都不屬於初級難度，除非會眾能在演講中就能完全學會使用，否則關於 Python 第三方套件的使用（如：pandas、Django）不能被歸類為入門的演講。
	</p>

	<h3><span>中階</span></h3>
	<p>
		相比於初階難度，中階演講的應用會更為多元。中階演講適合對了解 Python 如何運作與使用 Python 並想知道更多 Python 實際應用的聽眾。演講範疇包括建置網站（與框架）、資料庫溝通互動、監控網路流量、股票市場中的程式交易、科學計算等等。
	</p>

	<p>
		根據往年投稿經驗，過去幾年的投稿中約有半數的演講都是屬於這個難度。另外也請注意，審稿過程中，也有可能根據您投稿內容給魚您建議調整難度到初階或進階。
	</p>

	<h3><span>進階</span></h3>
	<p>
		會參與的會眾都已經對 Python 與程式開發非常熟悉。
	</p>

	<p>
		進階相較於中階的演講，最主要的差別為進階的演講會需要更多或更專精的背景知識（domain knowledge）來了解該主題。例如：效能的優化、工具的內部實作可能會在此難易度。
	</p>
</article>
{% endblock content %}
