{% extends 'contents/_base/speaking.html' %}

{% block title %}如何投稿議程{% endblock %}
{% block page_title %}<h1>如何投稿議程（Talk）？</h1>{% endblock page_title %}

{% block content %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url "user_dashboard" as dashboard_url %}

<h1><span>如何投稿演講（Talk）？</span></h1>
<article>
	<p>
		一般徵稿資訊，請至<ahref="{{ speaking_cfp_url }}">稿件徵求</a>。
	</p>

	<p>
		首先感謝您考慮投稿於 PyCon 台灣 2017。下面將會幫助您成功地送出一份投稿。
	  我們將會提供一些訣竅使得您的投稿資訊更加豐富與精實並有更高的機率通過審稿。
	</p>

	<p>
		在投稿之前，一般而言將從下面幾個方面展開您的思路。
	</p>

	<ul>
		<li>主題？</li>
		<li>目標觀眾群？</li>
		<li>觀眾群在議程後能得到什麼收穫？</li>
		<li>議程時間管理？</li>
	</ul>
	<br />
	<p>
		您將填寫以下欄位於投稿表單中：
	</p>

	<ul>
		<li>題目</li>
		<li>類型</li>
	  <li>分類</li>
		<li>時間長度</li>
		<li>語言</li>
	  <li>審稿使用語言</li>
		<li>摘要</li>
		<li>難易度</li>
		<li>演講目標</li>
		<li>詳細講題說明（選填）</li>
		<li>大綱（選填）</li>
		<li>補充資訊（選填）</li>
		<li>議程錄影</li>
		<li>投影片連結（選填）</li>
	</ul>
	<br />
	<p>
	  看起來有很多欄位需要填寫，您可以略過選填的欄位，其他的欄位大約會填上五百個字左右。
	  儘管如此，我們建議您儘可能填寫所有的欄位協助審核人員了解您投稿的內容。
	</p>

	<p>
		有些欄位只會顯示給審核人員，您無須擔心被濫用。
	</p>

	<ul>
		<li>演講目標</li>
		<li>大綱</li>
		<li>補充連結</li>
	</ul>
	<br />
	<p>
	    接下來我們將會在各個方面給您更多的建議。
	</p>
</article>

<h2><span>主題與一般建議</span></h2>

<article>
<p>您可以找到許多被接受的議程在過去的 PyCon 中。</p>
	<ul>
		<li><a href="tw.pycon.org/2016/zh-hant/events/schedule/" target="_blank">
			PyCon TW 2016</a></li>
		<li><a href="//tw.pycon.org/2015apac/en/schedule/" target="_blank">PyCon
				APAC 2015</a></li>
		<li><a href="//tw.pycon.org/2014apac/en/program/" target="_blank">PyCon
				APAC 2014</a></li>
		<li><a href="//tw.pycon.org/2013/en/program/" target="_blank">PyCon
				TW 2013</a></li>
	</ul>
	<br />
	<p>在本頁的最後也提供一些投稿與其對應難易度的例子。</p>

<h3>好的議程投稿</h3>
<ul>
	<li>摘要與議程詳細說明應包含但不限於：</li>
	<ul>
		<li>
			你的目標聽眾是誰？是否需要什麼背景知識？又或者是否需要特定專業領域的知識？
		</li>
		<li>
			聽眾在議程之後將會得到哪些收穫？
		</li>
	</ul>
	<li>
		請在大綱中詳細列出此議程的各段大綱與估計的時間長度。
	</li>
	<li>
		如果您的主題，對於Python 使用者而言並不常見，請確保您能透過連結、部落格、維基、原始碼或者其他有於瞭解內容的資料中提供足夠的資訊。
	</li>
</ul>
<br />

<h3>不好的議程投稿</h3>
<ul>
	<li>
		<p>避免流於廣告。</p>
		<p>議程不該僅止於促銷您的產品或者是如何使用您的產品儘管如此，
      PyConTW仍然歡迎您分享在您公司中用來解決問題並能夠給予一般會眾收穫的專案內容。</p>
	</li>
	<li>
		<p>請務必提交完整的投稿。請勿假設審稿人員都認識您。</p>
	</li>
</ul>
</article>

<h2><span>如何選擇難易度？</span></h2>
<article>
	<p>選擇一個合適的難易度是非常重要的。</p>

	<p>
		您的議程不會因為很艱深或者極為簡單而被接受。議程被接受與選擇符合的難易度與目標觀眾群相關。
	</p>

	<p>
		如果您的議程目標是給第一次接觸 Python 的族群，而且內容是關於使用 Python 的經驗跟解決你所面對的問題，
	  這將是個合適的投稿。如果您的議程是剖析 Python 記憶體的使用與垃圾回收機制中指標的重用如何運作，
	  但你選擇的難易度為初級或中級，這將不會增加您投稿入選的機率。
	</p>

	<p>
	  要決定極端的例子是很容易的（如上面的例子），但主題可能介於某兩種難度之間，因此我們在下面會給您更多的描述來找到適合的難度。
	</p>

	<h3><span>初級</span></h3>
	<p>
		目標群眾僅有鮮少或沒有任何 Python 相關的知識。你可以預期他們懂 Python 基本語法與控制敘述
	  （例如：if-else，迴圈，函式）的基本知識。但不可以假設他們有任何基本函式庫中的模組的知識、變數可視範圍的知識，
	  或者物件導向程式設計與物件繼承的知識。
	</p>

	<p>
		分享您學習 Python 的經驗是非常適合這個難易度的。一般而言，非基本函式庫中的所有模組都不屬於初級難度，
	  除非會眾能夠在議程之後學習到所有議程中的內容。
	</p>

	<h3><span>中級</span></h3>
	<p>
		相比於初級難度，中級議程的應用會更為多元。中級議程是針對了解 Python 如何運作並想知道更多 Python 實際應用的會眾。
	  議程範疇包括網頁框架的建置，與資料庫互動，監控網頁流量，自動股市交易等等。
	</p>

	<p>
		過去幾年的投稿中過半數的議程都是屬於這個難度。另外我們也有可能根據您投稿內容聯繫您調整難度到初級或進階。
	</p>

	<h3><span>進階</span></h3>
	<p>
		參與進階難度議程的會眾被預期有好的 Python 程式能力背景。
	</p>

	<p>
		進階跟中級議程最主要的不同是在於，進階議程的主題有更多專業領域的知識。舉例來說，關於最佳化的內容或者工具
	  的內部的實作細節將會屬於這個難度。
	</p>
</article>
{% endblock content %}
