{% extends 'contents/_base/speaking.html' %}
{% block title %}非正式會議投稿{% endblock title %}
{% block page_title %}<h1>如何投稿非正式會議（Unconference Talk）？</h1>{% endblock page_title %}

{% block content %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url 'page' path='speaking/talk' as speaking_talk_url %}

<h1><span>如何投稿非正式會議（Unconference Talk）？</span></h1>
<article>
  <p>
    和一般議程比起來，非正式會議較不拘束，歡迎各種議題和各種形式的演講、討論、意見交流等，且議程是由會眾直接投票決定。因此非正式會議的投稿相較下簡單很多。
  </p>
  <p>
  	Unconference talk 長度為 20 minutes. 因此我們希望 Unconference talk 內容儘量是一個心得、經驗的分享，也請注意 20 minutes 包含與會眾的 Q&amp;A 時間。Unconference talk 可以使用<em>中文、英文或是台語</em>。
	</p>
	<p>
	  一個 Unconference talk 可以以任何方式進行，講者可以自由發揮的使用該空間與時間，且大會對於 Unconference 不做任何錄影和記錄，歡迎參與這個比起正規議程來得更刺激性的議題討論。
	</p>
  <p>
      註：「各種」議題和「各種」內容是基於不違反 PyCon Taiwan 行為準則之下。
  </p>
</article>

<h2><span>投稿格式</span></h2>
<article>
  <ul>
  	<li>題目</li>
  	<li>摘要</li>
  </ul>
</article>
{% endblock content %}
