{% extends 'contents/_base/speaking.html' %}

{% block title %}非正式會議投稿{% endblock title %}
{% block page_title %}<h1>如何投稿非正式會議（Unconference Talk）？</h1>{% endblock page_title %}

{% block content %}
    {% url 'page' path='speaking/cfp' as speaking_cfp_url %}
    {% url 'page' path='speaking/talk' as speaking_talk_url %}

    <h1><span>如何投稿非正式會議（Unconference Talk）？</span></h1>
    <article>
      <p>
          和一般議程比起來，非正式會議較不拘束，歡迎各種議題和各種形式的演講、討論、意見交流等，
          且議程是由會眾直接投票決定。因此非正式會議的投稿相較下簡單很多。
      </p>
      <p>
          註：「各種」議題和「各種」內容是基於不違反 PyCon Taiwan 行為準則之下。
      </p>
    </article>

    <h2><span>投稿格式</span></h2>
    <article>
      <ul>
      	<li>題目</li>
      	<li>摘要</li>
      </ul>
    </article>

{% endblock content %}
