{% load static %}

<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>{% block title %}{% endblock title %}</title>

<style>
html { margin: 0; height: 100%; overflow: hidden; }
iframe { position: absolute; left: 0; right: 0; bottom: 0; top: 0; border: 0; }
</style>

</head>

<body>

<iframe id="typeform-full" width="100%" height="100%" frameborder="0" src="https://pycontaiwan.typeform.com/to/pYZNOF"></iframe>
<script type="text/javascript" src="https://embed.typeform.com/embed.js"></script>

{% if GA_TRACK_ID %}
<script>GA_TRACK_ID = '{{ GA_TRACK_ID }}';</script>
<script src="{% static 'js/vendors/google_analytics.js' %}"></script>
{% endif %}

</body>

</html>
