
{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}Tainan.py x MOSUT Co-hosting Online/Offline Meet-up Streaming{% endblock title %}

{% block meta_description %}An online/offline meet-up streaming event co-hosted by Tainan.py x MOSUT{% endblock meta_description %}


{% block content %}

<section class="pill-title alt">
    <h1>Tainan.py x MOSUT Co-hosting Online/Offline Meet-up Streaming</h1>
</section>

<p>Our last warm up session takes place a week before PyCon Taiwan 2020, right at where the tutorials will be hosted during the actual event.</p>

<ul>
    <li class="event-info">
        <b>Event Time</b><br />
        Saturday, August 29, 2020
				2:00 PM to 5:00 PM GMT+8
    </li>
    <li class="event-info">
        <b>Event Info</b><br />
        Youtube Streaming（
        <a href="https://www.youtube.com/watch?v=BGxC-mWSLu0" target="_blank" rel="noopener">
            streaming link
        </a>
			  ）
    </li>
    <li class="event-info">
        <b>Physical Meet-up</b><br />
        <a href="https://www.meetup.com/Tainan-py-Python-Tainan-User-Group/events/272270687" target="_blank" rel="noopener">Goodideas Studio</a> Section 2, Beimen Road · East District
    </li>
</ul>

<h2>About the Community Host <a href="https://www.meetup.com/Tainan-py-Python-Tainan-User-Group" target="_blank" rel="noopener">Tainan.py - Python Tainan User Group</a></h2>
<p>We welcome those who in southern Taiwan to join us to share, have fun, meet people and see the beauty in Python with us.</p>

<h2>Agenda</h2>
<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Event</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>-</td>
			<td>Eric - Building an end-to-end natural language processing framework</td>
		</tr>
		<tr>
			<td>-</td>
			<td>Wei Lee - commitizen-tools: What can we gain from crafting a git message convention?</td>
		</tr>
		<tr>
			<td>-</td>
			<td>Free sharing</td>
		</tr>
	</tbody>
</table>

{% endblock content %}
