.portal-page {
	$buy-button-max-width: 240px;
	text-align: center;

	.portal-cards {
		.card {
			margin: 8px auto 16px auto;
			text-align: center;
			a {
				@include button(276deg, $dark-peach, $maize);
				display: inline-block;
				width: 100%;
				@include on-desktop() {
					max-width: $buy-button-max-width;
				}
			}
			&:nth-of-type(2n+1) a {
				@include button(276deg, $dark-peach, $maize);
			}
			&:nth-of-type(2n+2) a {
				@include button(259deg, $azure, $ultramarine-blue);
			}
		}
	}

}
