$color-info: rgba(25, 38, 96, 0.03);
$color-background: $pale-grey;
$color-label: rgba(25, 38, 96, 0.08);
$icon-width: 60px;
$spacing: 0.75rem;

@mixin font-normal($font-family) {
	font-family: $font-family;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}

.icon-info {
	background-color: $color-background;
	margin-bottom: 80px;
	width: 100%;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	> .icon-group {

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		> .icon-block {
			margin: 0.5rem 0;
			display: flex;
			span {
				@include font-normal(NotoSansTC);
				font-size: 16px;
				color: var(--black);
				display: flex;
				justify-content: flex-start;
				padding-left: 1rem;
				> img {
					margin-right: 12px;
				}
			}
		}
	}
	> .icon-group:first-child {
		flex-direction: column;
		> .icon-block {
			justify-content: space-around;
			span {
				width: 50%;
			}
		}
	}
	> .icon-group:last-child {
		flex-direction: row;
		align-items: flex-start;
		.icon-block {
			flex-direction: column;
			width: 50%;
		}
	}
}

@include on-desktop {
	.icon-info {
		flex-direction: row;
		justify-content: flex-start;

		> .icon-group {
				width: 50%;
			> .icon-block {
				justify-content: space-around;
				span {
					padding-left: 0;
					> img {
						margin-right: 16px;
					}
				}
			}
		}
		> .icon-group-1 {
			> .icon-block {
				span {
					width: auto;
				}
			}
		}
		> .icon-group-2 {
			.icon-block {
				width: auto;
			}
		}
	}
}

.schedule {
	// override tabbing padding
	.tabbing > *:not(.tabs) {
		padding: 16px 8px 11px 8px;
	}

	.time-table {

		display: block;
		text-align: center;
		border-radius: 2px;
		border-collapse: collapse;
		background-color: $color-background;
		background-color: var(--pale-grey);
		width: 100%;
		font-size: 14px;

		thead, tfoot {
				display: none;
		}
		tbody {
			display: block;
		}

		tr {
			display: block;
			margin-bottom: 18px;

			> th {
				padding: 0.5rem;
				border-radius: 2px;
			}

			> .time-table-time {
				display: none;
			}

			> .time-stack-time {
				background-color: $color-label;
				@include font-normal(Raleway);
				line-height: 1.93;
				font-size: 14px;
				color: #333333;
				color: var(--black);
			}

			> td {
				display: flex;
				align-items: stretch;
				justify-content: space-between;
				padding: 0;

				.time-stack-ribbon {
					flex: 0 0 auto;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 4px;
					background-color: $color-label;

					@include font-normal(Raleway);
					font-size: 14px;
					line-height: 1.93;
					color: #333333;
					color: var(--black);
					margin-top: 4px;
					width: 34px;
				}

				.event-info {
					flex: 1 1 auto;
					margin-top: 4px;
					background-color: $color-info;
					border-radius: 2px;
					line-height: 1.69;
					padding: 0.5rem;


				}

				.custom {
					font-family: Raleway;
				}

				.talk-tags {
					display: table;
					margin: auto;
					border-spacing: 4px;
					border-collapse: separate;

					img {
						display: inline-block;
						height: 25px;
							width: 23px;
						// margin-right: $spacing;

						@mixin icon($name, $margin-top: 0) {
							background: url('../assets/icon-#{$name}.svg') top right no-repeat;
							margin-left: 5px;

						}

						&.language {
							width: 60px;
							&.enen {
								@include icon('language-enen');
							}
							&.zhzh {
								@include icon('language-zhzh');
							}
							&.zhen {
								@include icon('language-zhen');
							}
						}
						&.python-level {
							&.novice {
								@include icon('level-1');
							}
							&.intermediate {
								@include icon('level-2');
							}
							&.experienced {
								@include icon('level-3');
							}
						}
						&.recording-no {
							@include icon('no-recording');
						}
					}
				}
			}

			> th, > td {
				display: block;
				height: auto;
				margin: 0;
				font-size: 16px;

				&.keynote {
	        font-size: 14px;
					.keynote-speaker {
						display: inline;
						font-family: NotoSansTC;
	        }
	      }

	      &.talk {
					display: flex;
					p {
						font-size: 14px;
	          margin-bottom: 8px;
	          &.talk-title {
	            margin-bottom: 14px;
	          }
	        }
	      }

	      p {
					font-size: 16px;
	        // color: $color-label;

					&:last-child {
						margin-bottom: 0;
	        }
	        a, .schedule-label {
						// color: $color-label;

	          &:hover {
							text-decoration: none;
							opacity: 0.8;
						}
	        }
	      }

	      .time-stack-ribbon {
					display: flex;
					flex: 0 0 auto;
					align-items: center;
					justify-content: center;
					padding: 0 4px;

	      }
			}
		}
	}



	@include on-desktop {
		.time-table {
		  tr {
				display: flex;
				align-items: stretch;
				margin-bottom: 0px;

				> th, > td {
					// flex
					display: flex;
		      flex: 1 0 0;
		      align-content: center;
					align-items: center;
		      justify-content: space-around;
					border: 2px solid $color-background;
					background-color: $color-info;

					&.talk {
						align-items: baseline;
					}

					.event-info {
						padding: 10px 12px;
						display: flex;
						height: 90%;
						flex-direction: column;
						align-items: center;
						justify-content: space-around;
						background-color: rgba(0, 0, 0, 0);
						p {
							margin: 0 auto;
							&.talk-title {
								flex: 1 1 30%;
								margin-bottom: 0.5rem;
							}
							&.talk-speakers {
								// margin: 0px auto;
							}
						}
					}

					&.room {
						background-color: $color-label;
					}

		      &.time-table-time {
						display: flex;
						@include font-normal(Raleway);
						flex: 0 0 auto;
						width: 56px;
						font-size: 14px;
						line-height: 1.93;
						color: #333333;
						color: var(--black);
						background-color: $color-label;
						padding: 0.5rem;
					}

					// display none
					.schedule-label-description {
						display: none;
	        }

					.time-stack-ribbon {
						display: none;
					}

					&.time-stack-time {
						display: none;
					}
				}
		  }

			thead {
				display: block;

				>tr, > td {
					.time-table-time {
						background-color: rgba(0, 0, 0, 0);
					}
				}
		  }
		}
	}
}
