{% extends 'contents/_base.html' %}

{% block title %}Registration{% endblock title %}

{% block meta_description %}PyCon Taiwan 2018 Registration。{% endblock meta_description %}

{% block content %}

<h1>Registration</h1>

<p>Registration time begins at 08:10 on June 1. After arriving the conference venue, please connect to the conference WiFi in order to successfully register through pressing the registration button in “PyCon TW Pass” app.</p>
<p>Please download PyCon TW Pass through the following link, and open it:</p>
<p><a href="https://ccip.pycon.tw">PyConTW Pass</a></p>
<p>Please register at the reception on the 3F and follow the instrcution to collect the goodie bag.</p>
<p>Note that your identification badge is provided inside goodie bag, you’re expected to pick-up and wear your badge while getting into conference rooms.</p>
<p>If the registration button in PyCon TW Pass was not functioning, or if you failed to successfully install PyCon TW Pass, please show your KKTIX registration QR Code to the staffs at the goodie bags booths at either floor, that way you’ll be able to register and pick-up your goodie bag at the same time.</p>

{% endblock content %}
