{% load static %}
<p class="talk-title">
	<a href="{{ event.get_absolute_url }}">{{ info.title }}</a>
</p>
<p class="talk-speakers">{{ speakers }}</p>
<p class="talk-tags">
	<img src="{% static 'pycontw-2018/assets/schedule/' %}{{ info.get_language_url }}"
			title="{{ info.get_language_display }}" alt="{{ info.get_language_display }}"></img>
	<img src="{% static 'pycontw-2018/assets/schedule/' %}{{ info.get_python_level_url }}"
			title="{{ info.get_python_level_display }}" alt="{{ info.get_python_level_display }}"></img>
	{% comment 'No sponsor talk this year.' %}
	{% if sponsored %}
	<span class="schedule-label sponsor-label"
			data-balloon="Invited event" data-balloon-pos="down">
		<span class="fa fa-handshake-o" aria-hidden="true"></span>
		<span class="schedule-label-description">Invited event</span>
	</span>
	{% endif %}
	{% endcomment %}
	{% if not info.recording_policy %}
	<img src="{% static 'pycontw-2018/assets/schedule/no-recording.svg' %}"
			title="No recording" alt="No recording"></img>
	{% endif %}
</p>
