{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Birds of a Feather{% endblock %}
{% block page_title %}<h1>Birds of a Feather</h1>{% endblock %}

{% block content %}
<p>
    Registration starts from now! This year, BoF is at the end of the second day, 4th, June.
</p>

<h2>What is BoF?</h2>
<h3>Birds of a feather flock together</h3>
<div class="container-fluid">
    <p>
        According to Wikipedia: BoF comes from a motto "Birds of a feather flock together.” A BoF session means an informal meeting at conferences, where the attendees group together based on a shared interest and carry out discussions without any pre-planned agenda.
    </p>
    <p>
        Last year, PyCon APAC 2015 is also the year Marty McFly (Movie: Back to the Future II) went through time and space to arrive in 2015. PyCon APAC 2015 has decided to use the  slogan “Back to __future__ II," we hopes PyCon TW lead us to learn how to use Python to practice at individual ideas, or Python applications in different fields.
    </p>
    <p>
        Do you want to share ideas and creative projects with PyConTW? Welcome everyone, to the PyConTW 2016 BoF, Let us implement the future, together! 
    </p>
    <div class="row">
        <img src="{% static 'images/bof/bof_1.jpg' %}"
                class="img-responsive" alt="Responsive image">
    </div>
</div>

<h3>Any Preparation?</h3>
<div class="container-fluid">
    <p> NO! </p>
    <p>
        In BoF, topics are not limited. The only on condition is that the topic has to be related to Python, PyCon, ideas exchanging or point of view discussion, please feel free to participate.Besides, there will have a variety of food! 
    </p>
    <p>
        You can register as a host, bring something new or funny projects: fighting robots, LED control systems, lighting and sound system… etc. Or, you don’t have enough time to give birth to those above, you just simply want to sing a song, Bouncing guitar, no matter how good or bad the product is, or what the crazy noise your music sounds like, you are always welcome to come and share with us!
    </p>
    <p>
        You can also simply be a passenger, with a curious mind, come to BoF, have chat with others, broaden your horizons, or recruit community volunteers, and so on! Welcome to BoF together!
    </p>
    <div class="row">
        <img src="{% static 'images/bof/bof_2.jpg' %}"
            class="img-responsive" alt="Responsive image">
    </div>
</div>

<h2>How to participate?</h2>
<h3>BoF Hosts registration</h3>
<div class="container-fluid">
    <p>
        If you are willing to be a host at BoF, please send email to 
            <a href="mailto:organizers@pycon.tw">
            organizers@pycon.tw
        </a>, and please tell us:
    </p>
    <ul>
        <li>Your First / Last name</li>
        <li>Your contact information (mobile, email)</li>
        <li>Name of the topic you want to discuss or the project, skill, music you want to share</li>
        <li>Equipment (we only provide desks and chairs, if you need additional power, screen and so on, we will try our best to figure that out. If we failed, Sorry for the inconvenience caused, your consideration is very much appreciated.</li>
    </ul>
</div>

{% endblock content %}