{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}BoF{% endblock %}
{% block page_title %}<h1>BoF (Birds of a Feather)</h1>{% endblock %}

{% block content %}
<p>
	Registration starts from now! This year, BoF is at the end of 2nd conference day (Jun 4).
</p>

<h2>What is BoF?</h2>
<h3>Birds of a feather flock together</h3>
<p>
	According to Wikipedia, BoF comes from a motto “Birds of a feather flock
	together.” A BoF session means an informal meeting at conferences, where the
	attendees group together based on a shared interest and carry out discussions
	without any pre-planned agenda.
</p>
<p>
	Do you want to share ideas and creative projects with PyCon TW? Everyone is
	welcome to the PyConTW 2016 BoF, let us implement the future, together!
</p>
<div class="container-fluid">
	<div class="row">
		<img class="img-responsive" alt="BoF Event Photo"
			src="{% static 'images/bof/bof_1.jpg' %}" >
	</div>
</div>

<h3>Any Preparation?</h3>
<p>
	In BoF, any topic related to Python, PyCon is appreciated, feel free to raise
	your own topic. Besides, an abundant supply of food is provided!
</p>
<p>
	You can register as a host, bring new or funny projects: fighting robots, LED
	control system, lighting, sound system and etc. If you find no time to
	prepare a project, you are also welcome to sing a song or play guitar.
</p>
<p>
	It is also great to just be an audience. Seize this opportunity to make
	friends, broaden your horizons, or recruit volunteers! Welcome to BoF!
</p>
<div class="container-fluid">
	<div class="row">
		<img class="img-responsive" alt="BoF Event Photo"
			src="{% static 'images/bof/bof_2.jpg' %}" >
	</div>
</div>

<h2>How to participate?</h2>
<h3>BoF Hosts registration</h3>
<p>
	If you are willing to be a host at BoF, please send email to
	<a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>
	with the information following:
</p>
<ul>
	<li>Your name</li>
	<li>Your contact information (mobile, email)</li>
	<li>
		The topic you want to discuss or the project, skill, or music you want to
		share
	</li>
	<li>
		Equipment (Desks and chairs are provided. Please tell us in advance if you
		need other equipments. We will try our best to help.)
	</li>
</ul>
{% endblock content %}
