{% extends 'contents/_base/keynotes.html' %}

{% load static %}

{% block title %}Keynotes{% endblock %}
{% block page_title %}<h1>Keynote Speakers</h1>{% endblock %}


{% block content %}
{# Kyenote speakers ordered by their first name #}
{# 'Amber Brown', 'Audrey Tang', 'Jim Huang', 'Paul Hildebrandt', 'Steve Dower' #}
{# Amber #}
<div class="keynote-speaker">
    <div class="keynote-speaker__profile">
        <img class="keynote-speaker__photo"
            src="{% static 'images/keynotes/amber_brown.jpg' %}"
            alt="Keynote profile photo">
        <h2 class="keynote-speaker__name">Amber Brown (HawkOwl)</h2>
        <div class="keynote-speaker__url">
            <a href="https://twitter.com/hawkieowl" target="_blank">@hawkieowl</a><br>
            <a href="http://atleastfornow.net/" target="_blank">http://atleastfornow.net/</a>
        </div>
    </div><!-- /.keynote-speaker__profile -->
    <div class="keynote-speaker__bio">
        <h4 class="keynote-speaker__bio__header">Bio</h4>
        <p>
            Amber Brown (HawkOwl) is a freelance software developer and the
            release manager of the Twisted project. She's known for her Python 3
            porting drives and modernisation of the Twisted codebase. She is a
            frequent speaker, keynoting DjangoCon AU '15, PyCon CZ '15, and
            speaking at PyCon Australia and Django Under The Hood.
        </p>
    </div><!-- /.keynote-speaker__bio -->
</div><!-- /.keynote-speaker -->

{# au #}
<div class="keynote-speaker">
    <div class="keynote-speaker__profile">
        <img class="keynote-speaker__photo"
            src="{% static 'images/keynotes/audrey_tang.jpg' %}"
            alt="Keynote profile photo">
        <h2 class="keynote-speaker__name">Audrey Tang<br>(au)</h2>
        <div class="keynote-speaker__url">
            <a href="https://twitter.com/audreyt" target="_blank">
                @audreyt
            </a>
        </div>
    </div><!-- /.keynote-speaker__profile -->
    <div class="keynote-speaker__bio">
        <h4 class="keynote-speaker__bio__header">Bio</h4>
        <p>
            Audrey Tang, a civic hacker who grew up among Tiananmen exiles, is
            known for revitalizing the computer languages Perl and Haskell, as
            well as building the online spreadsheet system EtherCalc in
            collaboration with Dan Bricklin.
        </p>
        <p>
            In the public sector, Audrey serves on Taiwan national development
            council’s open data committee and K-12 curriculum committee; and
            led the country’s first e-Rulemaking project.
        </p>
        <p>
            In the private sector, Audrey works as a consultant with Apple on
            computational linguistics, with Oxford University Press on crowd
            lexicography, and with Socialtext on social interaction design.
        </p>
        <p>
            In the third sector, Audrey actively contributes to Taiwan’s g0v
            (“gov-zero”), a vibrant community focusing on creating tools for
            the civil society, with the call to “fork the government”.
        </p>
    </div><!-- /.keynote-speaker__bio -->
</div><!-- /.keynote-speaker -->

{# jserv #}
<div class="keynote-speaker">
    <div class="keynote-speaker__profile">
        <img class="keynote-speaker__photo"
            src="{% static 'images/keynotes/jim_huang.jpg' %}"
            alt="Keynote profile photo">
        <h2 class="keynote-speaker__name">Jim Huang<br>(jserv)</h2>
        <div class="keynote-speaker__url">
            <a href="https://twitter.com/jserv" target="_blank">@jserv</a>
        </div>
    </div><!-- /.keynote-speaker__profile -->
    <div class="keynote-speaker__bio">
        <h4 class="keynote-speaker__bio__header">Bio</h4>
        <p>
            Jim Huang, the nickname is “jserv” on the website. As a little
            child, he had connected computer systems and a variety of
            programming languages. In 1997, he tried to develop the operating
            system, and hence touched Linux. After that, he has acted on Open
            Source. In 1999, he cooperated in web company; as the end of it, he
            decided that dropped out of university and go to service in the
            army.
        </p>
        <p>
            When the time in the army, he continues enriched himself. Until he
            was working, he was still research and implement. Especially, he has
            enforced in integrating software and hardware. Besides, to assist
            Taiwan’s enterprises in connection with Open Systems and dynamic
            Groups.
        </p>
        <p>
            In 2009, jserv built in 0xLab with friends from Groups; 0xLAb was
            applied project of software and hardware integration. In 2014, jserv
            built SSX with friends and be Chief Technology Officer; SSX is a
            venture capital company and concern in intelligent hardware, health,
            healthcare, IOT, etc. And SSX has still helped lots of star-up
            company in Southern Taiwan.
        </p>
        <p>
            In addition, jserve is Consultant of MediaTek, ICL of ITRI, DELTA.
            Moreover, from 2012, jserv was invited by NCKU to be a lecturer.
        </p>
    </div>
</div><!-- /.keynote-speaker -->

{# Paul #}
<div class="keynote-speaker">
    <div class="keynote-speaker__profile">
        <img class="keynote-speaker__photo"
            src="{% static "images/keynotes/paul_hildebrandt.jpg" %}"
            alt="Keynote profile photo">
        <h2 class="keynote-speaker__name">Paul Hildebrandt</h2>
        <div class="keynote-speaker__url">
        </div>
    </div><!-- /.keynote-speaker__profile -->
    <div class="keynote-speaker__bio">
        <h4 class="keynote-speaker__bio__header">Bio</h4>
        <p>
            Paul Hildebrandt has been a Senior Engineer with Walt Disney
            Animation Studios (WDAS) since 1996, and has worked in both Systems
            and Software engineering. His current title is Senior Software
            Engineer and Product Owner for the Playback tools among his primary
            duties is spending time working with the artists, understanding
            their needs, and designing tools to assist them. If he is lucky, he
            gets to write code.
        </p>
        <p>
            Hildebrandt leads a team that is responsible for developing the
            digital asset manager, media player, dailies review system with a
            mobile interface, and other related tools. These tools are available
            on a variety of platforms including Linux, Mac, iOS, and Android.
            Among the Disney animated films that he has contributed are
            Zootopia, the Oscar® winning hits "Big Hero 6", "Frozen" and
            Oscar®-nominated box office hits, "Wreck-It Ralph," "Tangled,"
            "Bolt," "Treasure Planet," and "Dinosaur." He is WDAS' evangelist
            for PyCon and other Python sponsorships.
        </p>
        <p>
            Prior to joining Disney, Hildebrandt spent eight years with Hughes
            Aircraft as a Senior Engineer working on commercial in-flight
            entertainment for airlines and the Stealth Bomber trainers. He also
            served as the electrical lead for a team that raced a solar car
            across Australia in the 1990 World Solar Challenge. The team
            finished in the top third.
        </p>
        <p>
            Hildebrandt was born and raised in Anaheim, California. He received
            his BSEE with a focus on Computing from California Polytechnic
            University Pomona. He resides outside of Los Angeles with his wife
            and three boys.
        </p>
    </div><!-- /.keynote-speaker__bio -->
</div><!-- /.keynote-speaker -->

{# Steve #}
<div class="keynote-speaker">
    <div class="keynote-speaker__profile">
        <img class="keynote-speaker__photo"
            src="{% static "images/keynotes/steve_dower.jpg" %}"
            alt="Keynote profile photo">
        <h2 class="keynote-speaker__name">Steve Dower</h2>
        <div class="keynote-speaker__url">
            <a href="https://twitter.com/zooba" target="_blank">@zooba</a><br>
            <a href="http://stevedower.id.au/" target="_blank">http://stevedower.id.au/</a>
        </div>
    </div><!-- /.keynote-speaker__profile -->
    <div class="keynote-speaker__bio">
        <h4 class="keynote-speaker__bio__header">Bio</h4>
        <p>
            Steve is an engineer who tells people about Python and then gives
            them excuses to use it and great tools to use it with. He works on
            Python Tools for Visual Studio, contributes to many of Microsoft’s
            Python libraries, and is a core contributor and Windows expert for
            CPython.
        </p>
        <p>
            He now works as a software engineer at Microsoft.
        </p>
    </div><!-- /.keynote-speaker__bio -->
</div><!-- /.keynote-speaker -->
{% endblock content %}
