{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Events Overview{% endblock %}
{% block page_title %}<h1>Events Overview</h1>{% endblock %}

{% block content %}
{% url 'page' path='events/sprints' as events_sprint_url %}
{% url 'page' path='events/pyday' as events_pyday_url %}
{% url 'page' path='events/keynotes' as events_keynote_url %}
{% url 'page' path='events/talks' as events_talk_url %}
{% url 'page' path='events/bof' as events_bof_url %}
<p>
	Events of PyCon Taiwan 2016 can be divided into two parts: during the
	conference dates (Jun 3&ndash;5) and out of the conference dates (Tutorial,
	Sprint, Pyday).
</p>

<h2>Out of the conference</h2>
<h3>Tutorial</h3>
<p>
	Tutorials are paid events that will be held 1 to 3 weeks before the PyCon TW,
	aiming for better understanding conference talks or getting hands on more
	Python applications. A tutorial can be either full-day (6 hours) or half-day
	(3 hours) and its content is selected by public proposal calling.
</p>
<p>
	We offer tutorials for Python newbies who have never tried Python before, and
	some tutorials are specific topics of controlling Raspberry Pi or data
	analysis. The ticket of tutorials are sold separately from that of
	conference, so make sure you register both events respectively.
</p>

<h3>Sprint</h3>
<p>
	Two sprints will be held out of the conference dates. Open source project
	managers will bring their projects, explaining their issues and unresolved
	problems. After the introduction of all projects, you can pick the topics you
	like and join them. By this interaction possibility, one can dig deep into
	projects or fields they care.
</p>
<p>
	Attendees are welcome to bring their own project and find like-minded
	partners. If you are familiar with Python but have no good idea for a project
	or just too shy to shout out on the mail list and public channel, it is also
	a great opportunity to join open source projects.
</p>
<p>
	Running alongside there is a separate schedule of workshops in April for
	attendees who want to learn more about specific topics.
</p>
<p>
	More information about the sprint can be found on the
	<a href="{{ events_sprint_url }}">Sprint</a> page.
</p>

<h3>PyDay</h3>
<p>
	PyDay is a newbie activities held by the PyCon TW and the top universities
	in Taiwan. In this event, we invited the keynote speakers of PyCon to share
	their experience throughout sessions. If you want to communicate with keynote
	speakers after PyCon, you can book a PyDay ticket.
</p>
<p>
	More information about the PyDay can be found on the
	<a href="{{ events_pyday_url }}">PyDay</a> page.
</p>

<h2>Between the conference (Jun 3&ndash;5)</h2>
<h3>Keynote</h3>
<p>
	During the three-day conference, there will be 5 speakers to give keynote
	talks. We will offer live broadcast. Keynote speakers are those outstanding
	ones in their domain area globally. They will share their experiences and
	imagination of future in their professional fields.
</p>
<p>
	More information about the keynote can be found on the
	<a href="{{ events_keynote_url }}">Keynote</a> page.
</p>

<h3>Talk</h3> <p>
	These 3 days are packed with scheduled talks about Python by speakers from
	Taiwan and the global. There are two types of talks, 25 min and 45 min. Three
	tracks of talks will be delivered simultaneously. We suggest making personal
	schedule beforehand.
</p>
<p>
	The program schedule will be announced by the end of April. List of accepted
	talks can be found on the <a href="{{ events_talk_url }}">Talks</a> page.
</p>

<h3>Lightning Talk</h3>
<p>
	Lightning talk is full of excitement. Every speaker has to finish the
	presentation within 5 minutes, and there is no exception. The stage is cruel,
	but countless inspiring and interesting presentations are given every year.
	Topics are widely accepted. This year, onsite registration is available.
	Bring your creativeness and share with us!
</p>

<h3>Job Fair</h3>
<p>
	This is the job fair specifically for Python engineer. Although there will be
	no session for job fair, the stage is opened for the firms to present. Feel
	free to interact with the exhibitors.
</p>

<h3>BoF (Birds of a Feather)</h3>
<p>
	BoF comes from a motto “Birds of a feather flock together.” A BoF session
	means an informal meeting at conferences, where the attendees group together
	based on a shared interest and carry out discussions without any pre-planned
	agenda. You are welcome to raise a subject you like. Let us build up the
	PyCon TW night as bustling as night markets in Taiwan! There are many
	eye-opening performances on the stage simultaneously. (You are welcome to
	perform on the stage, as well!)
</p>
<p>
	More information about the BoF can be found on the
	<a href="{{ events_bof_url }}">BoF</a> page.
</p>

{% endblock content %}
