{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}PyDay{% endblock %}
{% block page_title %}<h1>Python Day</h1>{% endblock %}

{% block content %}
<p>
    This year the PyDay will be held in Chengchi University after PyCon。
</p>

<h2>What is PyDay？</h2>
<h3>PyDay</h3>
<p>
    PyDay is a newbie activities held by the PyCon TW and the  top univerisities in Taiwan. All the PyDay’s speakers are mostly from the PyCon keynote speakers and would share their experience throuhout sessions.
</p>
<p>
    2015 NCCU PyDay, invited 4 experts from MIT, Google as kenote speaker and talked about data analysis. Arnaud Bergeron has presented the fundamental of Theano, Steven Johnson introduce a new technical-computing language(Julia), Robert Bradshaw’s talk on Cython, Andy Terrel share the experience on Gallery.
</p>
<p>
    This year Taiwan university and Chengchi university cooperate with PyCon TW and invite the Paul Hildebrandt and Steve Dower. Mr. Hildebrandt is senior engineer at Walt Disney Animation Studios (WDAS) and Mr. Dower works in Microsoft as a software engineer. They will face to face with audience.
</p>
<p>
    Come and join us this event especially for those newbies out there!
</p>

{% endblock content %}