{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Sprints{% endblock %}
{% block page_title %}<h1>Sprints</h1>{% endblock %}

{% block meta_og %}
  <meta property="og:title" content="Sprints | PyCon Taiwan 2016" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http://{{ request.get_host }}{% static 'images/og_sprint.png' %}" />
{% endblock %}

{% block content %}
<h2>Introduction</h2>
<p>
	Two sprints will be held out of the conference dates. During the sprint,
	open source project managers will bring their projects and explain their
	issues or any unresolved problem. After the introduction of all projects,
	people find their projects of interest and get involved. By this
	interaction possibility, one can dig deep into projects or fields they
	care.
</p>
<p>
	It is highly welcomed to bring one’s own project and find enthusiasts of
	same interest. For people with sufficient Python background who wants to
	join open source projects but having no clue or too shy to shout out
	on the mail list and public channels, sprints serve as a great chance to
	get involved.
</p>
<p>
	Running alongside there is a separate schedule of workshops in April for
	attendees who want to learn more about knowledge for specific topics.
</p>

<h2>
	2016-04-16 (Sat.): Python Workshop: Tutorials and Projects On PyCon Taiwan
	by PyLadies Taiwan * Taipei.py
</h2>
<p>
	This event combines tutorials and sprints and cooperated by PyLadies
	Taiwan and Taipei.py.
</p>
<h3>
	More detail on event pages
</h3>
<ul>
	<li><strong>Projects On (Sprint)</strong>:
		<a href="http://www.meetup.com/Taipei-py/events/228997805/">
			http://www.meetup.com/Taipei-py/events/228997805/</a>
	</li>
	<li><strong>Tutorials</strong>:
		<ul>
			<li>
				PyLadies (PyLadies limited)
				<a href="http://www.meetup.com/PyLadiesTW/events/229629711/">
					http://www.meetup.com/PyLadiesTW/events/229629711/</a>
			</li>
			<li>
				Taipei.py
				<a href="http://www.meetup.com/Taipei-py/events/229608148/">
					http://www.meetup.com/Taipei-py/events/229608148/</a>
			</li>
		</ul>
	</li>
</ul>

<h2>2016-06-11 (Sat.): PyCon Taiwan Sprint Day</h2>
<p>
	The formal sprint event will be hold after conference days.
	Registration of this event will be opened in the end of conference
	registration. Event updates will be released on mailing list of Python
	Taiwan and PyConTW account on Twitter and Facebook.
</p>

<h2>Venue</h2>
<p>
	It will <strong>not</strong> be in Sinica Academia, conference venue.
	Instead, events will be hold at CLBC complex in Da'an district.
</p>
<ul>
	<li>CLBC 4F (<a href="https://goo.gl/maps/eXHudbMx57u">Map</a>)</li>
	<li>4F, 293 Fuxing South Road Section 1, Da'an District, Taipei</li>
</ul>
<p>
	The entrance is an apartment door (with "CLBC" bell label).
	(<a href="https://goo.gl/maps/eXHudbMx57u">Street View</a>)
</p>
{% endblock content %}
