{% load i18n %}

<table class="proposals-table table table-responsive">
	<thead>
		<tr>
			<th class="proposal-title">{% trans 'Title' %}</th>
			<th width="1%" class="hidden-xs" style="padding-left: 0px;">{% trans 'Python Level' %}</th>
			<th width="1%" class="hidden-xs">{% trans 'Language' %}</th>
			<th width="1%"></th>
		</tr>
	</thead>
	<tbody>
		{% for proposal in proposals %}
		<tr class="proposal-info-row">
			<td class="proposal-title">
                <div>
                    {{ proposal.title }}
                    <br>
                </div>
			</td>
			<td class="hidden-xs"  style="padding-bottom: 0px; padding-left: 0px;">{{ proposal.get_python_level_display }}</td>
			<td class="hidden-xs"  style="padding-bottom: 0px;">{{ proposal.get_language_display }}</td>
			<td  style="padding-bottom: 10px; padding-left: 0px;">
				{% if proposals_editable or proposals_withdrawable %}
				<form action="{{ proposal.get_cancel_url }}" method="post">
					{% csrf_token %}
					{% if proposals_editable %}
					{% if proposal.cancelled %}
                    <span class="visible-xs-inline"><br /></span>
					<button type="submit" name="cancelled" value="" class="btn btn-natural btn-reactivate">{% trans 'Reactivate' %}</button>
					{% else %}
					<a href="{{ proposal.get_update_url }}" class="btn btn-natural">{% trans 'Edit' %}</a>
					{% endif %}
					{% endif %}
					{% comment %}
					<a href="{{ proposal.get_manage_speakers_url }}" class="btn btn-default btn-default">{% trans 'Manage Speakers' %}</a>
					{% endcomment %}
					{% if proposals_withdrawable %}
                    <span class="visible-xs-inline"><br /></span>
					<button type="submit" name="cancelled" value="true" class="btn btn-natural btn-withdraw">{% trans 'Withdraw' %}</button>
					{% endif %}
				</form>
				{% else %}
				<a href="{{ proposal.get_peek_url }}" class="btn btn-natural">{% trans 'View' %}</a>
				{% endif %}
			</td>
		</tr>
		{% if proposal.unfinished_fields_count %}
		<tr class="progress-row">
			<td colspan="3">
				<div class="progress proposal-progress">
					<div class="progress-bar progress-bar-{% if proposal.finish_percentage <= 50 %}danger{% elif proposal.finish_percentage < 100 %}warning{% else %}success{% endif %}"
							role="progressbar"
							aria-valuenow="{{ proposal.finish_percentage }}"
							aria-valuemin="0" aria-valuemax="100"
							style="width: {{ proposal.finish_percentage }}%;">
						{% blocktrans count counter=proposal.unfinished_fields_count trimmed %}
						Last field to go!
						{% plural %}
						{{ counter }} fields to go!
						{% endblocktrans %}
					</div>
				</div>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
