{% extends 'contents/_base.html' %}

{% block title %}Financial Aid{% endblock title %}

{% block meta_description %}Overview on how to submit a financial aid application to PyCon Taiwan, and allow us to help you attend the conference.{% endblock meta_description %}


{% block content %}

<h1>Financial Aid</h1>

<h2>The Program</h2>

<p><a href="https://pyfound.blogspot.com/2017/10/psfs-october-board-meeting.html" target="_blank" rel="noopener">Everybody Contributes</a> is one of PyCon’s core principles. All attendees including speakers and volunteers have to pay for registering. While following this convention, PyCon Taiwan also has a financial aid program to help friends in the community, financially or otherwise, so more people are able join us in the big event.</p>

<p>All who look for help attending the conference are welcomed to apply. The organizers will review all applications, and allocate resources based on both the conference budget, and the applicants’ conditions.</p>

<p>While we hope to support everyone to participate in the community, the budget is unfortunately limited, and so is the financial aid program. In cases of insufficient resources, we wish to support those who are most in need, and to maximize community gain available from the applicant’s participation. As such, we may be forced to turn down your application to prioritize others.</p>

<h2>Application How-Tos</h2>

<p>The procedure of the application is what follows:</p>

<ol>
	<li>The applicant (you) enters a valid email address for contact in the <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_zfuXTK6h9_o3uv5yjB4f5CF4G79InbFjdTJo1xCw6Z0RCQ/viewform" target="_blank" rel="noopener">form</a>.</li>
	<li>Leave a brief description about yourself, and provide at least your full name.</li>
	<li>The conference staff (we) will contact you to verify the information and try to learn more about you.</li>
	<li>The Financial Aid Program closes on 21 June (15:30 UTC).</li>
	<li>We will inform you of the results before the end of the conference registration. You will receive instructions about how to claim your aid. Please make sure to bring papers and/or proofs as appropriate to the conference for the claim process.</li>
</ol>

<p>Information for Financial Aid</p>
<ul>
	<li>Eligibility: The financial aid program is open to all contributors, attendees, students, and speakers and aims to provide assistance to those who otherwise might not be able to attend the conference.</li>
	<li>Support limits: In general, the support limit is up to NTD 20,000. If you need more financial aid, you are encouraged to provide more detailed information while completing the form.</li>
	<li>Visas: If you need to apply for Visitor VISA，feel free to contact us at <a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a></li>
	<li>Reimbursement: The native residents would get the funds via wire transer, and for the foreigners, you can get the cash funds at the conference counter.</li>
	<li>The Financial Aid includes conference fee, travel and accommodation expenses(The travel and accommodation will be reimbursed at the actual expense，however, the amount of funds is determined based on the results of the review.)</li>
</ul>

<h2>Some Tips on Application</h2>

<ul>
	<li>Describe your interests, what you did in the Python community, and what you plan to do to in the future.</li>
	<li>Describe why you would require additional help to attend. For example, higher transportation cost than average attendees is needed, that cause the financial difficulty.</li>
	<li>Describe what makes your situation unique. Say, you might represent a particular group that is not well-represented.</li>
	<li>Describe how other attendees would benefit from your presence. Say, you’ll share your experience, or can help raise awareness of an issue in the community, etc.</li>
</ul>

<hr>

<p>We understand that we all have different financial situations, and contribution is difficult to quantify. As we have limited budget, we cannot guarantee to fund all applicants. But please do let us know if you need support, and we will do our best.</p>

{% endblock content %}
