{% extends 'contents/_base/registration.html' %}

{% block title %}財務補助{% endblock title %}
{% block page_title %}<h1>財務補助 (Financial Aid)</h1>{% endblock page_title %}

{% block content %}
<h1><span>財務補助</span></h1>

<h2><span>財務補助方案</span></h2>
<article>
	<p>
		<em>Everybody Pays（公平付費）</em>是 PyCon 的核心價值之一，亦即除特邀講者外，所有的會議參與者，如：講者、會議主席、工作人員、志工，皆需自己付費，方能參加會議。這麼做的原因，已於 <a href="http://jessenoller.com/blog/2011/05/25/pycon-everybody-pays" target="_blank" rel="noopener">Everybody Pays</a> 一文寫明。
	</p>
	<p>
		在維持 Everybody Pays 此一核心價值的同時，我們也規劃了 Financial Aid（財務補助）方案，希望協助對會議有興趣，但資金支出較為困難的朋友參與這次會議。我們採取審核制，請有需求的朋友主動與我們聯絡，我們收到所有申請後，會根據預算、申請者狀況等因素，決定是否給予 Financial Aid。
	</p>
	<p>
		我們並不想對 Financial Aid 的受理對象有太多硬性的限制！您若是資金支出較為困難，而在熱愛 Python 之餘也願意為 Python 社群付出些什麼，這樣子就算是符合申請標準了！但是，由於 Financial Aid 經費有限，因此能夠補助的數量不多，這種情況下我們希望受理的對象大致為：「最需要被幫助的人」或「對與會者幫助最大的人」。舉例而言，若拿家庭收入欠佳的學生與已有穩定工作的工程師相比，我們會優先協助學生。更進一步，以申請者身分而言，對 Python 社群有所貢獻者，或這次會議的講者，會是我們優先協助的目標。
	</p>
</article>

<h2><span>申請流程</span></h2>
<article>
	<p>申請 Financial Aid 的方式如下：</p>
	<ol>
		<li>填寫<a href="https://docs.google.com/forms/d/e/1FAIpQLScKhtrrJy-N9dD-fYKRcZXK248MF1zNkoaiJCwhOaLQdKoijg/viewform" target="_blank" rel="noopener">表單</a>留下聯絡方式（Email）。</li>
		<li>根據表單內容填寫，表單包含身分（真實姓名）與情況。</li>
		<li>我們會有專人與您聯絡、核對資料及了解您的狀況。</li>
		<li>Financial Aid 受理時間為即日起至 4 月 30 日止。</li>
		<li>售票期間我們會主動告知您是否有申請到 Financial Aid。若申請通過，請您仔細閱讀退費的注意事項，像交通補助會需要單據證明，請保留單據並在會場交付工作人員。</li>
	</ol>

	<p>
		我們知道每個人的經濟狀況，或者是對 Python 社群的貢獻皆是難以比較的。而 Financial Aid 的預算又有限，無法保證能幫到所有人，但我們還是想對有困難的朋友們說：「需要幫忙就說一聲吧！我們盡力！」（握拳）
	</p>
</article>
{% endblock content %}
