{% extends 'contents/_base.html' %}

{% block title %}報到資訊{% endblock title %}

{% block meta_description %}PyCon Taiwan 2018 報到資訊。{% endblock meta_description %}


{% block content %}

<h1>報到</h1>

<p>6/1 開始報到時間是 08:10，在到達會場後，連上年會現場的 WiFi，即可於「PyConTW Pass」App 按下報到按鈕，完成報到。</p>
<p>請透過以下連結下載、啟動 PyConTW Pass：</p>
<p><a href="https://ccip.pycon.tw">PyConTW Pass</a></p>
<p>報到櫃台在三樓，迎賓袋領取攤位在四樓，請依照工作人員指引，前往攤位領取。請注意：迎賓袋內有您的識別證，必須領取並且配戴後才能進入會議廳內。</p>
<p>若您「無法按下 App 的報到按鈕」或「無法成功安裝 PyConTW 通關」，請向三樓報到櫃台的志工出示 KKTIX QR Code 進行報到並同時領取迎賓袋。</p>

{% endblock content %}
