body.dashboard{
    font-weight: 400;
    background:#F3F3F3;

    p.welcome{
        font-size: 21px;
        color: #4A4A4A;
        line-height: 24px;
        margin: 35px 0 20px 5px;
    }
    .sidebar{
        padding: 0;

        .nav-sidebar{
            li{
                a{
                    padding: 24px 0 0 28px;
                    height: 65px;
                    font-size:16px;
                    color: #BBBBBB;
                    line-height:19px;
                    border-left: 4px solid #FFFFFF;
                    border-bottom: 1px solid #EEEEEE;

                    &:hover{
                        color:#BBBBBB;
                        background-color: #F8F8F8;
                        border-left: 4px solid #F8F8F8;
                    }
                }
                &.active a{
                    color:#3E6DF5;
                    border-left: 4px solid #3E6DF5;
                    // &:hover{
                    //     color:#BBBBBB;
                    //     background-color: transparent;
                    // }
                }
            }
        }
    }

    .alert-warning{
        background: $proposals-alert-warning-bg;
        border: 1px solid #F1DFB1;
        border-radius:4px;
        padding: 15px 20px;
        font-size:13px;
        color:#4A4A4A;
        line-height:20px;
        .btn{
            margin: 0;
            padding: 0;
            color:#3E6DF5;
        }
    }
    .main-container{
        background:#FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius:4px;
        margin-bottom: 20px;

        .main{
            min-height: 712px;
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: #EEEEEE;
            padding: 0;

            .table-panel {
                padding: 33px 33px 0px 33px;
            }

            > form, .dashboard-body{
                padding: 33px;
            }

            > .reviewed-proposal-view {
                > h4 {
                    margin-top: 2em;
                }
                > h4:first-child {
                    margin-top: 0;
                }
                > .markdown-field {
                    background-color: transparent;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    position: relative;
                    padding: 1em;
                    height: auto;
                }
            }

            .existing-review-table {

                th, td {
                    text-align: center;
                }
                .vote-display {
                    white-space: nowrap;
                }
                .comment-display {
                    text-align: left;
                }
            }
        }
    }
}

.cancel-form {
    position: relative;
}

/* Must include .table to override Bootstrap styles. */
.table.proposals-table {
    thead{
        background:#F8F8F8;
    }
    th, td {
        font-weight: 400;
        font-size: 13px;
        white-space: nowrap;

        &.proposal-title {
            white-space: normal;
        }
    }
    th {
        color:#9B9B9B;
        line-height:22px;
        border-bottom: 1px solid #EEEEEE;
        height: 40px;
        padding-left: 34px;
    }
    td {
        color:#4A4A4A;
        line-height: 25px;
        padding: 32px 34px;

        &.proposal-title{
            font-size: 20px;
            font-weight: bold;
        }

        form{
            padding: 0;
            margin-top: -4px;
        }
    }
    .proposal-info-row > td {
        padding-bottom: 16px;
    }
    .progress-row > td {
        border: 0;
        padding: 0 32px;
    }
}

.profile_pic_panel {
    margin: 20px 0 40px 0;
    > div{
        display: inline-block;;
        margin-right: 20px;
    }
    .pic {
        width: 60px;
        height: 60px;
    }
    .upload-btn {
        position: relative;
        display: inline-block;

        > span {
            font-size: 13px;
            color: #3E6DF5;
            line-height: 15px;
            cursor: pointer;
            display: hidden;
        }

        > .upload-btn-shadowed {
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
}

.form-group {
    margin-bottom: 40px;
}

.field {
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
}

.field_title {
    font-size: 16px;
    color: #4A4A4A;
    line-height: 19px;
    font-weight: normal;
}

.name_field {
    width: 308px;
    height: 44px;
}

.sms_identity_field {
    margin-top: 0;
}

textarea.form-control {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    font-family: $font-family-monospace;
}

#user_profile_update_form {
    textarea.form-control {
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
            max-width: 75%;
        }
        @media screen and (min-width: $screen-lg-min) {
            max-width: 600px;
        }
    }
}

.proposals{
    p{
        padding: 20px 33px;
    }
}

#proposal-scroll-progress-widget {
    $box-size: 56px;

    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 9999;

    width: $box-size;
    height: $box-size;
    border-radius: $box-size / 2;

    background-color: $gray;
    color: $gray-lighter;
    overflow: hidden;

    letter-spacing: -2px;
    line-height: $box-size;
    text-align: center;
    vertical-align: middle;

    .top {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $gray-light;
    }

    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        .current {
            font-weight: bold;
            font-size: 150%;
            letter-spacing: 0;
        }
    }
}
