.review-stage{
    .stage-desc{
        padding: 20px 33px;
    }
}

.review-statistics{
    padding: 10px 23px;

    .panel-box{
        padding: 0 10px;

        .panel-body{
            font-size: 30px;
        }
    }
}

ul.nav-tabs.reviews-tabs{
    padding: 0 33px;

    li{
        padding-top: 20px;
        &.active a{
            color: #3e6df5;
        }
        a{
            font-size: 16px;
            font-weight: 400;
            color: #4A4A4A;
            padding: 15px;
        }
    }
}

.tab-content .proposals-table{
    a{
        color: #9b9b9b;

        i{
            margin-left: 10px;

            &.fa-sort-asc, &.fa-sort-desc{
                display: none;
            }
        }

        &.active{
            color: #4a4a4a;
            text-decoration: none;
            i{
                display: none;
            }
        }
        &.asc{
            i.fa-sort-asc{
                display: inline;
            }
        }
        &.desc{
            i.fa-sort-desc{
                display: inline;
            }
        }
    }
}