.talk-list > li {

    font-size: 90%;

    > p {
        padding-top: 10px;
    }

    .proposal-title {
        font-size: 115%;
        font-weight: strong;
        margin-right: 0.5ex;
        color: #000;
    }
}
