.map-container {
    position: relative;
    min-height: 400px;
    // rounded the map corner
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;

    .map {
        height: 400px;
    }

    .map-address {
        @include roboto-medium;
        font-size: 120%;

        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 0px;
		left: 50%;
        width: 20em;
        padding: 10px 20px;
        text-align: center;
        border: 2px solid $theme-color;
        color: $theme-color;

        @media (max-width: $screen-xs) {
            width: 100%;
            border: none;
            padding: 5px;
        }
    }

    @media (max-width: $screen-md) {
        // extra space for touch screen scrolling;
        margin-left: 10px;
        margin-right: 10px;
    }
}


