{% load i18n %}

<div class="card">
	<a class="button-round" href="{% url 'events_schedule' %}" class="card-link">{% trans 'Schedule' %}</a>
</div>

<div class="card">
	<a class="button-round" href="https://hackmd.io/@PyConTW/2020" class="card-link" target="_blank" rel="noopener">{% trans 'Collaborative Notes' %}</a>
</div>

<div class="card">
    <a class="button-round" href="{% url 'discord' %}" class="card-link">{% trans 'Discord Chat Room' %}</a>
</div>

<div class="card">
	<a class="button-round" href="https://www.facebook.com/pycontw/" class="card-link" target="_blank" rel="noopener">{% trans 'Facebook Fan Page' %}</a>
</div>

<div class="card">
	<a class="button-round" href="https://docs.google.com/document/d/13y1eja-dyBz-zd-nJe1Agh_7RFt10dfPcMAvaqeRnKQ/edit" class="card-link" target="_blank" rel="noopener">{% trans 'Open space' %}</a>
</div>
