{% extends 'dashboard_base.html' %}

{% load i18n %}


{% block dashboard_tablist %}
{% include '_includes/dashboard_tablist.html' with active='dashboard' %}
{% endblock dashboard_tablist %}


{% block main-content %}

{% if user.is_valid_speaker %}

	{% url 'talk_proposal_create' as talk_proposal_create_url %}
	{% url 'tutorial_proposal_create' as tutorial_proposal_create_url %}

	<div class="talk-proposals proposals">
    <div class="page-header">
        <h3>{% trans 'Talk Proposals' %} <a href="{% url 'talk_proposal_create' %}" class="btn new-btn hidden-xs" role="button"><i class="fa fa-plus"></i>&nbsp;{% trans 'New Talk Porposal' %}</a><a href="{{ talk_proposal_create_url }}" class="btn new-btn visible-xs-inline" role="button"><i class="fa fa-plus"></i></a></h3>
    </div>

    {% if user.talkproposal_set.exists %}
      {% include 'users/_includes/dashboard_proposal_table.html' with user=user proposals=user.talkproposal_set.all %}
    {% else %}
      <p>{% blocktrans %}You haven't submitted any talk proposals. Why not <a href="{{ talk_proposal_create_url }}">submit one now</a>?{% endblocktrans %}</p>
    {% endif %}
	</div>

  <div class="tutorial-proposals proposals">
    <div class="page-header">
        <h3>{% trans 'Tutorial Proposals' %} <a href="{% url 'tutorial_proposal_create' %}" class="btn new-btn yellow-btn hidden-xs" role="button"><i class="fa fa-plus"></i>&nbsp;{% trans 'New Tutorial Porposal' %}</a><a href="{{ tutorial_proposal_create_url }}" class="btn new-btn yellow-btn visible-xs-inline" role="button"><i class="fa fa-plus"></i></a></h3>
    </div>
    {% if user.tutorialproposal_set.exists %}
      {% include 'users/_includes/dashboard_proposal_table.html' with user=user proposals=user.tutorialproposal_set.all %}
    {% else %}
      <p>{% blocktrans %}You haven't submitted any tutorial proposals. Why not <a href="{{ tutorial_proposal_create_url }}">submit one now</a>?{% endblocktrans %}</p>
    {% endif %}
  </div>

  {% if user.cospeaking_info_set.exists %}
  <div class="cospeaking-proposals">
    <div class="page-header"><h3>{% trans 'Co-Speaking Proposals' %}</h3></div>
    {# include with ... only will block csrf_token #}
    {% include 'users/_includes/dashboard_cospeaking_proposal_table.html' with speaker_infos=user.cospeaking_info_set.all %}
  </div>
  {% endif %}

{% endif %}

{% endblock main-content %}
