{% load i18n %}
{% load i18n_plus %}

{% url 'index' as home_url %}

{% url 'page' path='about/pycontw' as about_pycontw_url %}
{% url 'page' path='about/code-of-conduct' as about_coc_url %}

{% url 'page' path='events/schedules' as events_schedule_url %}
{% url 'page' path='events/overview' as events_overview_url %}
{% url 'page' path='events/keynotes' as events_keynote_url %}
{% url 'page' path='events/talk' as events_talk_url %}
{% url 'page' path='events/tutorial' as events_tutorial_url %}
{% url 'page' path='events/unconference' as events_unconference_url %}
{% url 'page' path='events/sprints' as events_sprint_url %}
{% url 'page' path='events/bof' as events_bof_url %}

{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url 'page' path='speaking/talk' as speaking_talk_url %}
{% url 'page' path='speaking/tutorial' as speaking_tutorial_url %}
{% url 'page' path='speaking/unconference' as speaking_unconference_url %}
{% url 'page' path='speaking/recording' as speaking_recording_url %}

{% url 'page' path='registration/financial-aid' as reg_financial_aid_url %}
{% url 'page' path='registration/ticket-info' as reg_ticket_info_url %}

{% url 'page' path='venue' as venue_url %}
{% url 'page' path='venue/accommodation' as venue_accommodation_url %}

<header>
  <a href="#" class="btn-menu"></a>
	<nav class="wrapper header-nav">
    <div class="parent lang">
      <a href="#" class="btn-show-lang-menu">ENGLISH</a>
      <button class="btn-close"></button>
    </div>
    <a href="{{ home_url }}" class="header-logo"></a>
		<div class="parent to-expand {% if active == 'about' %}active{% endif %}">
			<a href="{{ about_pycontw_url }}">
				{% trans 'about' %}
			</a>
			<nav class="sub">
				<a href="{{ about_pycontw_url }}">{% trans 'pycon taiwan' %}</a>
				<a href="{{ about_coc_url }}">{% trans 'code of conduct' %}</a>
			</nav>
		</div>
		<div class="parent to-expand {% if active == 'events' %}active{% endif %}">
			<a href="{{ events_overview_url }}">
				{% trans 'events' %}
			</a>
			<nav class="sub">
				{# <a href="{{ events_schedule_url }}">{% trans 'Schedule' %}</a> #}
				<a href="{{ events_overview_url }}">{% trans 'overview' %}</a>
				{# <a href="{{ events_keynote_url }}">{% trans 'Keynote' %}</a> #}
				<a href="{{ events_talk_url }}">{% trans 'talk' %}</a>
				<a href="{{ events_tutorial_url }}">{% trans 'tutorial' %}</a>
				<a href="{{ events_unconference_url }}">{% trans 'unconference' %}</a>
				<a href="{{ events_sprint_url }}">{% trans 'sprints' %}</a>
				<a href="{{ events_bof_url }}">{% trans 'bof' %}</a>
			</nav>
		</div>
		<div class="parent to-expand {% if active == 'speaking' %}active{% endif %}">
			<a href="{{ speaking_cfp_url }}">
				{% trans 'speaking' %}
			</a>
			<nav class="sub">
				<a href="{{ speaking_cfp_url }}">{% trans 'overview' %}</a>
				<a href="{{ speaking_talk_url }}">{% trans 'talks' %}</a>
				<a href="{{ speaking_tutorial_url }}">{% trans 'tutorials' %}</a>
				<a href="{{ speaking_unconference_url }}">{% trans 'unconference' %}</a>
				<a href="{{ speaking_recording_url }}">{% trans 'recording policy' %}</a>
			</nav>
		</div>
		<div class="parent to-expand {% if active == 'venue' %}active{% endif %}">
			<a href="{{ venue_url }}">
				{% trans 'venue' context 'conference location' %}
			</a>
			<nav class="sub">
				<a href="{{ venue_url }}">{% trans 'venue' context 'conference location' %}</a>
				<a href="{{ venue_accommodation_url }}">{% trans 'accommodation' %}</a>
			</nav>
		</div>
		{% comment %}
		<div class="parent {% if active == 'sponsor' %}active{% endif %}">
			<a href="#"">
				{% trans 'sponsors' %}
			</a>
		</div>
		{% endcomment %}
		<div class="parent to-expand {% if active == 'registration' %}active{% endif %}">
			<a href="{{ reg_financial_aid_url }}">
				{% trans 'registration' %}
			</a>
			<nav class="sub">
				{# <a href="{{ reg_ticket_info_url }}">{% trans 'Ticket Info' %}</a> #}
				<a href="{{ reg_financial_aid_url }}">{% trans 'financial aid' %}</a>
			</nav>
		</div>
		<div class="parent">
			<a href="https://pycontw.blogspot.tw/" target="_blank" rel="noopener">
				{% trans 'blog' %}
			</a>
		</div>
  </nav>
  <nav class="wrapper header-menu-nav">
    <div class="parent lang">
      <a href="#" class="btn-back-to-menu">Back to Menu</a>
      <button class="btn-close"></button>
    </div>
    <a href="#" class="active">English</a>
    <a href="#">繁體中文</a>
  </nav>
	<nav class="control-nav">
		<a href="{% url 'user_dashboard' %}" class="dashboard">
			{% trans 'dashboard' %}
		</a>
		<div class="parent lang">
			{% get_language_info_list for LANGUAGES as languages %}
			{% get_current_language as LANGUAGE_CODE %}
			{% get_language_info for LANGUAGE_CODE as current_language %}
			<a href="#">{{ current_language.name_translated }}</a>
			<nav class="sub">
				{% for language in languages %}
				<a href="{{ request|path_for_language:language.code }}"
						data-lang="{{ language.code }}">
					{{ language.name_local }}
				</a>
				{% endfor %}
			</nav>
		</div>
		<nav class="social">
			<a href="https://www.facebook.com/pycontw" target="_blank" rel="noopener" class="fa fa-facebook"></a>
			<a href="https://twitter.com/pycontw" target="_blank" rel="noopener" class="fa fa-twitter"></a>
			<a href="mailto:organizers@pycon.tw" target="_blank" rel="noopener" class="fa fa-envelope-o"></a>
		</nav>
	</nav>
</header>

<form id="nav-lang-form" action="{% url 'set_language' %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="next">
	<input type="hidden" name="language">
</form>
