{% load i18n %}
{% load i18n_plus %}

{% url 'page' path='about/pycontw' as about_pycontw_url %}

<header>
	<nav class="wrapper header-nav">
		<div class="parent">
			<a href="{{ about_pycontw_url }}"
					class="{% if active == 'about' %}active{% endif %}">
				{% trans 'about' %}
			</a>
		</div>
		<div class="parent">
			<a href="#">
				{% trans 'events' %}
			</a>
			<nav class="sub">
				<a href="#">{% trans 'overview' %}</a>
				<a href="#">{% trans 'schedule' %}</a>
				<a href="#">{% trans 'keynote' %}</a>
				<a href="#">{% trans 'talk' %}</a>
			</nav>
		</div>
		<div class="parent">
			<a href="#" class="{% if active == 'venue' %}active{% endif %}">
				{% trans 'venue' %}
			</a>
		</div>
		<div class="parent">
			<a href="#" class="{% if active == 'sponsor' %}active{% endif %}">
				{% trans 'sponsor' %}
			</a>
		</div>
		<div class="parent">
			<a href="#" class="{% if active == 'registration' %}active{% endif %}">
				{% trans 'registration' %}
			</a>
		</div>
		<div class="parent">
			<a href="http://pycontw.blogspot.tw/" target="_blank">
				{% trans 'blog' %}
			</a>
		</div>
	</nav>
	<nav class="control-nav">
		<a href="{% url 'user_dashboard' %}" class="dashboard">
			{% trans 'dashboard' %}
		</a>
		<div class="parent lang">
			{% get_language_info_list for LANGUAGES as languages %}
			{% get_current_language as LANGUAGE_CODE %}
			{% get_language_info for LANGUAGE_CODE as current_language %}
			<a href="#">{{ current_language.name_translated }}</a>
			<nav class="sub">
				{% for language in languages %}
				<a href="{{ request|path_for_language:language.code }}"
						data-lang="{{ language.code }}">
					{{ language.name_local }}
				</a>
				{% endfor %}
			</nav>
		</div>
		<nav class="social">
			<a href="https://www.facebook.com/pycontw" target="_blank" class="fa fa-facebook"></a>
			<a href="https://twitter.com/pycontw" target="_blank" class="fa fa-twitter"></a>
			<a href="mailto:organizers@pycon.tw" target="_blank" class="fa fa-envelope-o"></a>
		</nav>
	</nav>
</header>

<form id="nav-lang-form" action="{% url 'set_language' %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="next">
	<input type="hidden" name="language">
</form>
