<header>
	<nav class="wrapper header-nav">
		<a href="#">about</a>
		<div class="parent">
			<a href="#">events</a>
			<nav class="sub">
				<a href="#">overview</a>
				<a href="#">schedule</a>
				<a href="#">keynote</a>
				<a href="#">talk</a>
			</nav>
		</div>
		<a href="#">venue</a>
		<a href="#" class="active">sponsor</a>
		<a href="#">registration</a>
		<a href="#">blog</a>
	</nav>
	<nav class="control-nav">
		<a href="#" class="dashboard">dashboard</a>
		<div class="parent lang">
			<a href="#">english</a>
			<nav class="sub">
				<a href="#">繁體中文</a>
				<a href="#">English (US)</a>
			</nav>
		</div>
		<nav class="social">
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-envelope-o"></a>
		</nav>
	</nav>
</header>
