{% extends 'base.html' %}

{% load i18n static %}

{% block titletag %}
<title>{% trans 'PyCon Taiwan 2017' %}</title>
{% endblock titletag %}


{% block content_full %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url 'page' path='events/sprints' as events_sprint_url %}
{% url 'page' path='events/tutorial' as events_tutorial_url %}

<div class="wrapper">
	<main>
    <h1 class="logo">
      <img src="{% static 'pycontw-2017/images/icon-logo.svg' %}">
    </h1>
		<div class="date-panel">
			<time>{% trans '9–11 June' %}</time>
			<code class="def-future">def future():</code>
		</div>
		<nav class="index-session-links">
			<a href="{{ events_tutorial_url }}"><span class="event-label">{% trans 'tutorial: '%}</span><time>{% trans '1 June' %}</time></a>
			<a href="{{ speaking_cfp_url }}"><span class="event-label">{% trans 'cfp: '%}</span><time>{% trans '27 Mar' %}</time></a>
			<a href="{{ events_sprint_url}}"><span class="event-label">{% trans 'sprint: '%}</span><time>{% trans '12 Mar' %}</time></a>
		</nav>
		<section class="index-intro">
			<article class="what-is-pycon">
				{% blocktrans trimmed %}
				<h2>what is pycon</h2>
				<p>The original PyCon was formed in North America in 2003, and now there are many other conferences being run in the PyCon spirit around the world.</p>
				{% endblocktrans %}
			</article>
			<article class="what-is-pycon-taiwan align-right">
				{% blocktrans trimmed %}
				<h2>what is pycon taiwan</h2>
				<p>PyCon Taiwan is an annual convention in Taiwan for the discussion and promotion of the Python programming language. It is held by enthusiasts and focuses on Python technology and its versatile applications. We welcome people who are interested in Python to join PyCon Taiwan to share knowledge, exchange ideas, make connections and to help us grow our network.</p>
				{% endblocktrans %}
			</article>
		</section>
	</main>
</div>

<section class="communities">
	<h2>{% trans 'Python Communities in Taiwan' %}</h2>
	<nav class="community-refs">
		<a href="http://www.meetup.com/PyLadiesTW/" target="_blank" rel="noopener">
			PyLadies Taiwan
		</a>
		<a href="http://djangogirls.org/taipei" target="_blank" rel="noopener">
			Django Girls Taipei
		</a>
		<a href="http://www.meetup.com/Taipei-py/" target="_blank" rel="noopener">
			Taipei.py <span class="desc">Taipei Python User Group</span>
		</a>
		<a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank" rel="noopener">
			Tainan.py <span class="desc">Tainan Python User Group</span>
		</a>
		<a href="http://www.meetup.com/pythonhug/" target="_blank" rel="noopener">
			PyHUG <span class="desc">Python Hsinchu User Group</span>
		</a>
		<a href="http://www.meetup.com/Taichung-Python-Meetup/" target="_blank" rel="noopener">
			Taichung.py <span class="desc">Taichung Python User Group</span>
		</a>
		<a href="http://www.meetup.com/Kaohsiung-Python-Meetup" target="_blank" rel="noopener">
			Kaohsiung.py <span class="desc">Kaohsiung Python User Group</span>
		</a>
		<a href="http://www.meetup.com/Hualien-Py/" target="_blank" rel="noopener">
			Hualien.py <span class="desc">Hualien Python User Group</span>
		</a>
	</nav>
</section>
{% endblock content_full %}

{% block extrabody %}
<i class="deco polygons"></i>
<i class="deco taiwan"></i>
<i class="deco circle left"></i>
<i class="deco circle right"></i>
<i class="deco meteor top"></i>
<i class="deco meteor left"></i>
<i class="deco meteor right"></i>
{% endblock extrabody %}
