{% extends 'contents/_base/speaking.html' %}

{% block title %}非正式會議投稿{% endblock title %}
{% block page_title %}<h1>非正式會議投稿（Unconference Proposal）</h1>{% endblock page_title %}

{% block content %}
    {% url 'page' path='speaking/cfp' as speaking_cfp_url %}
    {% url 'page' path='speaking/talk' as speaking_talk_url %}
    <article>
      <p>
          Compared to the regular conference talks, unconference are relatively unrestricted,
          any topics and any types of speeches, discussions, interactions are welcomed, and
          the acceptance of the proposals are voted and decided by conference attendees.
          Thus an unconference proposal is relatively much simpler.
      </p>
      <p>
          Note: “Any” topics or “any” types of content are based on the inviolability of
          PyCon Taiwan’s Code of Conduct. (are regulated by the CoC of PyCon Taiwan)
      </p>
    </article>

    <h2><span>Proposal Format</span></h2>
    <article>
      <ul>
      	<li>Title</li>
      	<li>Abstract</li>
      </ul>
    </article>

{% endblock content %}
