{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% load i18n %}

{% block title %}{% trans 'Log In' %}{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-md-offset-4 col-md-4">
  	<h2 class="page-header">{% trans 'Log In' %}</h2>
		<form method="post">
		    {% csrf_token %}
		    <div class="nesting-form-group row">
	  			<div class="col-md-offset-1 col-md-10">
			        {{ form|crispy }}
			  		<button type="submit" class="btn btn-primary btn-block btn-lg">{% trans 'Log In' %}</button>
			  	</div>
			</div>
		</form>
		<br>
		<div class="text-center">
      {% url 'signup' as signup_url %}
      {% blocktrans %}
      Don't have an account? <a href="{{ signup_url }}">Sign up now!</a>
      {% endblocktrans %}
		</div>
	</div>
</div>
{% endblock body %}
