{% extends 'users/_edit_base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Update Speaker Profile' %}{% endblock title %}

{% block tablist %}
{% include 'users/_includes/user_edit_tablist.html' with active='password' %}
{% endblock tablist %}

{% block tabcontent %}
<h2 class="page-header">{% trans 'Change Your Password' %}</h2>
<form action="{% url 'password_change' %}" method="post">
	{% csrf_token %}
	<div class="nesting-form-group">
		{{ form|crispy }}
		<button type="submit" class="btn btn-primary btn-lg">
			{% trans 'Submit' %}
		</button>
	</div>
</form>
{% endblock tabcontent %}
