{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% load i18n %}

{% block title %}{% trans 'Reset Your Password' %}{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-md-offset-4 col-md-4">
    <h2 class="page-header">{% trans 'Reset Your Password' %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="nesting-form-group row">
          <div class="col-md-offset-1 col-md-10">
              {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block btn-lg">{% trans 'Request Password Reset' %}</button>
          </div>
      </div>
    </form>
    <br>
    <div class="text-center">
      {% url 'signup' as signup_url %}
      {% blocktrans %}
      Don't have an account? <a href="{{ signup_url }}">Sign up instead</a>.
      {% endblocktrans %}
    </div>
  </div>
</div>
{% endblock body %}
