{% extends 'dashboard_base.html' %}

{% load i18n crispy_forms_tags %}


{% block dashboard_tablist %}
{% include '_includes/dashboard_tablist.html' with active='password' %}
{% endblock dashboard_tablist %}


{% block main-content %}

<h3 class="dashboard-header">
	<span class="header-title">{% trans 'Change Log In Password' %}</span>
</h3>

<form action="{% url 'password_change' %}" method="post">
	{% csrf_token %}
	<div class="nesting-form-group">
		{{ form|crispy }}
		<button type="submit" class="btn save-btn">
			{% trans 'Submit' %}
		</button>
	</div>
</form>

{% endblock main-content %}
