{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
<div class="row">
  <div class="{% if validlink %}col-md-offset-4 col-md-4{% else %}col-md-offset-3 col-md-6{% endif %}">
    <h2 class="page-header">{{ title }}</h2>
    {% if validlink %}
    <form method="post">
      {% csrf_token %}
      <div class="nesting-form-group row">
        <div class="col-md-offset-1 col-md-10">
            {{ form|crispy }}
          <button type="submit" class="btn btn-primary btn-block btn-lg">{% trans 'Set Password' %}</button>
        </div>
      </div>
    </form>
    {% else %}
    {% url 'index' as index_url %}
    {% url 'password_reset' as password_reset_url %}
    {% blocktrans %}
    <p>The password reset link was invalid, possibly because it has already been used. You can either</p>
    <ul>
      <li><a href="{{ password_reset_url }}">Request a new password reset</a>, or</li>
      <li><a href="{{ index_url }}">Return to homepage.</a></li>
    </ul>
    {% endblocktrans %}
    {% endif %}
  </div>
</div>
{% endblock body %}
