{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block body-class %}registration{% endblock body-class %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="{% if validlink %}col-md-offset-2 col-md-8{% else %}col-md-offset-3 col-md-6{% endif %}">
      {% include "registration/_includes/registration_header.html" %}
      <div class="registration-panel-wrapper">
        <div class="registration-panel">
          <h2 class="registration-panel__title">{{ title }}</h2>
          {% if validlink %}
          {% crispy form %}
          {% else %}
          <p class="text-center">
            {% url 'index' as index_url %}
            {% url 'password_reset' as password_reset_url %}
            {% blocktrans trimmed %}
            <p>The password reset link was invalid, possibly because it has already been used. You can either</p>
            <ul>
              <li><a href="{{ password_reset_url }}">Request a new password reset</a>, or</li>
              <li><a href="{{ index_url }}">Return to homepage.</a></li>
            </ul>
            {% endblocktrans %}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
