{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% load i18n %}

{% block title %}{% trans 'Sign Up' %}{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    	<h2 class="page-header">{% trans 'Sign Up' %}</h2>
        <form class="form-horizontal" action="." method="POST" autocomplete="false">
  			{% csrf_token %}
  			<div class="nesting-form-group row">
	  			<div class="col-md-offset-1 col-md-10">
	  				{% crispy form %}
		  			<button type="submit" class="btn btn-primary btn-block btn-lg">{% trans 'Sign Up' %}</button>
		  		</div>
		  	</div>
		</form>
        <br>
        <div class="text-center">
            {% url 'login' as login_url %}
            {% blocktrans %}
            Already have an account? <a href="{{ login_url }}">Login.</a>
            {% endblocktrans %}
        </div>
	</div>
</div>
{% endblock body %}
