{% extends 'contents/_pycontw.html' %}

{% block title %}歷史{% endblock title %}

{% block content %}

<h1>研討會歷史</h1>

<p>PyCon Taiwan 是一個由台灣在地 Python 社群所組織與發起的 Python 年會，我們致力於讓台灣國內外的 Python 愛好者享受一個高品質的交流平台。本年會除了有從 Python 的語言特性到各方面應用案例實例的精彩演講之外，我們也很重視與會者之間的交流與促成開發者與廠商之間的合作可能，提供創業者交流討論的園地，達到提昇社群技能和豐富產業發展的目的。</p>

<p>在 PyCon Taiwan 之前，社群夥伴 thinker 在 <a href="http://wiki.python.org.tw/PycTW2008" target="_blank" rel="noopener">2008</a> 與 <a href="http://wiki.python.org.tw/PycTW2011" target="_blank" rel="noopener">2011</a> 籌劃了 PyCTW 讓台灣的 Python 愛好者可以透過這個一日活動聚集在一起。</p>

<p>2012 年是 PyCon Taiwan 元年，首任主席 yyc 催生了這個活動，第一屆的年會主要議題以科學運算為主。同時，從第一屆年會開始，我們就選擇遵從 PyCon US 的 <a href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/" target="_blank" rel="noopener">Everybody Pays</a> 原則，這也成為 PyCon Taiwan 有別於台灣地區其他年會的一項特色。隔年，年會擴大舉辦，結果報名十分踴躍，甚至還試辦了付費教學活動。大會主席 yyc 也在自己的 blog 中記下 <a href="http://yyc.solvcon.net/writing/2012/pycontw2012_finale.html" target="_blank" rel="noopener">2012</a> 與 <a href="http://yyc.solvcon.net/writing/2013/after_pycontw_2013/index.html" target="_blank" rel="noopener">2013</a> 的心得。</p>

<p>2014 年與 2015 年，台灣 Python 社群承辦了亞太區的 Python 年會，讓台灣的 Python 社群與國際 Python 社群的交流達到了高峰。主要議程涵蓋豐富而且廣泛。基調演講除了邀請到 Python Software Foundation 的董事 Jessica McKellar 之外，還有如 PyCuda，Mezzanine，IPython 等專案的重要開發者。我們還與 <a href="http://www.checkio.org/" target="_blank" rel="noopener">CheckIO</a> 合作，試辦了解題競賽，相當多人參加現場十分熱鬧。為了顧及議程品質與贊助商曝光，特別規劃了贊助商 show time，以及 job fair 活動。</p>

<p>2015 的 APAC 年會還舉辦了另外付費的 PyDay，由 PyCon Taiwan 和頂尖大學一起舉辦的新手村活動。會議中邀請的主題講者，在主議程之後特別加碼，來帶領大家進行全天的 Python 盛宴。</p>

<p>2016 亞太年會交棒給韓國首爾，我們回歸台灣地區的社群活動，但 PyCon Taiwan 在「Implement the Future, Together!」號召下的動能並沒有下滑，報名人數與投稿數量依然爆滿。我們邀請到台灣社群的兩位領導者 Jserv 與唐鳳、微軟的開發專家 Steve Dower、迪士尼的資深工程師 Paul Hildebrandt 與 Twisted 專案管理員 Amber Brown。不論邀請<a href="http://pycontw.blogspot.tw/2016/04/blog-post.html" target="_blank" rel="noopener">在地黑客擔任基調講者</a>、安排 FinTech 議程、結合感應設備與智慧販賣機的互動遊戲、青少年程式教學的經驗分享等等，都是對我們而言嶄新的嘗試。這些點滴也由<a href="http://www.flickr.com/photos/pycon_tw/albums" target="_blank" rel="noopener">許多照片</a>記錄了下來。</p>

<p>2017 將 PyCon Taiwan 的「未來」主題發揮到淋漓盡致。我們邀請了各領域的基調講者，包含全球知名的機器學習專家林軒田老師。這些講者們不但是各自領域的知名人物，同時也是社群領導者，更對次世代技術的前瞻性具有獨自洞見。社群的主題也沒有被落下；本年度首次設計的「非正式會議」議程成功活絡了會眾們的討論，晚間的夜市活動衍生出的派對也讓多才多藝的會眾們有了發揮機會。</p>

<p>在 2018 年度，我們帶回了大多數的會議班底，希望能奠基於近年的發展，而更上一層樓。根據著個希望，我們將這次的主題定義為「加速」，同時包含技術上與人文上的含義。加入我們一起全速前進吧！</p>

{% endblock content %}
