{% extends 'contents/_base/registration.html' %}

{% block title %}Financial Aid{% endblock title %}
{% block page_title %}<h1>Financial Aid</h1>{% endblock page_title %}

{% block content %}
	<p>
		<em>Everybody Pays</em> is one of the principles of PyCon APAC. All
		conference attendees including speakers, chairperson, staff and volunteers
		pay to register. While following this convention, we also have financial aid
		program to help people who have financial difficulties. As long as you need
		it, please simply apply for the financial aid. All applications are subject
		to review, which is based on our budget and your condition. (See
		<a href="http://jessenoller.com/blog/2011/05/25/pycon-everybody-pays"
			target="_blank"><em>the rationale behind Everybody Pays</em></a>)
	</p>
	<p>
		The financial aid program is set to minimize the financial barrier of the
		conference and to maximize the benefits to the community. For instance,
		taking students and engineers with full-time job into consideration, we will
		favor the students. Then, community contributors or conference speakers will
		have high priority.
	</p>

	<h2>Application How-Tos</h2>
	<p>The procedure of the application is what follows:</p>
	<ol>
		<li>
			Please register the conference through the ticketing system, and, as far
			as possible, complete the payment.
		</li>
		<li>
			Please mail to
			<a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>,
			briefly describe your circumstance, and leave the contact information
			(name, email and phone number).
		</li>
		<li>
			We will contact you to verify the information and learn more about your
			situation.
		</li>
		<li>
			The financial aid program opens for application right now until the end of
			registration. We will inform you if your application has been approved.
		</li>
		<li>
			After approval, the financial aid will be used to refund your registration
			fee.
		</li>
	</ol>
	<p>
		We understand everyone's financial status is different and it's hard to
		quantify contribution. For the budget is limited, we can't guarantee to fund
		every applicants. But if you need support, please do let us know and we will
		do our best.
	</p>
{% endblock content %}
