{% load i18n %}

<table class="proposals-table table table-responsive">
    <thead>
        <tr>
            <th width="1%">
                <a {% if ordering == 'review_count' %}class="active asc" href="?order=-review_count" {% elif ordering == '-review_count' %}class="active desc" href="?order=review_count"{% else %}href="?order=review_count"{% endif %}>
                    {% trans 'Votes' %}
                    <i class="fa fa-sort fa-lg"></i>
                    <i class="fa fa-sort-asc fa-lg"></i>
                    <i class="fa fa-sort-desc fa-lg"></i>
                </a>
            </th>
            <th class="proposal-title">
                <a {% if ordering == 'title' %}class="active asc" href="?order=-title" {% elif ordering == '-title' %}class="active desc" href="?order=title"{% else %}href="?order=title"{% endif %}>
                    {% trans 'Title' %}
                    <i class="fa fa-sort fa-lg"></i>
                    <i class="fa fa-sort-asc fa-lg"></i>
                    <i class="fa fa-sort-desc fa-lg"></i>
                </a>
            </th>
            <th width="1%" class="hidden-xs">
                <a {% if ordering == 'category' %}class="active asc" href="?order=-category" {% elif ordering == '-category' %}class="active desc" href="?order=category"{% else %}href="?order=category"{% endif %}>
                    {% trans 'Category' %}
                    <i class="fa fa-sort fa-lg"></i>
                    <i class="fa fa-sort-asc fa-lg"></i>
                    <i class="fa fa-sort-desc fa-lg"></i>
                </a>
            </th>
            <th width="1%" class="hidden-xs">{% trans 'Level' %}</th>
            <th width="1%" class="hidden-xs">{% trans 'Lang' %}</th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in proposals %}
        <tr>
            <td>{{ proposal.review_count }}</td>
            <td class="proposal-title">{{ proposal.title }}</td>
            <td class="hidden-xs">{{ proposal.get_category_display|truncatechars:16 }}</td>
            <td class="hidden-xs">{{ proposal.get_python_level_display }}</td>
            <td class="hidden-xs">{{ proposal.get_language_display }}</td>
            <td>
                <a href="{% url 'review_edit' proposal_pk=proposal.pk %}" class="btn btn-natural">{% trans 'Review' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
