{% load i18n %}

<table class="proposals-table table table-responsive">
    <thead>
        <tr>
            <th width="1%"><a href="?order=reviews" {% if ordering == 'review_count' %}class="active"{% endif %}>{% trans 'Reviewed Count' %}<i class="fa fa-sort fa-lg"></i><i class="fa fa-sort-asc fa-lg"></i></a></th>
            <th class="proposal-title"><a href="?order=title" {% if ordering == 'title' %}class="active"{% endif %}>{% trans 'Title' %}<i class="fa fa-sort fa-lg"></i><i class="fa fa-sort-asc fa-lg"></i></a></th>
            <th width="1%" class="hidden-xs"><a href="?order=category" {% if ordering == 'category' %}class="active"{% endif %}>{% trans 'Category' %}<i class="fa fa-sort fa-lg"></i><i class="fa fa-sort-asc fa-lg"></i></a></th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in proposals %}
        <tr>
            <td>{{ proposal.review_count }}</td>
            <td class="proposal-title">{{ proposal.title }}</td>
            <td class="hidden-xs">{{ proposal.get_category_display }}</td>
            <td>
                <a href="{% url 'review_edit' proposal_pk=proposal.pk %}" class="btn btn-natural">{% trans 'Review' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
