{% load i18n %}

<table class="proposals-table table table-responsive">
    <thead>
        <tr>
            <th width="1%">{% trans 'Score' %}</th>
            <th class="proposal-title">{% trans 'Title' %}</th>
            <th width="1%" class="hidden-xs">{% trans 'Note' %}</th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.get_score_display}}</td>
            <td class="proposal-title">{{ review.proposal.title }}</td>
            <td class="hidden-xs">{{ review.note|truncatechars:20 }}</td>
            <td>
                <a href="{% url 'review_update' review.pk %}" class="btn btn-natural btn-reactivate">{% trans 'Update' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
