{% extends 'contents/_base.html' %}

{% block title %}Open Spaces{% endblock %}

{% block content %}

<h1>Open Spaces</h1>

<p>Open Spaces are self-organizing meetup-like events which happen in parallel with the main conference. They are held in the Multifunction Room(1F) of the conference venue.  While most of the conference is planned months in advance, Open Spaces are created “just in time” by PyCon attendees during the conference. They provide a way for you to self-gather, self-define, and self-organize any way you like.</p>

<p>For those who have participated in previous PyCon Taiwan conferences, Open Spaces may sound familiar to you, and yes it’s basically a friendlier term for <a href="https://tw.pycon.org/2014apac/en/bof/" target="_blank" rel="noopener">BoF (Birds of a Feather)</a>, easier to guess at a glance for new conference attendees.</p>


<h2>How do I participate in an Open Space?</h2>

<p>It’s pretty easy: Just show up :)</p>

<p>During the Conference, there will be several tables in the Multifunction Room(1F). The tables act as an Open Space. There will be a board on each table as its topic. You can find your interested topic and use the memo to write down your thoughts and feedback. If a topic is not listed yet, just write down what you would like to talk about on a non-topic board!</p>


<h2>What Open Spaces are there?</h2>

<p>We don’t know either! It’s up to you and fellow attendees 😉</p>

<p>There are Open Spaces on many subjects a bunch of PyCon attendees would like to discuss. Since the PyCon attendees are a diverse bunch, the Open Spaces are too. An Open Space can be a mani/pedi party, a feminist hacking space, an AcroYoga space, or even a board games room. It can also be some discussions about plenty of the usual suspects of technical subjects, from computer security to your favorite Python project to professional occupations like DevOps.</p>


<h2>Where and when are the Open Spaces?</h2>

<p>The Open Spaces happen in parallel with the main conference, which are held at the Multifunction Room(1F). Feel free to enjoy the exciting discussions of the Open Spaces.</p>


<h2>How do I host an Open Space?</h2>

<p>During the conference, there are several tables at the Multifunction Room(1F). There will be a board on each table. All you need is to write down your name and the topic abstract, and show up on the Open Spaces time slot. It’s also good to add your contact information such as Twitter handle, Gitter/GitHub ID, Telegram ID, etc. to the note in case anyone interested in attending your Open Space has a question or would like to contact you about it.</p>


<h2>Ideas for Open Spaces</h2>

<p>Here are a few ideas for potential Open Space topics and activities:</p>

<ul>
	<li>A hackerspace (maker projects) that use Python (e.g. in Raspberry Pis, IoT, home automation, robots / drones / blimps autopiloted with Python)</li>
	<li>Hacking / Networking / DevOps</li>
	<li>Data visualization / Science</li>
	<li>Natural language processing and generation (e.g. chatbots)</li>
	<li>Quantified self</li>
	<li>Diversity initiatives, for example, a feminist hackerspace</li>
	<li>A space for organizers of conferences, workshops, local communities </li>
	<li>Framework-specific Open Spaces, e.g. Django or Flask</li>
	<li>How to contribute to open source, a help / mentoring group for beginners</li>
	<li>Git</li>
	<li>Support: how to avoid burnout</li>
	<li>Recruitment workshops</li>
</ul>

<p>Take a look at what Open Spaces are there at <a href="https://us.pycon.org/2019/events/open-spaces" target="_blank" rel="noopener">PyCon US 2019</a>. There are some great examples for Open Space topics</p>

{% endblock content %}