{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}回到未來夜市{% endblock %}
{% block page_title %}<h1>回到未來夜市 (Birds of a Feather)</h1>{% endblock %}

{% block content %}
{# % url 'page' path='events/keynotes' as events_keynote_url % #}
<p>
    BoF 開始報名囉！今年度 BoF 的時間是在第二天 (6/4) 議程結束之後。
</p>

<h2>這是什麼活動？</h2>
<h3>BoF緣起</h3>
<p>
    根據維基百科的解釋：BoF 是格言「物以類聚（Birds of a feather flock together）」的簡化，指的是同類或是有相同興趣（of a common feather）的人（birds），喜愛聚集（flocking）在一起。在 BoF 裡，我們不限定主題，只要是和 Python、PyCon 的交流和進步相關，都非常歡迎您參與。同時，還有各種美食可以享用喔！ 
</p>
<p>
    你可以報名當爐主，帶一些新奇好玩的作品：自製的機器人、LED 控制系統、燈光音響系統、或是沒時間生出一個作品，想要唱首歌、彈彈吉他，無論你的作品如何、唱得難不難聽，都歡迎來和大家分享。你也可以單純是一個爐友，帶著一顆好奇的心來觀摩，聊天交友、增廣見聞、招募社群志工等等！歡迎大家一起來圍爐！
</p>

<h2>如何報名參加？</h2>
<h3>報名流程</h3>
<p>
</p>

{% endblock content %}