{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}PyDay{% endblock %}
{% block page_title %}<h1>PyDay (Python Day)</h1>{% endblock %}

{% block content %}
<p>
    今年的 PyDay 將在 PyCon 結束後於政治大學舉辦。
</p>

<h2>PyDay 緣起</h2>
<p>
    PyDay 在台灣，是由 PyCon TW 和頂尖大學一起舉辦的新手村活動。由 PyCon 所邀請的主題講者，在 PyCon 主議程之後特別加碼，來帶領大家進行全天候的 Python 盛宴。去年，2015 NCCU PyDay，主題放在數據分析，邀請到 MIT 教授、Google 資深工程師等四位專家，Arnaud Bergeron 的 Theano 基本教學、Steven Johnson 的 Julia 手把手講解、Robert Bradshaw 的 Cython 工作坊、Andy Terrel 的 Gallery 技巧導覽。今年，由台灣大學、政治大學及 PyCon TW 三方合作，邀請"迪士尼動畫工作室"的資深工程師和微軟的 Python 開發專家來跟我們面對面交流。之後將會有更多的主題講者參與，敬請期待！
</p>
<p>
    本活動適合還是新手的會眾一起來參與！
</p>

<h2>
    票種說明
</h2>

<p>
    下列票種用於報名 6 月 6 日的 PyDay 活動；PyCon 主議程與 tutorials 及 sprints 的報名方式，請另見相關網頁說明。
</p>

<div class="table-responsive">
    <table class="table table-pycon">
    <thead>
        <tr>
            <th></th>
            <th>票價</th>
            <th>購票網址</th>
            <th>說明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-emphasize">一般票</td>
            <td class="text-theme-highlight text-emphasize">200</td>
            <td>
                <a class="btn btn-action" href="http://pycontw.kktix.cc/events/pycontw2016-pyday" target="_blank">
                    按此購票
                </a>
            </td>
            <td class="table-pycon__description">
                本活動不提供發票
            </td>
        </tr>
        <tr>
            <td class="text-emphasize">學生票</td>
            <td class="text-theme-highlight text-emphasize">200</td>
            <td>
                <a class="btn btn-action" href="http://pycontw.kktix.cc/events/pycontw2016-pyday" target="_blank">
                    按此購票
                </a>
            </td>
            <td class="table-pycon__description">
                <p>本活動不提供發票</p>
                <p>報到需出示學生證，無法出示證明者，大會有權保留進場資格。</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
