{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Sprints{% endblock %}
{% block page_title %}<h1>Sprints</h1>{% endblock %}

{% block meta_og %}
  <meta property="og:title" content="Sprints | PyCon Taiwan 2016" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http://{{ request.get_host }}{% static 'images/og_sprint.png' %}" />
{% endblock %}

{% block content %}
    <h2>活動簡介</h2>
    <p>
      兩場 Sprint 活動安排在會議三天以外的時間。當天的 Sprint 將有開源專案的
      負責人，帶著他們專案待解決的問題、issue 來現場與大家分享與解說，參加的
      人可以就自己感興趣的專案一同加入。透過這個互動機會將能更了解自己關注的
      相關專案領域。歡迎帶自己的開源專案來找同好。對已經有一定 Python 基礎的
      人，想參加開源專案開放但不知如何加入，或者害羞怕自己不了解該專案環境的
      人，參加 Sprint 是個大展身手的好機會！
    </p>
    <p>
      對於沒有把握自己是否能加入開發的朋友，四月的活動也會有 workshop 形式的
      工作坊，歡迎一起來玩！
    </p>

    <h2>
      2016-04-16 (六): Python Workshop: Tutorials and Projects On PyCon Taiwan
      by PyLadies Taiwan * Taipei.py
    </h2>
    <p>
    結合 Sprints 與 Tutorials 的活動，由 PyLadies Taiwan 與 Taipei.py 協辦。
    </p>
    <h3>
      詳細活動內容請見報名網頁
    </h3>
    <ul>
      <li><strong>Projects On (Sprint)</strong>:
        <a href="http://www.meetup.com/Taipei-py/events/228997805/">
          http://www.meetup.com/Taipei-py/events/228997805/</a>
      </li>
      <li>
        <strong>Tutorials</strong>:
        <ul>
          <li> PyLadies (限 PyLadies)
            <a href="http://www.meetup.com/PyLadiesTW/events/229629711/">
              http://www.meetup.com/PyLadiesTW/events/229629711/</a>
          </li>
          <li>
            Taipei.py <a href="http://www.meetup.com/Taipei-py/events/229608148/">
              http://www.meetup.com/Taipei-py/events/229608148/</a>
          </li>
        </ul>
      </li>
    </ul>

    <h2>2016-06-11 (六): PyCon Taiwan Sprint Day</h2>
    <p>
    大會後的正式 Sprint 活動，報名預計在大會報名結束後開放。
    屆時會在 Python Taiwan 郵件列表、Twitter，以及 Facebook 上發佈活動訊息。
    </p>

    <h2>場地</h2>
    <p>
      並<strong>不是</strong>在大會場地中央研究院內，而是在大安區的 CLBC 共同辦公室。
    </p>
		<ul>
      <li>CLBC 4F (<a href="https://goo.gl/maps/eXHudbMx57u">Map</a>)</li>
      <li>台北市大安區復興南路一段293 號 4 樓</li>
		</ul>
		</p>
      入口在巷子裡，肉羹與牛肉麵店中間的公寓門，門鈴貼有「CLBC」的標籤
      （<a href="https://goo.gl/maps/eXHudbMx57u">街景</a>）
		</p>
{% endblock content %}
