{% extends 'dashboard_base.html' %}

{% load i18n static compress crispy_forms_tags %}


{% block extra_css %}
{{ block.super }}
{% compress css %}
{{ form.media.css }}
{% endcompress %}
{% endblock extra_css %}

{% block nav-dashboard %}active{% endblock %}

{% block main-content %}
{% if not object.cancelled %}
<div class="page-header">
  <h3>{{ object.title }}</h3>
</div>
<form method="post">
  {% csrf_token %}
  <div class="nesting-form-group">
    {{ form|crispy }}
    <button type="submit" class="btn save-btn">{% trans 'Save' %}</button>
  </div>
</form>
{% endif %}
{% endblock main-content %}


{% block extra_js %}
{{ block.super }}

{% compress js %}
{{ form.media.js }}
{% endcompress %}
{% endblock extra_js %}
