{% extends 'proposals/_proposal_base.html' %}

{% load i18n static compress crispy_forms_tags %}


{% block extra_css %}
{{ block.super }}
{% compress css %}
{{ form.media.css }}
{% endcompress %}
{% endblock extra_css %}


{% block main-content %}
{% if not object.cancelled %}
<h3 class="dashboard-header">
  <span class="header-title">{{ object.title }}</span>
</h3>
<form method="post">
  {% csrf_token %}
  <div class="nesting-form-group">
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
  </div>
</form>
{% endif %}
{% endblock main-content %}


{% block extra_js %}
{{ block.super }}

{% compress js %}
{{ form.media.js }}
{% endcompress %}
{% endblock extra_js %}
