{% extends 'base.html' %}

{% load i18n crispy_forms_tags %}


{% block content %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="page-header">{% block page_header %}{% endblock page_header %}</h2>
    <form method="post">
      {% csrf_token %}
      <div class="nesting-form-group">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block btn-lg">{% trans 'Create Tutorial Proposal' %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
