{% extends 'dashboard_base.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}{% blocktrans with proposal_title=proposal.title %}Manage Speakers for {{ proposal_title }}{% endblocktrans %}{% endblock title %}

{% block dashboard_tablist %}
{% include '_includes/dashboard_tablist.html' with active='dashboard' %}
{% endblock dashboard_tablist %}

{% block main-content %}
<div class="page-header">
  <h3>{% blocktrans with title=proposal.title %}Manage Speakers for <em>{{ title }}</em>{% endblocktrans %}</h3>
</div>
<div class="table-panel">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Speaker' %}</th>
          <th>{% trans 'Status' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for speaker in proposal.speakers %}
        <tr>
          <td class="title-cell">{{ speaker.user.speaker_name|default:speaker.user.email }}</td>
          <td>{{ speaker.get_status_display }}</td>
          <td>
            {% if speaker.user != proposal.submitter %}
            <form action="{% url 'additional_speaker_remove' pk=speaker.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" name="cancelled" value="true" class="btn btn-danger btn-sm">{% trans 'Remove' %}</button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
    <form class="form" method="post">
      {% csrf_token %}
      <div class="nesting-form-group">
        {% crispy form %}
        <button type="submit" class="btn save-btn">{% trans 'Add Speaker' %}</button>
      </div>
    </form>

  </div>
</div>
{% endblock main-content %}
