{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% load i18n %}

{% block title %}{% trans 'Submit a New Talk Proposal' %}{% endblock title %}

{% block body %}

{% include '_includes/nav.html' %}

<div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
    	<h2 class="page-header">Submit a New Talk Proposal</h2>
		<form method="post">
  			{% csrf_token %}
  			<div class="nesting-form-group">	  			
		        {% crispy form %}
		  		<button type="submit" class="btn btn-primary btn-block btn-lg">{% trans 'Create Talk Proposal' %}</button>		  	
			</div>
		</form>
	</div>
</div>
{% endblock body %}
