{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% load i18n compress %}


{% block title %}{% blocktrans with proposal_title=object.title %}Edit Tutorial Proposal {{ proposal_title }}{% endblocktrans %}{% endblock title %}


{% block extra_css %}
{{ block.super }}
{{ form.media.css }}
{% endblock extra_css %}

{% block body %}

{% include '_includes/nav.html' %}

<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	<h2 class="page-header">{{ form.instance.title }}</h2>
		{% if not object.cancelled %}
	    <form method="post">
	     {% csrf_token %}
        <div class="nesting-form-group">
          {% crispy form %}
          <button type="submit" class="btn btn-primary pull-right col-md-3 btn-lg">{% trans 'Save' %}</button>
        </div>
	    </form>
	    {% endif %}
      {% comment %}
	    <form method="post" action="{% url 'tutorial_proposal_cancel' pk=object.pk %}">
	        {% csrf_token %}
	        {% if object.cancelled %}
	        <button type="submit" name="cancelled" value=""
	            class="btn btn-success">
	          {% trans 'Reactivate' %}
	        </button>
	        {% else %}
	        <button type="submit" name="cancelled" value="true"
	            class="btn btn-danger btn-lg">
	          {% trans 'Cancel' %}
	        </button>
	        {% endif %}
	    </form>
      {% endcomment %}
	</div>
</div>

{% endblock body %}


{% block extra_js %}
{{ block.super }}

{% compress js %}
{{ form.media.js }}
{% endcompress %}
{% endblock extra_js %}
