.btn-focus {
  @include button-variant($btn-focus-color, $btn-focus-bg, $btn-focus-border);
}

.btn-negative {
  @include button-variant($btn-negative-color, $btn-negative-bg, $btn-negative-border);
}

.btn-natural {
  @include button-variant($btn-natural-color, $btn-natural-bg, $btn-natural-border);
}

.btn-action{
    @include button-variant($btn-action-color, $btn-action-bg, $btn-action-border);
}

.btn-logout {
  font-size: 16px;
  font-weight: 400;
  @include button-variant($btn-logout-color, $btn-logout-bg, $btn-logout-border);
}
.registration-panel .btn-primary {
  background-color: #E23728; //2020
  border-color: #E23728; //2020
  color: #FBD9CA; //2020
  &:active,
  &:focus,
  &:hover {
    background-color: #502526; //2020
    border-color: #502526; //2020
    color: #FBD9CA; //2020
  }
}
.btn-primary {
  &:hover {
    background-color: $btn-primary-hover-bg;
    color: #fff;
  }
}

.btn-focus {
  &:hover {
    background-color: $btn-focus-hover-bg;
    border-color: $btn-focus-border;
  }
}

.btn-natural {
  &:hover {
    background-color: $btn-natural-hover-bg;
  }
}

.btn-natural.btn-withdraw {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: #f58694;
    }
}

.btn-natural.btn-reactivate {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: #69a820;
    }
}

.btn-action{
    width: 156px;
    line-height: 38px;
    font-size:16px;
    font-weight: 700;
}
