.pycon-list{
    background: #ffffff;
    border:2px solid #a8beff;
    border-radius:3px;
    padding: 33px;
}

.pycon-list-item{
    position: relative;
    list-style: none;
    display: block;
    padding-left: 20px;
    margin-top: 20px;
    &:first-child{
        margin-top: 0;
    }
    &:before{
        content: "";
        position: absolute;
        left: 0;
        height: 100%;

        background:#4163f5;
        border-radius:2px;
        width:4px;
    }
}

