@mixin table_text_style(){
    @include roboto-medium;
    text-align: center;
    vertical-align: middle !important;
    padding:20px !important;
}

.table-pycon {

    tr:first-child{
        background: $theme-color;
        border-radius:3px 3px 0 0;
        height:60px;
    }

    th{
        @include table_text_style;
        font-size:16px;
        color:#ffffff;
    }

    td{
        @include table_text_style;
        font-size: 14px;
    }

    .table-pycon__description {
        @include roboto-light;
        font-weight: 300;
        width: 250px;
        text-align: left;
    }

}



