{% extends 'contents/_base.html' %}

{% block title %}Open Spaces{% endblock %}

{% block content %}

<h1>Open Spaces</h1>

<p>Open Spaces are self-organizing meetup-like events which happen in parallel with the main conference. They are held in Recreation Hall (R4) of the conference venue. While most of the conference is planned months in advance, Open Spaces are created “just in time” by PyCon attendees during the conference. They provide a way for you to self-gather, self-define, and self-organize any way you like.</p>

<p>For those who have participated previous PyCon Taiwan conferences, Open Spaces may sound familiar to you, and yes it’s basically a friendlier term for <a href="https://tw.pycon.org/2014apac/en/bof/" target="_blank" rel="noopener">BoF (Birds of a Feather)</a>, easier to guess at a glance for new conference attendees.</p>

<h2>How do I participate in an Open Space?</h2>

<p>It’s pretty easy: Just show up :)</p>

<p>During PyCon, there will be Open Spaces boards somewhere near the registration desk. The boards act as a time table for all Open Spaces, so you know where and when to go for the Open Spaces you’re interested in. If a topic is not listed yet, write down what you would like to talk about on a sticky note provided beside the board, find an open time slot and add it!</p>

<h2>What Open Spaces are there?</h2>

<p>There are Open Spaces on many subjects a bunch of PyCon attendees would like to discuss. Since the PyCon attendees are a diverse bunch, the Open Spaces are too. An Open Space can be a mani/pedi party, a feminist hacking space, an AcroYoga space, or even a board games room. It can also be some discussions about plenty of the usual suspects of technical subjects, from computer security to your favorite Python project to professional occupations like DevOps.</p>

<h2>Where and when are the Open Spaces?</h2>

<p>The Open Spaces are going to be hosted at the Recreation Hall (aka “R4”) during both conference days (Friday and Saturday). There can be up to three Open Spaces running in parallel for each time slot. During some portions of the days, the room may be needed for other events or other uses; please consult the Open Space boards for the final word on what’s going on where.</p>

<h2>How do I host an Open Space?</h2>

<p>There will be sticky notes provided beside the Open Space board to be used for hosting Open Spaces. Fill in the name and a short description of your Open Space, and stick it on the Open Space board. It’s also good to add your contact information such as Twitter handle, your ID on Gitter/GitHub, Telegram ID, etc. to the note in case anyone interested in attending your Open Space has a question or would like to contact you about it.</p>

<h2>Ideas for Open Spaces</h2>

<p>Here are a few ideas for potential Open Space topics and activities:</p>

<ul>
  <li>Hacker space (maker projects) that use Python (e.g. in Raspbery Pis, IOT, home automation, robots / drones / blimps autopiloted with Python)</li>
  <li>Hacking/networking/devops</li>
  <li>Data visualization/science</li>
  <li>Natural language processing and generation (e.g. chatbots)</li>
  <li>Quantified self</li>
  <li>Diversity initiatives, for example a feminist hackerspace</li>
  <li>A space for organizers of conferences, workshops, diversity initiatives (Django Girls, PyLadies, etc.)</li>
  <li>Framework-specific Open Spaces, e.g. Django or Flask</li>
  <li>How to contribute to open source, a help / mentoring group for beginners</li>
  <li>Git</li>
  <li>Support: how to avoid burnout</li>
  <li>Recruitment workshops</li>
</ul>

<p>Take a look at what Open Spaces are there at <a href="https://us.pycon.org/2018/events/open-spaces" target="_blank" rel="noopener">PyCon US 2018</a>. There are some great examples for Open Space topics.</p>

{% endblock content %}
