{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Events Overview{% endblock title %}
{% block content %}

{% url 'page' path='events/sprints' as events_sprint_url %}
{% url 'page' path='events/tutorials' as events_tutorial_url %}
{% url 'page' path='events/open-spaces' as events_openspaces_url %}
{% url 'page' path='events/keynotes' as events_keynote_url %}
{% url 'events_talk_list' as events_talk_list_url %}

<h1>Events Overview</h1>

<h2>Side Events</h2>

<h3>Tutorials</h3>

<p>Tutorial are paid events that will be held one to three weeks around the main conference. They are one-day events (six hours) held to help participants better understand talks during the conference, or get their hands on more Python applications.</p>

<p>More information about <em>tutorials</em> can be found on the <a href="{{ events_tutorial_url }}">{% trans 'Learning' context 'menu' %}</a> page.</p>

<h3>Sprint</h3>

<p>Sprints are held out of the main conference. A sprint event gathers open source project owners, contributors, and people who wants to contribute but trying to find a place to start. During a sprint, project hosts bring their unresolved issues or new features under development and share with everyone. You can join a project of your choice, or bring your own project here!</p>

<p>For those who already knows fundamentals of Python and wants to participate open source projects, but doesn't know where to start, sprints are great opportunities to get yourself involved! As for project hosts, this is a great chance for you to find people with similar interests, having face-to-face interactions with contributors, and getting new contributors to your project's development! Be prepared to get your hands dirty!</p>

<p>More information about <em>Sprint</em> can be found on the <a href="{{ events_sprint_url }}">{% trans 'Sprints' %}</a> page.</p>

<h2>During the Conference (June 1-2)</h2>

<h3>Keynotes</h3>

<p>During the two days conference, PyCon TW will invite 2 speakers to give keynote talks, which all will be live broadcast. Keynote speaker is considered one of the toppest person in their domain area globally. Being either a engineer or a manager, they will share their professional experience and the image of their domain’s future.</p>

<p>More information about <em>keynotes</em> can be found on the <a href="{{ events_keynote_url }}">{% trans 'Keynotes' %}</a> page.</p>

<h3>Talks</h3>

<p>The two conference days are packed with talks about Python by speakers from Taiwan and around the world. The talks will be either 30- or 45-minute long. Three tracks of talks will be delivered simultaneously, all with different topics and difficulties. We suggest you to make a schedule beforehand, and choose what you want ot listen based on your interests. Many people take notes on the program schedule before the meeting so they don’t run to wrong places.</p>

<p>More information about <em>talk</em> can be found on the <a href="{{ events_talk_list_url }}">{% trans 'Talks' %}</a> page.</p>

<h3>Lightning Talks</h3>

<p>Lightning talks session is at 15:30 ~ 16:30 on June 2, which is the second day of the conference. It’s known for its fast-paced nature that allows only 5 minutes for each talk, including setup. If you would like to give a lightning talk, please write down your name and the subject on the whiteboard area for lightning talks near the registration desk.</p>

<h3>Booth Check-in Game</h3>

<p>While checking out the booths, show your QR code in the PyCon TW Pass app to the booth host, you’ll get a stamp after the booth host verified your QR code. By collecting all the stamps from all the booths, you’ll be able to participate the prize draw at the lightning talks session on Day 2, there are ten books to be drawn, including Effective Python etc.</p>

<h3>Open Spaces</h3>

<p>Open Spaces are held in parallel with the main conference. The schedule is created just-in-time by the conference attendees, please refer to the Open Spaces board near the registration desk for the actual schedule. If you would like to host an Open Space event, please use an Open Space card found in your goodie bag, fill it and pin it on the Open Space board.</p>

<p>More information about <em>Open Spaces</em> can be found on the <a href="{{ events_openspaces_url }}">{% trans 'Open Spaces' %}</a> page.</p>

<h3>Job Fair</h3>

<p>Job Fair is a career expo for Python developers. During the Job Fair session, our sponsors will take turns introduce themselves on the stage and promote their job openings. For attendees that are looking for a career, this is a great opportunity for you to interact with the sponsors or submit your rèsumè!</p>

{% endblock content %}

