{% extends 'contents/_base.html' %}

{% block title %}Sprints{% endblock title %}

{% block body_class %}{{ block.super }} exchange-page{% endblock body_class %}


{% block content %}

<h1>Sprints</h1>

<p>Sprints are held out of the main conference. A sprint event gathers open source project owners, contributors, and people who wants to contribute but trying to find a place to start. During a sprint, project hosts bring their unresolved issues or new features under development and share with everyone. You can join a project of your choice, or bring your own project here!</p>

<p>For those who already knows fundamentals of Python and wants to participate open source projects, but doesn't know where to start, sprints are great opportunities to get yourself involved! As for project hosts, this is a great chance for you to find people with similar interests, having face-to-face interactions with contributors, and getting new contributors to your project's development! Be prepared to get your hands dirty!</p>

<div class="box">
	<h3 class="box-title">June Sprint － Join Us After the Conference!</h3>
	<div class="box-content">
		<dl class="inline">
			<dt>Time</dt>
			<dd>2018-06-03 09:00–17:00</dd>
			<dt>Location</dt>
			<dd><a href="https://goo.gl/maps/nBuJia6xWap" target="_blank" rel="noopener">Technology Services Building, Room #103</a></dd>
			<dt>Registration</dt>
			<dd>Please RSVP on our <a href="https://www.meetup.com/Taipei-py/events/251059806/" target="_blank" rel="noopener">Meetup</a></dd>
		</dl>

		<h3>Agenda</h3>
		<dl class="inline">
			<dt>09:00–09:30</dt>
			<dd>Setup / Networking</dd>
			<dt>09:30–10:00</dt>
			<dd>Projects Introduction / Choose a Project</dd>
			<dt>10:00–12:00</dt>
			<dd>Sprinting</dd>
			<dt>12:00–13:00</dt>
			<dd>Lunch / Networking</dd>
			<dt>13:00–16:30</dt>
			<dd>Sprinting</dd>
			<dt>16:30–17:00</dt>
			<dd>Sharing / Summary</dd>
		</dl>

		<h3>Projects</h3>
		<dl>
			<dt><a href="https://github.com/python-doc-tw/python-doc-tw" target="_blank" rel="noopener">Traditional Chinese Translation of Python Official Documentation</a></dt>
			<dd>Let’s make Python’s official documentation more friendly for Taiwanese people!</dd>
			<dt><a href="https://github.com/pypa/pipenv" target="_blank" rel="noopener">Pipenv</a></dt>
			<dd>Python Development Workflow for Humans</dd>
			<dt><a href="https://github.com/plone" target="_blank" rel="noopener">Plone</a></dt>
			<dd>An open source CMS built with Python</dd>
			<dt>Your Project!</dt>
			<dd>If you’re interested in being a project host at the sprint, please contact us at <a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a></dd>
		</dl>

		<div class="buy">
			<a href="https://www.meetup.com/Taipei-py/events/251059806/" target="_blank" rel="noopener" class="button-round">RSVP</a>
		</div>
	</div>
</div>

<div class="box">
	<h3 class="box-title">February Sprint — Our Website Needs Your Help!</h3>
	<div class="box-content">
		<dl class="inline">
			<dt>Time</dt>
			<dd>2018-02-10 13:30–19:00</dd>
			<dt>Location</dt>
			<dd><a href="https://goo.gl/maps/jevVs4zf6U52" target="_blank" rel="noopener">Komma Space, Room #701</a></dd>
			<dt>Registration</dt>
			<dd>Please RSVP on our <a href="https://www.meetup.com/Taipei-py/events/247421242/" target="_blank" rel="noopener">Meetup</a></dd>
		</dl>

		<h3>Agenda</h3>
		<dl class="inline">
			<dt>13:30–15:00</dt>
			<dd>Setup / Introduction / Sprinting</dd>
			<dt>15:00–15:30</dt>
			<dd>Food Party</dd>
			<dt>15:30–18:30</dt>
			<dd>Sprinting</dd>
			<dt>18:30–19:00</dt>
			<dd>Sharing / Summary</dd>
		</dl>

		<h3>What Projects Are There?</h3>
		<dl>
			<dt><a href="https://github.com/pycontw/pycontw2016" target="_blank" rel="noopener">PyCon Taiwan’s Official Website</a></dt>
			<dd>Let’s build PyCon Taiwan 2018’s website together!</dd>
		</dl>
	</div>
</div>

{% endblock content %}
