{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Tutorial{% endblock %}
{% block page_title %}<h1>Tutorial</h1>{% endblock %}

{% block content %}
{% url 'page' path='speaking/tutorial' as speaking_tutorial_url %}
<h1><span>Tutorial</span></h1>
<article>
	<p>
		Tutorials are paid events that will be held 1 to 3 weeks before PyCon TW. They are held to help participants better understand talks during the conference, or get their hands on more Python applications. A tutorial can be either full-day (6 hours) or half-day (3 hours), with content selected by public proposal-calling.
	</p>
</article>

<h2><span>Tutorial</span></h2>
<article>
	<p>TBD</p>
</article>

<h2><span>Receipt Policy</span></h2>
<article>
	<ul>
		<li>
			See the detailed info on the ticket site.
		</li>
		<li>
			Please provide your Company Name and Unified Business Number.
		</li>
	</ul>
</article>

<h2><span>Notice</span></h2>
<article>
	<ul>
		<li>
			No Refund Except the condition above, there would be no refund once registration is confirmed.
		</li>
		<li>
			Ticketing Consultancy Please kindly mail to <a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>.
		</li>
	</ul>
</article>
{% endblock content %}
