{% load i18n %}

<h2>{% trans 'Chairperson' %}</h2>
<ul class="staff-list">
	<li>Tzu-ping Chung</li>
</ul>

<h2>{% trans 'Registration' %}</h2>
<ul class="staff-list">
	<li>胡崇偉 marr</li>
	<li>蔡育承 Yucheng</li>
	<li>朱幸一 Hsinge</li>
	<li>陳炯廷 Tom</li>
</ul>

<h2>{% trans 'Development' %}</h2>
<ul class="staff-list">
	<li>Keith</li>
	<li>James</li>
	<li>Denny</li>
	<li>IU</li>
	<li>腹黒い茶</li>
</ul>

<h2>{% trans 'Public Relations' %}</h2>
<ul class="staff-list">
	<li>Zonghan</li>
	<li>Mike</li>
	<li>慈恩</li>
	<li>阿哲</li>
	<li>Yen-Hsuan Chu</li>
</ul>

<h2>{% trans 'Design' %}</h2>
<ul class="staff-list">
	<li>蔡帛軒</li>
	<li>Elaine</li>
	<li>YuHsiang Wang</li>
</ul>

<h2>{% trans 'Photography' %}</h2>
<ul class="staff-list">
	<li>Deimos</li>
	<li>阿賢</li>
	<li>Irene</li>
	<li>明洋</li>
	<li>Charles</li>
	<li>友豪</li>
	<li>彥蓁</li>
	<li>三子</li>
	<li>家維</li>
</ul>

<h2>{% trans 'Program' %}</h2>
<ul class="staff-list">
	<li>廖偉涵 Adrian Liaw</li>
	<li>陳一傑 Yi-Chieh Chen</li>
	<li>蔡智晴 Candy Tsai</li>
	<li>李昂 Leon Xue</li>
	<li>林育德 Yu-De Lin</li>
	<li>陳威祐 Wei-Yu Chen</li>
	<li>呂紹榕 Louie Lu</li>
</ul>

<h2>{% trans 'Sponsorship' %}</h2>
<ul class="staff-list">
	<li>泰祥</li>
	<li>Hubert</li>
	<li>士豪</li>
	<li>家誠</li>
	<li>祐豪</li>
	<li>筠樺</li>
	<li>蕭辰翰 Stanley</li>
	<li>廖利豪 Leon</li>
	<li>賈媛 Stephanie</li>
	<li>映辰</li>
	<li>Liting</li>
</ul>

<h2>{% trans 'Financial' %}</h2>
<ul class="staff-list">
	<li>Rock</li>
</ul>

<h2>{% trans 'Venue' %}</h2>
<ul class="staff-list">
	<li>Tim Hsu</li>
	<li>融易</li>
	<li>Larry Guo</li>
	<li>管軒晧 (小管)</li>
	<li>可微</li>
	<li>Oxy</li>
	<li>Singing</li>
	<li>皇甫</li>
	<li>Jack Cheng</li>
</ul>

<h2>{% trans 'Review Committee' %}</h2>
<ul class="staff-list">
	<li>Kir Chou</li>
	<li>廖偉涵 Adrian Liaw</li>
	<li>李昱勳 Andy Lee</li>
	<li>Ping Chu Hung</li>
	<li>Candy Tsai</li>
	<li>Yi-Chieh Chen</li>
	<li>梁智程</li>
	<li>宋政隆 Cheng-Lung Sung</li>
	<li>Andy Dai</li>
	<li>Shuen-Huei Guan</li>
	<li>曾君宇 Chun-Yu Tseng</li>
	<li>郭學聰 Hsueh-Tsung Kuo</li>
	<li>Michelle Leu</li>
	<li>Yi Hsiao</li>
	<li>Zong-han Xie</li>
	<li>Jian-Ming Huang</li>
	<li>Kuo-tung Kao</li>
	<li>TsungWei Hu</li>
	<li>Spin Lai</li>
	<li>Rex Tsai</li>
	<li>Tim Hsu</li>
	<li>柯維然 Odie</li>
	<li>Tzu-ping Chung</li>
	<li>Wei Lin</li>
	<li>Stanley Huang</li>
	<li>Star Willy</li>
	<li>Keith Yang</li>
	<li>趙元 Yuan Chao</li>
	<li>Jimmy Lai</li>
	<li>Yung-Yu Chen</li>
</ul>
