{% load i18n %}

<h2>主席 Chairperson</h2>

<h4>Tzu-ping Chung</h4>

<h2>註冊 Registration</h2>

<h4>胡崇偉 marr</h4>

<h4>蔡育承 Yucheng</h4>

<h4>朱幸一 Hsinge</h4>

<h4>陳炯廷 Tom</h4>

<h2>開發 Development</h2>

<h4>Keith</h4>

<h4>James</h4>

<h4>Denny</h4>

<h4>IU</h4>

<h4>腹黒い茶</h4>

<h2>公關 Public Relations</h2>

<h4>Zonghan</h4>

<h4>Mike</h4>

<h4>慈恩</h4>

<h4>阿哲</h4>

<h4>Yen-Hsuan Chu</h4>

<h4>設計 Design</h4>

<h4>蔡帛軒</h4>

<h4>Elaine</h4>

<h4>YuHsiang Wang</h4>

<h2>記錄 photography</h2>

<h4>Deimos</h4>

<h4>阿賢</h4>

<h4>Irene</h4>

<h4>明洋</h4>

<h4>Charles</h4>

<h4>友豪</h4>

<h4>彥蓁</h4>

<h4>三子</h4>

<h4>家維</h4>

<h2>議程 Program</h2>

<h4>廖偉涵 Adrian Liaw</h4>

<h4>陳一傑 Yi-Chieh Chen</h4>

<h4>蔡智晴 Candy Tsai</h4>

<h4>李昂 Leon Xue</h4>

<h4>林育德 Yu-De Lin</h4>

<h4>陳威祐 Wei-Yu Chen</h4>

<h4>呂紹榕 Louie Lu</h4>

<h2>贊助 Sponsorship</h2>

<h4>泰祥</h4>

<h4>Hubert</h4>

<h4>士豪</h4>

<h4>家誠</h4>

<h4>祐豪</h4>

<h4>筠樺</h4>

<h4>蕭辰翰 Stanley</h4>

<h4>廖利豪 Leon</h4>

<h4>賈媛 Stephanie</h4>

<h4>映辰</h4>

<h4>Liting</h4>

<h2>財務 Financial</h2>

<h4>Rock</h4>

<h2>場務 Venue</h2>

<h4>Tim Hsu</h4>

<h4>融易#</h4>

<h4>Larry Guo</h4>

<h4>管軒晧(小管)#</h4>

<h4>可微</h4>

<h4>Oxy</h4>

<h4>Singing</h4>

<h4>皇甫</h4>

<h4>Jack Cheng</h4>

<h2>審稿委員 Review Committee</h2>

<h4>Kir Chou</h4>

<h4>廖偉涵 Adrian Liaw</h4>

<h4>李昱勳 Andy Lee</h4>

<h4>Ping Chu Hung</h4>

<h4>Candy Tsai</h4>

<h4>Yi-Chieh Chen</h4>

<h4>梁智程</h4>

<h4>宋政隆 Cheng-Lung Sung</h4>

<h4>Andy Dai</h4>

<h4>Shuen-Huei Guan</h4>

<h4>曾君宇 Chun-Yu Tseng</h4>

<h4>郭學聰 Hsueh-Tsung Kuo</h4>

<h4>Michelle Leu</h4>

<h4>Yi Hsiao</h4>

<h4>Zong-han, Xie</h4>

<h4>Jian-Ming Huang</h4>

<h4>Kuo-tung Kao</h4>

<h4>TsungWei Hu</h4>

<h4>Spin Lai</h4>

<h4>Rex Tsai</h4>

<h4>Tim Hsu</h4>

<h4>柯維然 Odie</h4>

<h4>Tzu-ping Chung</h4>

<h4>Wei Lin</h4>

<h4>Stanley Huang</h4>

<h4>Star Willy</h4>

<h4>Keith Yang</h4>

<h4>趙元 Yuan Chao</h4>

<h4>Jimmy Lai</h4>

<h4>Yung-Yu Chen</h4>
