<div data-controller="topNav">

	<nav class="top-navbar">

		<form class="navbar-lang-switch">
			<button type="submit" value="zh">繁</button>
			<button type="submit" value="en" disabled="disabled">EN</button>
		</form>

		<div class="navbar-centerbox">
			<a href="./index.html" class="navbar-logo"></a>
		</div>

		<button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" data-target="topNav.toggler" data-action="topNav#toggle">
			<div><span></span><span></span><span></span></div>
		</button>

		<div class="navbar-social">
			<a href="https://www.facebook.com/pycontw" class="fa fa-facebook-official"></a>
			<a href="https://twitter.com/pycontw" class="fa fa-twitter"></a>
			<a href="mailto:organizers@pycon.tw" class="fa fa-envelope"></a>
		</div>

	</nav>

	<nav class="menu-navbar-mobile" data-target="topNav.menu">
		<div class="menu">
			<a href="./page.html">關於</a>
			<a href="./page.html">議程</a>
			<a href="./page.html">會場</a>
			<a href="./page.html">合作</a>
			<a href="./page.html">註冊</a>
			<a href="https://pycontw.blogspot.tw/">Blog</a>
			<a href="./page.html">My PyCon</a>
		</div>
	</nav>

</div>
