{% load i18n %}
{% load i18n_plus %}

<div data-controller="topNav">

	<nav class="top-navbar">

		<form class="navbar-lang-switch" method="post" action="{% url 'set_language' %}">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ request|language_free_path }}">
			{% get_language_info_list for LANGUAGES as languages %}
			{% get_current_language as LANGUAGE_CODE %}
			{% get_language_info for LANGUAGE_CODE as current_language %}
			{% for language in languages %}
			<button type="submit" name="language" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}disabled="disabled"{% endif %}>
				{{ language.code.upper|slice:'0:2' }}
			</button>
			{% endfor %}
		</form>

		<div class="navbar-centerbox">
			<a href="{% url 'index' %}" class="navbar-logo"></a>
		</div>

		<button class="navbar-toggler no-script" type="button" aria-expanded="false" aria-label="Toggle navigation" data-target="topNav.toggler" data-action="topNav#toggle">
			<div><span></span><span></span><span></span></div>
		</button>

		<div class="navbar-social">
			<a href="https://www.facebook.com/pycontw" aria-label="Facebook" class="fa fa-facebook-official" target="_blank" rel="noopener"></a>
			<a href="https://twitter.com/pycontw" aria-label="Twitter" class="fa fa-twitter" target="_blank" rel="noopener"></a>
			<a href="mailto:organizers@pycon.tw" aria-label="Email" class="fa fa-envelope"></a>
		</div>

	</nav>

	<nav class="menu-navbar-mobile no-script" data-target="topNav.menu">
		{% include '_includes/menu.html' with type='mobile' %}
	</nav>

</div>
