{% extends 'contents/_base/venue.html' %}

{% block title %}住宿{% endblock %}

{% block content %}
<h2><span>PyCon TW 會場附近的住宿</span></h2>
<article>
  <p>PyCon TW 提供住宿在中研院活動中心，距會場約 3 分鐘走路路程。房型有下列選項：</p>
  <ul>
      <li>高級單人房：新台幣 1,650 元/日</li>
      <li>高級雙人房：新台幣 1,750（一人）、1,900（兩人）元/日</li>
  </ul>

  <p>
  	*多一人酌收新台幣 300 元，加床另需酌收一床新台幣 450 元<br />
		**客房設施包括電視、無線網路和有線網路、熱水壺、吹風機和個人衛生用品，亦提供早餐與健身房。
  </p>
  <p>
  	更多資訊請至<a href="http://gao.sinica.edu.tw/huo-dong/room.php" target="_blank">原住宿提供網站</a>。
  </p>
</article>

<h3>申請流程</h3>
<article>
    <p>
    	申請時，請寄信至 <a href="mailto:organizers@pycon.tw?subject=Accommodation%20Reservation%20in%20Academia%20Sinica">organizers@pycon.tw</a> (Rock Hung) 並提供以下資訊：
    </p>
    <ul>
        <li>Check-in 和 check-out 日期</li>
        <li>人數</li>
        <li>各房型所需之數目</li>
        <li>代表人姓名</li>
    </ul>

    <p>
      註：所有使用的時間皆為時區 UTC+08。提早 check-in 和晚 check-out 都需要事先告知。
    </p>
</article>


<h2><span>台北其他住宿方案</span></h2>
<article>
    <p>其他的住宿替代方案列於此供參考，您需要自行訂房，並自行前往會場。</p>

    <table class="accomodation-table table table-responsive">
        <thead>
            <tr>
                <th>價格區間</th>
                <th>台北的飯店</th>
                <th>鄰近捷運</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">$$$</td>
                <td><a href="http://www.grandvictoria.com.tw/main.php" target="_blank">
                        維多麗亞酒店
                </a></td>
                <td>距劍南路站 400m 步行約 5 分</td>
            </tr>
            <tr>
                <td><a href="http://www.taipei.grand.hyatt.com/zh-Hant/hotel/home.html" target="_blank">
                        台北君悅酒店
                </a></td>
                <td>距市政府站 800m 步行約 10 分</td>
            </tr>
            <tr>
                <td rowspan="4">$$</td>
                <td><a href="http://www.tango-hotels.com/" target="_blank">
                        天閣飯店臺北信義
                </a></td>
                <td>距永春站 350m 步行約 5 分</td>
            </tr>
            <tr>
                <td><a href="http://www.taipeifullerton.com.tw/html/about_us.htm" target="_blank">
                        台北馥敦飯店
                </a></td>
                <td>距大安站 250m 步行約 3 分</td>
            </tr>
            <tr>
                <td><a href="http://www.justsleep.com.tw/NTU/zh" target="_blank">
                        捷絲旅臺大尊賢館
                </a></td>
                <td>距公館站 200m 步行約 3 分</td>
            </tr>
            <tr>
                <td><a href="http://www.dandyhotel.com.tw/DandyD/index.aspx?lan=zh-TW">
                        丹迪旅店 大安森林公園店
                </a></td>
                <td>距大安站 100m 步行約 1 分</td>
            </tr>
            <tr>
                <td rowspan="5">$</td>
                <td><a href="http://fw.tfhg.com.tw/about_ch.php" target="_blank">
                        台北馥華商旅
                </a></td>
                <td>距南港軟體園區站 350m 步行約 5 分</td>
            </tr>
            <tr>
                <td><a href="http://www.cityinn.com.tw/Cityinn1/index.aspx?lan=zh-tw" target="_blank">
                        新驛旅館 台北車站一館
                </a></td>
                <td>距台北車站 400m 步行約 5 分</td>
            </tr>
            <tr>
                <td><a href="http://vintagetravelhostel.blogspot.tw/" target="_blank">
                        旅行時光民宿
                </a></td>
                <td>距大橋頭站 800m 步行約 11 分</td>
            </tr>
            <tr>
                <td><a href="http://www.eehostel.com/index.html" target="_blank">
                        Eight Elephants Hostel
                </a></td>
                <td>距古亭站 400m 步行約 5 分</td>
            </tr>
            <tr>
                <td><a href="http://www.lofthostel.com.tw/" target="_blank">
                        沐舍背包客棧
                </a></td>
                <td>距忠孝敦化站 300m 步行約 4 分</td>
            </tr>
        </tbody>
    </table>
</article>
{% endblock %}
