.ticket-h1 {
  font-family: $font-family-article;
}

$ticket-card-border: 1px solid #3a5c6a;
$ticket-card-title-height: 60px;
$ticket-card-price-height: 140px;

.ticket-cards {
  margin-bottom: 52px;
  font-family: $font-family-article;

  .card {
    width: 100%;
    padding: 0;
    background-color: #132637;

    > .card-link {
      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    .title-box {
      margin: 0;
      height: $ticket-card-title-height;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      text-align: center;
      font: normal 24px/60px $font-family-article;
      color: #fff;

      &.orange {
        background: linear-gradient(to right, #fbda61, #f75b1c);
      }
      &.green {
        background: linear-gradient(to right, #00ff96, #1697e5);
      }
      &.blue {
        background: #1697e5;
      }
    }

    .price-box {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: $ticket-card-price-height;
      padding: 34px 0 20px;
      border: $ticket-card-border;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 14px;
      color: #7fb8cc;

      .price {
        &:first-child {
          margin-left: 40px;
        }
        &:last-child {
          margin-right: 40px;
        }
        > * {
          display: block;
          text-align: center;
        }

        .figure {
          margin: 15px 0 3px;
          line-height: 36px;
          font-size: 24px;
          color: #fff;
        }
      }
    }

    .desc {
      padding: 12px 19px 23px;
      line-height: 20px;

      > p {
        font-size: 14px;
        color: #7fb8cc;
        display: inline-block;
      }
    }
  }
}

blockquote.clip {
  font: normal 14px/1 $font-family-article;
  padding: 16px;
  border-radius: 20px;
  border: 2px solid #3a5c6a;

  li {
    line-height: 150%;

    &:not(:last-child) {
      margin-bottom: 7.5px;
    }
  }
}


// RWD for Tablet & Deskop.

@media only screen and (min-width: 781px) {

.ticket-cards {
  display: flex;

  .card {
    position: relative;

    &:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    }

    $card-link-z-index: 0;

    .card-link {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: $card-link-z-index;
    }

    .price-box {
      border-width: 0 1px;
      border-bottom: 1px dashed #3a5c6a;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .desc {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: $ticket-card-title-height + $ticket-card-price-height;
      height: 115px;
      border: $ticket-card-border;
      border-top: none;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      > p {
        display: inline-block;
      }

      a {
        position: relative;
        z-index: $card-link-z-index + 1;
      }
    }
  }
}

blockquote.clip {
  padding: 15px 68px;
}

}
