/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../sass/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 54, ../sass/_reset.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 67, ../sass/_reset.scss */
a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

/* line 74, ../sass/_reset.scss */
input {
  border: none;
}

/* line 78, ../sass/_reset.scss */
main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 83, ../sass/_reset.scss */
button {
  border: 0;
}

/* line 1, ../sass/_normalize.scss */
.inner-wrapper {
  margin: 80px 0;
}
/* line 4, ../sass/_normalize.scss */
.inner-wrapper em, .inner-wrapper string {
  font-weight: bold;
}
/* line 8, ../sass/_normalize.scss */
.inner-wrapper a:link,
.inner-wrapper a:visited {
  color: #46c1ea;
}
/* line 12, ../sass/_normalize.scss */
.inner-wrapper a:link:hover, .inner-wrapper a:link:active,
.inner-wrapper a:visited:hover,
.inner-wrapper a:visited:active {
  color: #7fb9cc;
  text-decoration: underline;
}
/* line 19, ../sass/_normalize.scss */
.inner-wrapper blockquote {
  padding: 0 32px;
  font: 400 20px/1.5 "Noto Sans", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
}
/* line 23, ../sass/_normalize.scss */
.inner-wrapper blockquote:not(:last-child) {
  margin-bottom: 75px;
}
/* line 28, ../sass/_normalize.scss */
.inner-wrapper h1 {
  font-size: 36px;
  line-height: 60px;
  position: relative;
  border-bottom: 1px solid #7FB9CC;
}
/* line 34, ../sass/_normalize.scss */
.inner-wrapper h1:not(:last-child) {
  margin-bottom: 40px;
}
/* line 38, ../sass/_normalize.scss */
.inner-wrapper h1 > span {
  display: inline-block;
  background-image: linear-gradient(102deg, #00ff96, #1697E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 9px;
}
/* line 47, ../sass/_normalize.scss */
.inner-wrapper h2 {
  position: relative;
  font-size: 30px;
  line-height: 1.5;
}
/* line 52, ../sass/_normalize.scss */
.inner-wrapper h2:not(:last-child) {
  margin-bottom: 50px;
}
/* line 56, ../sass/_normalize.scss */
.inner-wrapper h2 > span {
  display: inline-block;
  background: linear-gradient(105deg, #fbda61, #f75b1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 64, ../sass/_normalize.scss */
.inner-wrapper h3 {
  color: #7DB8CD;
  margin-bottom: 24px;
  font: normal 24px/1.5 "Ubuntu Condensed", "Roboto Condensed", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
}
/* line 70, ../sass/_normalize.scss */
.inner-wrapper article {
  font: 400 16px/1.5 "Noto Sans", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
  background-color: rgba(10, 23, 36, 0.75);
  padding: 30px 25px;
}
/* line 75, ../sass/_normalize.scss */
.inner-wrapper article:not(:last-child) {
  margin-bottom: 75px;
}
/* line 79, ../sass/_normalize.scss */
.inner-wrapper article > *:not(:last-child) {
  margin-bottom: 24px;
}
/* line 84, ../sass/_normalize.scss */
.inner-wrapper p {
  color: #d4d4d4;
}
/* line 87, ../sass/_normalize.scss */
.inner-wrapper p:not(:last-child) {
  margin-bottom: 24px;
}
/* line 92, ../sass/_normalize.scss */
.inner-wrapper ul, .inner-wrapper ol {
  color: #d4d4d4;
  padding-left: 25px;
}
/* line 97, ../sass/_normalize.scss */
.inner-wrapper ul li.no-style, .inner-wrapper ol li.no-style {
  list-style: none;
}
/* line 102, ../sass/_normalize.scss */
.inner-wrapper ul li ul, .inner-wrapper ol li ul {
  margin: 7px 0;
}
/* line 108, ../sass/_normalize.scss */
.inner-wrapper ul {
  list-style: outside disc;
}
/* line 112, ../sass/_normalize.scss */
.inner-wrapper ol {
  list-style: outside decimal;
}
/* line 116, ../sass/_normalize.scss */
.inner-wrapper pre {
  font-family: "Ubuntu Mono", monospace;
  padding: 20px;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  background: #222;
  border-radius: 3px;
}
/* line 125, ../sass/_normalize.scss */
.inner-wrapper img {
  max-width: 100%;
}
/* line 129, ../sass/_normalize.scss */
.inner-wrapper .table-desc {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
/* line 135, ../sass/_normalize.scss */
.inner-wrapper table {
  font-family: "Noto Sans", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 14px;
  background-color: #132637;
  width: 100%;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
}
/* line 142, ../sass/_normalize.scss */
.inner-wrapper table:not(:last-child) {
  margin-bottom: 54px;
}
/* line 149, ../sass/_normalize.scss */
.inner-wrapper table tbody tr:not(:last-child) td {
  border-bottom: 1px solid rgba(100, 125, 146, 0.5);
}
/* line 162, ../sass/_normalize.scss */
.inner-wrapper table td {
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  padding: 2px;
  height: 61px;
}
/* line 167, ../sass/_normalize.scss */
.inner-wrapper table th {
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  padding: 2px;
  height: 48px;
  background-color: #21364d;
  color: #7fb8cc;
  font-weight: bold;
}

/* line 5, ../sass/main.scss */
:root {
  color: #fff;
  font: normal 20px/1.2 "Ubuntu Condensed", "Roboto Condensed", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
  text-rendering: optimizeLegibility;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000 url("../images/bg-pattern.png") left top repeat;
}

/* line 16, ../sass/main.scss */
.index-intro:after, .community-refs:after {
  content: "";
  display: table;
  clear: both;
}

/* line 26, ../sass/main.scss */
a:link,
a:visited {
  color: #fff;
}

/* line 31, ../sass/main.scss */
.mother-wrapper {
  min-height: 100%;
  margin: 0 auto -120px;
}

/* line 36, ../sass/main.scss */
.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

/* line 42, ../sass/main.scss */
.btn-close {
  display: none;
}

/* line 46, ../sass/main.scss */
header {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(41, 84, 108, 0.55), rgba(34, 61, 83, 0.48));
  border-bottom: 1px solid #3A5C6A;
  box-shadow: 0 1px 1px #091119;
}

/* line 53, ../sass/main.scss */
.control-nav {
  white-space: nowrap;
  border-top: 1px solid #3A5C6A;
  display: block;
  font-size: 0;
  text-align: right;
}
/* line 60, ../sass/main.scss */
.control-nav > * {
  text-align: left;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 24px 0 39px;
  text-transform: uppercase;
  border-left: 1px solid #3A5C6A;
}
/* line 72, ../sass/main.scss */
.control-nav .dashboard,
.control-nav .lang {
  position: relative;
}
/* line 76, ../sass/main.scss */
.control-nav .dashboard::before,
.control-nav .lang::before {
  content: '\f0ac';
  position: absolute;
  left: 13.5px;
  top: 50%;
  transform: translateY(-50%);
  font-family: FontAwesome;
}
/* line 86, ../sass/main.scss */
.control-nav .dashboard::before {
  content: '\f0e4';
}
/* line 91, ../sass/main.scss */
.control-nav .lang .sub {
  padding: 8px 0;
  display: none;
  position: absolute;
  left: -1px;
  top: 40px;
  background-color: #1B3349;
  border: 1px solid #3A5C6A;
  width: calc(100% + 2px);
}
/* line 101, ../sass/main.scss */
.control-nav .lang .sub::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 100%;
  height: 3px;
}
/* line 110, ../sass/main.scss */
.control-nav .lang .sub > a {
  display: block;
  font-size: 14px;
  padding: 0 18px;
  line-height: 38px;
}
/* line 116, ../sass/main.scss */
.control-nav .lang .sub > a:hover {
  background-color: rgba(0, 0, 0, 0.23);
}
/* line 123, ../sass/main.scss */
.control-nav .lang:hover .sub {
  display: block;
}
/* line 129, ../sass/main.scss */
.control-nav > .social {
  padding: 0;
}
/* line 132, ../sass/main.scss */
.control-nav > .social > a {
  display: inline-block;
  padding: 0 16px;
  line-height: 40px;
  height: 40px;
}
/* line 138, ../sass/main.scss */
.control-nav > .social > a:hover {
  background-color: #283f49;
}

/* line 145, ../sass/main.scss */
.header-menu-nav {
  display: none;
}

/* line 149, ../sass/main.scss */
.header-nav {
  position: relative;
  padding: 0 20px 0 80px;
}
/* line 153, ../sass/main.scss */
.header-nav > a,
.header-nav > div > a {
  color: #7FB9CC;
}
/* line 158, ../sass/main.scss */
.header-nav > a,
.header-nav > div {
  position: relative;
  display: inline-block;
  line-height: 23px;
  text-transform: uppercase;
  padding: 9px 2px;
  margin: 16.5px 0;
  cursor: pointer;
  will-change: color;
  transition: color 0.3s ease-in-out;
}
/* line 170, ../sass/main.scss */
.header-nav > a:not(:last-child),
.header-nav > div:not(:last-child) {
  margin-right: 42px;
}
/* line 174, ../sass/main.scss */
.header-nav > a::before,
.header-nav > div::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 16.5px;
  left: 0;
  top: -16.5px;
}
/* line 183, ../sass/main.scss */
.header-nav > a::after,
.header-nav > div::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20.5px;
  left: 0;
  bottom: -20.5px;
}
/* line 192, ../sass/main.scss */
.header-nav > a.active,
.header-nav > div.active {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-source: linear-gradient(92deg, #00ff96, #1697E5);
  border-image-slice: 1;
}
/* line 199, ../sass/main.scss */
.header-nav > a .sub,
.header-nav > div .sub {
  display: none;
  position: absolute;
  left: -34px;
  top: 62px;
  min-width: 208px;
  background: rgba(25, 49, 70, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.19);
  z-index: 1;
}
/* line 211, ../sass/main.scss */
.header-nav > a .sub > a,
.header-nav > div .sub > a {
  display: block;
  color: #7FB9CC;
  line-height: 28px;
  padding: 0 30px;
  margin: 15px 0 15px 3px;
  border-left: 3px solid transparent;
  font-size: 0.9rem;
}
/* line 220, ../sass/main.scss */
.header-nav > a .sub > a:hover, .header-nav > a .sub > a.active,
.header-nav > div .sub > a:hover,
.header-nav > div .sub > a.active {
  border-left-color: #46C1EA;
}
/* line 228, ../sass/main.scss */
.header-nav > .header-logo {
  position: absolute;
  background: url("../images/pycon-logo.svg") center no-repeat;
  background-size: cover;
  width: 32px;
  height: 23px;
  margin: 0;
  padding: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 240, ../sass/main.scss */
.header-nav > .header-logo::before {
  display: none;
}
/* line 244, ../sass/main.scss */
.header-nav > .header-logo::after {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: rgba(100, 125, 146, 0.5);
  right: -25px;
  left: auto;
  top: -8.5px;
  position: absolute;
}

/* line 258, ../sass/main.scss */
.logo {
  margin: 199px auto 83px;
  text-align: center;
}
/* line 262, ../sass/main.scss */
.logo > img {
  width: 70vw;
  max-width: 593px;
}

/* line 268, ../sass/main.scss */
.date-panel {
  text-align: center;
}
/* line 271, ../sass/main.scss */
.date-panel > * {
  display: block;
  margin: 0 auto;
  width: 420px;
}
/* line 277, ../sass/main.scss */
.date-panel > time {
  text-align: center;
  font-size: 36px;
  line-height: 41px;
  padding-bottom: 19px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-source: linear-gradient(92deg, #00ff96, #1697E5);
  border-image-slice: 1;
}
/* line 288, ../sass/main.scss */
.date-panel > code {
  margin-top: 25px;
  font: italic 30px/1 "Ubuntu Mono", monospace;
  background: linear-gradient(99deg, #fbda61, #f75b1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 297, ../sass/main.scss */
.index-session-links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 81px auto 0;
}
/* line 304, ../sass/main.scss */
.index-session-links > a {
  flex: 1 100%;
  text-align: left;
  font-size: 30px;
  line-height: 34px;
  padding-left: 41px;
  background: url("../images/icon-double-arrow.svg") left center no-repeat;
}
/* line 312, ../sass/main.scss */
.index-session-links > a:not(:last-child) {
  margin-right: 116px;
}
/* line 316, ../sass/main.scss */
.index-session-links > a > .event-label, .index-session-links > a > time {
  white-space: nowrap;
}

/* line 322, ../sass/main.scss */
.index-intro {
  margin-top: 436px;
  padding: 0 15px;
}
/* line 327, ../sass/main.scss */
.index-intro > article {
  display: block;
}
/* line 330, ../sass/main.scss */
.index-intro > article:not(:last-child) {
  margin-bottom: 136px;
}
/* line 334, ../sass/main.scss */
.index-intro > article > h2 {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 41px;
  background: linear-gradient(105deg, #fbda61, #f75b1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 345, ../sass/main.scss */
.index-intro > article > p {
  color: #fff;
  font: normal 20px/1.5 "Noto Sans", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
}
/* line 350, ../sass/main.scss */
.index-intro > article.align-right {
  text-align: right;
}
/* line 353, ../sass/main.scss */
.index-intro > article.align-right > * {
  text-align: right;
}

/* line 360, ../sass/main.scss */
.what-is-pycon {
  width: 54%;
  float: left;
}

/* line 365, ../sass/main.scss */
.what-is-pycon-taiwan {
  width: 83%;
  float: right;
}

/* line 370, ../sass/main.scss */
.communities {
  width: 583px;
  margin: 317px auto 113px;
}
/* line 374, ../sass/main.scss */
.communities > h2 {
  text-align: center;
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 68px;
  background-image: linear-gradient(102deg, #00ff96, #1697E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 385, ../sass/main.scss */
.community-refs {
  transform: translateX(75px);
}
/* line 389, ../sass/main.scss */
.community-refs > a {
  width: 50%;
  float: left;
}
/* line 393, ../sass/main.scss */
.community-refs > a:not(:nth-last-child(2)) {
  margin-bottom: 51px;
}
/* line 397, ../sass/main.scss */
.community-refs > a .desc {
  display: block;
  color: #5BC1BD;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

/* line 407, ../sass/main.scss */
.deco {
  position: absolute;
  display: block;
  z-index: -1;
}
/* line 412, ../sass/main.scss */
.deco.polygons {
  width: 325px;
  height: 522px;
  background: url("../images/icon-polygons.svg") center no-repeat;
  background-size: cover;
  left: 0;
  top: 1837px;
}
/* line 421, ../sass/main.scss */
.deco.taiwan {
  top: 1280px;
  left: 352px;
  width: 229px;
  height: 427px;
  background: url("../images/taiwan.svg") center no-repeat;
  background-size: cover;
}
/* line 430, ../sass/main.scss */
.deco.circle {
  background: url("../images/icon-circle.svg") center no-repeat;
  background-size: cover;
}
/* line 434, ../sass/main.scss */
.deco.circle.left {
  top: 564px;
  left: 148px;
  width: 88px;
  height: 88px;
}
/* line 441, ../sass/main.scss */
.deco.circle.right {
  top: 1087px;
  right: 10px;
  width: 56px;
  height: 56px;
}
/* line 449, ../sass/main.scss */
.deco.meteor {
  height: 1px;
  width: 329px;
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.19));
  transform: rotate(36deg);
  transform-origin: 0 0;
}
/* line 456, ../sass/main.scss */
.deco.meteor.top {
  top: 301px;
  left: -190px;
}
/* line 461, ../sass/main.scss */
.deco.meteor.left {
  top: 947px;
  left: 0;
}
/* line 466, ../sass/main.scss */
.deco.meteor.right {
  top: 783px;
  right: -28px;
}

/* line 473, ../sass/main.scss */
footer,
.push {
  height: 120px;
}

/* line 479, ../sass/main.scss */
footer > .social {
  height: 120px;
  background-color: #1D3045;
  padding-right: 19px;
  text-align: right;
}
/* line 485, ../sass/main.scss */
footer > .social > a {
  font-size: 20px;
  display: inline-block;
  margin-left: 48px;
  line-height: 120px;
  height: 120px;
}

/* line 4, ../sass/_venue.scss */
.map-container {
  position: relative;
  min-height: 400px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 12, ../sass/_venue.scss */
.map-container .map {
  height: 400px;
}
/* line 15, ../sass/_venue.scss */
.map-container .map .ol-attribution {
  padding-top: 0;
}
/* line 18, ../sass/_venue.scss */
.map-container .map .ol-attribution > ul {
  font-size: 70%;
}
/* line 24, ../sass/_venue.scss */
.map-container .map-address {
  font-size: 120%;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0px;
  left: 50%;
  width: 20em;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #3E6DF5;
  color: #3E6DF5;
}

/* line 1, ../sass/_ticket.scss */
.ticket-h1 {
  font-family: "Noto Sans", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
}

/* line 9, ../sass/_ticket.scss */
.ticket-cards {
  margin-bottom: 52px;
  font-family: "Noto Sans", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
}
/* line 13, ../sass/_ticket.scss */
.ticket-cards .card {
  width: 100%;
  padding: 0;
  background-color: #132637;
}
/* line 19, ../sass/_ticket.scss */
.ticket-cards .card > .card-link:hover, .ticket-cards .card > .card-link:active {
  text-decoration: none;
}
/* line 25, ../sass/_ticket.scss */
.ticket-cards .card:not(:last-child) {
  margin-right: 30px;
}
/* line 29, ../sass/_ticket.scss */
.ticket-cards .card .title-box {
  margin: 0;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  font: normal 24px/60px "Noto Sans", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
  color: #fff;
}
/* line 38, ../sass/_ticket.scss */
.ticket-cards .card .title-box.orange {
  background: linear-gradient(to right, #fbda61, #f75b1c);
}
/* line 41, ../sass/_ticket.scss */
.ticket-cards .card .title-box.green {
  background: linear-gradient(to right, #00ff96, #1697e5);
}
/* line 44, ../sass/_ticket.scss */
.ticket-cards .card .title-box.blue {
  background: #1697e5;
}
/* line 49, ../sass/_ticket.scss */
.ticket-cards .card .price-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 140px;
  padding: 34px 0 20px;
  border: 1px solid #3a5c6a;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
  color: #7fb8cc;
}
/* line 62, ../sass/_ticket.scss */
.ticket-cards .card .price-box .price:first-child {
  margin-left: 40px;
}
/* line 65, ../sass/_ticket.scss */
.ticket-cards .card .price-box .price:last-child {
  margin-right: 40px;
}
/* line 68, ../sass/_ticket.scss */
.ticket-cards .card .price-box .price > * {
  display: block;
  text-align: center;
}
/* line 73, ../sass/_ticket.scss */
.ticket-cards .card .price-box .price .figure {
  margin: 15px 0 3px;
  line-height: 36px;
  font-size: 24px;
  color: #fff;
}
/* line 82, ../sass/_ticket.scss */
.ticket-cards .card .desc {
  padding: 12px 19px 23px;
  line-height: 20px;
}
/* line 86, ../sass/_ticket.scss */
.ticket-cards .card .desc > p {
  font-size: 14px;
  color: #7fb8cc;
  display: inline-block;
}

/* line 95, ../sass/_ticket.scss */
blockquote.clip {
  font: normal 14px/1 "Noto Sans", "Ubuntu", -apple-system, Arial, "Microsoft YaHei", "Microsoft Jhenghei", "Pingfang TC", "Hiragino Sans GB", "Lantinghei TC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "SimHei", "WenQuanYi Zen Hei Sharp", sans-serif;
  padding: 16px;
  border-radius: 20px;
  border: 2px solid #3a5c6a;
}
/* line 101, ../sass/_ticket.scss */
blockquote.clip li {
  line-height: 150%;
}
/* line 104, ../sass/_ticket.scss */
blockquote.clip li:not(:last-child) {
  margin-bottom: 7.5px;
}

@media only screen and (min-width: 781px) {
  /* line 115, ../sass/_ticket.scss */
  .ticket-cards {
    display: flex;
  }
  /* line 118, ../sass/_ticket.scss */
  .ticket-cards .card {
    position: relative;
  }
  /* line 121, ../sass/_ticket.scss */
  .ticket-cards .card:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  }
  /* line 127, ../sass/_ticket.scss */
  .ticket-cards .card .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  /* line 136, ../sass/_ticket.scss */
  .ticket-cards .card .price-box {
    border-width: 0 1px;
    border-bottom: 1px dashed #3a5c6a;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  /* line 143, ../sass/_ticket.scss */
  .ticket-cards .card .desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    height: 115px;
    border: 1px solid #3a5c6a;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  /* line 154, ../sass/_ticket.scss */
  .ticket-cards .card .desc > p {
    display: inline-block;
  }
  /* line 158, ../sass/_ticket.scss */
  .ticket-cards .card .desc a {
    position: relative;
    z-index: 1;
  }

  /* line 166, ../sass/_ticket.scss */
  blockquote.clip {
    padding: 15px 68px;
  }
}
@media only screen and (max-width: 780px) {
  /* line 3, ../sass/_rwd.scss */
  :root.overflow-hidden {
    overflow-x: hidden;
    position: fixed;
  }

  /* line 9, ../sass/_rwd.scss */
  :root, body {
    height: 100%;
    width: 100%;
  }

  /* line 14, ../sass/_rwd.scss */
  .wrapper {
    width: 100%;
  }

  /* line 18, ../sass/_rwd.scss */
  .inner-wrapper {
    margin: 80px 15px;
  }

  /* line 22, ../sass/_rwd.scss */
  .logo {
    margin: 56px auto 58px;
  }
  /* line 25, ../sass/_rwd.scss */
  .logo > img {
    max-width: 238px;
  }

  /* line 30, ../sass/_rwd.scss */
  body {
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    margin: 0;
    padding: 0;
  }
  /* line 36, ../sass/_rwd.scss */
  body.show-menu {
    transform: translateX(65vw);
  }
  /* line 39, ../sass/_rwd.scss */
  body.show-menu::after {
    content: '';
    position: fixed;
    background: rgba(0, 0, 0, 0.53);
    width: 35vw;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
  }

  /* line 52, ../sass/_rwd.scss */
  header {
    height: 64px;
    position: relative;
  }
  /* line 56, ../sass/_rwd.scss */
  header .btn-menu {
    display: block;
    width: 22px;
    height: 18px;
    position: absolute;
    background: url("../images/icon-menu.svg") left top no-repeat;
    background-size: cover;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  /* line 70, ../sass/_rwd.scss */
  .header-nav > .header-logo {
    display: none;
  }

  /* line 75, ../sass/_rwd.scss */
  .header-nav,
  .header-menu-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 65vw;
    overflow: auto;
    background: #1b3349;
    padding: 0;
    transform: translateX(-100%);
  }
  /* line 87, ../sass/_rwd.scss */
  .header-nav > a,
  .header-nav > .parent,
  .header-menu-nav > a,
  .header-menu-nav > .parent {
    display: block;
    position: relative;
    height: 60px;
    line-height: 60px;
    margin: 0;
    font-size: 16px;
    padding: 0 0 0 39px;
    border-bottom: 1px solid rgba(100, 125, 146, 0.5);
  }
  /* line 98, ../sass/_rwd.scss */
  .header-nav > a:not(:last-child),
  .header-nav > .parent:not(:last-child),
  .header-menu-nav > a:not(:last-child),
  .header-menu-nav > .parent:not(:last-child) {
    margin-right: 0;
  }
  /* line 102, ../sass/_rwd.scss */
  .header-nav > a::before, .header-nav > a::after,
  .header-nav > .parent::before,
  .header-nav > .parent::after,
  .header-menu-nav > a::before,
  .header-menu-nav > a::after,
  .header-menu-nav > .parent::before,
  .header-menu-nav > .parent::after {
    display: none;
  }
  /* line 107, ../sass/_rwd.scss */
  .header-nav > a.active,
  .header-nav > .parent.active,
  .header-menu-nav > a.active,
  .header-menu-nav > .parent.active {
    border-image-source: none;
  }
  /* line 110, ../sass/_rwd.scss */
  .header-nav > a.active::before,
  .header-nav > .parent.active::before,
  .header-menu-nav > a.active::before,
  .header-menu-nav > .parent.active::before {
    content: '';
    display: block;
    height: 31px;
    width: 3px;
    background-color: #46C1EA;
    position: absolute;
    left: 6px;
    top: 15px;
  }
  /* line 122, ../sass/_rwd.scss */
  .header-nav > a.lang,
  .header-nav > .parent.lang,
  .header-menu-nav > a.lang,
  .header-menu-nav > .parent.lang {
    padding-left: 20px;
    position: relative;
  }
  /* line 126, ../sass/_rwd.scss */
  .header-nav > a.lang > a,
  .header-nav > .parent.lang > a,
  .header-menu-nav > a.lang > a,
  .header-menu-nav > .parent.lang > a {
    text-decoration: underline;
    font-size: 14px;
  }
  /* line 132, ../sass/_rwd.scss */
  .header-nav > a.to-expand,
  .header-nav > .parent.to-expand,
  .header-menu-nav > a.to-expand,
  .header-menu-nav > .parent.to-expand {
    position: relative;
    height: auto;
  }
  /* line 136, ../sass/_rwd.scss */
  .header-nav > a.to-expand::after,
  .header-nav > .parent.to-expand::after,
  .header-menu-nav > a.to-expand::after,
  .header-menu-nav > .parent.to-expand::after {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    left: auto;
    bottom: auto;
    top: 24px;
    background: url("../images/icon-arrow-right.svg") left top no-repeat;
    width: 7.5px;
    height: 12.5px;
    background-size: cover;
  }
  /* line 150, ../sass/_rwd.scss */
  .header-nav > a.to-expand > a:first-child,
  .header-nav > .parent.to-expand > a:first-child,
  .header-menu-nav > a.to-expand > a:first-child,
  .header-menu-nav > .parent.to-expand > a:first-child {
    display: block;
    height: 60px;
    line-height: 60px;
  }
  /* line 156, ../sass/_rwd.scss */
  .header-nav > a.to-expand .sub,
  .header-nav > .parent.to-expand .sub,
  .header-menu-nav > a.to-expand .sub,
  .header-menu-nav > .parent.to-expand .sub {
    display: none;
  }
  /* line 159, ../sass/_rwd.scss */
  .header-nav > a.to-expand .sub::before,
  .header-nav > .parent.to-expand .sub::before,
  .header-menu-nav > a.to-expand .sub::before,
  .header-menu-nav > .parent.to-expand .sub::before {
    content: '';
    display: block;
    width: 65vw;
    height: 1px;
    background-color: rgba(100, 125, 146, 0.5);
    position: absolute;
    left: -39px;
    top: 0;
  }
  /* line 172, ../sass/_rwd.scss */
  .header-nav > a.to-expand.expanded::after,
  .header-nav > .parent.to-expand.expanded::after,
  .header-menu-nav > a.to-expand.expanded::after,
  .header-menu-nav > .parent.to-expand.expanded::after {
    top: 26.5px;
    background: url("../images/icon-arrow-down.svg") left top no-repeat;
    width: 12.5px;
    height: 8px;
  }
  /* line 179, ../sass/_rwd.scss */
  .header-nav > a.to-expand.expanded .sub,
  .header-nav > .parent.to-expand.expanded .sub,
  .header-menu-nav > a.to-expand.expanded .sub,
  .header-menu-nav > .parent.to-expand.expanded .sub {
    display: block;
  }
  /* line 185, ../sass/_rwd.scss */
  .header-nav > a .sub,
  .header-nav > .parent .sub,
  .header-menu-nav > a .sub,
  .header-menu-nav > .parent .sub {
    position: relative;
    left: auto;
    top: auto;
    min-width: 0;
    background-color: transparent;
    box-shadow: none;
  }
  /* line 193, ../sass/_rwd.scss */
  .header-nav > a .sub > a,
  .header-nav > .parent .sub > a,
  .header-menu-nav > a .sub > a,
  .header-menu-nav > .parent .sub > a {
    display: block;
    padding: 0 0 0 24px;
    height: 60px;
    line-height: 60px;
    margin: 0;
    font-size: 16px;
  }
  /* line 201, ../sass/_rwd.scss */
  .header-nav > a .sub > a:not(:last-child),
  .header-nav > .parent .sub > a:not(:last-child),
  .header-menu-nav > a .sub > a:not(:last-child),
  .header-menu-nav > .parent .sub > a:not(:last-child) {
    border-bottom: 1px solid rgba(100, 125, 146, 0.5);
  }
  /* line 205, ../sass/_rwd.scss */
  .header-nav > a .sub > a:hover, .header-nav > a .sub > a:active, .header-nav > a .sub > a.active,
  .header-nav > .parent .sub > a:hover,
  .header-nav > .parent .sub > a:active,
  .header-nav > .parent .sub > a.active,
  .header-menu-nav > a .sub > a:hover,
  .header-menu-nav > a .sub > a:active,
  .header-menu-nav > a .sub > a.active,
  .header-menu-nav > .parent .sub > a:hover,
  .header-menu-nav > .parent .sub > a:active,
  .header-menu-nav > .parent .sub > a.active {
    position: relative;
    border-left-color: transparent;
  }
  /* line 211, ../sass/_rwd.scss */
  .header-nav > a .sub > a:hover::before, .header-nav > a .sub > a:active::before, .header-nav > a .sub > a.active::before,
  .header-nav > .parent .sub > a:hover::before,
  .header-nav > .parent .sub > a:active::before,
  .header-nav > .parent .sub > a.active::before,
  .header-menu-nav > a .sub > a:hover::before,
  .header-menu-nav > a .sub > a:active::before,
  .header-menu-nav > a .sub > a.active::before,
  .header-menu-nav > .parent .sub > a:hover::before,
  .header-menu-nav > .parent .sub > a:active::before,
  .header-menu-nav > .parent .sub > a.active::before {
    content: '';
    height: 31px;
    width: 3px;
    background-color: #46C1EA;
    position: absolute;
    left: -33px;
    top: 15px;
  }

  /* line 226, ../sass/_rwd.scss */
  .btn-close {
    display: block;
    width: 17px;
    height: 17px;
    background: url("../images/icon-close.svg") left top no-repeat;
    background-size: 17px;
    position: absolute;
    right: 19px;
    top: 50%;
    transform: translateY(-50%);
  }

  /* line 238, ../sass/_rwd.scss */
  .what-is-pycon,
  .what-is-pycon-taiwan {
    width: 100%;
    float: none;
  }

  /* line 244, ../sass/_rwd.scss */
  .index-intro {
    margin-top: 300px;
  }
  /* line 248, ../sass/_rwd.scss */
  .index-intro > article:not(:last-child) {
    margin-bottom: 80px;
  }
  /* line 252, ../sass/_rwd.scss */
  .index-intro > article > h2 {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 22px;
  }
  /* line 258, ../sass/_rwd.scss */
  .index-intro > article > p {
    font-size: 14px;
    line-height: 24px;
  }

  /* line 265, ../sass/_rwd.scss */
  .index-session-links {
    display: none;
  }

  /* line 270, ../sass/_rwd.scss */
  .date-panel > * {
    width: 253px;
  }
  /* line 274, ../sass/_rwd.scss */
  .date-panel > code {
    font-size: 24px;
  }

  /* line 279, ../sass/_rwd.scss */
  .communities {
    display: block;
    width: 100%;
    margin: 71px auto;
  }
  /* line 284, ../sass/_rwd.scss */
  .communities > h2 {
    font-size: 24px;
    line-height: 27px;
  }

  /* line 290, ../sass/_rwd.scss */
  .community-refs {
    transform: none;
  }
  /* line 293, ../sass/_rwd.scss */
  .community-refs > a {
    width: 100%;
    float: none;
    display: block;
    max-width: 200px;
    white-space: nowrap;
    margin: 0 auto;
  }
  /* line 301, ../sass/_rwd.scss */
  .community-refs > a:not(:last-child) {
    margin-bottom: 20px;
  }

  /* line 307, ../sass/_rwd.scss */
  .deco {
    display: none;
  }

  /* line 311, ../sass/_rwd.scss */
  .deco.meteor.left {
    display: block;
    left: 0;
    top: 319px;
    width: 170px;
  }

  /* line 318, ../sass/_rwd.scss */
  .control-nav {
    display: none;
  }

  /* line 322, ../sass/_rwd.scss */
  .header-menu-nav {
    display: none;
  }
  /* line 325, ../sass/_rwd.scss */
  .header-menu-nav > a.active {
    position: relative;
  }
  /* line 328, ../sass/_rwd.scss */
  .header-menu-nav > a.active::before {
    display: block;
    content: '';
    height: 31px;
    width: 3px;
    background-color: #46C1EA;
    position: absolute;
    left: 6px;
    top: 15px;
  }
}
@media only screen and (min-width: 781px) and (max-width: 950px) {
  /* line 343, ../sass/_rwd.scss */
  .wrapper {
    margin: 0 20px;
  }

  /* line 346, ../sass/_rwd.scss */
  .index-session-links {
    width: 596px;
  }
}
@media only screen and (min-width: 781px) {
  /* line 355, ../sass/_rwd.scss */
  .header-nav > a.lang,
  .header-nav > div.lang {
    display: none;
  }
  /* line 359, ../sass/_rwd.scss */
  .header-nav > a:hover,
  .header-nav > div:hover {
    color: #fff;
  }
  /* line 362, ../sass/_rwd.scss */
  .header-nav > a:hover .sub,
  .header-nav > div:hover .sub {
    display: block;
  }

  /* line 370, ../sass/_rwd.scss */
  .inner-wrapper table th {
    white-space: nowrap;
  }
}
