.inner-wrapper {

    .registration-ticket-dates-table {
        th, td {
            text-align: left;
        }
        th {
            font-weight: bold;
            padding: 0 1em;
        }
    }

    .registration-table {

        width: 100%;

        th, td {
            padding: 1em;
            vertical-align: middle;
        }
        th {
            font-weight: bold;
        }

        p {
            margin-bottom: 0.25em;
        }

        tr {
            > th, > td {

                border-bottom: 0.5px solid #777;
                white-space: nowrap;
                text-align: center;

                &.description {
                    white-space: normal;
                    text-align: left;
                }
            }
        }

        > thead > tr:last-child, > tbody > tr:last-child {
            > th, > td {
                border-bottom: 2px solid #aaa;
            }
        }
    }
}
