
{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}社群體驗式主題議程{% endblock title %}

{% block meta_description %}社群軌是 PyCon TW 的一項新活動。我們選定數個熱門的主題，並且將同主題的精采演講打包成 N 場連續放送的形式，讓會眾能聽得過癮。我們捨棄了儘管專業但是死板的會議室，在有特色的咖啡廳、展演空間、甚至是古蹟內來舉辦上述各種主題的演講，讓會眾能更加舒適地且近距離地與他人互動。{% endblock meta_description %}


{% block content %}

<section class="pill-title alt">
    <h1>社群體驗式主題議程</h1>
</section>

<p>社群軌是 PyCon TW 的一項新活動。我們選定數個熱門的主題，並且將同主題的精采演講打包成 N 場連續放送的形式，讓會眾能聽得過癮。我們捨棄了儘管專業但是死板的會議室，在有特色的咖啡廳、展演空間、甚至是古蹟內來舉辦上述各種主題的演講，讓會眾能更加舒適地且近距離地與他人互動。</p>

<ul>
    <li class="event-info">
        <b>活動時間</b><br />
        2020/09/06 13:40
    </li>
    <li class="event-info">
        <b>活動形式</b><br />
        實體聚會
    </li>
    <li class="event-info">
        <b>主持人</b><br />
        各地 Python 社群負責人
    </li>
</ul>

<article class="media">
    <h2>場地照片</h2>
    <p><b>古蹟出張所</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/b16tainan.jpg' %}" width="100%">
    <p><b>藏風藝文空間</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/tsang-fong-coffee.jpg' %}" width="100%">
    <p><b>巷木Shamu</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/tainan-shamu.jpg' %}" width="100%">
    <p><b>Angry Burger</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/angry-burger.jpg' %}" width="100%">
    <p><b>三道門香見Brunch</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/three-doors-brunch.jpg' %}" width="100%">
</article>


<h2>活動議程</h2>
<table>
	<thead>
		<tr>
			<th>時間</th>
			<th>執行項目</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>13:40 - 13:50</td>
			<td>社群介紹</td>
		</tr>
		<tr>
			<td>13:50 - 14:20 </td>
			<td>講者分享</td>
		</tr>
		<tr>
			<td>14:20 - 14:30 </td>
			<td>休息時間</td>
		</tr>
		<tr>
			<td>14:30 - 15:00 </td>
			<td>講者分享</td>
		</tr>
		<tr>
			<td>15:00 - 15:10 </td>
			<td>休息時間</td>
		</tr>
		<tr>
			<td>15:10 - 15:50 </td>
			<td>講者分享/ 贊助商介紹</td>
		</tr>
		<tr>
			<td>15:50 - 16:00 </td>
			<td>休息時間</td>
		</tr>
		<tr>
			<td>16:00 - 16:40 </td>
			<td>自由交流</td>
		</tr>
	</tbody>
</table>


{% endblock content %}
