{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}活動總覽{% endblock title %}
{% block content %}

{% url 'page' path='conference/keynotes' as events_keynote_url %}
{% url 'events_talk_list' as events_talk_list_url %}
{% url 'events_tutorial_list' as events_tutorial_url %}
{% url 'page' path='events/open-spaces' as events_openspaces_url %}
{% url 'community_track' as community_track_url %}
{% url 'page' path='events/sprints' as events_sprint_url %}

<section class="pill-title alt">
	<h1>活動總覽</h1>
	<i class="icon icon-speaking"></i>
</section>

<h2>基調演講（Keynote）</h2>

<p>為期兩天的議程中，將有三位講者於不同場次進行基調演講（Keynote）。基調演講講者都是在全球而言各領域非常頂尖的人士；他們將帶來對自己的領域、專案的經驗分享，或者對於未來數年發展的方向與想像。</p>

<p>更多關於<em>基調演講</em>的內容請參考 <a href="{{ events_keynote_url }}">{% trans 'Keynotes' %}</a> 頁面。</p>


<h2>演講（Talk）</h2>

<p>演講為會期兩天最主要的活動，屆時將會有來自台灣各地與全球的講者分享他們在 Python 相關的發現。Talk 有 30 分鐘與 15
	分鐘兩種長度，每天都將有三軌議程同步進行，配合各個演講的難易度與類型，選擇自己有興趣的主題聆聽。許多人都會事先筆記想聽的議程，才不會跑錯地點。</p>

<p>更多關於<em>演講</em>的內容請參考 <a href="{{ events_talk_list_url }}">{% trans 'Talks' %}</a> 頁面。</p>


<h2>專業課程（Tutorial）</h2>

<p>專業課程（Tutorial）是 PyCon Taiwan 的一部份，但需要另外報名，以獲得參加資格。活動提供 1.5 小時課程，課程內容採取公開遴選方式徵求提案。</p>

<p>更多關於<em>專業課程</em>的內容請參考 <a href="{{ events_tutorial_url }}">{% trans 'Tutorials' %}</a> 頁面。</p>


<h2>閃電秀（Lightning Talks）</h2>

<p>閃電秀在會議每天下午結束之前舉辦，是每個演講包含設置投影片僅限五分鐘的刺激活動。如果要報名閃電秀，請在註冊櫃檯的「閃電秀」罐中投入你的講題與姓名，我們會在每天中午抽出當日的中選名單。</p>


<h2>開放空間（Open Spaces）</h2>

<p>開放空間（Open
	Spaces）是自助式、聚會形式的活動。該活動將會舉辦在一樓多功能廳，與大會議程平行進行。開放空間有別於大會大部分的會議內容，議程規劃是由大會與會者「當場」計畫的。開放空間讓你能用任何你喜歡的方式定義、組織、規劃你自己的小聚。</p>

<p>對於曾經參加過過往 PyCon Taiwan 或是其他研討會的會眾，開放空間的概念也許讓你覺得似曾相識。沒有錯，開放空間基本上很類似 <a href="https://tw.pycon.org/2014apac/zh/bof/"
		target="_blank" rel="noopener">BoF</a>，不過「開放空間 / Open Spaces」對於第一次參加的會眾來說是個更好猜測的詞語。</p>

<p>更多關於 <em>Open Spaces</em> 的內容請參考 <a href="{{ events_openspaces_url }}">{% trans 'Open Spaces' %}</a> 頁面。</p>


<h2>Job Fair</h2>

<p>這是一個專門為 Python 工程師而設的就業博覽會。Job Fair
	雖不會安排任何議程，但開放廠商在台上自我介紹，會眾可以趁此時與現場的廠商交流、投屨歷，廠商也會藉此時宣傳自己徵才的需求。對於想找工作的會眾，我們鼓勵在這時段多與廠商互相交流，也許美好的機會就此出現。</p>


<h2>社群軌（Community Track）</h2>

<p>社區軌是 PyCon TW 的一項新活動。我們選定數個熱門的主題，並且將同主題的精采演講打包成 N
	場連續放送的形式，讓會眾能聽得過癮。我們捨棄了儘管專業但是死板的會議室，在有特色的咖啡廳、展演空間、甚至是古蹟內來舉辦上述各種主題的演講，讓會眾能更加舒適地且近距離地與他人互動。</p>

<p>簡言之，「社群軌」就是希望可以為所有人：會眾、講者、贊助商、社群建立更強的連結！</p>

<p>活動將在第二天（9 月 6 日）下午進行，時間為 180 個分鐘，包含 90 分鐘的大會安排演講。 更多關於 <em>Community Track</em> 的內容請參考 <a
		href="{{ community_track_url }}">{% trans 'Community Track' %}</a> 頁面。</p>


<h2>衝刺開發（Sprints）</h2>

<p>
	衝刺開發（Sprints）安排在大會的兩天之外。衝刺開發是一個聚集開源專案負責人、貢獻者、想貢獻但不知道從何開始的人的活動。在活動中，將會有專案領導人帶著他們專案待解決的問題、待開發的功能來現場分享與解說。你可以選擇加入自己喜歡的專案，或是帶著自己的專案和大家分享！
</p>

<p>對已經有一定 Python
	基礎的人，想參與開源專案但不知如何加入，或者害羞怕自己不了解該專案環境的人，參加衝刺開發是個大展身手的好時機；而對於專案領導人來說，這是一個找到志同道合的朋友、面對面和貢獻者交流、帶領更多新人加入開發的好機會！</p>

<p>更多關於 <em>Sprints</em> 的內容請參考 <a href="{{ events_sprint_url }}">{% trans 'Sprints' %}</a> 頁面。</p>

<p>Sprints 報名頁面： <a href="https://pycontw.kktix.cc/events/20200830-sprint" target="_blank" rel="noopener">KKTIX</a> </p>
<p>Sprints 專案頁面： <a href="https://hackmd.io/w5hh0hUNQr65k4ayG2128Q?view" target="_blank" rel="noopener">HackMD</a> </p>


<h2>PyNight</h2>

<p>PyNight 是往年 BoF 活動的延伸，在第一天（9 月 5 日）議程結束之後，試著為 Python
	社群提供一個更多元的娛樂與社交場合。活動包含「音樂」與「交流」兩個主軸：在音樂會中，主角是一群多才多藝的社群朋友，為大家帶來他們精心準備的音樂演出。在社群交流活動中，主角就是你！不論你有什麼想法，都可以在這裡尋找志同道合的朋友；主題沒有任何限制，只要你有興趣，一切都歡迎。
</p>


{% endblock content %}
