
{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}PyCon TW x PyHUG 聯合線上直播{% endblock title %}

{% block meta_description %}PyCon Taiwan 與地方社群 PyHUG 實體聚會進行線上與線下聯播活動！{% endblock meta_description %}


{% block content %}

<section class="pill-title alt">
    <h1>PyCon TW x PyHUG 聯合線上直播</h1>
</section>

<p>暖身活動來到第三場，PyCon Taiwan 與地方社群 PyHUG 實體聚會進行線上與線下聯播活動。</p>

<ul>
    <li class="event-info">
        <b>活動時間</b><br />
        Wednesday, 29 July 2020
				7:30 pm to 8:30 pm GMT+8
    </li>
    <li class="event-info">
        <b>活動形式</b><br />
        Youtube 線上直播（
        <a href="https://www.youtube.com/watch?v=PAd9-DMaJPQ" target="_blank">
            影片連結
        </a>
				）
    </li>
    <li class="event-info">
        <b>線下聚會</b><br />
        <a href="https://www.meetup.com/pythonhug/events/tnzzgpybckbmc/" target="_blank">Micro Beer 麥烤杯 新竹縣竹北市自強七街40號</a>
    </li>
    <li class="event-info">
        <b>主持人</b><br />
        Dainese
    </li>
</ul>

<h2> 社群介紹: <a href="https://www.meetup.com/pythonhug" target="_blank">Python Hsinchu User Group</a></h2>
<p>歡迎來到 PyHUG。我們是一群活動於新竹周邊的 Python 程式員。我們會定期舉辦技術討論與程式設計的聚會。非常歡迎你加入我們！</p>

<h2>活動議程</h2>
<table>
	<thead>
		<tr>
			<th>時間</th>
			<th>執行項目</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>19:00 - 19:25</td>
			<td>入座</td>
		</tr>
		<tr>
			<td>19:25 - 19:30</td>
            <td>講員介紹</td>
		</tr>
		<tr>
			<td>19:30 - 20:00</td>
            <td>分享: 用 Loki 做個能究責的 NLU 模型 - 以金融場景應用為例</td>
		</tr>
		<tr>
			<td>20:00 - 20:20</td>
            <td>Q&amp;A</td>
		</tr>
		<tr>
            <td>20:20 - 21:00</td>
			<td>會後自由分享</td>
		</tr>
	</tbody>
</table>

{% endblock content %}
