{% extends 'contents/_base.html' %}

{% block title %}衝刺開發{% endblock title %}

{% block body_class %}{{ block.super }} exchange-page{% endblock body_class %}


{% block content %}

<h1>衝刺開發</h1>

<p>衝刺開發 (Sprints) 安排在大會的兩天之外。衝刺開發是一個聚集開源專案負責人、貢獻者、想貢獻但不知道從何開始的人的活動。在活動中，將會有專案領導人帶著他們專案待解決的問題、待開發的功能來現場分享與解說。你可以選擇加入自己喜歡的專案，或是帶著自己的專案和大家分享！</p>

<p>對已經有一定 Python 基礎的人，想參與開源專案但不知如何加入，或者害羞怕自己不了解該專案環境的人，參加衝刺開發是個大展身手的好時機；而對於專案領導人來說，這是一個找到志同道合的朋友、面對面和貢獻者交流、帶領更多新人加入開發的好機會！</p>

<p>今年的 PyCon TW Sprints 將會以實體和線上同步進行，讓你可以持續參與貢獻開源專案。</p>

<h3>實體 Sprints</h3>

<p>實體 Sprints 聚會將在 8/30 星期日，在台南好想工作室舉辦。你可以近距離與專案領導人互動，瞭解專案，並在聚會中與大家一同為開源專案貢獻你的程式碼，在聚會中，會場也有提供小點心，讓你可以一邊享受美食一邊敲打你的程式！</p>

<p>報名方式請至 <a href="https://pycontw.kktix.cc/events/20200830-sprint" target="_blank" rel="noopener">KKTIX</a> 報名</p>

<h3>線上 Sprints</h3>

<p>線上 Sprints 聚會則是透過與你有興趣的專案領導人聯絡，專案領導人會將你加入共同的聊天室群組，並與你在線上進行互動，如果你覺得在實體聚會還意猶未盡，仍然可以透過線上的 Sprints 與專案領導人持續交流。如此一來，貢獻開源便不受限於時間與地點，而是一個長期的社群經營。</p>

<h2>Sprint 主持人報名</h2>

<p>如果你有興趣當專案主持人，歡迎透過 <a href="https://hackmd.io/w5hh0hUNQr65k4ayG2128Q?both" target="_blank" rel="noopener">HackMD</a> 新增你的專案</p>

{% endblock content %}
