
{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}PyCon TW x taipei.py 聯合線上直播{% endblock title %}

{% block meta_description %}PyCon Taiwan 合併 taipei.py 實體聚會所進行的線上與線下聯播活動！！{% endblock meta_description %}


{% block content %}

<section class="pill-title alt">
    <h1>PyCon TW x taipei.py 聯合線上直播</h1>
</section>

<p>接續 Python NPF x 南投.py 活動的經驗，PyCon Taiwan 這次合併 taipei.py 實體聚會進行線上與線下聯播活動。</p>

<ul>
    <li class="event-info">
        <b>活動時間</b><br />
        Thursday, 18 June 2020
				7:00 pm to 9:00 pm GMT+8
    </li>
    <li class="event-info">
        <b>活動形式</b><br />
        Youtube 線上直播（
        <a href="https://www.youtube.com/watch?v=7evFdOrEqnU" target="_blank">
            影片連結
        </a>
				）
    </li>
    <li class="event-info">
        <b>線下聚會</b><br />
        <a href="https://www.meetup.com/Taipei-py/events/271185591/" target="_blank">iCHEF Office 交誼廳 台北市大安區仁愛路三段136號15F 1501室</a>
    </li>
    <li class="event-info">
        <b>主持人</b><br />
				Keith, Tim
    </li>
</ul>

<h2> 社群介紹: <a href="https://www.meetup.com/Taipei-py/" target="_blank">Taipei.py - Taipei Python User Group</a></h2>
<p>Taipei.py 又稱台北 Python 使用者群組，每個月會舉辦 Seminar（討論會）讓大台北的 Python 愛好者或對 Python 有興趣的人，能藉由難得的機會一起分享、研究、把玩、認識它五花八門的應用與技術，以及 Python 之美。</p>

<h2>活動議程</h2>
<table>
	<thead>
		<tr>
			<th>時間</th>
			<th>執行項目</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>19:00 - 19:10</td>
			<td>活動開始、歡迎暖場與社群介紹</td>
		</tr>
		<tr>
			<td>19:20 - 19:50</td>
			<td>講者分享1 : Wei Lee - commitizen-tools: What can we gain from crafting a git message convention?</td>
		</tr>
		<tr>
			<td>19:50 - 20:20</td>
			<td>講者分享2 : Keith Yang - Django Cookiecutter: their everyday Django project template</td>
		</tr>
		<tr>
			<td>20:20 - 20:50</td>
			<td>講者分享3 : Tim Hsu - What's New in Python 3.9</td>
		</tr>
		<tr>
			<td>20:50 - 21:00</td>
			<td>活動結尾</td>
		</tr>
	</tbody>
</table>

{% endblock content %}
