{% extends 'contents/_base/speaking.html' %}

{% load i18n static %}

{% block title %}投稿募集{% endblock %}
{% block page_title %}<h1>投稿募集（Call for Proposals）</h1>{% endblock %}

{% block meta_og %}
  <meta property="og:title" content="投稿募集（Call for Proposals）| PyCon Taiwan 2016" />
  <meta property="og:description" content="即日起，PyCon Taiwan 2016 開始接受演講（Talk）與教學（Tutorial）的投稿！" />
  <meta property="og:image" content="http://{{ request.get_host }}{% static 'images/PyConTW2016_facebook_shareImage.png' %}" />
{% endblock %}

{% block content %}
    {% url 'page' path='speaking/recording' as speaking_recording_url %}
    {% url 'page' path='speaking/talk' as speaking_talk_url %}
    {% url 'page' path='speaking/tutorial' as speaking_tutorial_url %}
    {% url "signup" as signup_url %}
    {% url "user_dashboard" as dashboard_url %}

    <p>
        即日起，PyCon Taiwan 2016 開始接受演講（Talk）與教學（Tutorial）的投稿！
    </p>

    <h2>重要日期</h2>
    <ul>
        <li>演講、教學投稿開始：Jan 9</li>
        <li>演講、教學投稿結束：Feb 22</li>
        <li>投稿結果公佈：Apr 3（待定）</li>
    </ul>
    <p>
        PyCon 致力於協助 Python 教育及提倡 Python 的使用，演講預設會由 Python Taiwan 委員會錄影、剪輯
        並上傳至 <a href="http://pyvideo.org" target="_blank">pyvideo.org</a>。
        如果您不希望自己的演講被錄影，請在投稿時取消錄影的選項。更多錄影相關的資訊請參考<a
            href="{{ speaking_recording_url }}"
            target="_blank">錄影釋出</a>頁面。
    </p>
    <p>
        注意：講者亦需購票。（參見 [Everyone Pays 政策]）
    </p>

    <h2>如何投稿？</h2>
    <p>
        您需要先在 tw.pycon.org 上<a
            href="{{ signup_url }}">註冊</a>一個新帳號。帳號完成認證之後，即可以填寫講者資訊並透過<a
            href="{{ dashboard_url }}">控制面板</a>創建新的投稿。
    </p>
    <p>我們鼓勵您儘早投稿。</p>

    <h2>投稿方針</h2>
    <h3>演講（Talk）</h3>
    <p>
        我們歡迎任何和 Python 有關的主題，從學術發表到商業專案或者案例分析都可以。基本上，正在閱讀這段文字的您，就應該投稿！
    </p>
    <p>
        PyCon TW 2016 的主題為「Implement the future together」。因此，我們鼓勵講者分享自己的專案、自己學習
        Python 以及參與社群的經驗。同時，非常歡迎進階的主題。多數的演講為
        25 分鐘。不過，當我們認為延長時間能讓會眾能更了解該主題時，這些少部份的演講將延長為
        45 分鐘。注意：演講的時間內容包含 Q&amp;A 時間。您可以在投稿時選擇自己對演講時間長度的偏好。
    </p>
    <p>演講可以使用中文或英文分享。</p>
    <p>
        我們重新設計了投稿格式，讓它更能幫助講者在組識自己講題的想法。請參見<a
            href="{{ speaking_talk_url }}">如何投稿演講？</a>得到相關資訊。
    </p>
    <h3>教學（Tutorial）</h3>
    <p>
        同演講，我們對教學的主題並不做任何限制。教學為半天或一整天的活動，相當於
        3 或 6 小時的教學。投稿教學的方針基於演講，所以請先閱讀<a
            href="{{ speaking_talk_url }}">如何投稿演講？</a>。除了該文中的事項外，我們對教學投稿本身有額外的規範，請參見<a
            href="{{ speaking_tutorial_url }}">如何投稿教學？</a>一文。
    </p>
{% endblock content %}
