{% extends 'contents/_base.html' %}

{% block title %}如何投稿演講{% endblock %}

{% block content %}
    {% url 'page' path='speaking/cfp' as speaking_cfp_url %}

    <h1>如何投稿演講（Talk）？</h1>

    <p>
        有關整個投稿的流程說明，請參考<a
            href="{{ speaking_cfp_url }}">投稿募集</a>得到更完整的資訊。
    </p>

    <p>
        首先，感謝你投稿 PyCon Taiwan 2016！
    </p>

    <p>
        以下，將會引導你提交一個成功的稿件。我們會提供一些具體的建議來讓投稿資訊更加完整且具吸引力，增加被接受的機會。大方向來說，在投稿前應該思考以下這幾個問題：
    </p>

    <ul>
        <li>投稿的主題是？</li>
        <li>誰是你目標的聽眾？</li>
        <li>這些聽眾在演講完之後會得到什麼？</li>
        <li>如何在時間限制內組識這演講？</li>
    </ul>

    <p>
        思考完這些問題後，就可以準備投稿了！投稿有以下幾個欄位：
    </p>

    <ul>
        <li>題目</li>
        <li>分類</li>
        <li>時間長度</li>
        <li>語言</li>
        <li>目標聽眾</li>
        <li>摘要</li>
        <li>Python 難易度</li>
        <li>演講目標</li>
        <li>詳細講題說明（選填）</li>
        <li>大綱（選填）</li>
        <li>補充資訊（選填）</li>
        <li>議程錄影</li>
        <li>投影片連結（選填）</li>
    </ul>

    <p>
        看起來很多吼。恩……不過如果你跳過所有選填的欄位的話，那麼整個投稿就只需要約 500 字就能完成。不過我們依舊鼓勵你完成所有欄位，這能有效地幫忙審查的人了解你的投稿。
    </p>

    <p>
        這些欄位中，有些只開放讓審查人員和議程組看得到，不用在意會有破梗的問題。這些不公開的欄位有：
    </p>

    <ul>
        <li>目標聽眾</li>
        <li>演講目標</li>
        <li>大綱</li>
        <li>補充資訊</li>
    </ul>

    <p>接下來，我們將針對投稿不同面向提供更細節的建議。</p>

    <h2>題目選擇及整體建議</h2>

    <p>在判斷題目適不適合 PyCon Taiwan 時，你可以先看看過去幾屆有哪些被接受的講題：</p>
    <ul>
        <li><a href="//tw.pycon.org/2015apac/en/schedule/" target="_blank">PyCon
            APAC 2015</a></li>
        <li><a href="//tw.pycon.org/2014apac/en/program/" target="_blank">PyCon
            APAC 2014</a></li>
        <li><a href="//tw.pycon.org/2013/en/program/" target="_blank">PyCon
            TW 2013</a></li>
    </ul>

    <p>同時，在這頁最後，我們提供了不同難易度投稿的範例，歡迎參考。</p>

    <h3>投稿好主意</h3>
    <ul>
        <li>在摘要、詳細講題說明中應能回答以下幾點問題：</li>
        <ul>
            <li>
                誰是你心目中的聽眾？他們在演講前需要知道什麼？有沒有特別的專業知識（domain
                knowledge）需要先了解的？
            </li>
            <li>
                他們在聽完演講之後能得到什麼？
            </li>
        </ul>
        <li>
            在大綱中，列舉出每個要提的子主題，以及預計所需的時間。
        </li>
        <li>
            如果你認為一般 Python 使用者不一定了解你的主題時，應該把相關介紹的文章、wiki、程式碼等資料放在投稿中，這能幫助審查者以及會眾了解你的演講。
        </li>
    </ul>

    <h3>投稿不推薦的主意</h3>
    <ul>
        <li>
            避免資訊型廣告（infomercials）。<br>
            意即，只在議程中宣傳你的產品或介紹怎麼使用你的產品。然而，我們非常歡迎你來分享貴公司如果解決遇到的問題，以及你們維護、可以幫助多數會眾的開源專案。
        </li>
        <li>
            不應該假設審稿的人認識你。應該讓投稿本身提供足夠的資訊。
        </li>
    </ul>

    <h2>如何設定投稿的 Python 難易度？</h2>

    <p>選擇適當的 Python 難易度<strong>非常重要</strong>。</p>

    <p>
        你的投稿不會因為比較簡單或特別難就被接受。投稿與否與它的難易度與目標聽眾有關。
    </p>

    <p>
        例如，如果你的演講是給 Python 初學者，而內容是以你的學習經驗為基礎，分享你如果解決你遇到的難題。這是一個適當的投稿。如果你打算分享如果分析
        Python 記憶體的使用與管理，最後結合兩個 GC
        系統並且互傳指標，而這個演講設定給初學或中階的難度，這就不是個好主意。此時就直接設定為進階，然後隨心所欲地分享吧！
    </p>

    <p>
        上述的舉例分別是兩個極端的狀況，所以要判斷難易度十分容易。但如果分享的主題是介於兩端之間，有時就不這麼好決定。因此，我們底下提供了更多說明去幫助你找到合適的分類。
    </p>

    <h4>難易度－入門</h4>
    <p>
        聽眾沒有或僅一點點了解 Python。講者可以假設他們理解 Python
        基本的語法、程式控制流程（如：if-else、for 迴圈、函數等），但不會知道所有在
        Python 標準庫內的模組，或者是一些比較進階的概念（如：變數可見範圍、物件的
        MRO 繼承關係等）。
    </p>

    <p>
        這個難易度適合分享你學習 Python 的經驗、如何經營社群。一般來說，除非會眾能在演講中就能完全學會使用，否則關於
        Python 第三方套件的使用（如：pandas、Django）不能被歸類為入門的演講。
    </p>

    <h4>難易度－中階</h4>
    <p>
        可能的應用相較於初階演講將會大幅增加。此難度適合給已經會使用 Python
        但想知道更多可能應用的聽眾。應用包含架設網站（與框架）、資料庫溝通、監控網路流量、股票市場中的程式交易、科學計算等等。
    </p>

    <p>
        根據往年投稿的經驗，大約有半數的演講屬於這個難易度。注意：我們可能會聯絡你來討論是否修改你的投稿讓它更初階或更進階。
    </p>


    <h4>難易度－進階</h4>
    <p>
        會參考的會眾都已經對 Python 與程式開發非常熟悉。
    </p>

    <p>
        進階相較於中階的演講，最主要的差別為進階的演講會需要更多或更專精的背景知識（domain
        knowledge）來了解該主題。例如：效能的優化、工具的內部實作可能會在此難易度。
    </p>

    <h2>投稿範例</h2>
    <h3>例：初階</h3>
    <pre>
題目：           使用 Python 讓管理電腦資料更容易
分類：           Python Core
時間長度：       25 min
語言：           中文
Python 難易度：  Novice
目標聽眾：       初學 Python 、想試著用程式解決生活問題的人

摘要：

    對於現代人來說，電腦裡的資料相當於是外部記憶存放區。不論是日常的照片、音
    樂、影片，或者辦公、就學、研究產生的資料， 通通都放在電腦裡。經年累月下來，
    電腦資料夾就長期處於混沌狀態。又或者，拿到一系列的檔案，卻只能用檔案總管一
    個一個改。有沒有更好的做法？在這個演講中，將會介紹如何用 Python 以及內建的
    pathlib 模組「程式化」地管理目錄與檔案，並藉由簡單至複雜案例，最後結合
    Python 迴圈與排序技巧完成複雜的檔案重新歸類。

目標：

    我在初學寫程式的時候，並不知道程式可以用在哪裡。乍聽之下很怪，但因為一開始
    自己會的東西很有限， 像是架網站、資料分析的門檻對我來說都太高了。

    但我發現整理電腦裡面的的資料，是個很實用的切入點， 一開始能很簡單就看出效
    果，最後的確也能完成用人工很難做到的問題。這種漸近式的學習過程，應該對初學
    程式的人有幫助。

詳細講題說明（選填）：

    最後的案例分享，將一系列有標註日期檔名的照片，移動到已經有資料的
    「年 / 月」 目錄底下，並且按照時間先後重新依序命名照片。

大綱（選填）：

    1. 資料整理的常見狀況 [5 min]
    2. pathlib 模組設計介紹 [10 min]
      - 運用 Path 物件
      - 目錄結構探索 Path.iterdir(), .glob()
      - 使用 Path 更動路徑
    3. 結合 for 迴圈與排序 [5 min]
      - sorted(key=<lambda fun>) 用法
      - 整合 enumerated, zip 同時處理多個關連檔案
    4. 案例分享  [5 min]

補充資訊（選填）： None
議程錄影：         Yes
投影片連結：       None</pre>

    <h3>例：中階</h3>
    <pre>
題目：           自動處理部落格照片與加工
分類：           圖像處理
時間長度：       25 min
語言：           中文
Python 難易度：  中階
目標聽眾：       需要批次處理照片並利用其 EXIF 做額外處理的人，
                 並以 Pelican 此 blog 框架舉例。

摘要：

    現在的照片中都有內含拍攝時的資訊，稱為 EXIF。在建構一個以遊記、自然攝影的部
    落格時，需要把照片中的 EXIF 一些欄位整理在文章中照片的下方，如相機機型、鏡
    頭、光圈、快門、GPS 等訊息，有時也需要加註在浮水印之中。本演講將建立一個自
    動化處理 EXIF 的流程。首先介紹 exiftool 的使用，並且結合 Pillow 達到浮水印
    的效果。最後以 Pelican 這個部落格框架為例，建立一個 Pelican 擴充套件來完成
    自動處理所有放在文章的照片。

目標：

   寫部落格文章時，發現處理照片相關的操作花上非常多時間，因此希望能讓聽眾了解如
   何建立一個自動處理照片的流程，更加專心在文章的內容上。會希望會眾能知道如何使
   用 Python 處理 EXIF 與影像加工，以及 Pelican 擴充套件的架構。

詳細講題說明（選填）：

    ### 使用的第三方工具：

    - [exiftool] 為分析照片 EXIF 的 Perl 工具
    - [Pillow] 為 Python 影像處理工具，前身為 PIL (Python Image Library)
    - [Pelican] 為 Python 的 static site generator

    [exiftool]: http://www.sno.phy.queensu.ca/~phil/exiftool/
    [Pillow]: http://python-pillow.github.io/
    [Pelican]: http://blog.getpelican.com/

大綱（選填）：

    1. 簡介 EXIF 與 exiftool [5min]
    2. Pillow 使用及如何用它加上浮水印 [5min]
        - 字型的選用
        - 排版的一致性
    3. 自動化 [5min]
        - 使用 stdlib 架出一個 batch 處理流程
        - 搭配 joblib 或 multiprocessing 達成平行化
    4. 舉例（使用 Pelican）[5min]
        - 簡介 Pelican 擴充方式（template tag 與 signal 的搭配）
        - 成果
    5. Q&A [5min]

補充資訊（選填）：

    Taipei.py 的講者，以前講過的主題有：

        - [Pillow 影像處理簡介](/link/to/slides)
        - [使用 Pelican 架設部落格](/link/to/slides)

議程錄影：         Yes
投影片連結：       None</pre>
{% endblock content %}
