{% load i18n %}

<div class="navbar-social-{{ type }}">
	<a href="https://pycontw.blogspot.tw/" aria-label="{% trans 'Blog' %}" class="fa fa-book" target="_blank" rel="noopener"></a>
	<a href="https://www.facebook.com/pycontw" aria-label="Facebook" class="fa fa-facebook-official" target="_blank" rel="noopener"></a>
	<a href="https://twitter.com/pycontw" aria-label="Twitter" class="fa fa-twitter" target="_blank" rel="noopener"></a>
	<a href="mailto:organizers@pycon.tw" aria-label="Email" class="fa fa-envelope"></a>
</div>
