{% extends 'contents/_base/registration.html' %}

{% block title %}售票資訊{% endblock title %}
{% block page_title %}<h1>售票資訊 (Ticket Info)</h1>{% endblock page_title %}


{% block content %}

售票期限
開始售票：	2016 年 4 月 18 日 18：03 開始售票
售票截止：	早鳥票 2016 年 5 月 1 日 18：04 截止售票
原票價為 2016 年 5 月 13 日 18：05 截止

票種說明
請詳閱下列票種說明


早鳥票票價
原票價
說明


優惠票
2,190
2,690
此票種將發票全數捐贈給開放文化基金會，對此大會予以票價優惠。
按此購票
學生票
1,390
1,790
此票種將發票全數捐贈給開放文化基金會，對此大會予以票價優惠。
限在學學生，報到需出示學生證
按此購票
講者票
2,190
講者專用，報名時請輸入邀請碼
按此購票
一般票
4,490
4,990
有統編需求，請填寫公司抬頭與統一編號。
無統編需求，請於抬頭與統編填寫 N/A。
按此購票
※ 若無特別標註，皆以台幣計價; NTD 32.41 = USD 1.00 (2016.04.14)
※ 今年為電子發票，報帳與留存僅於發票上有有無統編的差別。
※ 如需英文發票，請來信 registration[at]pycon.tw

注意事項
1. T 裇尺寸
每一位報名參加者皆能獲得紀念 T 裇一件，請在報名時填寫您的尺寸。尺寸請參考下表：

尺寸
XS
S
M
L
XL
2XL
3XL
身高 (cm)
150 以下
150~160
160~170
170~180
180以上
胸寬
44.5
47
49.5
52
54.5
57
59.5
衣長
62
63.5
66
68.5
71
73.5
73.5


2. Everybody Pays
PyCon APAC 2016 為使用者需付費之議程，所有工作人員和講者均自行付費參加。
（見 PyCon:Everybody Pays）


3. 付款方式
我們提供三種付款方式：信用卡、PayPal、ATM轉帳。


4. 不接受退票
本次活動恕不受理退票。僅受理補差額更改優惠票成一般票，須於售票截止前 (2016 年 5 月 13 日) 寄信至 registration[at]pycon.tw 告知，活動方將於更改完成後，寄信通知買方。


5. 財務補助計畫 Financial Aid Plan

若您資金上有困難，歡迎申請大會 Financial Aid 計劃，但必須先購票才能申請！
更多的申請說明請至該專頁。


6. 特殊飲食習慣
會議當天提供午餐，素食或其他需求（例如：不吃牛肉或豬肉）請務必註明。


7. 正確的聯絡資訊
報名時請留下正確的聯絡方式（手機號碼與 email），以便大會通知。


8. 票務諮詢管道
如有任何問題，請寄信至 registration[at]pycon.tw ，票務將盡快給予回應。


9. 關於PyCon 課程 (Tutorial)、PyDay
您可以透過本頁面查詢 PyCon 課程以及 PyDay 相關內容。

我們衷心期待各地熱愛 Python 的每個人都能參加 PyCon Taiwan 2016 的活動 :)


{% endblock %}
