{% extends 'contents/_base.html' %}

{% block title %}PyCon Taiwan COVID-19 防疫守則{% endblock title %}

{% block content %}
{% url 'page' path='about/privacy_policy' as privacy_policy %}

<section class="pill-title alt">
	<h1>PyCon Taiwan COVID-19 防疫守則</h1>
</section>
<h5 class="edited_info">(CC BY-SA 3.0 TW)<br/>最後更新時間：2020-08-03</h5>
<hr>
<p>
	因應 2019 年新型冠狀病毒 (COVID-19) 疫情，「PyCon TW 主辦團隊」(以下簡稱「我們」) 參照我國中央流行疫情指揮中心的防疫措施，發布臺灣 Python 年會 (以下簡稱「PyCon TW」)
	實體活動防疫守則。請您與我們一同遵守，保護自己與他人的健康。此防疫守則將視疫情發展與我國中央疫情疫情指揮中心指示有所變動，所有更動將不另通知，請在會前持續回來關心。最終版預計在 2020 年 08 月 20 日發布。
</p>
<hr>

<h4>防疫要點</h4>

<ol class="custom_ol">
	<li>
		<b>每一位與會者須線上填寫「PyCon TW 2020 個人健康聲明書 」</b>(以下簡稱「個人健康申明書」)，填寫完畢個人健康聲明書可獲得專屬入場的 QR Code 與即能參與 PyCon TW 實體活動，該 QR Code
		請務必妥善保管，因資料僅供儲存用，遺失將無法取回，僅能再度填寫個人健康聲明書領取新的 QR Code。
		<ul class="custom_ul">
			<li>
				PyCon TW 2020 個人健康聲明書預計於 <b>2020 年 08 月20 日開放檢視</b>，並於 <b>2020 年 08 月 30 日開放填寫</b>。
			</li>
			<li>
				若當日無法使用電子設備進行填寫者，PyCon TW 將提供紙本個人健康聲明書，請填妥後交由現場工作人員。
			</li>
			<li>
				若對於個人健康申明書有疑慮者，歡迎向我們提出建議。
			</li>
		</ul>
	</li>
	<li>
		配合我國中央流行疫情指揮中心的防疫措施：<b>「保持社交距離（室內 1.5 公尺、室外 1 公尺），無法維持社交距離時，應配戴口罩」</b>，
		<b style="color:red;">與會者進入大會會議廳，請全程配戴口罩。</b>
	</li>
	<li>
		PyCon TW 會場進出採實名制，與會者須憑 QR Code 於報到處報到換取識別證，有識別證之參與者方可進入會場，工作人員將在各議程廳入口、社群議程軌場地入口、好想工作室入口檢查<b>與會者識別證，請務必先完成報到領取識別證後再行入場。所有與會者在入場前都要量測體溫。</b>
	</li>
	<li>
		各議程廳採人數總量管制，演講廳將有工作人員管控演講廳內部人數，請依照工作人員指示，<b>若演講廳已達人數上限請勿進入。</b>
	</li>
	<li>
		若有身體不適或具感染風險 (居家隔離、居家檢疫、自主健康管理) 等情形者，請在家裡好好休息，請勿前往 PyCon TW 會場。
	</li>
</ol>

<h4>參與者防疫準備</h4>
<ol class="custom_ol">

	<li>
		務必填寫<b>「PyCon TW 2020 個人健康聲明書」</b> (中英文版填寫一份即可)。
	</li>
	<li>
		配戴口罩：進入會議廳必須全程配戴口罩，可以隨身多備 1~2 枚口罩。
	</li>
	<li>勤洗手，可搭配酒精消毒手部與座位。</li>
	<li>議程移動時，請與會者自行消毒桌椅。</li>
</ol>

<h4>PyCon TW 防疫準備</h4>

<ol class="custom_ol">
	<li>
		PyCon TW 活動前一天與第一天會議結束時，我們將以漂白水做全區域消毒，消毒範圍包含：室內與走廊地板、門把、窗戶把手、電器開關、桌椅、洗手臺、樓梯扶手。
	</li>
	<li>
		大會報到處與服務台將備有額溫槍/耳溫槍，若有身體不適者，可前往量測。
	</li>
	<li>大會報到處與服務台備有消毒用酒精，如有需要，可自行取用。</li>
</ol>

<h4>個人資料保護聲明</h4>

<ul class="custom_ul">
	<li>
		PyCon TW 配合防疫期間所蒐集的資料，將在活動日起 28 天後刪除。參與者進出各館與各廳紀錄將作為疫情管控使用，若會後有任何疑似感染情況，PyCon TW
		將主動通知可能被影響的群眾，且得提供我國衛生主管機關依傳染病防治法等規定進行疫情調查及聯繫使用。詳細聲明請參照：<a
		href="{{ privacy_policy }}">PyCon Taiwan
		個人資料保護聲明。</a>
	</li>
</ul>

<h4>政府機關公文</h4>
<ul class="custom_ul">
	<li><a href="https://drive.google.com/file/d/1Gt3KgRFNgs-PBB37zHU_CiweqTngXjL_/view?usp=sharing">教育部函「防疫新生活運動」室內外集會須配合中央疫情指揮中心發布之相關指引</a>
	</li>
	<li><a href="http://serv.oga.ncku.edu.tw/var/file/57/1057/img/1292/104982743.pdf">國立成功大學因應嚴重特殊傳染性肺炎公共空間管理原則</a></li>
</ul>

<h4>授權 License (CC BY-SA 3.0 TW)</h4>
<p>此文件採用 <a href="https://creativecommons.org/licenses/by-sa/3.0/tw/deed.zh_TW">姓名標示-相同方式分享 3.0 台灣</a> 授權條款。</p>
<p><img src="/static/images/CC_icon.png"></p>

<p>本個人資料保護聲明從 2020 年 07 月 01 日起開始生效，惟為因應社會環境及法令的變遷與科技的進步，為保護客戶個人資料安全及隱私，我們將隨時修改這份公告聲明，並將儘速更新與公告予您。</p>
<p>感謝。</p>

{% endblock content %}
