{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block content %}

<section class="pill-title">
    <h1>贊助方案</h1>
</section>

<p>
    <strong>
        聯絡方式：電子信箱
        <a href="mailto:sponsorship@pycon.tw" title="sponsorship@pycon.tw"></a>
        <a href="mailto:sponsorship@pycon.tw">sponsorship@pycon.tw</a>
        致「台灣 Python 年會贊助組」收
    </strong>
</p>
<p>
    大會主席  曾君宇
    <br>
    議程主席  李唯
    <br>
    贊助總監  張祐豪
    <br>
</p>
<ul>
    <li>
        鑽石級贊助
    </li>
    <li>
        白金級贊助
    </li>
    <li>
        金級贊助
    </li>
    <li>
        銀級贊助
    </li>
    <li>
        銅級贊助
    </li>
    <li>
        社群軌認養
    </li>
    <li>
        社群參與財務補助認養
    </li>
</ul>
{% endblock content %}
