{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block content %}

<h1>贊助方案</h1>

<p>
    <strong>
        "聯絡方式："
        <a href="mailto:sponsorship@pycon.tw" title="sponsorship@pycon.tw"></a>
        <a href="mailto:sponsorship@pycon.tw">sponsorship@pycon.tw</a>
    </strong>
</p>
<p>
    "Joe 大會主席"
    <br>
    "李唯 議程主席"
    <br>
    "祐豪 贊助組長"
    <br>
</p>
<ul>
    <li>
        鑽石級贊助
    </li>
    <li>
        白金級贊助
    </li>
    <li>
        金級贊助
    </li>
    <li>
        銀級贊助
    </li>
    <li>
        銅級贊助
    </li>
    <li>
        社群軌認養
    </li>
    <li>
        社群參與財務補助認養
    </li>
</ul>
{% endblock content %}
