{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block content %}

<section class="pill-title">
    <h1>贊助方案</h1>
</section>

<p>
    <strong>
        聯絡方式：電子信箱
        <a href="mailto:sponsorship@pycon.tw" title="sponsorship@pycon.tw"></a>
        <a href="mailto:sponsorship@pycon.tw">sponsorship@pycon.tw</a>
        致「台灣 Python 年會贊助組」收
    </strong>
</p>
<p>
    台灣 Python 年會 2020 大會主席  曾君宇
    <br>
    台灣 Python 年會 2020 議程主席  李唯
    <br>
    台灣 Python 年會 2020 贊助總監  張祐豪
    <br>
</p>
<p>
    台灣 Python 年會，是每年在台灣舉辦、並且聚集了最多的在地的使用、開發 Python 的社群技術研討會。
    台灣 Python 年會是在 Python Software Foundation 授權下，由 Python 社群與財團法人開放文化基金會（統一編號 38552170）合作，自發性地為了 Python 社群自身所舉辦的年度技術研討會。
    <br>
    台灣 Python 年會歷年來持續促進台灣的 Python 社群彼此之間，與台灣與國際上的 Python 社群彼此之間，有更多、更好、更緊密的交流，以期促進 Python 語言的成長與茁壯。
    您的贊助會使得台灣 Python 年會能夠持續運作，並且觸及盡可能多的會眾前往交流。我們不只舉辦年會，也透過財務補助的方式，鼓勵更多人前往參與台灣 Python 年會。
    <br>
    我們期待您的來訊洽詢，請隨時透過上方的聯繫方式與我們聯繫、洽談最適合您的贊助方式，以達到您想要在 Python 社群曝光、徵才或是單純回饋 Python 社群的初衷與期待。
</p>
<ul>
    <li>鑽石級贊助</li>
    <li>白金級級贊助</li>
    <li>金級贊助</li>
    <li>銀級贊助</li>
    <li>銅級贊助</li>
    <li>特別贊助</li>
</ul>
<p>
<b>本次年會估計出席人數： 400+</b> （首次於濁水溪以南舉辦年會）
</p>
<p>
<b>2019 快速綜覽：</b>
<ul>
    <li>出席人數：675</li>
    <li>675 位會眾當中，其中有 20% 來自非台灣的、九個以上的不同的國家。</li>
    <li>會眾身份以軟體工程師居多，其他樣貌尚有開發者、尋找工作者、資料科學家、學生、管理人員、學術研究者、顧問、 CEOs 、 CTOs 等。</li>
    <li>整體會眾有 30% 使用 Python 超過五年。</li>
</ul>
</p>
<p>
<b>大會重要時間點</b>
<ul>
	<li>議程、課程 開放徵稿：3 月 1 日</li>
	<li>議程、課程 投稿截止：4 月 26 日（23:59:59 <a href="https://www.timeanddate.com/worldclock/converter.html?iso=20200427T115900&p1=tz_aoe&p2=241&p3=1440">AoE</a>）</li>
    <li>公告完整議程： 6 月 中旬（暫定）</li>
    <li>Job Fair： 9 月 5 日（暫定）</li>
    <li>研討會日：9 月 5 日, 9 月 6 日</li>
</ul>
</p>
<p><b>各級贊助方案</b></p>
<ul>
    <li>
        <b>鑽石級贊助</b> - 名額 1 名，贊助金額：500,000 元
        <br>
        在 PyCon TW 2020，為贊助商打造專屬且獨一無二的專業品牌印象
        <br>
        - 冠名贊助權
        <br>
        - 主場地會議室冠名權
        <br>
        - 獨家聯名頸帶
        <br>
        - 企業票 30 張
        <br>
        - 網站首頁公司宣傳 (標誌及介紹)
        <br>
        - 主會場高級攤位 及 社群軌場地空間
        <br>
        - 社群軌技術演講 30 分
        <br>
        - 社群媒體宣傳 4 篇
        <br>
        - 會期期間 APP 推播廣告介紹
        <br>
        - 專屬社群軌場地 (優先選擇)
        <br>
        - 講者晚宴 5 名
        <br>
        - 徵才介紹 (Job Fair)
        <br>
    </li>
    <br>
    <li>
        <b>白金級贊助</b> - 名額 2 名，贊助金額：250,000 元
        <br>
        - 企業票 12 張
        <br>
        - 網站首頁公司宣傳 (標誌及介紹)
        <br>
        - 主會場高級攤位 及 社群軌場地空間
        <br>
        - 社群軌技術演講 30 分
        <br>
        - 社群媒體宣傳 4 篇
        <br>
        - 會期期間 APP 推播廣告介紹
        <br>
        - 專屬社群軌場地 (優先選擇)
        <br>
        - 講者晚宴 4 名
        <br>
        - 徵才介紹 (Job Fair)
        <br>
    </li>
    <br>
    <li>
        <b>金級贊助</b>  - 名額 4 名，贊助金額：200,000 元
        <br>
        - 企業票 8 張
        <br>
        - 網站首頁公司宣傳 (標誌及介紹)
        <br>
        - 主會場高級攤位
        <br>
        - 社群媒體宣傳 2 篇
        <br>
        - 會期期間 APP 推播廣告介紹
        <br>
        - 講者晚宴 3 名
        <br>
        - 徵才介紹 (Job Fair)
        <br>
    </li>
    <br>
    <li>
        <b>銀級贊助</b> - 名額 8 名，贊助金額：110,000 元
        <br>
        - 企業票 6 張
        <br>
        - 網站首頁公司宣傳 (標誌及介紹)
        <br>
        - 主會場精緻攤位
        <br>
        - 社群媒體宣傳 1 篇
        <br>
        - 講者晚宴 2 名
        <br>
        - 徵才介紹 (Job Fair)
        <br>
    </li>
    <br>
    <li>
        <b>銅級贊助</b> - 名額 10 名，贊助金額：40,000 元
        <br>
        - 企業票 2 張
        <br>
        - 網站首頁公司宣傳 (標誌及介紹)
        <br>
        - 社群媒體宣傳 1 篇
        <br>
    </li>
    <br>
    <li>
        <b>各級贊助方案加價購列表</b> (單位：新台幣)
        <br>
        <br>
        <table class="table-sponsorship-prospectus">
            <tr>
                <td></td>
                <td>鑽石級</td>
                <td>白金級</td>
                <td>金級</td>
                <td>銀級</td>
                <td>銅級</td>
            </tr>
            <tr>
                <td>講者晚宴 (每人) </td>
                <td>6000</td>
                <td>6000</td>
                <td>6000</td>
                <td>6000</td>
                <td>6000</td>
            </tr>
            <tr>
                <td>主場地攤位</td>
                <td>已包含</td>
                <td>已包含</td>
                <td>已包含</td>
                <td>40000</td>
                <td>無</td>
            </tr>
            <tr>
                <td>社群軌技術演講</td>
                <td>已包含</td>
                <td>已包含</td>
                <td>15000</td>
                <td>無</td>
                <td>無</td>
            </tr>
            <tr>
                <td>社群媒體宣傳 (每篇)</td>
                <td>6000</td>
                <td>9000</td>
                <td>9000</td>
                <td>15000</td>
                <td>18000</td>
            </tr>
            <tr>
                <td>網站/APP 廣告宣傳</td>
                <td>已包含</td>
                <td>已包含</td>
                <td>已包含</td>
                <td>50000</td>
                <td>50000</td>
            </tr>
            <tr>
                <td>門票優惠</td>
                <td>任意數量九折</td>
                <td>滿 10 張九折</td>
                <td>滿 20 張九折</td>
                <td>滿 30 張九折</td>
                <td>滿 40 張九折</td>
            </tr>
        </table>
    </li>
</ul>
<ul style="list-style-type:square;">
    <li>
        <b>特別贊助方案</b>
        <br>
        <ul style="list-style-type:circle;">
            <li>
                <b>社群軌場地認養</b> - 名額待訂 (詳見備註)，贊助金額：150,000 元 
                <br>
                - 獨享台南在地優質場地，廠商自由設置宣傳，配合特定社群主題，達到深度宣傳效果。
                <br>
                - 網站特別贊助區塊之公司宣傳 (標誌及介紹)
            </li>
            <li>
                <b>社群參與財務補助認養</b> - 名額 5 名，單一贊助金額：50,000 元，可以總額認養。
                <br>
                - 回饋社群，贊助需財務補助之會眾，感恩感恩。
                <br>
                - 針對個別被贊助之會眾的公司宣傳。
                <br>
                - 得在被贊助者同意下獲取其個人資訊。
                <br>
                - 網站特別贊助區塊之公司宣傳 (標誌及介紹)
            </li>
            <li>
                <b>交通車認養</b> - 名額 1 名，贊助金額：30,000 元
                <br>
                - 交通車冠名權。
                <br>
                - 網站特別贊助區塊之公司宣傳 (標誌及介紹)
            </li>
            <li>
                <b>主場地餐點認養</b> - 名額 3 名，單一贊助金額：40,000 元，可以總額認養。
                <br>
                - 主場地餐點區品牌宣傳，實體標誌展出。
                <br>
                - 網站特別贊助區塊之公司宣傳 (標誌及介紹)
            </li>
            <li>
                更多認養項目將持續推出中...亦歡迎廠商來信洽詢客製化贊助方案。
            </li>
        </ul>
    </li>
</ul>
<b>備註</b>
<ol>
    <li>
        徵才介紹 (Job Fair), 每組 5 分鐘為限
    </li>
    <li>
        PyCon TW 2020 無電子版大會手冊，所有內容整合至網站以及 APP
    </li>
    <li>
        PyCon TW 2020 無迎賓袋以及實體文宣，贊助商可自行自作發放。
    </li>
    <li>
        PyCon TW 2020 社群軌共有 5 個場地，PyCon TW 2020 主辦方擁有社群軌場地最終決定權，鑽石級以及白金級贊助商擁有最優先場地選擇權 (已包含在贊助方案中)，金級贊助商則擁有選擇認購權 (次於鑽石級以及白金級)，數量有限故採先搶先贏制度，優先者可預先認購以及選擇場地。若金級以上方案皆額滿且仍有社群軌空間尚未被認領，則開放至特別贊助方案。
    </li>
    <li>
        贊助商方案中已包含之社群軌技術演講，或是加購之社群軌技術演講，以 30 分鐘為上限，且每個社群軌上限為 1 組。
    </li>
    <li>
        鑽石級贊助方案包含之冠名贊助權，表示贊助者的標誌會與 PyCon TW 2020 同時出現，但 PyCon TW 2020 主辦方保留解釋權利。
    </li>
    <li>
        鑽石級贊助方案包含之主場地會議室冠名權，表示贊助者可命名該會議室，但 PyCon TW 2020 主辦方保留審核權利。
    </li>
    <li>
        特別贊助方案中的交通車認養方案包含之交通車冠名權，表示贊助者可命名該交通車，但 PyCon TW 2020 主辦方保留審核權利。
    </li>
    <li>
        為求會眾多樣性，企業團購優惠票總量不會超過總報名會眾的三分之一。如有意購買此票種，請即早訂購，以免向隅。
    </li>
    <li>
        有意參與演講分享的合作夥伴，請務必留意徵稿時間，以求議程品質與公平。
    </li>
</ol>
{% endblock content %}
