{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block content %}
{% url 'page' path='sponsor/prospectus' as prospectus_url %}

<h1 class="alt">
    <div>贊助召集令</div>
    <i class="icon icon-sponsor"></i>
</h1>

<p>「您」的支持是推進 PyCon Taiwan 的強大動力！</p>
<p>PyCon Taiwan 在此召集「您」的加入，透過贊助以具體行動支持 python 社群的成長！</p>
<p>透過參與PyCon Taiwan，我們也提供贊助廠商以下的服務：</p>

<ul>
	<li><p>近距離接觸專業人士</p></li>
	<li><p>標地明確與順暢的徵才場合</p></li>
	<li><p>提升品牌曝光率</p></li>
	<li><p>為企業建立人才網絡</p></li>
</ul>

<p>歡迎參考 2020 PyCon Taiwan <a href="{{ prospectus_url }}">贊助書</a>，以了解 2020 PyCon Taiwan 贊助方案，或是<a href="mailto:sponsorship@pycon.tw">聯絡我們</a>，讓我們了解貴單位的需求！歡迎立即<a href="{{ SPONSOR_FORM_URL }}" target="_blank" rel="noopener">註冊</a>成為 2020 PyCon Taiwan 贊助商，一同共襄盛舉吧！</p>

<p class="closing-para">2020 PyCon Taiwan 贊助組志工</p>
{% endblock content %}
