{% load i18n %}

<div class="modal fade" id="proposalFieldExampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div></div>
        <br />
      </div>
    </div>
  </div>
</div>

<script id="abstract-novice-example" type="text/html">
  <dl>
    <div>
      <dt>{% trans 'Abstract Example' %}</dt>
      <pre><dd>{% blocktrans %}For modern human beings, the data in computers are essentially an external place for storing our memories. No matter they're photographs of your daily life, music, videos, or even some data produced for work, school, research, they're all being stored in computers. As the time goes by, the folders in computers fall into a state of chaos. Or in another scenario, you're managed to manipulate a series of files, but ended up with changing them one by one using File Explorer. Well, is there any better methodology? This talk is going to introduce how you can "programmatically" manipulate directories and files, using Python and it's built-in module, pathlib. We'll look at examples from simple ones to complicated ones, and eventually combine looping and sorting techniques in Python, to conquer a complicated file re-categorize problem.{% endblocktrans %}</dd></pre>
    </div>
  </dl>
  <br />
</script>

<script id="abstract-intermediate-example" type="text/html">
  <dl>
    <div>
    <dt>{% trans 'Abstract Example' %}</dt>
    <pre><dd>{% blocktrans %}Nowadays, photographs always contain the information about the state where the photo was taken, they're called EXIF. Sometimes when building a blog about travel notes or nature photography, you'll have to put information of some EXIF fields under the pictures of the article, such as camera model, focal, aperture, shutter, GPS, etc. Sometimes even show information as a watermark on the image. In this talk, we're going to build a workflow on automated EXIF processing. First introduce the usage of exiftool, and integrate Pillow to reach the effect of watermark. Finally, we'll take a blog framework, Pelican as an example, to build a Pelican plugin that automatically processes all the photographs in the article.{% endblocktrans %}</dd></pre>
    </div>
  </dl>
</script>

<script id="objective-novice-example" type="text/html">
  <dl>
    <div>
      <dt>{% trans 'Objective Example' %}</dt>
      <pre>{% blocktrans %}<dd>Targeted at people who's a Python beginner, who tries to solve some daily life problems with programming. By the time I started to learn programming, I didn't know where I can use it. It sounds weird at first, but since I had only limited ability at the beginning, things like web development or data analysis were too hard for me to step into.</dd>
        <dd>But I found out that, managing data inside a computer is a very practical starting point, it's easy to see the result, and it does allow you to solve some problems that are rather difficult to do by hand. This kind of step-by-step learning process should be pretty helpful for beginners.</dd>{% endblocktrans %}</pre>
    </div>
  </dl>
  <br />
</script>

<script id="objective-intermediate-example" type="text/html">
  <dl>
    <div>
      <dt>{% trans 'Objective Example' %}</dt>
      <pre>{% blocktrans %}<dd>Targeted at people who'd like to process a batch of images, and do external processings using their EXIFs. And use Pelican blog framework to concretely demonstrate the integration scenario.</dd>
      <dd>While I was writing blog posts, I found out that the manipulations involving processing images can take a huge amount of time. Thus hope the audiences will get an idea of how they can build a automated photograph processing workflow, and focus more on the article itself. Hope that the audiences will understand how to process EXIF and additional processing with Python, and also the framework of Pelican plugins.</dd>{% endblocktrans %}</pre>
    </div>
  </dl>
  <br />
</script>

<script id="description-novice-example" type="text/html">
  <dl>
    <div>
      <dt>{% trans 'Description Example' %}</dt>
      <pre><dd>最後的案例分享，將一系列有標註日期檔名的照片，移動到已經有資料的年 / 月」 目錄底下，並且按照時間先後重新依序命名照片。</dd></pre>
    </div>
  </dl>
  <br />
</script>

<script id="description-intermediate-example" type="text/html">
  <dl>
    <div>
      <dt>{% trans 'Description Example' %}</dt>
      <pre><dd>### 使用的第三方工具：<br />&nbsp;&nbsp;- [exiftool] 為分析照片 EXIF 的 Perl 工具<br />&nbsp;&nbsp;- [Pillow] 為 Python 影像處理工具，前身為 PIL (Python Image Library)<br />&nbsp;&nbsp;- [Pelican] 為 Python 的 static site generator<br /><br />[exiftool]: http://www.sno.phy.queensu.ca/~phil/exiftool/<br />[Pillow]: http://python-pillow.github.io/<br />[Pelican]: http://blog.getpelican.com/<br /></dd></pre>
    </div>
  </dl>
  <br />
</script>

<script id="outline-novice-example" type="text/html">
  <dl>
    <div>
      <dt>{% trans 'Outline Example' %}</dt>
      <pre><dd>1. 資料整理的常見狀況 [5 min]<br />2. pathlib 模組設計介紹 [10 min]<br />&nbsp;&nbsp;- 運用 Path 物件<br />&nbsp;&nbsp;- 目錄結構探索 Path.iterdir(), .glob()<br />&nbsp;&nbsp;- 使用 Path 更動路徑<br />3. 結合 for 迴圈與排序 [5 min]<br />&nbsp;&nbsp;- sorted(key=) 用法<br />&nbsp;&nbsp;- 整合 enumerated, zip 同時處理多個關連檔案<br />4. 案例分享  [5 min]<br /></dd></pre>
    </div>
  </dl><br />
</script>

<script id="outline-intermediate-example" type="text/html">
  <dl>
    <div>
      <dt>{% trans 'Outline Example' %}</dt>
      <pre><dd>1. 簡介 EXIF 與 exiftool [5min]<br />2. Pillow 使用及如何用它加上浮水印 [5min]<br />&nbsp;&nbsp;- 字型的選用<br />&nbsp;&nbsp;- 排版的一致性<br />3. 自動化 [5min]<br />&nbsp;&nbsp;- 使用 stdlib 架出一個 batch 處理流程<br />&nbsp;&nbsp;- 搭配 joblib 或 multiprocessing 達成平行化<br />4. 舉例（使用 Pelican）[5min]<br />&nbsp;&nbsp;- 簡介 Pelican 擴充方式（template tag 與 signal 的搭配）<br />&nbsp;&nbsp;- 成果<br />5. Q&A [5min]<br /></dd></pre>
    </div>
  </dl><br />
</script>

{% get_current_language as LANGUAGE_CODE %}

<script id="novice-examples-header" type="text/html">
  <h4>{% trans 'Novice' %}</h4>
  <p>{% blocktrans %}If your proposed target is novice topic, the following is an example of an novice proposal that you can use for your reference.{% endblocktrans %}</p>
  <dl>
    <dt>{% trans 'Title' %}</dt>
    <dd>{% trans 'Making Management of Computer Data Easier With Python' %}</dd>

    <dt>{% trans 'Category' %}</dt> <dd>Python Core</dd>
    <dt>{% trans 'Duration' %}</dt> <dd>25min</dd>

    <dt>{% trans 'Language' %}</dt>
    <dd>{% if LANGUAGE_CODE == "zh-hant" %}中文{% else %}English{% endif %}</dd>
  </dl>
</script>

<script id="intermediate-examples-header" type="text/html">
  <h4>{% trans 'Intermediate' %}</h4>
  <p>{% blocktrans %}If your proposed target is intermediate topic, the following is an example of an interimediate proposal that you can use for your reference.{% endblocktrans %}</p>
  <dl>
    <dt>{% trans 'Title' %}</dt>
    <dd>{% trans 'Automated Processing of Blog Photographs' %}</dd>

    <dt>{% trans 'Category' %}</dt>
    <dd>{% trans 'Graphics' %}</dd>

    <dt>{% trans 'Duration' %}</dt> <dd>25min</dd>

    <dt>{% trans 'Language' %}</dt>
    <dd>{% if LANGUAGE_CODE == "zh-hant" %}中文{% else %}English{% endif %}</dd>
  </dl>
</script>

<script>
(function() {
  var examples = {
    novice: {
      abstract: $("#abstract-novice-example").html(),
      objective: $("#objective-novice-example").html(),
      description: $("#description-novice-example").html(),
      outline: $("#outline-novice-example").html()
    },
    intermediate: {
      abstract: $("#abstract-intermediate-example").html(),
      objective: $("#objective-intermediate-example").html(),
      description: $("#description-intermediate-example").html(),
      outline: $("#outline-intermediate-example").html()
    }
  };

  var novice = $("#novice-examples-header").html();
  var intermediate = $("#intermediate-examples-header").html();

  var example_title = {
    'abstract': "{% trans 'Abstract' %}",
    'objective': "{% trans 'Objective' %}",
    'detailed description': "{% trans 'Detailed description' %}",
    'outline': "{% trans 'Outline' %}",
  };

  var example_content = {
    'abstract':
      novice+
      examples.novice.abstract+
      intermediate+
      examples.intermediate.abstract,

    'objective':
      novice+
      examples.novice.objective+
      intermediate+
      examples.intermediate.objective,

    'detailed description':
      novice+
      examples.novice.description+
      intermediate+
      examples.intermediate.description,

    'outline':
      novice+
      examples.novice.outline+
      intermediate+
      examples.intermediate.outline,
  };


  $('#proposalFieldExampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var content = button.data('content') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').html(example_title[content])
    modal.find('.modal-body div').html(example_content[content])
  })
})();
</script>
