{% extends 'contents/_base.html' %}

{% block title %}Accommodation{% endblock title %}

{% block content %}
    <h2>Accommodation</h2>
    <p>PyCon TW has on-site lodging at Academia Sinica Activities Center,
        3-minute walk next to the venue. It comes with the following
        options:</p>
    <ul>
        <li>superior single room: NT$1,650 /day</li>
        <li>
            superior double room: NT$1,750 (for one person) and NT$1,900 (for
            two people) /day
        </li>
    </ul>
    <p>
        <em><sup>*</sup>Extra person for NT$300 and extra bed for NT$450
            respectively.</em><br>
        <em><sup>**</sup>Room facilities include TV, wireless &amp; wired
            network, thermos, hair dryer, and personal hygiene products.
            Breakfast and gym are also provided.</em>
    </p>
    <p>
        More information on
        <a href="http://gao.sinica.edu.tw/huo-dong/room.php" target="_blank">the original site</a>.
    </p>

    <h3>Application Procedure</h3>
    <p>TBD</p>
{% endblock content %}

