{% extends 'contents/_base/venue.html' %}

{% block title %}Accommodation{% endblock title %}

{% block content %}
    <h2>On-site Accommodation</h2>
    <p>PyCon TW has on-site lodging at Academia Sinica Activities Center,
        3-minute walk next to the venue. It comes with the following
        options:</p>
    <ul>
        <li>superior single room: NT$1,650 /day</li>
        <li>
            superior double room: NT$1,750 (for one person) and NT$1,900 (for
            two people) /day
        </li>
    </ul>
    <p>
        <em><sup>*</sup>Extra person for NT$300 and extra bed for NT$450
            respectively.</em><br>
        <em><sup>**</sup>Room facilities include TV, wireless &amp; wired
            network, thermos, hair dryer, and personal hygiene products.
            Breakfast and gym are also provided.</em>
    </p>
    <p>
        More information on
        <a href="http://gao.sinica.edu.tw/huo-dong/room.php" target="_blank">the original site</a>.
    </p>

    <h3>Application Procedure</h3>
    <p>
        To apply for the on-site lodging, send email to
        <a href="mailto:organizers@pycon.tw?subject=Accommodation%20Reservation%20in%20Academia%20Sinica">organizers@pycon.tw</a>
        (Rock Hung) with the following information:
    </p>
    <ul>
        <li>Check-in and check-out date</li>
        <li>Number of people</li>
        <li>Room type and number of rooms</li>
        <li>Representative's name</li>
    </ul>
    <p>
        <strong>Note</strong>:
        All date / time is represented in UTC+08 timezone.
        Early check-in and later check-out should be noticed in advance.
    </p>

    <h2>Outside the Venue</h2>
    <p>
        For accommodation outside the venue, please book the hotels youself.
        You might find <a href="http://tw.pycon.org/2015apac/en/venue/accommodation">the listed options</a> helpful.
    </p>
{% endblock content %}

