{% extends 'contents/_base.html' %}

{% block title %}Recording Release{% endblock title %}

{% block content %}

<h1>Recording Release</h1>

<p>Since one of the PyCon motivations is to help Python education and advocate the use of Python, by default <em>all talks are recorded</em>. If the speaker agrees to give permission to PyCon Taiwan, we will record, edit, and release the audio and video of the speaker's presentation to online video sites such as YouTube and <a href="http://pyvideo.org/" target="_blank" rel="noopener">pyvideo.org</a>. The recording might be also live streamed if it is technically feasible.</p>

<p>If you don’t want your talk being recorded, make sure you leave the recording option unchecked during the proposal submission.</p>
{% endblock content %}