{% extends 'contents/_base.html' %}

{% block title %}How to Propose a Tutorial{% endblock title %}

{% block content %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url 'page' path='speaking/talk' as speaking_talk_url %}

<h1>How to Propose a Tutorial?</h1>

<p>For general proposal calling information, see <a href="{{ speaking_cfp_url }}">Call for Proposals</a>.</p>

<p>First of all, thank you considering giving a tutorial in PyCon Taiwan 2020.</p>

<p>Generally speaking, Good tutorials possess most of the traits good talks have. The most discernible differences of a tutorial from a <a href="{{ speaking_talk_url }}">talk</a> are the <em>hands-on</em> nature and the <em>longer duration</em>, and it's <em>paid</em>. By longer duration, generally more content is required and it should remain interesting and keep the attendees awake and hyped even after hours of lecture and exercises. By containing hands-on exercises, experience of teaching coding to people is necessary. You might also need teaching assistants who you should be able to comfortably communicate during the tutorial, usually at least two teaching assistants for a general class size of 20 people is needed.</p>

<p>Both differences requires many times of practice and experience.  Therefore, a tutorial speaker usually satisfies at least one of the following prerequisites:</p>

<ul>
	<li>A previous tutorial speaker in any programming conferences or communities</li>
	<li>More than one time of speaking experience in open source communities, preferably the local Python communities</li>
	<li>Teaching assistant in previous tutorials</li>
</ul>

<p>We might ask you to give the tutorial to the community prior to the conference if you lack the experience.</p>

<h2>Tutorial Duration</h2>

<p>The length of the tutorial is 90 minutes.</p>

<p>In our previous experiences, tutorials with length of 6 hours are exhausted for both instructors and students, students usually find it difficult to consistently follow in the second half of the tutorial.  Full-day tutorials require relatively experienced instructor, thus the length of the tutorial is 90 minutes this year. we strongly recommend you to clearly define <em>prerequisites</em> and <em>goals</em>, which helps building the best learning experience.</p>

<h2>Tutorial Dates and Location</h2>

<p>Tutorials are held in parallel with the main conference, therefore, the classroom would be outside of the venue. PyCon TW will discuss the time and location with the speaker, but the conference holds the final decision.</p>


<h2>Charging Policy</h2>

<p>No additional charge.</p>

<h2>How to become a tutorial speaker?</h2>

<p>The easiest and the best answer: Go speak and involved at the local Python communities!</p>
<p>If you have any questions or suggestions, please don't hesitate to <a href="mailto:organizers@pycon.tw">contact us</a>.</p>

{% endblock content %}