{% extends 'events/schedule.html' %}

{% load i18n static %}
{% load events %}


{% block title %}{% trans 'Export New Schedule' %}{% endblock title %}


{% block styles %}
{{ block.super }}
{% endblock styles %}


{% block pagetitle %}{% trans 'Export New Schedule' %}{% endblock pagetitle %}


{% block schedule %}

<div class="schedule-content">
	{% for schedule_date, schedule_info in schedule_days.items %}
	<article data-target="tabbing.pane">
		<h3 class="tab-title">{{ schedule_info.name }}</h3>
		<table class="time-table">
			<thead>
				<tr>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan={{ schedule_info.rooms | length }} class="room-info">
						<ul>
							<li>場地圖示</li>
							{% for room in schedule_info.rooms %}
								<li class="room-{{ room|room_display }}"></li>
							{% endfor %}
						</ul>
					</td>
				</tr>
				{% for slot_time, slot_info in schedule_info.slots.items %}
				<tr>
					<th class="time-table-time">
						{{ slot_time.0.value|date:'H:i' }}<br>
						{{ slot_time.1.value|date:'H:i' }}
					</th>
					<th class="time-stack-time">
						{{ slot_time.0.value|date:'H:i' }}–{{ slot_time.1.value|date:'H:i' }}
					</th>
					{% for room, event in slot_info %}
					<td class="{{ event|event_cell_class }}">
						<div class="time-stack-ribbon {{ room }}">{{ room|room_display }}</div>
						<div class="event-info">{{ event|event_display }}</div>
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</article>
	{% endfor %}
</div>

{% endblock schedule %}


{% block controls %}

<div>
	<noscript>
		{% blocktrans trimmed %}
		Schedule table generation requires JavaScript. Please. (´･_･`)
		{% endblocktrans %}
	</noscript>

	<form method="post" class="generation-form" style="display: none;">
		{% csrf_token %}
		<input type="hidden" name="html">
		<button type="submit" class="button-round">
			{% trans 'Generate' %}
		</button>
	</form>
</div>

{% endblock controls %}
