{% extends 'contents/_base.html' %}

{% load i18n proposals %}


{% block title %}{% trans 'Tutorials' %}{% endblock %}

{% block content %}

<h1>{% trans 'Tutorials' %}</h1>

<article>
	<p>{% blocktrans trimmed %}Tutorial are events held as part of the main conference, but attendees need to register separately in order to join. They are either half- or one-day (three or six hours) events held to help participants better understand talks during the conference, or get their hands on more Python applications.{% endblocktrans %}</p>
	<p>{% blocktrans trimmed %}<em>Program schedule is subject to change.</em> Please check this page frequently to get the latest version.{% endblocktrans %}</p>
</article>


{% for object in object_list %}

<article class="box">
	<h2 class="box-title">{{ object.title }}</h2>
	<div class="box-content"><p>{{ object.abstract }}</p></div>
	<div class="box-control">
		<a href="{{ object.get_absolute_url }}">
			{% trans 'Show Details' %}
		</a>
		{% if object.registration_link %}
		<a href="{{ object.registration_link }}" target="_blank" rel="noopener">
			{% trans 'Register' %}
		</a>
		{% endif %}
	</div>
</article>

{% endfor %}

{% endblock content %}
