{% extends 'contents/_base.html' %}

{% load i18n static %}
{% load events %}

{% block title %}{{ object.title }}{% endblock %}

{% block body_class %}{{ block.super }} talk-detail{% endblock body_class %}

{% block content %}

<section class="pill-title alt-2">
	<h1>
		<i class="icon icon-about"></i>{{ object.title }} 
		{% if event.is_remote %}
		<span class="remote-label">
			Remote
		</span>
		{% endif %}
	</h1>
</section>

<section class="content info">
	<ul>
        {% if community_track_event %}
        {% with event=community_track_event %}
		<li>
			<dfn class="location"></dfn>
            <span><a href="{% url 'community_track' %}#{{ event.venue.topic|slugify }}">{{ event.venue }}</a></span>
		</li>
		<li>
			<dfn class="slot"></dfn>
			<span>{% blocktrans with date_display=event|event_date_display begin_time_display=event.begin_time.value|date:'H:i' end_time_display=event.end_time.value|date:'H:i' %}{{ date_display }}, {{ begin_time_display }}&#8209;{{ end_time_display }}{% endblocktrans %}</span>
		</li>
        {% endwith %}
		{% elif event %}
		<li>
			<dfn class="location"></dfn>
			<span>{{ event.get_location_display|default:event.location }}</span>
		</li>
		<li>
			<dfn class="slot"></dfn>
			<span>{% blocktrans with date_display=event|event_date_display begin_time_display=event.begin_time.value|date:'H:i' end_time_display=event.end_time.value|date:'H:i' %}{{ date_display }}, {{ begin_time_display }}&#8209;{{ end_time_display }}{% endblocktrans %}</span>
		</li>
		{% endif %}
		<li>
			<dfn class="category">{% trans 'Category: ' %}</dfn>
			<span>{{ object.get_category_display }}</span>
		</li>
		<li>
			<dfn class="language {{ object.language.lower }}">{% trans 'Language: ' %}</dfn>
			<span>{{ object.get_language_display }}</span>
		</li>
		<li>
			<dfn class="python-level {{ object.python_level.lower }}">{% trans 'Python Level: ' %}</dfn>
			<span>{{ object.get_python_level_display }}</span>
		</li>
		{% if not object.recording_policy %}
		<li>
			<dfn class="recording-no"></dfn>
			<span>{% trans 'No Recording' %}</span>
		</li>
		{% endif %}
	</ul>
</section>


<h2>{% trans 'Abstract' %}</h2>
<section class="content">
	{{ object.abstract|linebreaks }}
</section>


{% if object.detailed_description %}
<h2>{% trans 'Description' %}</h2>
<section class="content editor-readonly">
	<div class="editor-preview">{{ object.detailed_description }}</div>
</section>
{% endif %}

{% if object.slide_link %}
<h2>{% trans 'Slides' %}</h2>
<section class="content">
	<p><a href="{{ object.slide_link }}">{{ object.slide_link }}</a></p>
</section>
{% endif %}


<h2>
	{% if object.speaker_count > 1 %}
	{% trans 'Speakers' context 'speaker info in talk detail' %}
	{% else %}
	{% trans 'Speaker' context 'speaker info in talk detail' %}
	{% endif %}
</h2>

{% for info in object.speakers %}
{% with user=info.user %}

<article class="media">
	<header>
		<figure>
			<img src="{{ user.get_thumbnail_url }}">
			<figcaption>{{ user.speaker_name }}</figcaption>
		</figure>
	</header>
	<div class="content">
		{{ user.bio|linebreaks }}
		{% if user.github_id or user.twitter_id or user.facebook_profile_url %}
		<div class="social">
			{% if user.github_id %}
			<a href="{{ user.github_profile_url }}" target="_blank" rel="noopener"><span class="fa fa-github" aria-hidden="true"></span></a>
			{% endif %}
			{% if user.twitter_id %}
			<a href="{{ user.twitter_profile_url }}" target="_blank" rel="noopener"><span class="fa fa-twitter" aria-hidden="true"></span></a>
			{% endif %}
			{% if user.facebook_profile_url %}
			<a href="{{ user.facebook_profile_url }}" target="_blank" rel="noopener"><span class="fa fa-facebook" aria-hidden="true"></span></a>
			{% endif %}
		</div>
		{% endif %}
	</div>
</article>

{% endwith %}
{% endfor %}

{% if object.slido_embed_link %}
<iframe class="slido" src="{{ object.slido_embed_link }}"></iframe>
{% endif %}

{% endblock content %}


{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/vendors/simplemde.min.js' %}"></script>
<script src="{% static 'js/tools/simplemde-setup.js' %}"></script>
{% endblock extra_js %}
