{% load i18n %}

{% url 'page' path='about/code-of-conduct' as coc_url %}
{% url 'page' path='about/community' as community_url %}
{% comment %}
{% url 'page' path='about/staff' as staff_url %}
{% endcomment %}

<footer>
	<div class="footer-logos">
		<div class='footer-logo'></div>
	</div>
    <ul>
        <li><a href="{{ coc_url }}">{% trans 'Code of Conduct' %}</a></li>
        {% comment %}
        <li><a href="{{ staff_url }}">{% trans 'Staff' %}</a></li>
        {% endcomment %}
        <li><a href="{{ community_url }}">{% trans 'Community' %}</a></li>
    </ul>
	<p class="copyright">2020 PyCon Taiwan</p>
</footer>
