{% load i18n static %}
<div class="index-hero-outer">
    <div class="index-hero">
        <div class="welcome-text">
            Welcome to TAINAN~
        </div>
        <div class="banner">
            <img class="logo" src="{% static 'pycontw-2020/assets/2020-logo.svg' %}" />
            <svg class="time-location" width="270" height="40" viewBox="0 0 270 40">
                <g>
                    <text x="0" y="50%" dominant-baseline="middle">19-20 Sep, 2020 in NCKU</text>
                </g>
            </svg>
            <img class="icon" src="{% static 'pycontw-2020/assets/snake-icon.svg' %}" />
        </div>
    </div>
</div>
