{% load i18n %}

<div class="card">
	<a class="button-round" href="{% url 'events_schedule' %}" class="card-link">{% trans 'Schedule' %}</a>
</div>

<div class="card">
	<a class="button-round" href="https://hackmd.io/@PyConTW/2020" class="card-link">{% trans 'Collaborative Notes' %}</a>
</div>

<div class="card">
	<a class="button-round" href="http://t.me/pycontw2018" class="card-link">{% trans 'Chat Room' %}</a>
</div>

<div class="card">
	<a class="button-round" href="https://www.facebook.com/pycontw/" class="card-link">{% trans 'Facebook Fan Page' %}</a>
</div>

<div class="card">
	<a class="button-round" href="https://issuu.com/tai271828/docs/pycontw19_book_v4" class="card-link">{% trans 'Program Book' %}</a>
</div>
