{% load i18n static %}

<section class="index-partners" data-controller="mediaPopup">
	<h2>
		{% trans 'Sponsor Partners' %}
	</h2>
	<article class="container">

		{% for name, section in sponsor_sections %}
		<div class="grid-layout">
			{% for sponsor in section %}
			<div class="partner-container">
				<span class={{sponsor.level_en_name}}>{{ name }}</span>
				<a href="{{ sponsor.website_url|default:'#' }}" target="_blank" rel="noopener"
					data-target="mediaPopup.presenter" data-action="mediaPopup#open">
					{% if sponsor.logo %}
					<img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
					{% else %}
					<span>{{ sponsor.name }}</span>
					{% endif %}
				</a>
				<div class="popup" data-target="mediaPopup.popup">
					<div class="click-to-close" style="height:100%;width:100%" data-action="click->mediaPopup#close"></div>
					<div class="card">
						<button class="popup-close" data-action="mediaPopup#close">
							<span></span>
							<span></span>
						</button>
						<div class="card-content">
							{% if sponsor.website_url %}
							<a href="{{ sponsor.website_url }}" target="_blank" rel="noopener" class="logo">
								{% if sponsor.logo %}
								<img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
								{% else %}
								<span>{{ sponsor.name }}</span>
								{% endif %}
							</a>
							{% elif sponsor.logo %}
							<span class="logo">
								<img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
							</span>
							{% endif %}
							<div class="text">
								<article>
									<h4 class="name">
										<span>{{ sponsor.name }}</span>
									</h4>
									<hr class="horizontal-rule" />
									<section class="description">{{ sponsor.intro|linebreaks }}</section>
									{% if sponsor.website_url %}
									<a class="link-to-website" href="{{ sponsor.website_url }}" target="_blank" rel="noopener">
										<span>{%trans 'Redirect to official website' %}</span>
									</a>
									{% endif %}
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		{% endfor %}
		<img class="deco-a-1" src="{% static 'pycontw-2020/assets/deco-a-1.svg' %}" />
		<img class="deco-a-2" src="{% static 'pycontw-2020/assets/deco-a-2.svg' %}" />
		<img class="deco-a-3" src="{% static 'pycontw-2020/assets/deco-a-3.svg' %}" />
	</article>
</section>
