{% load i18n %}

<h2>{% trans 'Chairperson' context 'staff' %}</h2>
<ul class="staff-list">
	<li>曾君宇</li>
</ul>

<h2>{% trans 'Registration' context 'staff' %}</h2>
<ul class="staff-list">
	<li></li>

</ul>
<h2>{% trans 'Development' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Tom Chen</li>
	<li>tai</li>
	<li>Wei-Hsiang (Matt) Wang</li>
	<li>Rex</li>
	<li>阿嘉</li>
	<li>Alice</li>
	<li>Macs</li>
	<li>Maliao Guo</li>
	<li>Annie Bu</li>
	<li>Pearlie</li>
	<li>GTB</li>
	<li>Jeremy Sung</li>
	<li>Leon Fu</li>
	<li>Josix</li>
	<li>SHY</li>
	<li>Fliss</li>

</ul>
<h2>{% trans 'OPass Development' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Denny Huang</li>
	<li>腹黒い茶</li>

</ul>

<h2>{% trans 'Public Relations' context 'staff' %}</h2>
<ul class="staff-list">
	<li></li>

</ul>

<h2>{% trans 'Design' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Ben 游本元</li>
	<li>王禹翔</li>
	<li>Carol Cho</li>
	<li>Elaine 迎琪</li>
	<li>Andy Chuang</li>

</ul>

<h2>{% trans 'Photography' context 'staff' %}</h2>
<ul class="staff-list">
	<li></li>

</ul>

<h2>{% trans 'Program' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Wei Lee</li>
	<li>TP</li>
	<li>Frank</li>
	<li>Jason</li>
	<li>Adrian</li>
	<li>Kun Yu</li>
	<li>PoChun</li>
	<li>pinglin</li>
	<li>Peihsaun</li>
	<li>Wun Hua</li>
	<li>JunWei Song</li>
	<li>小知</li>
	<li>Cicilia Lee</li>
	<li>Pearlie Lin</li>
	<li>Annie Bu</li>
	<li>Ming-Hung Hung</li>
	<li>Jordan</li>
	<li>Gina</li>
	<li>KK</li>
	<li>Sonia Wu</li>
	<li>petertc</li>
	<li>Yider</li>
	<li>Gina Wang</li>
	<li>Kyle</li>

</ul>

<h2>{% trans 'Sponsorship' context 'staff' %}</h2>
<ul class="staff-list">
	<li>祐豪五六</li>
	<li>小知</li>
	<li>Robert Lin</li>
	<li>太一</li>
	<li>Diana</li>
	<li>小 David</li>
	<li>Mike</li>
	<li>品淳</li>
	<li>Cynthia Lu</li>
	<li>Tina</li>
	<li>Ken</li>
	<li>Andy</li>
	<li>坤賢</li>
	<li>Bill</li>
	<li>Stanley</li>

</ul>

<h2>{% trans 'Financial' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Rock</li>
	<li>Timchen</li>

</ul>

<h2>{% trans 'Venue' context 'staff' %}</h2>
<ul class="staff-list">
	<li></li>

</ul>

<h2>{% trans 'Maneuvering' context 'staff' %}</h2>
<ul class="staff-list">
	<li></li>

</ul>

<h2>{% trans 'Recruitment' context 'staff' %}</h2>
<ul class="staff-list">
	<li>tai271828</li>
	<li>catcatcatcat</li>
	<li>Rex Wu</li>
	<li>Wei Lee</li>

</ul>


<h2>{% trans 'Review Committee' context 'staff' %}</h2>
<ul class="staff-list">
	<li>Kir Chou</li>
	<li>Cicilia Chia-ying Lee</li>
	<li>廖偉涵 Adrian Liaw</li>
	<li>劉純睿（阿吉）</li>
	<li>李昱勳</li>
	<li>Ping Chu Hung</li>
	<li>Liang-Bo Wang</li>
	<li>Jason</li>
	<li>Chi-Hsuan Huang</li>
	<li>Cheng-Lung Sung (宋政隆)</li>
	<li>Shuen-Huei Guan</li>
	<li>Jack Pan</li>
	<li>曾君宇</li>
	<li>郭學聰 (Hsueh-Tsung Kuo)</li>
	<li>Zong-han, Xie</li>
	<li>Jian-Ming Huang</li>
	<li>Kilik Kuo</li>
	<li>Kuo-tung Kao</li>
	<li>席恩</li>
	<li>Malo</li>
	<li>古宣佑 Hsuanyu</li>
	<li>Spin Lai</li>
	<li>petertc</li>
	<li>王文傑</li>
	<li>Kelly Chang</li>
	<li>Sammy Fung</li>
	<li>sosorry</li>
	<li>Shuhsi Lin</li>
	<li>JunWei Song</li>
	<li>何泰祥 Taihsiang Ho (tai271828)</li>
	<li>Ing Wei Tang</li>
	<li>Thinker</li>
	<li>柯維然</li>
	<li>Tzu-ping Chung</li>
	<li>Wei Lin</li>
	<li>李唯 (Wei Lee)</li>
	<li>Stanley Huang</li>
	<li>KunYu Chen</li>
	<li>Frank</li>
	<li>Keith Yang</li>
	<li>Yen</li>
	<li>Jimmy Lai</li>

</ul>
