{% extends 'proposals/_proposal_update.html' %}

{% load i18n %}

{% block title %}{% blocktrans with proposal_title=object.title %}Edit Talk Proposal {{ proposal_title }}{% endblocktrans %}{% endblock title %}

{% block alert_content %}
<div class="dashboard-alert">
  <div class="alert alert-warning" role="alert">
  	{% url 'page' path='speaking/talk' as howto_link %}
    {% blocktrans %}Please review the <a href="{{ howto_link }}" target="_blank">How to Propose a Talk</a> page.{% endblocktrans %}
  </div>
</div>
{% endblock alert_content %}
