{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Events Overview{% endblock title %}
{% block content %}

{% url 'page' path='events/sprints' as events_sprint_url %}
{% url 'page' path='events/tutorials' as events_tutorial_url %}
{% url 'page' path='events/open-spaces' as events_openspaces_url %}
{% url 'page' path='events/keynotes' as events_keynote_url %}
{% url 'events_talk_list' as events_talk_list_url %}

<h1>Events Overview</h1>

<h2>Keynotes</h2>

<p>PyCon Taiwan invites four speakers to give keynote speeches during the three-day conference. Each keynote speaker is considered one of the most important figures in their respective fields. They share their professional experience and the image of their domain’s future.</p>

{# <p>More information about <em>keynotes</em> can be found on the <a href="{{ events_keynote_url }}">{% trans 'Keynotes' %}</a> page.</p> #}

<h2>Talks</h2>

<p>The three conference days are packed with talks about Python by speakers from Taiwan and around the world. The talks will be either 30- or 45-minute long. Three tracks of talks will be delivered simultaneously, all with different topics and difficulties. We suggest you to make a schedule beforehand, and choose what you want ot listen based on your interests. Many people take notes on the program schedule before the meeting so they don’t run to wrong places.</p>

<p>More information about <em>talk</em> can be found on the <a href="{{ events_talk_list_url }}">{% trans 'Talks' %}</a> page.</p>

<h2>Tutorials</h2>

<p>Tutorial are events held as part of the main conference, but attendees need to register separately in order to join. They are either half- or one-day (three or six hours) events held to help participants better understand talks during the conference, or get their hands on more Python applications.</p>

{# <p>More information about <em>tutorials</em> can be found on the <a href="{{ events_tutorial_url }}">{% trans 'Learning' context 'menu' %}</a> page.</p> #}

<h2>Lightning Talks</h2>

<p>Lightning talks are held at the end of each conference day. It’s known for its fast-paced nature that allows only 5 minutes for each talk, including setup. If you would like to give a lightning talk, please write down your name and the subject on a piece of paper, and put it into the jar near the registration desk.</p>

<h2>Open Spaces</h2>

<p>Open Spaces are held both in parallel with the main conference, and during a dedicated slot at the three day of the conference. The schedule is created just-in-time by the attendees. If you would like to host an Open Space event, please use an Open Space card found in your goodies bag, fill it and pin it on the Open Space board.</p>

{# <p>More information about <em>Open Spaces</em> can be found on the <a href="{{ events_openspaces_url }}">{% trans 'Open Spaces' %}</a> page.</p> #}

<h2>Job Fair</h2>

<p>Job Fair is a career expo for Python developers. During the Job Fair session, our sponsors will take turns introduce themselves on the stage and promote their job openings. For attendees that are looking for a career, this is a great opportunity for you to interact with the sponsors or submit your rèsumè!</p>

{% endblock content %}

