{% extends 'contents/_base.html' %}

{% block title %}PyNight{% endblock %}

{% block content %}

<h1>PyNight</h1>

<p>PyNight is an extension to the BoF event we held in previous years. This year's event is expanded to provide a more diverse occasion for the community. It consists of both “music” and “communication” parts. During the music event, the protagonist is a group of versatile friends from the community, bringing their carefully prepared music. In the community event, you are the protagonist! No matter what your thoughts, you can find like-minded friends here; the subject without any restrictions, as long as you are interested, everything is welcome.</p>

{% endblock content %}
