{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Sprints{% endblock %}
{% block page_title %}<h1>Sprints</h1>{% endblock %}

{% block meta_og %}
  <meta property="og:title" content="Sprints | PyCon Taiwan 2017" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http://{{ request.get_host }}{% static 'images/og_sprint.png' %}" />
{% endblock %}

{% block content %}
<h1><span>Sprints</span></h1>
<h2>活動簡介</h2>
<article>
	<p>
		Sprint 活動安排在會議三天以外的時間。當天的 Sprint 將有開源專案的負責人，帶著他們專案待解決的問題、issue 來現場與大家分享與解說，參加的人可以就自己感興趣的專案一同加入。透過這個互動機會將能更了解自己關注的相關專案領域。歡迎帶自己的開源專案來找同好。對已經有一定 Python 基礎的人，想參加開源專案開放但不知如何加入，或者害羞怕自己不了解該專案環境的人，參加 Sprint 是個大展身手的好機會！
	</p>
	<p>
		對於沒有把握自己是否能加入開發的朋友，四月的活動也會有 workshop 形式的工作坊，歡迎一起來玩！
	</p>
</article>
<h2>活動細節</h2>
<article>
	<h3>三月份 - 審稿系統優化 (3/12 10點 ~ 17點 @ CLBC大安館)</h3>
	<h4>審稿系統優化計畫開跑！</h4>
	<p>
		開始要 call for proposal 了，這次我們想邀請對於 reviewer 這個工作有興趣的人，一起參與我們，我們將分享給你 PyConTW 審稿系統、我們如何審稿，然後也希望你們一起參與我們的審稿系統優化計畫！<br>
		本次活動也歡迎有其他專案的朋友一起和我們合作！
		<ul>
			<li>時間：3/12 10點 ~ 17點</li>
			<li>地點：CLBC 大安館 (<a href="https://goo.gl/maps/7szDBwze7q22">地圖</a>)<br>
				106 台灣台北市大安區復興南路一段 293 號 3 樓之 1
			</li>
			<li>報名連結：<a href="https://www.meetup.com/Taipei-py/events/238139601/">https://www.meetup.com/Taipei-py/events/238139601/</a></li>
		</ul>
	</p>
</article>
{% endblock content %}
