{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}專業課程{% endblock %}
{% block page_title %}<h1>專業課程 (Tutorial)</h1>{% endblock %}

{% block content %}
{% url 'page' path='speaking/tutorial' as speaking_tutorial_url %}
<h1><span>專業課程 (Tutorial)</span></h1>
<article>
	<p>
		專業課程 (Tutorial) 是 PyCon TW 2017 的一部份，採付費方式。舉辦時間會在研討會前一至三週，提供全天（6 小時）或是半天（3 小時）的課程。課程內容採取公開遴選方式徵求提案。
	</p>
</article>

<h2><span>本次課程</span></h2>
<article>
	<ul>
		<li>2017/05/21 (日) 09:30 ~ 17:30 <a href="https://pycontw.kktix.cc/events/pycontw2017-tutorial-ai-game">上雲端、練AI、打電玩！ 從遊戲中誕生的人工智慧之手把手教學</a></li>
		<li>2017/05/28 (日) 10:10 ~ 17:00 <a href="https://pycontw.kktix.cc/events/pycontw2017-tutorial-numpy">實做數學: NumPy 入門</a></li>
		<li>2017/06/03 (六) 10:10 ~ 17:00 <a href="https://pycontw.kktix.cc/events/pycontw2017-tutorial-tensorflow-and-keras">實做數學: Tensorflow 及 Keras 實做神經網路</a></li>
	</ul>
</article>

<h2><span>售票時程</span></h2>
<article>
	<p>將於 2017 年 4 月 30 日中午 12:00 開始售票</p>
</article>

<h2><span>售票資訊</span></h2>
<article>
	<ul>
		<li>
			報名人數達 5 人即開班，未滿 5 人則流團退還全額報名費。
		</li>
		<li>
			不符資格者，大會將扣除行政費用後退餘款。
		</li>
	</ul>
</article>

<h2><span>發票處理說明</span></h2>
<article>
	<ul>
		<li>
			部分票種可提供發票（詳細請根據售票網頁），您將在會議當天報到處收到發票。
		</li>
		<li>
			請註明統一編號和公司抬頭。
		</li>
	</ul>
</article>

<h2><span>注意事項</span></h2>
<article>
	<ul>
		<li>
			本次活動恕不接受退票。
		</li>
		<li>
			PyCon Taiwan 2017 為使用者需付費之議程，所有工作人員和講者均自行付費參加。<a href="https://tw.pycon.org/2013/zh/blog/2013/03/05/everybody-pays-zh/">（另見：公平付費）</a>
		</li>
		<li>
			如有任何問題，請寄信至<a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>
		</li>
	</ul>
</article>
{% endblock content %}
