{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}教學{% endblock %}
{% block page_title %}<h1>教學 (Tutorial)</h1>{% endblock %}

{% block content %}
<h1><span>活動簡介</span></h1>
<article>
	<p>
		專業課程 (Tutorial) 是 PyCon TW 201˙
		的一部份，採付費方式。舉辦時間會在研討會前一至三週，提供全天（6 小時）或是半天（3 小時）的課程。課程內容採取公開遴選方式徵求提案。
	</p>
</article>

<h2><span>本次課程</span></h2>
<article>
	<p>待訂</p>
</article>

<h2><span>售票時程</span></h2>
<article>
	<p>TBD</p>
</article>

<h2><span>售票資訊</span></h2>
<article>
	<li>
		請注意 Creating python app with MySQL Router and MySQL Group Replication 課程票僅提供給已購買 PyCon 主活動票的會眾。
	</li>
	<li>
		報名人數達 5 人即開班，未滿 5 人則流團退還全額報名費。
	</li>
	<li>
		不符資格者，大會將扣除行政費用後退餘款。
	</li>
</article>

<h2><span>發票處理說明</span></h2>
<article>
	<p>
		<li>
			可提供發票，您將在會議當天報到處收到發票。
		</li>
		<li>
			請註明統一編號和公司抬頭。
		</li>
	</p>
</article>

<h2><span>注意事項</span></h2>
<article>
	<p>
		<li>
			本次活動恕不接受退票。
		</li>
		<li>
			PyCon Taiwan 2017 為使用者需付費之議程，所有工作人員和講者均自行付費參加。
			<a href="https://tw.pycon.org/2013/zh/blog/2013/03/05/everybody-pays-zh/">（另見：公平付費）
			</a>
		</li>
		<li>
			如有任何問題，請寄信至
			<a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>
		</li>
	</p>
</article>
{% endblock content %}
