{% extends 'contents/_base.html' %}

{% block title %}How to Propose a Tutorial{% endblock title %}

{% block content %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url 'page' path='speaking/talk' as speaking_talk_url %}

<h1>How to Propose a Tutorial?</h1>

<p>First of all, thank you considering giving a tutorial in PyCon Taiwan 2019.</p>

<p>Generally speaking, Good tutorials possess most of the traits good talks have. The most discernible differences of a tutorial from a <a href="{{ speaking_talk_url }}">talk</a> are the <em>hands-on</em> nature and the <em>longer duration</em>, and it's <em>paid</em>. By longer duration, generally more content is required and it should remain interesting and keep the attendees awake and hyped even after hours of lecture and exercises. By containing hands-on exercises, experience of teaching coding to people is necessary. You might also need teaching assistants who you should be able to comfortably communicate during the tutorial, usually at least two teaching assistants for a general class size of 20 people is needed.</p>

<p>Both differences requires many times of practice and experience.  Therefore, a tutorial speaker usually satisfies at least one of the following prerequisites:</p>

<ul>
	<li>A previous tutorial speaker in any programming conferences or communities</li>
	<li>More than one time of speaking experience in open source communities, preferably the local Python communities</li>
	<li>Teaching assistant in previous tutorials</li>
</ul>

<p>We might ask you to give the tutorial to the community prior to the conference if you lack the experience.</p>


<h2>Tutorial Duration</h2>

<p>Tutorials can have length of one of the below two:</p>
<ul>
  <li>3 hours, i.e. a half-day tutorial</li>
  <li>6 hours, i.e. a full-day tutorial</li>
</ul>

<p>In our previous experiences, tutorials with length of 6 hours are exhausted for both instructors and students, students usually find it difficult to consistently follow in the second half of the tutorial.  Full-day tutorials require relatively experienced instructor, thus we strongly recommend you to propose a 3-hour-long half-day tutorial, and clearly define <em>prerequisites</em> and <em>goals</em>, which helps building the best learning experience.</p>


<h2>Tutorial Dates and Location</h2>

<p>Tutorials can be on-site or off-site, that is, during the conference or outside of the conference.  On-site tutorials are in parallel with the main conference, the classroom will be inside the conference venue.  Whereas off-site tutorials are held 1 to 3 weeks prior to the conference, the classroom will also be arranged separately.  PyCon Taiwan will negotiate with each speaker on this, but the conference holds the final decision.</p>


<h2>Charging Policy</h2>

<p>Just like dates and locations, PyCon TW will negotiate with speakers individually, but the conference holds the final decision.  If you want to learn about charging policy and related details earlier, please <a href="mailto:organizers@pycon.tw">contact us directly</a>.</p>

<p>Note that the tutorials are subject to cancellation if enrollment is low (usually under 8), thus the accepted tutorial proposals are not guaranteed to be held.</p>


<h2>How to become a tutorial speaker?</h2>

<p>The easiest and the best answer: Go speak and involved at the local Python communities!</p>
<p>If you have any questions or suggestions, please don't hesitate to <a href="mailto:organizers@pycon.tw">contact us</a>.</p>

{% endblock content %}
