{% load i18n static %}

<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% trans 'Server Error' %} | PyCon Taiwan 2018</title>

<link rel="shortcut icon" href="{% static 'pycontw-2018/assets/favicon.ico' %}">
<link rel="icon" type="image/png" href="{% static 'pycontw-2018/assets/favicon-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'pycontw-2018/assets/favicon-32x32.png' %}" sizes="32x32">

<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'pycontw-2018/assets/og-image.png' %}">

<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,800">
{% include '_includes/error-styles.html' %}

</head>


<body>

<div>
	<div class="error-description">
		<h1>{% blocktrans %}Ooops! It’s a <span class="error-code">500</span> problem.{% endblocktrans %}</h1>
		<p>{% trans 'We screwed up. It’s not your fault.' %}</p>
	</div>
	<a href="{% url 'index' %}" class="link-to-index"></a>
</div>

</body>

</html>
