{% load compress static %}
{% load i18n static %}

<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{% block description %}{% endblock description %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block titletag %}
<title>{% block title %}{% endblock title %} | PyCon Taiwan 2018</title>
{% endblock titletag %}

<link rel="icon" type="image/png" href="{% static 'pycontw-2018/images/favicon.png' %}">

{% block meta_og %}
<meta property="og:description" content="{% block meta_description %}{% endblock meta_description %}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'pycontw-2018/images/og-image.png' %}">
{% endblock meta_og %}

<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400|Raleway:300,400">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

{% compress css %}
{% block styles %}{% endblock %}
{% endcompress %}

{% block extra_css %}{% endblock extra_css %}

</head>


<body>

{% block nav %}
{% include '_includes/top_nav.html' %}
{% endblock nav %}

{% block content_full %}{% endblock content_full %}

{% include '_includes/footer.html' %}

{% if GA_TRACK_ID %}
<script>GA_TRACK_ID = '{{ GA_TRACK_ID }}';</script>
<script src="{% static 'js/vendors/google_analytics.js' %}"></script>
{% endif %}

{% compress js %}
{% block scripts %}
<script type="module" src="{% static 'pycontw-2018/scripts/app.js' %}"></script>
{% endblock scripts %}
{% endcompress %}
{% block extra_js %}{% endblock extra_js %}

</body>

</html>
