{% extends 'base.html' %}

{% load i18n static %}

{% block titletag %}
<title>{% trans 'PyCon Taiwan 2018' %}</title>
{% endblock titletag %}



{% block content_full %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url 'page' path='events/sprints' as events_sprint_url %}
{% url 'page' path='events/tutorial' as events_tutorial_url %}

<div class="wrapper">
	<main class="conference-info">

		<nav class="index-session-links">
			<a href="{{ speaking_cfp_url }}">
        <code>
        <span class="event-label">Submit a proposal</span>
        </code>
      </a>
     {% get_current_language as LANGUAGE_CODE %}
     {% get_language_info for LANGUAGE_CODE as current_language %}
     {% if current_language.code == "zh-hant" %}
			 <a href="https://drive.google.com/file/d/1LHuzqO7dDU9SA73ERSnTYlaUQr_XQJtz/view?usp=sharing">
         <code>
         <span class="event-label">贊助企劃書</span>
         </code>
       </a>
     {% else %}
			 <a href="https://drive.google.com/file/d/1AMp7jfFh9v-b-lbw10WJxTXtJkOCEemN/view">
         <code>
           <span class="event-label">Sponsorship Proposal</span>
         </code>
       </a>
     {% endif %}
		</nav>

    <!--
		<nav class="ticket">
			<a href="{{ KKTIX_URL }}" target="_blank" rel="noopener">
				{% trans 'Get Tickets' %}
			</a>
		</nav>
    -->

    <!--
		<section class="volunteers-needed">
			<h4>{% trans 'Volunteers Needed' %}</h4>
			<p>{% blocktrans %}Help us organize and make the conference successful! Please fill out <a href="{{ VOLUNTEER_FORM_URL }}">our volunteer form.</a>{% endblocktrans %}</p>
		</section>
    -->

		<section class="index-intro">
			<article class="what-is-pycon">
				{% blocktrans trimmed %}
				<h2>what is pycon</h2>
				<p>The original PyCon was formed in North America in 2003, and now there are many other conferences being run in the PyCon spirit around the world.</p>
				{% endblocktrans %}
			</article>
			<article class="what-is-pycon-taiwan align-right">
				{% blocktrans trimmed %}
				<h2>what is pycon taiwan</h2>
				<p>PyCon Taiwan is an annual convention in Taiwan for the discussion and promotion of the Python programming language. It is held by enthusiasts and focuses on Python technology and its versatile applications. We welcome people who are interested in Python to join PyCon Taiwan to share knowledge, exchange ideas, make connections and to help us grow our network.</p>
				{% endblocktrans %}
			</article>
		</section>
	</main>
</div>

<section class="communities-wrapper">
	<div class="communities">
		<h2>{% trans 'Python Communities in Taiwan' %}</h2>
		<nav class="community-refs">
			<a href="http://www.meetup.com/PyLadiesTW/" target="_blank" rel="noopener">
				PyLadies Taiwan
			</a>
			<a href="http://djangogirls.org/taipei" target="_blank" rel="noopener">
				Django Girls Taipei
			</a>
			<a href="http://www.meetup.com/Taipei-py/" target="_blank" rel="noopener">
				Taipei.py <span class="desc">Taipei Python User Group</span>
			</a>
			<a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank" rel="noopener">
				Tainan.py <span class="desc">Tainan Python User Group</span>
			</a>
			<a href="http://www.meetup.com/pythonhug/" target="_blank" rel="noopener">
				PyHUG <span class="desc">Python Hsinchu User Group</span>
			</a>
			<a href="http://www.meetup.com/Taichung-Python-Meetup/" target="_blank" rel="noopener">
				Taichung.py <span class="desc">Taichung Python User Group</span>
			</a>
			<a href="http://www.meetup.com/Kaohsiung-Python-Meetup" target="_blank" rel="noopener">
				Kaohsiung.py <span class="desc">Kaohsiung Python User Group</span>
			</a>
			<a href="http://www.meetup.com/Hualien-Py/" target="_blank" rel="noopener">
				Hualien.py <span class="desc">Hualien Python User Group</span>
			</a>
		</nav>
	</div>
</section>

{% endblock content_full %}

{% block extrabody %}
<i class="deco polygons"></i>
<i class="deco taiwan"></i>
<i class="deco circle left"></i>
<i class="deco circle right"></i>
<i class="deco meteor top"></i>
<i class="deco meteor left"></i>
<i class="deco meteor right"></i>
{% endblock extrabody %}
