{% extends 'events/schedule.html' %}

{% load i18n %}
{% load events %}


{% block schedule %}


<div class="schedule">

{% for schedule_date, schedule_info in schedule_days.items %}

<section id="{{ schedule_date|date:'Y-m-d' }}" class="day-section">

	<h2 class="day-title">{{ schedule_info.name }}</h2>

	<table class="time-table">
		<thead>
			<tr>
				<td class="time-table-time"></td>
				{% for room in schedule_info.rooms %}
				<th>{{ room|room_display }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for slot_time, slot_info in schedule_info.slots.items %}
			<tr>
				<th class="time-table-time">
					{{ slot_time.0.value|date:'H:i' }}<br>
					|<br>
					{{ slot_time.1.value|date:'H:i' }}
				</th>
				<th class="time-stack-time">
					{{ slot_time.0.value|date:'H:i' }}–{{ slot_time.1.value|date:'H:i' }}
				</th>
				{% for room, event in slot_info %}
				<td class="{{ event|event_cell_class }}">
					<div class="time-stack-ribbon {{ room }}">{{ room|room_display }}</div>
					{{ event|event_display }}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

</section>

{% endfor %}

</div>


<div>
	<noscript>
		<div class="pycon-list">
			<div class="pycon-list-item text-theme-highlight">
				{% blocktrans trimmed %}
				Schedule table generation requires JavaScript. Please. (´･_･`)
				{% endblocktrans %}
			</div>
		</div>
	</noscript>

	<form method="post" class="generation-form" style="display:none;">
		{% csrf_token %}
		<input type="hidden" name="html">
		<button class="btn btn-primary btn-lg" type="submit">
			{% trans 'Generate' %}
		</button>
	</form>
</div>


{% endblock schedule %}
