{% extends 'contents/_base/events.html' %}

{% load i18n static %}
{% load events %}

{% block title %}{{ object.title }}{% endblock title %}


{% block content %}

<h1><span>{{ object.title }}</span></h1>

<section class="talk-info-section">
	<article class="classification-block">
		<ul class="classification-list">
			{% if event %}
			<li><span class="label fa fa-map-marker" aria-hidden="true"></span>{{ event.get_location_display }}</li>
			<li><span class="label fa fa-clock-o" aria-hidden="true"></span>{% blocktrans with date_display=event|event_date_display begin_time_display=event.begin_time.value|date:'H:i' end_time_display=event.end_time.value|date:'H:i' %}{{ date_display }}, {{ begin_time_display }}&#8209;{{ end_time_display }}{% endblocktrans %}</li>
			{% endif %}

			<li><span class="label" aria-hidden="true">{{ object.get_language_tag }}</span>{{ object.get_language_display }}</li>

			<li><span class="label fa fa-tag" aria-hidden="true"></span>{{ object.get_category_display }}</li>

			<li><span class="label" aria-hidden="true">{{ object.get_python_level_tag }}</span>{{ object.get_python_level_display }}</li>

			{% if sponsored %}
			<li><span class="label fa fa-handshake-o" aria-hidden="true"></span>{% trans 'Sponsored talk' %}</li>
			{% endif %}

			{% if object.recording_policy == False %}
			<li><span class="label fa fa-microphone-slash" aria-hidden="true"></span>{% trans 'No recording' %}</li>
			{% endif %}
		</ul>
	</article>

	<article>{{ object.abstract|linebreaks }}</article>
</section>


{% if object.detailed_description %}
<h2>{% trans 'Talk Detail' %}</h2>
<article class="editor-readonly">
	<div class="editor-preview">{{ object.detailed_description }}</div>
</article>
{% endif %}

{% if object.slide_link %}
<h3>{% trans 'Slides Link' %}</h3>
<article><a href="{{ object.slide_link }}">{{ object.slide_link }}</a></article>
{% endif %}


<h2 id="speaker-content">{% trans 'Speaker Information' %}</h2>
{% for info in object.speakers %}
{% with user=info.user %}
<h3>
	{{ user.speaker_name }}
	<span class="speaker-social">
		{% if user.github_id %}
		<a href="{{ user.github_profile_url }}" target="_blank">
			<span class="fa fa-github" aria-hidden="true"></span>
		</a>
		{% endif %}
		{% if user.twitter_id %}
		<a href="{{ user.twitter_profile_url }}" target="_blank">
			<span class="fa fa-twitter" aria-hidden="true"></span>
		</a>
		{% endif %}
		{% if user.facebook_profile_url %}
		<a href="{{ user.facebook_profile_url }}" target="_blank">
			<span class="fa fa-facebook" aria-hidden="true"></span>
		</a>
		{% endif %}
	</span>
</h3>
<div class="speaker-detail-info {% if user.photo %}speaker-detail-info-has-photo{% endif %}">
	{% if user.photo %}
	<img class="speaker-photo" src="{{ user.photo.url }}">
	<article class="speaker-bio">{{ user.bio|linebreaks }}</article>
	{% else %}
	<article class="speaker-bio">{{ user.bio|linebreaks }}</article>
	{% endif %}
</div>
{% endwith %}
{% endfor %}

{% endblock content %}


{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/vendors/simplemde.min.js' %}"></script>
<script src="{% static 'js/tools/simplemde-setup.js' %}"></script>
{% endblock extra_js %}
