@mixin button($angle, $color1, $color2) {
	@include gradient-hover($angle, $color1, $color2);
	@include link($white, $white);
	@include no-underline;
	font-weight: 500;
	margin: auto;

	@include on-desktop {
		max-width: 336px;
	}
}

@mixin outline-button($color) {
	@include button(0, $color, $color);
	border: 2px solid $color;
	background: transparent;
	color: $color;
}

@mixin bgimg-hover-button($color, $image){
	@include link($white, $white);
	@include no-underline;
	margin: auto;
	font-weight: 300;
	background-color: $color;
	&:hover{
		background-image: $image;
	}
	@include on-desktop {
		max-width: 336px;
	}
}

.button-round {
	@include text($text-font-size);
	@include text-light;
	@include no-underline;
	
	padding-top: 16px;
	padding-bottom: 16px;
	border: none;
	border-radius: 4px;
}
