.index-hero {
	$padding-top-mobile: calc(12.5vh + #{$top-navbar-offset * 7 / 8});
	$padding-top-desktop: 100px;
	$heading-aspect: 528 / 95;
	$heading-width-mobile: 70vw;
	$heading-height-mobile: $heading-width-mobile / $heading-aspect;
	$heading-width-desktop: 20vw;
	$heading-margin-left-desktop: 100vw - $heading-width-desktop;

	@mixin hero-text($font-size) {
		color: $white;
		font-family: $header-font-family;
		font-size: $font-size;
		font-style: italic;
		font-weight: 100;
	}

	display: flex;
	flex-direction: column;
	margin-top: 0 - $top-navbar-offset;
	padding-top: $padding-top-mobile;
	height: calc(100vh - #{$padding-top-mobile});
	max-height: 150vw;
	background-color:$strong-violet; 
	@include on-desktop {
		$menu-overlap: $menu-desktop-height / 2;
		height: calc(60vw - #{$padding-top-desktop + $menu-overlap});
		max-height: auto;
		margin-bottom: 0 - $menu-overlap;
		padding: $padding-top-desktop 0 $menu-overlap 0;
		
	}
	header {
		height:100%;
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		.hero-logo{
			position: absolute;
			margin-top:3px;
			width:80%;
			top:10%;
			@include on-desktop{
				align-self: flex-start;
				width:60%;
				padding-left: 5vw;
			}
		}
		.hero-heading {
			position: absolute;
			@include hero-text(2rem);
			height: $heading-height-mobile;
			text-align:center;
			display: flex;
			align-items: center;
			bottom: 30%;
			@include on-desktop {
				align-self: flex-start;
				text-align: start;
				width: $heading-width-desktop;
				height: $heading-width-desktop / $heading-aspect;
				right:10%;
				top: 50%;
			}
		}

		.hero-subheading {
			position: absolute;
			@include hero-text(1.25rem);
			line-height: 160%;
			// margin-left: calc(50vw - #{$heading-width-mobile / 2});
			font-size: 1.5rem;
			bottom: 20%;
			display: flex;
			align-items: center;
			@include on-desktop {
				align-self: flex-start;
				// margin-left: $heading-margin-left-desktop;
				bottom: 20%;
				right: 10%;
				flex-direction: row;
				// border: 1px solid black;
				> * {
					margin-right: 1px;
				}
			}
		}
	}

	blockquote {
		@include hero-text(1rem);
		margin: 0 12px 12px 0;
		border: none;
		text-align: right;
		font-size: 1.2rem;

		@include on-desktop {
			margin-right: $menu-desktop-margin-x + $menu-desktop-border-radius;
			margin-bottom: 20px;
			font-size: 1.25rem;
		}
	}
}
