.index-hero {
	$padding-top-mobile: calc(12.5vh + #{$top-navbar-offset * 7 / 8});
	$padding-top-desktop: 100px;
	$heading-aspect: 528 / 95;
	$heading-width-mobile: 70vw;
	$heading-height-mobile: $heading-width-mobile / $heading-aspect;
	$heading-width-desktop: 20vw;
	$heading-margin-left-desktop: 100vw - $heading-width-desktop;
	max-width:100%;
	height:100vh;
	margin: 0 auto;

	@mixin hero-text($font-size) {
		color: $white;
		font-family: $header-font-family;
		font-size: $font-size;
		font-style: italic;
		font-weight: 100;
	}

	display: flex;
	flex-direction: column;
	margin-top: 0;
	// padding-top: $padding-top-mobile;
	height: calc(100vh - #{$padding-top-mobile});
	max-height: 130vw;
	
	background: url('../assets/landingpage-mobile.svg');
	background-repeat: no-repeat;
	background-size: 100vw;
	@include on-desktop {
		background: url('../assets/landingpage-desktop.svg');
		
		$menu-overlap: $menu-desktop-height / 2;
		height: calc(60vw - #{$padding-top-desktop + $menu-overlap});
		max-height: auto;
		margin-bottom: -100px;
		padding: $padding-top-desktop 0 $menu-overlap 0;
		
	}
	.hero-logo{
		width: 100vw;
		max-width:100%;
		margin-top: 0-$padding-top-desktop;
		@include on-desktop{
		}
	}
	header {
		height:100%;
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		background-position: center;
		
	}

	blockquote {
		@include hero-text(1rem);
		margin: 0 12px 12px 0;
		border: none;
		text-align: right;
		font-size: 1.2rem;

		@include on-desktop {
			margin-right: $menu-desktop-margin-x + $menu-desktop-border-radius;
			margin-bottom: 20px;
			font-size: 1.25rem;
		}
	}
}
