$container-max-width: 720px;

@mixin container($max-width: $container-max-width) {
	max-width: $max-width;
	margin: auto;
}

.container {
	@include container;
}

$content-section-padding: 20px 40px 80px 40px;

@mixin content-section {
	padding: $content-section-padding;
}

footer {
	@include text-light;

	padding: 80px 0 10px;
	background-color: $egyptian-blue;

	.footer-logos{
		display: flex;
		flex-direction: row;
		align-items: flex-end;
    justify-content: center;
		.footer-logo {
			width: 38px;
			height: 52px;
			margin: 0px 7px 0px 0px;
			background: url('../assets/logo-icon-yellow.svg') center no-repeat;
		}
		.footer-grass {
			width: 23px;
			margin: 0px 34px;
			height: 25px;
			background-image: url('../assets/one-grass-yellow.svg');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			transform: rotate(-45deg);
		}
	}

	a, p, ul {
		@include no-underline;
		text-align: center;
	}
	ul {
		@include menu-items;
		margin-bottom: 80px;
		padding-left: 0;
		line-height: 48px;
		a:hover{
			color: $portica;
		}
		&::before {
			content: '';
			display: inline-block;
			width: 24px;
			height: 8px;
			border-top: solid 0.2px $white;
		}
	}

	.copyright {
		border-top: 1px solid $bluey-grey;
		padding-top: 16px;
	}
}

// Applied when a fullscreen popup is open to disable <body> scrolling.
body.overlay-open {
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;

	@include on-desktop {
		max-width: none;
		max-height: none;
		overflow: auto;
	}
}

$background-deco-index: 0;
$overlay-index: 99;
