$container-max-width: 720px;

@mixin container($max-width: $container-max-width) {
	max-width: $max-width;
	margin: auto;
}

.container {
	@include container;
}

$content-section-padding: 96px 40px 80px 40px;

@mixin content-section {
	padding: $content-section-padding;
}

footer {
	@include text-light;

	padding: 80px 0 1px;
	background-color: $egyptian-blue;

	.footer-logo {
		width: 100%;
		height: 40px;
		margin: 0;
		background: url('../assets/logo-py-white.svg') center no-repeat;
	}

	a, p, ul {
		@include no-underline;
		text-align: center;
	}
	ul {
		@include menu-items;
		margin-bottom: 80px;
		padding-left: 0;
		line-height: 48px;

		&::before {
			content: '';
			display: inline-block;
			width: 24px;
			height: 8px;
			border-top: solid 0.2px $white;
		}
	}

	.copyright {
		border-top: 1px solid $bluey-grey;
		padding-top: 16px;
	}
}

// Applied when a fullscreen popup is open to disable <body> scrolling.
body.overlay-open {
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;

	@include on-desktop {
		max-width: none;
		max-height: none;
		overflow: auto;
	}
}

$background-deco-index: 0;
$overlay-index: 99;
