.media {
	> header {
		> figure {
			$image-size: 136px;

			display: flex;
			flex-direction: column;

			img, .image {
				align-self: center;
				height: $image-size;
				border-radius: $image-size / 2;
			}

			.image {
				width: $image-size;
				background: transparent center / cover no-repeat;
			}

			figcaption {
				@include header(1.125rem);	// ~ 18px.
				margin-top: 32px;
			}
		}

		.title {
			@include header(1.125rem);	// ~ 18px.
			margin-top: 16px;
		}
	}

	> * + * {
		margin-top: 32px;
	}
}
