.popup {
	position: fixed;
	z-index: $overlay-index;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: scale(0, 0);
	opacity: 0;
	transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

	&.open {
		transform: scale(1, 1);
		opacity: 1;
	}

	@mixin card($spacing) {
		top: $spacing;
		bottom: $spacing;
		left: $spacing;
		right: $spacing;
	}

	> .card {
		@include card(16px);
		position: fixed;
		border-radius: 5px;
		background-color: rgba(255, 255, 255, 0.95);
		box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.15);

		@include on-desktop() {
			@include card(48px);
		}
	}

	.popup-close {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 24px;
		height: 24px;
		max-width: 10vmin;
		max-height: 10vmin;
		margin: 0;
		padding: 0;
		border: none;
		background: none;

		&:hover {
			cursor: pointer;

			> span {
				border-color: #a8a8a8;
			}
		}

		> span {
			display: block;
			width: 100%;
			border: 1px solid #cacaca;
			transform-origin: center;

			&:first-child {
				transform: rotate(45deg) translate(#{$sqrt-2}px, #{$sqrt-2}px);
			}
			&:last-child {
				transform: rotate(-45deg);
			}
		}
	}
}

@mixin link-to-website($button-color) {
	@include button(0,$button-color, $button-color);
	@include on-desktop{
		max-width: 80px;
	}
	border-radius: 10px;
	padding: 12px;
	margin: 0px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
}

.popup .card-content {
	@mixin card-content($spacing, $extra-top-padding, $overflow) {
		overflow: $overflow;
		width: calc(100% - #{2 * $spacing});
		height: calc(100% - #{2 * $spacing + $extra-top-padding});
		padding: $spacing + $extra-top-padding $spacing $spacing $spacing;

		> * {
			padding: $spacing;
		}
	}

	@include card-content(16px, 16px, auto);

	.logo {
		display: block;

		img {
			width: 100%;
			max-width: 256px;
		}
	}

	.name {
		@include header(1.5rem);
		@include header-geometry(0, 16px);
	}
	.name, .description .description * {
		text-align: left;
	}

	@include on-desktop() {
		@include card-content(32px, 0, visible);
		display: flex;
		flex-direction: column;

		> * {
			max-height: 100%;
		}

		.logo {
			display: flex;
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;

			article {
				display: flex;
				flex-direction: column;
				max-height: 100%;

				.name {
					flex: 0;
				}

				.description {
					flex: 1;
					max-height: 560px;
					overflow: auto;
					margin: 28px 0px;

					&, * {
						text-align: left;
					}
				}
				
				.link-to-website {
					@include link-to-website($elf-green);
					
					&:hover{
						@include link-to-website($portica);
					}
				}
			}
		}
	}
}
