@import 'site';
@import 'index-mixins';
@import 'index-hero';
@import 'index-partners';

.top-navbar {
	@include on-desktop {
		border-bottom-color: transparent;
		z-index: 1;
	}
	.navbar-logo {
		margin-top: (3 * $top-navbar-height - $top-navbar-logo-height) / 2;
	}
	background-color: $portica;
}

.menu-navbar-desktop {
	@include menu-navbar-desktop(
		url('../assets/logo-strong-violet.svg'), $egyptian-blue, $egyptian-blue, $egyptian-blue);
	border-radius: $menu-desktop-border-radius;
	background-color: $white;
	
}

.index-introduction {
	@include index-section;

	@include on-desktop {
		margin-top: 0 - $menu-desktop-height / 2;
	}

	.my-pycon {
		@include button(276deg, $dark-peach, $maize);
		margin-top: 40px;
	}
}

.index-volunteer-container {
	display: flex;
	flex-flow: row wrap;
	background: $egyptian-blue;
	justify-content: center;
	align-items: flex-end;

	.index-volunteer, .index-cfp {
		flex: 1 1 0;
	}

	.index-volunteer {
		@include index-section;
		padding: 120px;
	
		article:first-of-type {
			margin-top: 0;
		}
		h2, p {
			color: $white;
		}
	
		.volunteer {
			@include outline-button($portica);
			margin-top: 40px;
		}
	}

	.index-cfp {
		@include index-section;
		padding: 120px;
		background-color: $egyptian-blue;
	
		article:first-of-type {
			margin-top: 0;
		}
		h2, p {
			color: $white;
		}
	
		.volunteer {
			@include outline-button($portica);
			margin-top: 40px;
		}
	}
}


