@import 'site';
@import 'index-mixins';
@import 'index-hero';
@import 'index-partners';

.top-navbar {
	background-color: $portica;
	@include on-desktop {
		border-bottom-color: transparent;
	}

	.navbar-logo {
		margin-top: (3 * $top-navbar-height - $top-navbar-logo-height) / 2;
	}
}

.menu-navbar-desktop {
	@include menu-navbar-desktop(
		url('../assets/logo-strong-violet.svg'), $egyptian-blue, $egyptian-blue, $text-dark);
	border-radius: $menu-desktop-border-radius;
	background-color: $white;
}

.index-introduction {
	@include index-section;

	@include on-desktop {
		margin-top: 0 - $menu-desktop-height / 2;
	}

	.my-pycon {
		@include button(276deg, $dark-peach, $maize);
		margin-top: 40px;
	}
}

.index-volunteer-container {
	display: flex;
	flex-flow: row wrap;
	background: transparent;
	justify-content: center;
	align-items: flex-end;

	.index-volunteer, .index-cfp {
		@include index-container-background;
	}

	.index-volunteer {
		@include index-section;
	
		article:first-of-type {
			background: $portica-65;
		}

		h2, p {
			color: $egyptian-blue;
		}
	
		.volunteer {
			@include button(259deg, $portica, $portica);
			text-shadow: 1px 1px 0 darken($portica, 10%);
			margin-top: 40px;
		}

	}

	.index-cfp {
		@include index-section;
		padding: 120px;
		background-color: $egyptian-blue;
	
		article:first-of-type {
			max-width: 100%;
			margin-top: 0;
		}
		h2, p {
			color: $white;
		}
	
		.volunteer {
			@include outline-button($portica);
			margin-top: 40px;
		}
	}
}


