
{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}Community Track{% endblock title %}

{% block meta_description %}The community track is a new event in PyCon TW. We choose the talks with specific topics and package them into the same session. We'll leave the conference rooms and go to characteristic cafes, exhibition spaces, and even monuments so that the attendees and speakers can interact with each other more comfortably and closely.{% endblock meta_description %}


{% block content %}

<section class="pill-title alt">
    <h1>Community Track</h1>
</section>

<p>The community track is a new event in PyCon TW. We choose the talks with specific topics and package them into the same session. We'll leave the conference rooms and go to characteristic cafes, exhibition spaces, and even monuments so that the attendees and speakers can interact with each other more comfortably and closely.</p>

<ul>
    <li class="event-info">
        <b>Event Time</b><br />
        2020/09/06 13:40
    </li>
    <li class="event-info">
        <b>Event Info</b><br />
        Physical Meetup
    </li>
    <li class="event-info">
        <b>Host</b><br />
        Python Community Leader
    </li>
</ul>

<article class="media">
    <h2>Place</h2>
    <p><b>古蹟出張所</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/b16tainan.jpg' %}" width="100%">
    <p><b>Tsang Fong Coffee</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/tsang-fong-coffee.jpg' %}" width="100%">
    <p><b>Tainan Shamu</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/tainan-shamu.jpg' %}" width="100%">
    <p><b>Angry Burger</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/angry-burger.jpg' %}" width="100%">
    <p><b>Three Doors Brunch</b></p>
    <img src="{% static 'pycontw-2020/assets/community-track/three-doors-brunch.jpg' %}" width="100%">
</article>


<h2>Agenda</h2>
<table>
	<thead>
		<tr>
            <th>Time</th>
			<th>Event</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>13:40 - 13:50</td>
			<td>Community Introduction</td>
		</tr>
		<tr>
			<td>13:50 - 14:20 </td>
			<td>Talk</td>
		</tr>
		<tr>
			<td>14:20 - 14:30 </td>
			<td>Break</td>
		</tr>
		<tr>
			<td>14:30 - 15:00 </td>
			<td>Talk</td>
		</tr>
		<tr>
			<td>15:00 - 15:10 </td>
			<td>Break</td>
		</tr>
		<tr>
			<td>15:10 - 15:50 </td>
			<td>Talk /Sponsor Introduction</td>
		</tr>
		<tr>
			<td>15:50 - 16:00 </td>
			<td>Break</td>
		</tr>
		<tr>
			<td>16:00 - 16:40 </td>
			<td>Free Sharing</td>
		</tr>
	</tbody>
</table>


{% endblock content %}
