{% extends 'contents/_base.html' %}

{% block title %}Sprints{% endblock title %}

{% block body_class %}{{ block.super }} exchange-page{% endblock body_class %}


{% block content %}

<h1>Sprints</h1>

<p>Sprints are held out of the main conference. A sprint event gathers open source project owners, contributors, and people who want to contribute but trying to find a place to start. During a sprint, project hosts bring their unresolved issues or new features under development and share with everyone. You can join a project of your choice, or bring your own project here!</p>

<p>For those who already know fundamentals of Python and want to participate open source projects, but doesn't know where to start, sprints are great opportunities to get yourself involved! As for project hosts, this is a great chance for you to find people with similar interests, having face-to-face interactions with contributors, and getting new contributors to your project's development! Be prepared to get your hands dirty!</p>

<p>This year’s PyCon TW Sprints will be held in physical and online at the same time, so you can keep contributing to open source projects.</p>

<h3>Physical Sprints</h3>

<p>The physical sprints meetup will be held on 8/30 Sunday in Tainan Goodideas Studio. You can interact with the project hosts in close, learn about the project, and contribute your code to the open-source project with everyone together. In this meetup, the venue will also provide snacks so that you can have something delicious while contributing to your code!</p>

<p>Please RSVP on our <a href="https://pycontw.kktix.cc/events/20200830-sprint" target="_blank" rel="noopener">KKTIX</a></p>

<h3>Online Sprints</h3>

<p>The online sprints are through contacting the project hosts you are interested in. The project hosts will add you to a group and interact with you online. If you are still not satisfied with the physical sprints, you can still join the online sprints to keep communicating with project hosts. In this way, contributing to open source is not limited to time and place, but a long-term community promotion.</p>

<h2>Sprint Host Registration</h2>

<p>If you’re interested in being a project host at the sprint, please add your project at <a href="https://hackmd.io/w5hh0hUNQr65k4ayG2128Q?both" target="_blank" rel="noopener">HackMD</a></p>

{% endblock content %}
