
{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}PyCon TW x taipei.py 聯合線上直播{% endblock title %}

{% block meta_description %}PyCon Taiwan 合併 taipei.py 實體聚會所進行的線上與線下聯播活動！！{% endblock meta_description %}


{% block content %}

<section class="pill-title alt">
    <h1>PyCon TW x taipei.py Co-hosting Online/Offline Meet-up Streaming</h1>
</section>

<p>Following the previous Python NPF x nantou.py event, we are co-hosting the mixed online/offline event together with taipei.py this time!</p>

<ul>
    <li class="event-info">
        <b>Event Time</b><br />
        Thursday, 18 June 2020
				7:00 pm to 9:00 pm GMT+8
    </li>
    <li class="event-info">
        <b>Event Info</b><br />
        Youtube Streaming（
        <a href="https://www.youtube.com/watch?v=7evFdOrEqnU">
            streaming link
        </a>
			  ）
    </li>
    <li class="event-info">
        <b>Physical Meet-up</b><br />
        <a href="https://www.meetup.com/Taipei-py/events/271185591/">iCHEF Office Lobby</a>
    </li>
    <li class="event-info">
        <b>Session Chairs</b><br />
				Keith, Tim
    </li>
</ul>

<h2> About the Community Host <a href="https://www.meetup.com/Taipei-py/">Taipei.py - Taipei Python User Group</a></h2>
<p>We hold seminar meetings regularly in Taipei and invite you to enjoy the fun, insights, and perspectives in this Python community</p>

<h2>Agenda</h2>
<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Event</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>19:00 - 19:10</td>
			<td>Warm-up and taipei.py introduction</td>
		</tr>
		<tr>
			<td>19:20 - 19:50</td>
			<td>Wei Lee - commitizen-tools: What can we gain from crafting a git message convention?</td>
		</tr>
		<tr>
			<td>19:50 - 20:20</td>
			<td>Keith Yang - Django Cookiecutter: their everyday Django project template</td>
		</tr>
		<tr>
			<td>20:20 - 20:50</td>
			<td>Tim Hsu - What's New in Python 3.9</td>
		</tr>
		<tr>
			<td>20:50 - 16:00</td>
			<td>Wrap up</td>
		</tr>
	</tbody>
</table>

{% endblock content %}
