{% extends 'contents/_base.html' %}q

{% block title %}Warm-up session{% endblock title %}

{% block meta_description %}Overview on how to submit a financial aid application to PyCon Taiwan, and allow us to help you attend the conference.{% endblock meta_description %}


{% block content %}
{% url 'page' path='events/passion-fruit' as passion_fruit_url %}
{% url 'page' path='events/taipei-dot-py' as taipei_dot_py %}
{% url 'page' path='events/pyhug' as pyhug %}


<section class="pill-title">
    <h1>Warm-up session</h1>
</section>

<h3><a href="{{ passion_fruit_url }}">1st Python NPF x nantou.py</a></h3>

<p>Python NPF is the first event collaborated with nantou.py to host a mixed online/offline event. We expect we could get familiar with this type of mixed meetup event so we could enjoy our pythonic time during COVID-19 era.</p>

<h3><a href="{{ taipei_dot_py }}">PyCon TW x taipei.py Co-hosting Online/Offline Meet-up Streaming</a></h3>

<p>Following the previous Python NPF x nantou.py event, we are co-hosting the mixed online/offline event together
	with taipei.py this time!</p>

<h3><a href="{{ pyhug }}">PyCon TW x PyHUG Co-hosting Online/Offline Meet-up Streaming</a></h3>

<p>Here comes the third warm-up event. We are co-hosting the mixed online/offline event together
	with PyHUG this time!</p>

{% endblock content %}
