{% extends 'base.html' %}

{% load i18n static %}

{% block styles %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'pycontw-2020/styles/index.scss' %}">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:100i">
{% endblock extra_css %}

{% block titletag %}
<title>{% trans 'PyCon Taiwan 2020' %}</title>
{% endblock titletag %}


{% block content_full %}

{% include '_includes/hero.html' %}

<div class="menu-navbar-desktop-outer">
    <nav class="menu-navbar-desktop">
        {% include '_includes/menu.html' with type='desktop' %}
    </nav>
</div>

<div class="main-content">
    <section class="index-introduction">
        <article class="container">
            <h2>{% trans 'What is PyCon' %}</h2>
            {% blocktrans trimmed %}
            <p>The original PyCon was formed in North America in 2003, and now there are many other conferences being run in the PyCon spirit around the world.</p>
            {% endblocktrans %}
        </article>

        <article class="container">
            <h2>{% trans 'What is PyCon Taiwan' %}</h2>
            {% blocktrans trimmed %}
            <p>PyCon Taiwan is an annual convention in Taiwan for the discussion and promotion of the Python programming language. It is held by enthusiasts and focuses on Python technology and its versatile applications. We welcome people who are interested in Python to join PyCon Taiwan to share knowledge, exchange ideas, make connections and to help us grow our network.</p>
            {% endblocktrans %}
        </article>
    </section>

    <section class="index-actions">
        <a class="index-big-button color-jinger-bread" href="{% url 'page' path='speaking/cfp' %}">
            <i class="icon icon-speaking"></i>
            <div>{% trans 'Call for Proposals' %}</div>
        </a>

        <a class="index-big-button color-imperial" href="{{ VOLUNTEER_FORM_URL }}" target="_blank" rel="noopener">
            <i class="icon icon-volunteering"></i>
            <div>{% trans 'Become a volunteer' %}</div>
        </a>

        <a class="index-big-button color-dark-gray" href="{% url 'page' path='sponsor/sponsor' %}">
            <i class="icon icon-sponsor"></i>
            <div>{% trans 'Sponsor PyCon TW' %}</div>
        </a>
    </section>

    <img class="deco-a-1" src="{% static 'pycontw-2020/assets/deco-a-1.svg' %}" />
    <img class="deco-a-2" src="{% static 'pycontw-2020/assets/deco-a-2.svg' %}" />
    <img class="deco-a-3" src="{% static 'pycontw-2020/assets/deco-a-3.svg' %}" />
</div>

{% endblock content_full %}
