{% extends 'contents/_base/venue.html' %}

{% block title %}會場{% endblock title %}

{% block content %}
<h2><span>會場資訊</span></h2>
<article>
  <div class="map-container">
    <div id="map" class="map"></div>
    <div class="map-address">
      人文社會科學館<br>
      中央研究院
    </div>
  </div>
  <h3><span>
    PyCon TW 2017 會場位於中央研究院內的人文社會科學館 (HSSB)
  </span></h3>
  <p>
    中央研究院地址：115 台北市南港區研究院路 2 段 128 號（顯示於 <a href="http://goo.gl/maps/tLZKX" target="_blank" rel="noopener">Google Map</a> 上）</li>
    <br/>
    從中研院大門口步行前往會場約需 10 分鐘，亦可請計程車進入院區中直達會場。</li>
    <br/>
  </p>
  <blockquote>
  更多場地位置相關資訊請至<a href="http://www.sinica.edu.tw/location.htm" target="_blank" rel="noopener">中研院網站</a>。
  </blockquote>
</article>

<h2><span>交通方式</span></h2>
<article>
  <h3>自行開車</h3>
  <p>人社館地下室設有汽車停車場，停車費用每小時20元，假日免收費，詳細說明請見<a href="http://proj1.sinica.edu.tw/~gao1018/rule_6.htm" target="_blank" rel="noopener">中研院公告</a>。</p>
  <ul>
    <li>中山高速公路東湖交流道（康寧路出口）下，過南湖大橋後，接研究院路。</li>
    <li>北二高南港交流道下，接南深路，左轉舊庄路，接研究院路。</li>
    <li>環東大道南港出口下，接研究院路。</li>
  </ul>

  <h3>搭乘捷運</h3>
  <p>有兩種方式抵達會場：</p>
  <ul>
    <li>搭乘板南線（5 號線）至<em>南港展覽館站（BL23，出口 2）</em>，<br/>
    然後轉乘公車 205、212、276、306、620、645、679、小 1、小 5、小 12 至中央研究院站。</li>
    <li>搭乘板南線（5 號線）至<em>南港站（BL22，出口 1）</em>，<br/>
    然後轉乘公車 212、270 或藍 25 至中央研究院站。</li>
  </ul>
  <p>你也可以搭計程車代替公車，約新台幣 80元。根據過去的經驗，屆時將會有不少人採取此方式，不妨採取<em>計程車共乘</em>由捷運站前往。</p>

  <h3>搭乘公車</h3>
  <p>搭乘 205、212、212 直、270、270 區、276、306、306 區、620、645、645 副、小 1、 小 12、小 12 區、 小5、藍 25，並在中研院站下車。</p>

  <h3>YouBike (Ubike)</h3>
  <p>中研院週邊亦有不少 YouBike 的租借站。更多 YouBike 附近路線的資訊，可以見 <a href="http://www.opencyclemap.org/?zoom=16&lat=25.04974&lon=121.61213&layers=B000" target="_blank" rel="noopener">OpenCycleMap</a> 以及 <a href="http://taipei.youbike.com.tw/" target="_blank" rel="noopener">YouBike 官方網站</a>。</p>
</article>
{% endblock content %}
