
{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}PyCon TW x PyHUG Co-hosting Online/Offline Meet-up Streaming{% endblock title %}

{% block meta_description %}PyCon Taiwan are co-hosting the mixed online/offline event together with PyHUG this time!{% endblock meta_description %}


{% block content %}

<section class="pill-title alt">
    <h1>PyCon TW x taipei.py Co-hosting Online/Offline Meet-up Streaming</h1>
</section>

<p>Here comes the third warm-up event. We are co-hosting the mixed online/offline event together with PyHUG this time!</p>

<ul>
    <li class="event-info">
        <b>Event Time</b><br />
        Wednesday, 29 July 2020
				7:30 pm to 8:30 pm GMT+8
    </li>
    <li class="event-info">
        <b>Event Info</b><br />
        Youtube Streaming（
        <a href="https://www.youtube.com/watch?v=PAd9-DMaJPQ" target="_blank" rel="noopener">
            streaming link
        </a>
			  ）
    </li>
    <li class="event-info">
        <b>Physical Meet-up</b><br />
        <a href="https://www.meetup.com/pythonhug/events/tnzzgpybckbmc/" target="_blank" rel="noopener">Micro Beer</a>
    </li>
    <li class="event-info">
        <b>Host</b><br />
        Dainese
    </li>
</ul>

<h2> About the Community Host <a href="https://www.meetup.com/pythonhug" target="_blank" rel="noopener">Python Hsinchu User Group</a></h2>
<p>Welcome to PyHUG! We are a group of Python programmers near the Hsinchu, Taiwan. We regularly hold seminar and coding meetings. You are very welcomed to join us!</p>

<h2>Agenda</h2>
<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Event</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>19:00 - 19:25</td>
			<td>Welcome</td>
		</tr>
		<tr>
			<td>19:25 - 19:30</td>
            <td>Speaker introduction</td>
		</tr>
		<tr>
			<td>19:30 - 20:00</td>
            <td>用 Loki 做個能究責的 NLU 模型 - 以金融場景應用為例</td>
		</tr>
		<tr>
			<td>20:00 - 20:20</td>
            <td>Q &amp; A</td>
		</tr>
		<tr>
			<td>20:20 - 21:00</td>
			<td>Free sharing</td>
		</tr>
	</tbody>
</table>

{% endblock content %}
