{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block content %}

<h1>贊助召集令</h1>

<h2>贊助召集令</h2>

<p>「您」的支持是推進 PyConTW 的強大動力！
	PyCon TW 在此召集「您」的加入，透過贊助以具體行動支持 python 社群的成長！透過參與PyCon TW，我們也提供贊助廠商以下的服務：
</p>

<ul>
	<li><p>近距離接觸專業人士</p></li>
	<li><p>標地明確與順暢的徵才場合</p></li>
	<li><p>提升品牌曝光率</p></li>
	<li><p>為企業建立人才網絡</p></li>
</ul>

<p>歡迎參考 2019 PyCon <a href="https://drive.google.com/file/d/1XXKfFBeyVMcWLCxYqI_HkIhdwK44a5pS/view" target="_blank" rel="noopener">贊助書</a>，以了解 2019 PyCon 贊助方案，或是<a href="mailto:sponsorship@pycon.tw">聯絡我們</a>，讓我們了解「您」的需求！</p>

 


<p><a href="{{ SPONSOR_FORM_URL }}" target="_blank" rel="noopener">傳送門</a> ：立即註冊成為 2019 PyCon TW 贊助商
</p>

{% endblock content %}

