{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}Sponsor{% endblock title %}
{% block content %}

<h1>Why Sponsorship</h1>

<h2>Why Sponsorship</h2>

<p>PyCon Taiwan is driven both by our hardcore community members and, YOU, our awesome sponsor partners!</p>

<p>Your generous support is the engine for us to move forward. Ever since PyCon TW was first held in 2012, the conference has expend its visibility, accessibility, and varieties with a goal to continuously provide a platform for developers, new contributors, organizations, and companies to share knowledge and ideas and to strengthen Taiwanese Python communities.</p>

<ul>
	<li><p>Visibility on Python Networking</p></li>
	<li><p>Recruit in the conference</p></li>
	<li><p>Promote your brand</p></li>
	<li><p>Connect with strong talent network</p></li>
</ul>

<p>Our sponsorship partners are what makes PyCon TW possible! We work closely with our partners in order to optimize what PyCon TW can offer. Look for your participation!</p>

{% endblock content %}

