{% extends 'registration/base.html' %}

{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block form_title %}{{ title }}{% endblock form_title %}

{% block form %}
{% if validlink %}
{{ block.super }}
{% else %}
<p>{% trans 'The password reset link was invalid, possibly because it has already been used. You can:' %}</p>
<ul>
  <li><a href="{% url 'password_reset' %}">Request a new password reset</a>, or</li>
  <li><a href="{% url 'index' %}">Return to homepage.</a></li>
</ul>
{% endif %}
{% endblock form %}
