{% extends 'registration/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Reset Your Password' %}{% endblock title %}

{% block form_title %}{% trans 'Reset Your Password' %}{% endblock form_title %}

{% block form %}
{{ block.super }}
<p class="text-center">
  {% url 'signup' as signup_url %}
  {% blocktrans trimmed %}
  <span class="form-tip">Don't have an account?</span>
  <a class="btn btn-link" href="{{ signup_url }}">Sign up now!</a>
  {% endblocktrans %}
</p>
{% endblock form %}
