{% extends 'contents/_base/about.html' %}

{% block title %}關於 PyCon Taiwan{% endblock title %}

{% block content %}
<h2><span>PyCon Taiwan 介紹與演進</span></h2>
<article>
  <p>
    2008 年和 2011 年，thinker 籌畫了 PyCTW，也是 PyCon Taiwan 的前身。當時還是一日的活動，讓各地的
    Python 愛好者能一整天聚在一起。（<a href="http://wiki.python.org.tw/PycTW2008" target="_blank" rel="noopener">PyCTW 2008</a>、<a
      href="http://wiki.python.org.tw/PycTW2011" target="_blank" rel="noopener">PyCTW 2011</a>）
  </p>

  <p>
    2012 年 yyc 與各社群參與者，催生了第一屆 PyCon Taiwan，議程主題以科學運算為主，也包含各種
    Python 的小工具。從第一屆開始，就決定要遵從
    PyCon US 的 <a href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/" target="_blank" rel="noopener">Everybody Pays</a>
    原則，不論是講者還是工作人員都要購票進場，這也成為與當時台灣其他研討會不同的特色。這屆設定了
    250 報名人數上限，也順利完售。大會主席 yyc 在其 blog 中<a
      href="http://yyc.solvcon.net/writing/2012/pycontw2012_finale.html" target="_blank" rel="noopener">記下這個時刻</a>。
  </p>

  <p>
    來到 2013 年，續任主席的 yyc 決定擴大 PyCon Taiwan 的規模，並嘗試了許多新活動。在大會開始前，與良葛格合作，試辦收費的
    Python 教學課程，報名非常踴躍，額滿後還有很多人詢問是否能加開課程。也在大會第一天議程結束，BoF
    同好分享的時間，嘗試加入夜市活動。請來了音樂家現場演奏，搭配自助餐點及各社群的擺攤，有得吃也有得玩，成為本次大會的一大亮點。也因此，課程與夜市成為
    PyCon Taiwan 的定番。yyc 也<a
      href="http://yyc.solvcon.net/writing/2013/after_pycontw_2013/index.html" target="_blank" rel="noopener">留下了心得</a>。
  </p>

  <p>
    2014 年，Tim Hsu 從 yyc 接下 PyCon Taiwan 主席的工作。這年，我們要幹一票大的：接下亞太區 PyCon 的聖火，成為
    PyCon APAC/Taiwan，定了新標語：「from everything import python」。與 <a
      href="http://www.checkio.org/" target="_blank" rel="noopener">CheckIO</a> 合作舉辦
    Python 解題競賽。為了顧及議程品質與贊助商曝光，特別規劃了贊助商 Show Time，以及 Job Fair 的活動。
  </p>

  <p>
    2015 年，由 Keith Yang 接任主席，再次承辦亞太區 PyCon 年會。2015
    年也是電影<cite>回到未來續集</cite>主角馬蒂穿越時空抵達的年份。大會也呼應電影，將標語定為「Back to
    __future__ II」，也有「回到未來夜市」。議程方向希望帶領大家，瞭解如何利用 Python
    去實踐一些想法，或是應用 Python 在不同領域的研究。同時也規劃了多堂課程，從基本的 Python
    入門課，到寫網路爬蟲、資料探勘、訊號處理，或是與硬體樹莓派的互動。到了大會尾聲，大抽獎的時間，嘗試將台灣夜市傳統的
    Bingo 遊戲結合網路技術，讓台下所有的會眾能從手機上，即時看到自己的號碼與連線，搭配越來越奇怪的賓果條件，歡樂指數破表。
  </p>

  <p>
    2016 年，回歸到 PyCon Taiwan，讓我們「Implement the Future, Together !」
  </p>

  <p>
    2017 年 TBD
  </p>
</article>

<h2><span>台灣的在地 Python 社群</span></h2>

<h3><a href="http://www.meetup.com/pythonhug/" target="_blank" rel="noopener">新竹 PyHUG</a></h3>
<article>
  <p>
    台灣第一個 Python 社群，2011 年由 yyc 和 Albert Huang
    共同成立。初期的聚會地點在清大創新育成中心，後來搬到交大的計算機中心，每月定期邀請講者來分享。參加成員以大學生為主，也有竹科工程師、語言學家、新竹市警官。也因此多數講題偏重
    Python 在科學上的應用，這也影響了第一屆 PyCon Taiwan 的議題走向。近幾年開始，每週三在咖啡館聚會，漸漸變成「吃吃喝喝聊
    Python 及雜七雜八」的形式。目前由 Dainese 擔任負責人，聚會人數在
    20 人左右，最近成員平均年齡有老化的趨勢？需要地方的新血加入。
  </p>
</article>

<h3><a href="http://www.meetup.com/Taipei-py/" target="_blank" rel="noopener">台北 Taipei.py</a></h3>
<article>
  <p>
    2012 年的 COSCUP 後，Keith、Tim 與其快樂夥伴們創立了 Taipei.py。每個月固定在 CLBC 聚會，
    前幾次聚會過後，成員迅速增加到 50 人以上。聚會分享主題以網路相關技術為主，近期也越來越多
    大數據相關的分享。由於創辦者們多數在網路相關行業，因此除了每月例會，Andy 也會舉辦
    Python Web Meetup、Django 讀書會等活動。
  </p>
</article>

<h3><a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank" rel="noopener">台南 Tainan.py</a></h3>
<article>
  <p>
    2013 年，公司從台北搬到台南的 Joe，順勢成立了 Tainan.py。適逢 jserv 移駕成大資工，Joe
    為了壯大聲勢，決定與同在台南的 MOSUT 社群合辦聚會，成為「Tainan.py×MOSUT」。Tainan.py
    的中場休息時間，會推廣台南在地美食，讓與會者品嘗鹽酥雞、杏仁湯...等，讓衣服尺寸變大的食物。一個月聚會一次，時間在週末下午，是一種吃不夠還可以再續攤吃台南美食的概念。
  </p>
</article>

<h3><a href="http://www.meetup.com/PyLadiesTW/" target="_blank" rel="noopener">PyLadies Taiwan</a></h3>
<article>
  <p>
    2014 年，是 Python 台灣在地社群迅速擴張的一年。首先是伊瑪貓在 PyCon Taiwan 2013 夜市中成立的
    PyLadies 社群，在台北舉行了第一次的活動。這是一個女孩限定的社群，不定期會舉辦活動，讓女生們彼此交流、交換
    Python 的心得、聊天、認識朋友。據說只要是喜歡 Python 的女生、想學 Python 的女生、想瞭解
    Python 的女生，都可以成為 PyLadies 的一員。
  </p>
  <blockquote>
    專訪：<a href="http://pycontw.blogspot.tw/2015/06/pyladies.html"
      target="_blank" rel="noopener">PyLadies 社群注入台灣女性技術社群新動能</a>
  </blockquote>
</article>

<h3><a href="http://www.meetup.com/Kaohsiung-Python-Meetup/"
    target="_blank" rel="noopener">高雄 Kaohsiung.py</a></h3>
<article>
  <p>
    在 Kaohsiung.py 之前，高雄的同好如 TooMore、CD 等，不定期會安排 Python 的餐敘，在 KSDG 偶爾會有
    Python 的主題分享。Victor Gau 是 Kaohsiung.py 的發起人，在 Kaohsiung.py 成立之前，Victor
    定期的會去參加 Joe 安排的 Tainan.py 的活動，直到有一次從台南回高雄時，與超速的機車發生擦撞，後續繁瑣的事故處理程序，讓
    Victor 萌生在高雄成立社群減少交通奔波的念頭。2014 年，Victor 在高雄發起了 Kaohsiung Python User
    Group，除了不定期的在禮拜六下午安排外縣市的專家到高雄來分享新技術，每個月也會挑一個星期一晚上，在文藻外語大學聚會。竭誠歡迎大家路過高雄時，來參加
    Kaohsiung.py 的聚會。
  </p>
</article>

<h3><a href="http://www.meetup.com/Taichung-Python-Meetup/"
    target="_blank" rel="noopener">台中 Taichung.py</a></h3>
<article>
  <p>
    唐元亮老師與熱心友人們，也在 2014 年發起了
    Taichung.py。初期流浪在各餐廳與咖啡館，後期由微程式科技提供場地空間，告別流浪的生活。每月聚會一次，時間在星期六下午，剛好可以在聚會結束後，到附近的逢甲夜市散步、覓食。
  </p>
</article>

<h3><a href="http://www.meetup.com/Hualien-Py/" target="_blank" rel="noopener">花蓮 Hualien.py</a></h3>
<article>
  <p>
    花蓮.py 的創設要回溯到 2013 年，魏澤人老師有感於東部較缺乏開源及技術社群，開始邀約台灣各地的
    Python 講者。在 c3h3、clkao、Mosky 等人爽快答應下，花蓮.py 在 2014
    年順利展開。活動場地分別在花蓮的鐵道文化園區二館、東華大學理工一館，及花蓮文創園區湛盧狂草黎明公益店等地。之後多虧了各地許多朋友幫忙，前來分享各式技術，讓社群慢慢健康成長，現在花蓮本地的講者也越來越多了。目前聚會的形式，除了演講分享外，也常有自由聚會及特定主題的
    workshop。如果大家有規劃台灣東部小旅行，歡迎路過花蓮.py。
  </p>
</article>

<h3><a href="https://djangogirls.org/taipei/" target="_blank" rel="noopener">Django Girls Taiwan</a></h3>
<article>
  <p>
    2014 年，也是 Michelle Leu 成立 Django Girls Taiwan
    的一年。藉由不定期舉辦教學活動，帶領女孩們一步步製作自己的網站。也和 Python Web Meetup
    一起合辦新手村活動，給對 Django 有一點點了解，又想要瞭解更多的女孩們參加。
  </p>
  <blockquote><a href="https://www.facebook.com/groups/djangogirls.taiwan/"
      target="_blank" rel="noopener">Facebook 社團</a></blockquote>
</article>

{% endblock content %}
