{% extends 'contents/_base/about.html' %}

{% block title %}關於 PyCon Taiwan{% endblock title %}

{% block content %}
<h2><span>PyCon Taiwan 介紹與演進</span></h2>
<article>
	<p>PyCon Taiwan 是一個由台灣在地 Python 社群所組織與發起的 Python 年會，我們致力於讓台灣國內外的 Python 愛好者享受一個高品質的交流平台。本年會除了有從 Python 的語言特性到各方面應用案例實例的精彩演講之外，我們也很重視與會者之間的交流與促成開發者與廠商之間的合作可能，提供創業者交流討論的園地，達到提昇社群技能和豐富產業發展的目的。</p>

	<p>在 PyCon Taiwan 之前，社群夥伴 thinker 在 <a href="http://wiki.python.org.tw/PycTW2008" target="_blank" rel="noopener">2008</a> 與 <a href="http://wiki.python.org.tw/PycTW2011" target="_blank" rel="noopener">2011</a> 籌劃了 PyCTW 讓台灣的 Python 愛好者可以透過這個一日活動聚集在一起。</p>

	<p>2012 年是 PyCon Taiwan 元年，首任主席 yyc 催生了這個活動，第一屆的年會主要議題以科學運算為主。同時，從第一屆年會開始，我們就選擇遵從 PyCon US 的 <a href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/" target="_blank" rel="noopener">Everybody Pays</a> 的原則，這也成為 PyCon Taiwan 有別於台灣地區其他年會的一項特色。隔年，年會擴大舉辦，結果報名十分踴躍，甚至還試辦了付費教活動。大會主席 yyc 也在自己的 blog 中記下 <a href="http://yyc.solvcon.net/writing/2012/pycontw2012_finale.html" target="_blank" rel="noopener">2012</a> 與 <a href="http://yyc.solvcon.net/writing/2013/after_pycontw_2013/index.html" target="_blank" rel="noopener">2013</a> 的心得。</p>

	<p>2014 年與 2015 年，台灣 Python 社群承辦了亞太區的 Python 年會，讓台灣的 Python 社群與國際 Python 社群的交流達到了高峰。主要議程涵蓋豐富而且廣泛。基調演講除了邀請到 Python Software Foundation 的董事 Jessica McKellar 之外，還有如 PyCuda，Mezzanine，IPython 等專案的重要開發者。我們還與 <a href="http://www.checkio.org/" target="_blank" rel="noopener">CheckIO</a> 合作，試辦了解題競賽，相當多人參加現場十分熱鬧。為了顧及議程品質與贊助商曝光，特別規劃了贊助商 show time，以及 job fair 活動。</p>

	<p>2015 的 APAC 年會還舉辦了另外付費的 PyDay，由 PyCon Taiwan 和頂尖大學一起舉辦的新手村活動。會議中邀請的主題講者，在主議程之後特別加碼，來帶領大家進行全天的 Python 盛宴。</p>

  <p>2016 亞太年會交棒給韓國首爾，我們回歸台灣地區的社群活動，但 PyCon Taiwan 在「Implement the Future, Together!」號召下的動能並沒有下滑，報名人數與投稿數量依然爆滿。我們邀請到台灣社群的兩位領導者 Jserv 與唐鳳、微軟的開發專家 Steve Dower 、迪士尼的資深工程師 Paul Hildebrandt 與 Twisted 專案管理員 Amber Brown 。Paul 參與了很多知名迪士尼動畫的製作，其演講內容相當受到聽眾的共鳴。Amber 對極歡迎的 Django 與 Twisted 套件帶來深入探討。Steve 不採取常見以技術為主的演講路線，而以 Intensional Speaking 為題帶來很多關於演講技巧的省思。 Jserv 與我們分享了 Python 在作業系統與編譯器開發方面的應用，唐鳳則為我們分享了社會議題與他的社群經歷，以及 Python 對他在 Perl 的開發上的影響。不論邀請<a href="http://pycontw.blogspot.tw/2016/04/blog-post.html">在地黑客擔任基調講者</a>、安排 FinTech 議程、結合感應設備與智慧販賣機的互動遊戲、青少年程式教學的經驗分享等等，都是對我們而言嶄新的嘗試。這些點滴也由<a href="http://www.flickr.com/photos/pycon_tw/albums">許多照片</a>記錄了下來。</p>

  <p>2017 年我們將活動定義為 「def future」，我們熱情邀請所有 Python 的同好來跟我們一起邁向 Python 社群的未來。</p>
</article>

<h2><span>台灣的在地 Python 社群</span></h2>

<h3><a href="http://www.meetup.com/pythonhug/" target="_blank" rel="noopener">新竹 PyHUG</a></h3>
<article>
  <p>
    台灣第一個 Python 社群，2011 年由 yyc 和 Albert Huang
    共同成立。初期的聚會地點在清大創新育成中心，後來搬到交大的計算機中心，每月定期邀請講者來分享。參加成員以大學生為主，也有竹科工程師、語言學家、新竹市警官。也因此多數講題偏重
    Python 在科學上的應用，這也影響了第一屆 PyCon Taiwan 的議題走向。近幾年開始，每週三在咖啡館聚會，漸漸變成「吃吃喝喝聊
    Python 及雜七雜八」的形式。目前由 Dainese 擔任負責人，聚會人數在
    20 人左右，最近成員平均年齡有老化的趨勢？需要地方的新血加入。
  </p>
</article>

<h3><a href="http://www.meetup.com/Taipei-py/" target="_blank" rel="noopener">台北 Taipei.py</a></h3>
<article>
  <p>
    2012 年的 COSCUP 後，Keith、Tim 與其快樂夥伴們創立了 Taipei.py。每個月固定在 CLBC 聚會，
    前幾次聚會過後，成員迅速增加到 50 人以上。聚會分享主題以網路相關技術為主，近期也越來越多
    大數據相關的分享。由於創辦者們多數在網路相關行業，因此除了每月例會，Andy 也會舉辦
    Python Web Meetup、Django 讀書會等活動。
  </p>
</article>

<h3><a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank" rel="noopener">台南 Tainan.py</a></h3>
<article>
  <p>
    2013 年，公司從台北搬到台南的 Joe，順勢成立了 Tainan.py。適逢 jserv 移駕成大資工，Joe
    為了壯大聲勢，決定與同在台南的 MOSUT 社群合辦聚會，成為「Tainan.py×MOSUT」。Tainan.py
    的中場休息時間，會推廣台南在地美食，讓與會者品嘗鹽酥雞、杏仁湯...等，讓衣服尺寸變大的食物。一個月聚會一次，時間在週末下午，是一種吃不夠還可以再續攤吃台南美食的概念。
  </p>
</article>

<h3><a href="http://www.meetup.com/PyLadiesTW/" target="_blank" rel="noopener">PyLadies Taiwan</a></h3>
<article>
  <p>
    2014 年，是 Python 台灣在地社群迅速擴張的一年。首先是伊瑪貓在 PyCon Taiwan 2013 夜市中成立的
    PyLadies 社群，在台北舉行了第一次的活動。這是一個女孩限定的社群，不定期會舉辦活動，讓女生們彼此交流、交換
    Python 的心得、聊天、認識朋友。據說只要是喜歡 Python 的女生、想學 Python 的女生、想瞭解
    Python 的女生，都可以成為 PyLadies 的一員。
  </p>
  <blockquote>
    專訪：<a href="http://pycontw.blogspot.tw/2015/06/pyladies.html"
      target="_blank" rel="noopener">PyLadies 社群注入台灣女性技術社群新動能</a>
  </blockquote>
</article>

<h3><a href="http://www.meetup.com/Kaohsiung-Python-Meetup/"
    target="_blank" rel="noopener">高雄 Kaohsiung.py</a></h3>
<article>
  <p>
    在 Kaohsiung.py 之前，高雄的同好如 TooMore、CD 等，不定期會安排 Python 的餐敘，在 KSDG 偶爾會有
    Python 的主題分享。Victor Gau 是 Kaohsiung.py 的發起人，在 Kaohsiung.py 成立之前，Victor
    定期的會去參加 Joe 安排的 Tainan.py 的活動，直到有一次從台南回高雄時，與超速的機車發生擦撞，後續繁瑣的事故處理程序，讓
    Victor 萌生在高雄成立社群減少交通奔波的念頭。2014 年，Victor 在高雄發起了 Kaohsiung Python User
    Group，除了不定期的在禮拜六下午安排外縣市的專家到高雄來分享新技術，每個月也會挑一個星期一晚上，在文藻外語大學聚會。竭誠歡迎大家路過高雄時，來參加
    Kaohsiung.py 的聚會。
  </p>
</article>

<h3><a href="http://www.meetup.com/Taichung-Python-Meetup/"
    target="_blank" rel="noopener">台中 Taichung.py</a></h3>
<article>
  <p>
    唐元亮老師與熱心友人們，也在 2014 年發起了
    Taichung.py。初期流浪在各餐廳與咖啡館，後期由微程式科技提供場地空間，告別流浪的生活。每月聚會一次，時間在星期六下午，剛好可以在聚會結束後，到附近的逢甲夜市散步、覓食。
  </p>
</article>

<h3><a href="http://www.meetup.com/Hualien-Py/" target="_blank" rel="noopener">花蓮 Hualien.py</a></h3>
<article>
  <p>
    花蓮.py 的創設要回溯到 2013 年，魏澤人老師有感於東部較缺乏開源及技術社群，開始邀約台灣各地的
    Python 講者。在 c3h3、clkao、Mosky 等人爽快答應下，花蓮.py 在 2014
    年順利展開。活動場地分別在花蓮的鐵道文化園區二館、東華大學理工一館，及花蓮文創園區湛盧狂草黎明公益店等地。之後多虧了各地許多朋友幫忙，前來分享各式技術，讓社群慢慢健康成長，現在花蓮本地的講者也越來越多了。目前聚會的形式，除了演講分享外，也常有自由聚會及特定主題的
    workshop。如果大家有規劃台灣東部小旅行，歡迎路過花蓮.py。
  </p>
</article>

<h3><a href="https://djangogirls.org/taipei/" target="_blank" rel="noopener">Django Girls Taiwan</a></h3>
<article>
  <p>
    2014 年，也是 Michelle Leu 成立 Django Girls Taiwan
    的一年。藉由不定期舉辦教學活動，帶領女孩們一步步製作自己的網站。也和 Python Web Meetup
    一起合辦新手村活動，給對 Django 有一點點了解，又想要瞭解更多的女孩們參加。
  </p>
  <blockquote><a href="https://www.facebook.com/groups/djangogirls.taiwan/"
      target="_blank" rel="noopener">Facebook 社團</a></blockquote>
</article>

{% endblock content %}
