{% extends 'contents/_base.html' %}

{% block title %}如何投稿專業課程{% endblock title %}

{% block content %}
{% url 'page' path='speaking/cfp' as speaking_cfp_url %}
{% url 'page' path='speaking/talk' as speaking_talk_url %}

<section class="pill-title">
    <h1>如何投稿專業課程（Tutorial）？</h1>
</section>

<p>有關投稿的整體流程說明，請參考<a href="{{ speaking_cfp_url }}">投稿募集</a>一頁。</p>

<p>首先，謝謝您考慮投稿專業課程至 PyCon Taiwan 2020。</p>

<p>一般來說，好的課程滿足一場好演講的諸多特性。不過專業課程較<a href="{{ speaking_talk_url }}">演講</a>最大的差異在課程有<em>手把手的指導</em>，以及<em>較長的時間</em>。因為有更長的時間，專業課程需要準備更多的內容，並且讓聽眾即便在數個小時的講課與操作之後還能覺得有趣且清醒；由於有手把手的指導，一個 20 名學員的課程通常要有兩位（以上）的助教來協助，過程中必須能與助教保持良好的溝通。</p>

<p>上述兩個差異使得準備一個專業課程遠比準備演講需要更多練習和經驗。因此，投稿課程的講師最好需要滿足以下至少一個前提：</p>

<ul>
	<li>曾經為程式會議或社群的課程講師。</li>
	<li>在開源社群中，擁有一次以上的演講經驗，並以 Python 在地社群為優。</li>
	<li>曾經是過去課程的助教。</li>
</ul>

<p>如果您比較缺乏上述的經驗，我們可能會請您先在社群試教。</p>

<h2>專業課程的長度</h2>

<p>專業課程的長度為一個半小時</p>

<p>在過往的經驗中，6 小時的課程對於講師以及學員而言都非常的累，學員容易因為疲勞而無法持續跟上進度，且難以吸收所學。全天的課程需要相當的教學經驗，為此今年改為 1.5 小時的課程。 我們強烈建議清楚定義<em>先備知識</em>以及<em>課程目標</em>，以達到最佳的教學效果。</p>

<h2>專業課程的時間與場地</h2>

<p>專業課程與會期同時，將和 PyCon Taiwan 大會平行舉行，教室暫定於<a href="https://www.facebook.com/GoodideasStudio/">好想工作室</a>。</p>


<h2>專業課程售票政策</h2>

<p>本次會議專業課程不額外收費。</p>

<h2>如何成為專業課程的講師？</h2>

<p>最簡單也是最好的答案：多多參與各地 Python 的社群並多給演講吧！</p>
<p>如果有任何疑問或需要協助的地方，歡迎<a href="mailto:organizers@pycon.tw">聯繫我們</a>。</p>

{% endblock content %}

