{% extends 'contents/_base.html' %}

{% block title %}行為準則{% endblock title %}

{% block content %}

<section class="pill-title alt">
    <h1>行為準則</h1>
</section>

<p>
    PyCon Taiwan 致力於為所有人提供無騷擾的會議體驗（包含數位場域），我們不容許以任何形式騷擾任何參與者、不容許任何的騷擾和性別歧視、種族主義或排他性笑話。
    本公約適用於參與者在 PyCon Taiwan 相關場域中的一切言行，期望大家一起合作。
</p>


<h2>三大準則</h2>

<p>
    PyCon Taiwan 致力於為所有人提供無騷擾的會議體驗（包含數位場域），我們不容許以任何形式騷擾任何參與者。期望大家一起合作，務必遵守以下三大原則，PyCon Taiwan 籌備團隊有權調整任何違反此準則的行為。
</p>

<ul>
    <li>禁止騷擾。</li>
    <li>彼此欣賞。</li>
    <li>體貼他人。</li>
</ul>

<p>請記住，PyCon Taiwan 不容許任何的騷擾和性別歧視、種族主義或排他性笑話。PyCon Taiwan 籌備團隊（以下簡稱「籌備團隊」）有權調整任何違反此準則的行為。</p>

<h3>禁止騷擾</h3>
<p>大會不容忍任何的騷擾或歧視。無分國籍、種族、語言、性別、性取向、年齡、身心狀況、信仰、職業、資歷、政治傾向、智力等，每一位參與者都應該獲得同樣的尊重。</p>

<h3>彼此欣賞</h3>
<p>每位參與者都應該抱持專業的態度與行為。Python 的使用者來自不同的專業分工、技術背景與應用領域。我們以非常多樣的方式使用並貢獻 Python 技術。任何貶低社群中其它成員的言行都是不適當的。</p>

<h3>體貼他人</h3>
<p>請勿在大會的任何場合做出任何形式的性暗示。這些場合包含但不限於演講、開放空間、社群媒體。請避免源自刻板印象的言行。會議中請把手機調為靜音，或是其它不會影響他人的模式。</p>


<h2>違反與通報程序</h2>

<p>
    籌備團隊有權調整任何違反此準則的行為。僅需根據籌備團隊的裁決，違反本行為準則者可能必須離開會場（包含數位場域）並不得要求退費。本行為準則適用於實體場地與數位場域，並經由籌備團隊認可執行。
</p>

<h3>通報要件</h3>
<p>
    如果您認為某人處於危險之中（包含他們自己造成的危險），確實感到自己的安全受到威脅，請立即撥打 110 以聯繫臺灣執法單位，或詢問 PyCon Taiwan 工作人員。如果不確定該事件是否違規，或所發生場域是否在行為準則範疇內，我們仍然鼓勵您通報。
</p>

<h3>通報行為準則事件之程序</h3>
<p>如果發生利益衝突，可以直接聯繫官方通報應變者：</p>
<ul>
    <li>PyCon Taiwan 事件通報應變委員會</li>
    <ul>
        <li><a href="mailto:report@python.tw" target="_blank">report@python.tw</a></li>
    </ul>
</ul>

<h3>通報內容</h3>
<p>如果您透過電子郵件進行通報，請盡量包含以下內容：</p>
<ul>
    <li>您的聯繫方式（以便與您取得聯繫）。</li>
    <li>事件發生的日期和時間。</li>
    <li>事件發生地點。</li>
    <li>事件是否正在發生。</li>
    <li>事件描述。</li>
    <li>被舉報人的識別資訊：姓名、外貌、身高、服裝、口音、識別徽章資訊，如公司名稱、名牌或識別證。</li>
    <li>圍繞事件的其他情況。</li>
    <li>其他參與及其聯繫方式或描述。</li>
</ul>


<h3>處理流程</h3>
<p>
    當您向通報應變者通報時，他們將蒐集相關的事件資訊。通報應變者收到通報後，他們將立即與大會工作人員協商討論如何處理，除非存在利益衝突（直接與大會工作人員有關），他們將聯繫任何非利益相關方協商討論。
</p>
<p>
    如果事件正在發生且需要立即處理，任何通報應變者都可以採取適當的行動，以確保所有相關人員的安全。如果事件不具急迫性，大會工作人員將開會討論通報之事件以確定應變方式。
</p>

<h3>保密原則</h3>
<p><strong>所有通報內容都將保密。</strong>當我們與被舉報人討論通報事件時，我們將盡可能匿名化通報之事件細節以保護舉報者之隱私。</p>
<p>然而，有些事件是發生在一對一的互動中，即便我們匿名化通報之事件細節，被檢舉者仍可能猜到是誰舉報他們。如果您擔心遭遇報復或人身安全，請在通報內容中註明。儘管如此，我們仍鼓勵您通報，以便我們在確保與會者安全的同時為您提供協助。在某些情況下，我們會將多個匿名通報轉譯成一種行為模式，並針對該行為採取行動。
</p>
<p>在某些情況下，我們可能會需要發表公開聲明。</p>

<h3>備註</h3>
<p>以上通報流程改寫自 <a
        href="https://github.com/python/pycon-code-of-conduct/blob/master/Attendee%20Procedure%20for%20incident%20handling.md"
        target="_blank">PyCon 通報行為準則事件處理流程</a>。</p>


<h2>授權 (CC BY-SA 3.0 TW)</h2>
<p>此文件採用 <a href="https://creativecommons.org/licenses/by-sa/3.0/tw/deed.zh_TW" target="_blank">姓名標示-相同方式分享 3.0 台灣</a>
    授權條款。</p>
<img src="https://i.imgur.com/cVjN760.jpg =200x"></img>

<p>PyCon TW 2024 行為準則從 2024 年 02 月 20 日起開始生效，PyCon Taiwan 保留最終解釋與調整權，如有需要我們將隨時修改此份準則，並將儘速更新與公告予您。</p>
<p>感謝。</p>

{% endblock content %}