{% extends 'contents/_base.html' %}

{% block title %}財務補助{% endblock title %}

{% block meta_description %}如何申請 PyCon Taiwan 財務補助，讓我們協助你參與會議。{% endblock meta_description %}


{% block content %}

<h1>財務補助</h1>

<h2>方案介紹</h2>

<p><a href="https://pyfound.blogspot.com/2017/10/psfs-october-board-meeting.html" target="_blank" rel="noopener">Everybody Contributes</a>是 PyCon 的核心價值，亦即除特邀來賓外，所有的會議參與者，包括講者與志工，皆需自己付費，方能參加會議。在維持 Everybody Ｃontributes 此一核心價值的同時，我們也規劃了財務補助方案，希望協助對會議有興趣，但由於成本而難以參加的朋友們，能夠參與這次會議。我們採取審核制，請有需求的朋友主動與我們聯絡，我們收到所有申請後，會根據預算、申請者狀況等因素，決定是否給予補助，以及其資源多寡。</p>

<p>我們並不想對受理對象有太多硬性限制。只要有任何困難，而在熱愛 Python 之餘也願意為 Python 社群付出些什麼，就算符合申請標準。由於會議經費有限，因此能夠補助的數量不多；這種情況下我們希望受理的對象大致為「最需要被幫助的人」或「對與會者幫助最大的人」。舉例而言，若拿家庭收入欠佳的學生與已有穩定工作的工程師相比，我們會優先協助學生。更進一步，以申請者身分而言，對 Python 社群有所貢獻者，或這次會議的講者，會是我們優先協助的目標。在資源不足的狀況下，我們可能會迫使拒絕您的申請，以幫助更有需要的人。</p>

<h2>申請流程</h2>

<p>申請財務補助的方式如下：</p>

<ol>
	<li>填寫<a href="https://docs.google.com/forms/d/e/1FAIpQLSc_zfuXTK6h9_o3uv5yjB4f5CF4G79InbFjdTJo1xCw6Z0RCQ/viewform" target="_blank" rel="noopener">表單</a>留下聯絡方式（email）。</li>
	<li>根據表單欄位填寫，內容應包含身分（真實姓名），處境與需求的說明。</li>
	<li>我們會有專人與您聯絡、核對資料及了解您的狀況。</li>
	<li>受理時間為即日起至 6 月 21 日 23:30 (台北時間) 截止。</li>
	<li>售票期間我們會主動告知您是否能獲得補助。若申請通過，請您仔細閱讀退費的注意事項，像交通補助會需要單據證明，請保留單據並在會場交付工作人員。</li>
</ol>

<p>財務補助資訊：</p>
<ul>
	<li>申請人資格：只要你有需要都可以申請，我們盡力協助讓更多人能藉由補助參與會議。</li>
	<li>補助上限：原則上最高 NTD 20,000，如果需要更多的話，在填寫時需提供更詳細資訊。</li>
	<li>如果需要申請台灣入境簽證，可寄信至<a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a></li>
	<li>領取方式：原則上本國人以匯款方式進行，外國人在會場櫃檯以現金方式領取。</li>
	<li>可補助項目：門票、交通費、住宿費 (交通費與住宿費採實報實銷，補助金額依審核結果決定)</li>
</ul>

<h2>申請小技巧</h2>

<ul>
	<li>描述你的興趣、在 Python 社群從事過的事情、未來期望達成的目標等。</li>
	<li>描述為何需要額外協助，例如相對其他會眾需要較高成本，需要很大的旅行開銷等等。</li>
	<li>描述你與大多數會眾的特殊處境。可能你住在偏遠地區、或者屬於某個社群內較少見的族群。</li>
	<li>描述你能為其他會眾帶來什麼影響，例如你計畫分享自己的經驗，或者可以為某些特殊議題發聲等等。</li>
</ul>

<hr>

<p>我們知道每個人的經濟狀況皆有不同，對 Python 社群的貢獻也都難以比較。財務補助的資源有限，無法保證能幫到所有人，但我們還是想對有困難的朋友們說：「需要幫忙就說一聲吧！我們盡力！」</p>

{% endblock content %}
