{% extends 'contents/_base.html' %}

{% block title %}會議售票{% endblock title %}

{% block meta_description %}PyCon Taiwan 2020 熱烈售票中。趕快來搶票以免向隅！{% endblock meta_description %}

{% block body_class %}{{ block.super }} ticket-info-page{% endblock body_class %}

{% block content %}

{% url 'page' path='registration/financial-aid' as reg_financial_aid_url %}

<section class="pill-title">
    <h1>會議售票</h1>
</section>

<div class="box-row">
	<div class="ticket-info">
		<div class="ticket-box">
			<p class="ticket-box-title">個人</p>
			<div class="price-box">
				<div class="price-title">
					<p class="price">早鳥 / 優惠價</p>
					<p class="price">2,600 NTD</p>
				</div>
				<div class="price-title">
					<p class="price">一般</p>
					<p class="price">3,500 NTD</p>
				</div>
			</div>
		</div>
		<a href="{{ KKTIX_URL.INDI }}" target="_blank" rel="noopener" class="buy">購票</a>
	</div>

	<div class="ticket-info-imperial">
		<div class="ticket-box-imperial">
		<p class="ticket-box-title-imperial">企業</p>
			<div class="price-box-imperial">
				<div class="price-title-imperial">
					<p class="price-imperial">原價</p>
					<p class="price-imperial">5,500 NTD</p>
				</div>
				<div class="price-title-imperial">
					<p class="price-imperial">團購價</p>
					<p class="price-imperial">洽詢</p>
				</div>
			</div>
		</div>
		<a href="{{ KKTIX_URL.CORP }}" target="_blank" rel="noopener" class="buy-imperial">購票</a>
	</div>

	<div class="ticket-info">
		<div class="ticket-box">
		<p class="ticket-box-title">保留</p>
			<div class="price-box">
				<div class="price-title">
					<p class="price">講者票</p>
					<p class="price">1,500 NTD</p>
				</div>
				<div class="price-title">
					<p class="price">貢獻者/工作人員票</p>
					<p class="price">1,500 NTD</p>
				</div>
			</div>
		</div>
		<a href="{{ KKTIX_URL.RSVD }}" target="_blank" rel="noopener" class="buy">購票</a>
	</div>
</div>

<div class="desc-box">
	<div class="entry">
		<h4>個人票：</h4>
		<p>限時限量，請及早購買。電子發票於會後統一以 email 寄送。無法使用統一編號。</p>
	</div>
	<div class="entry">
		<h4>企業票：</h4>
		<p>有統編需求，請填寫公司抬頭與統一編號。無統編需求，請於抬頭與統編填寫 N/A。電子發票於會後統一以 email 寄送。</p>
	</div>
	<div class="entry">
		<h4>保留票：</h4>
		<p>我們誠摯邀請您以貴賓身份參與本會議。請於報名時輸入邀請碼。</p>
	</div>
</div>

<ul>
	<li>
		<p>上列票種用於報名 9 月 5 日至 6 日的議程活動。</p>
	</li>
	<li>
		<p>早鳥票售完即止，或是最晚在 7 月 20 日結束。所有票種販售於 8 月 21 日結束。</p>
	</li>
	<li>
		<p>若無特別標註，皆以台幣計價；參考匯率 USD 1.00 = NTD 31.31。</p>
	</li>
	<li>
		<p>所有票種預設將於會後統一寄發電子發票。</p>
	</li>
	<li>
		<p>企業票的電子發票標示買方統編，可用於公司報帳；個人留存之用的電子發票，預設只顯示賣方統編。如需開立英文收據，或有票務相關問題，請來信 <em>organizers[at]pycon.tw</em> 洽詢。</p>
	</li>
</ul>


<h2>注意事項</h2>

<h3>Everybody Contributes</h3>

<p>PyCon Taiwan 是需付費的活動。所有參加者，包括籌備人員和講者，均需透過貢獻 PyCon Taiwan 社群或是付費而來參加。見<a
		href="https://tw.pycon.org/2013/zh/blog/2013/03/05/everybody-pays-zh/" target="_blank" rel="noopener">公平付費</a>。
</p>

<h3>付款方式</h3>

<p>我們提供三種付款方式：信用卡、PayPal、ATM 轉帳。</p>

<h3>退費規則</h3>

<p>部份票種 (例如個人票) 可由 KKTIX 逕行辦理退票，您可於會議開始十天前聯絡我們。</p>

<h3>財務補助（Financial Aids）</h3>

<p>若您資金上有困難，歡迎申請大會 Financial Aid 計劃。若您計畫申請購票補助，請<strong>於購票之前先行申請</strong>，再依獲得的憑證購買補助用票券。更多的申請程序請至<a
		href="{{ reg_financial_aid_url }}">專頁</a>說明。</p>

<h3>飲食需求</h3>

<p>會議當天提供午餐。請在註冊問卷裡註明您的飲食偏好</p>

<h3>正確的聯絡資訊</h3>

<p>報名時請留下正確的聯絡方式（手機號碼與 email），以便大會通知。</p>

<h3>票務諮詢管道</h3>

<p>如有任何問題，請寄信至 <em>organizers[at]pycon.tw</em> 洽詢，我們將盡快給予回應。</p>

<h3>其他活動</h3>

<p>本頁所售票券僅供大會使用，課程或衝刺開發等相關活動需要另外的報名動作。請於頁面上方選單選擇相關活動頁面進行報名。</p>

{% endblock content %}
