{% extends 'dashboard_base.html' %}

{% load i18n static %}
{% load proposals %}
{% load compress crispy_forms_tags %}

{% block dashboard_tablist %}
{% include '_includes/dashboard_tablist.html' with active='admin' %}
{% endblock dashboard_tablist %}

{% block main-content %}

<h3 class="dashboard-header">
	<span class="header-title">{% trans 'Change Review' %}</span>
</h3>

<div class="dashboard-body">
	<!--Hot Key Button-->
	<div class="col-md-3">
		<button class="btn btn-natural-noborder hotkey" value="Call for Proposals">
			Call for Proposals
		</button>
		<button class="btn btn-natural-noborder hotkey" value="First Round Review">
			First Round Review
		</button>
		<button class="btn btn-natural-noborder hotkey" value="Modification Stage">
			Modification Stage
		</button>
		<button class="btn btn-natural-noborder hotkey" value="Second Round Review">
			Second Round Review
		</button>
		<button class="btn btn-natural-noborder hotkey" value="Internal Decision">
			Internal Decision
		</button>
		<button class="btn btn-natural-noborder hotkey" value="Announcement of Acceptance">
			Announcement of Acceptance
		</button>
	</div>
	<!--Review Change Setting-->
	<div class="col-md-9">
		<form action="{% url 'review_change' %}" method="post">
			{% csrf_token %}
			<div class="panel panel-default">
				<div class="panel-heading">{% trans 'Change Review' %}</div>
				<ul class="list-group">
					<li class="panel-title list-group-item">
						{{ ".proposals.creatable"|configuration_switch }}
						<div class="material-switch pull-right">
							<input name="proposals.creatable" type='hidden' value="false" />
							<input id="proposals.creatable" name="proposals.creatable" type="checkbox" value="true"/>
							<label for="proposals.creatable" class="label-info"></label>
						</div>
					</li>
					<li class="panel-title list-group-item">
						{{ ".proposals.editable"|configuration_switch }}
						<div class="material-switch pull-right">
							<input name="proposals.editable" type='hidden' value="false" />
							<input id="proposals.editable" name="proposals.editable" type="checkbox" value="true"/>
							<label for="proposals.editable" class="label-info"></label>
						</div>
					</li>
					<li class="panel-title list-group-item">
						{{ ".proposals.withdrawable"|configuration_switch }}
						<div class="material-switch pull-right">
							<input name="proposals.withdrawable" type='hidden' value="false" />
							<input id="proposals.withdrawable" name="proposals.withdrawable" type="checkbox" value="true"/>
							<label for="proposals.withdrawable" class="label-info"></label>
						</div>
					</li>
					<li class="panel-title list-group-item">
						{{ ".reviews.visible.to.submitters"|configuration_switch }}
						<div class="material-switch pull-right">
							<input name="reviews.visible.to.submitters" type='hidden' value="false" />
							<input id="reviews.visible.to.submitters" name="reviews.visible.to.submitters"
								type="checkbox" value="true"/>
							<label for="reviews.visible.to.submitters" class="label-info"></label>
						</div>
					</li>
					<li class="panel-title list-group-item">
						{{ ".reviews.stage"|configuration_switch }}
						<div class="input-customized-size pull-right">
							<input id="reviews.stage" name="reviews.stage" type="number" min="0" max="2"
								placeholder="Int" required="required">
						</div>
					</li>
					<li class="panel-title list-group-item">
						{{ ".proposals.disable.after"|configuration_switch }}
						<div class="input-customized-size pull-right">
							<input name="proposals.disable.after" type="datetime-local" step="1"
								placeholder="yyyy-mm-dd hh:mm:ss" required="required">
						</div>
					</li>
					<li class="panel-title list-group-item">
						timezone (non-required)
						<div class="input-customized-size pull-right">
							<input name="timezone" type="text" placeholder="+0800">
						</div>
					</li>
					<li class="panel-title list-group-item">
						comment (non-required)
						<div class="input-customized-size pull-right">
							<input name="timezone" type="text" placeholder="AoE timezone: -1200">
						</div>
					</li>
				</ul>
			</div>

			<div class="nesting-form-group">
				{{ form|crispy }}
				<button type="submit" class="btn btn-info pull-right">
					{% trans 'Submit' %}
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock main-content %}

{% block extra_js %}
<!--{{ block.super }}
<script src="{% static 'js/vendors/simplemde.min.js' %}"></script>-->
{% compress js %}
<script src="{% static 'js/reviews/review_change.js' %}"></script>
{% endcompress %}
{% endblock extra_js %}