{% extends 'contents/_base/speaking.html' %}

{% load i18n static %}

{% block title %}Call for Proposals{% endblock %}
{% block page_title %}<h1>Call for Proposals</h1>{% endblock %}

{% block meta_og %}
	<meta property="og:title" content="Call for Proposals | PyCon Taiwan 2018" />
{% endblock %}

{% block content %}
{% url 'page' path='speaking/recording' as speaking_recording_url %}
{% url 'page' path='speaking/talk' as speaking_talk_url %}
{% url 'page' path='speaking/tutorial' as speaking_tutorial_url %}
{% url 'page' path='speaking/unconference' as speaking_unconference_url %}
{% url "signup" as signup_url %}
{% url "user_dashboard" as dashboard_url %}

<h1><span>Call for Proposals</span></h1>
<article>
	<p>
		The Call for Proposals (CfP) is now open. PyCon 2018 Taiwan is accepting talks and tutorials!
	</p>
</article>

<h2><span>Important Dates</span></h2>
<article>
	<ul>
		<li>Talks &amp; Tutorial CfP begins: 1 Feb</li>
		<li>Talks &amp; Tutorial CfP ends: 5 Mar</li>
		<li>Announcement of acceptance: TBD</li>
	</ul>
	<p>
			Since one of PyCon’s motivation is to help Python education and its advocation, by default all talks will be recorded, edited then uploaded to public website by the PyCon Taiwan committee. If you don’t want your talk to be recorded, make sure you toggle the recording option off during the proposal submission. See more info about the <a href="{{ speaking_recording_url }}">recording release</a>.
	</p>
	<p>
		Note that speakers are required to buy the conference ticket as well. (see <a href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/" target="_blank" rel="noopener">Everyone Pays Policy</a>).
	</p>
</article>

<h2><span>How to Submit Your Proposal</span></h2>
<article>
	<p>
			You need to <a href="{{ signup_url }}">sign up</a> a new account on tw.pycon.org. With an activated account, you can fill up the speaker profile and create new proposals through your <a href="{{ dashboard_url }}">Dashboard</a>.
	</p>
	<p>We encourage you to submit the proposal as early as possible. You are welcomed to submit multiple proposals.</p>
</article>

<h2><span>Guidelines for Proposal Submission</span></h2>
	<article>
		<h3>Talks</h3>
		<p>
				We accept a broad range of Python related proposals, from reports on academic to commercial projects and case studies. Basically, if you are reading these words, you should go submit your proposal!
		</p>
		<p>
				Most talks are <em>30 minutes</em> long. However, we offer a limited number of <em>45-minute</em> slots for important topics which we think the audience can benefit significantly more from a more extensive treatment. Note that the talk time length <em>includes setup and Q&amp;A time</em>.
		</p>
		<p>Talks can be given in either <em>English, Chinese or Taiwanese.</em></p>
		<p>
				We have redesigned the proposal form to make it better for speakers to organize their idea. Find more at <a href="{{ speaking_talk_url }}">How to Propose a Talk?</a>.
		</p>
	</article>
	<article>
		<h3>Unconference</h3>
		<p>
			We’re going to open a new <em>“Unconference”</em> track (on the last day), our purpose is to provide different interaction between speakers and audiences. For unconference talks, not only Python-related proposals are accepted, any indirectly related topics are also welcomed. Unconference talks are voted and thus decided by conference attendees. (The current plan is to open for unconference proposal submission 10 days before the conference starts)
		</p>
		<p>
			An unconference talk can be run in any form, the speaker/host can decide the way he/she uses that space and time. Furthermore, unconference talks are not officially recorded in any way, thus any topics that are more critical compared to the regular conference talks are welcomed.
		</p>
		<p>
			An unconference talk <em>lasts 20 minutes</em>, note that <em>the Q&amp;A session is included</em> in the 20 minutes. The system will open the registration 10 days before the conference, and the talk is voted on by conference attendees.
		</p>
		<p>
			Unconferences can be spoken in <em>Chinese, English or Taiwanese</em>. Please refer to <a href="{{ speaking_unconference_url }}">How to Propose a Unconference Talk?</a> for the unconference proposal format.
		</p>
	</article>
	<article>
		<h3>Tutorials</h3>
		<p>
			Similar to talks, we don’t pose limitations on tutorial topics. Tutorials are half or full day long, equivalently to 3 or 6 hours of teaching. The guideline for tutorial submission is based on the guideline for talks, so make sure you have read <a href="{{ speaking_talk_url }}"> How to Propose a Talk?</a> On top of that, We have some special requirements for tutorial submission, please refer to <a href="{{ speaking_tutorial_url }}">How to Propose a Tutorial?</a> for more information.
		</p>
	</article>
{% endblock content %}
