{% extends 'contents/_base.html' %}

{% block title %}Privacy Policy of PyCon Taiwan{% endblock title %}

{% block content %}

<section class="pill-title alt">
	<h1>Privacy Policy of PyCon Taiwan</h1>
</section>
<h5 class="edited_info">(CC BY-SA 3.0 TW)<br/>Last Updated：2020-08-04</h5>
<h4>Policy of Personal Information Protection</h4>

<p>
	First, we would like to thank you for joining us in PyCon Taiwan (hereafter referred to as “PyCon TW”).
	We are going to ask for your permission to collect and to use your personal information
	recorded in the registration form. We value your privacy and we would follow the terms and
	conditions as set out below while collecting and using your personal information.
</p>

<h4>The Purpose of Usage of Your Personal Information</h4>

<p>
	For the purposes of organizing the event and providing better services, we are going to collect your personal
	information on the registration page all according to the Personal Information Protection Act by The specific purpose
	and the classification of personal information of the <b>Personal Information Protection Act 130.</b> Meeting
	Management.
</p>
<p>The purposes will be including but not limited to:</p>

<ol class="custom_ol">
	<li>To confirm the identity by your recognition form</li>
	<li>To provide you a badge of PyCon TW</li>
	<li>All other purposes that help us to give better services at the meeting</li>
</ol>

<h4>The Way We Collect and the Scope that We Use Your Personal Information</h4>

<p>
	While registering for PyCon TW, we will obtain information about you by asking you to fill in the form on the
	registration page. The information that we gathered will only be used to provide services to you.
</p>

<h4>How Do We Use Your Personal Information</h4>
<p>
	We would preserve the personal information that you provided until you request us to cease using it or PyCon TW
	ceases operation. We will <b>NEVER</b> sell, exchange, lease or otherwise expose your personal information to third
	party organizations or individuals, with the exception that:
</p>

<ol class="custom_ol">
	<li>We have your prior permission</li>
	<li>We have received subpoenas or other legal due process that requires us to provide the information.</li>
</ol>

<h4>What Personal Informations are Included</h4>

<p>
	The personal informations that we are asking for includes but not limited to: full name and nickname, gender, email
	address, mobile number, occupation, belonging organization (company), contact address, ... etc. This is done according
	to The specific purpose and the classification of personal information of the Personal Information Protection Act by
	its Code 001 Type for identifying individuals.
</p>

<h4>Your Rights of Personal Information</h4>

<p>
	You could exercise your rights (which would be mentioned below) of the personal information by writing to us (either
	by paper or by electronic means)
</p>

<ol class="custom_ol">
	<li>Any inquiries or requests for viewing the personal information</li>
	<li>Any requests to make duplications of the personal information</li>
	<li>Any requests to add supplements or correct the personal information</li>
	<li>Any requests to discontinue the collection, processing or using of personal information</li>
	<li>Any requests to delete the personal information unless you do not agree the process of registration and legal regulation</li>
</ol>
<p>
	We would keep it and change your request all according to Taiwan’s legal obligations.
	If you would like to have your personal information modified or updated, you could do it on the registration page or
	email us.
</p>
<h4>Cancelling Your Participating and Deleting Your Personal Information</h4>

<p>
	You may request us to cease the use of your personal information by notifying us through <a
	href="mailto:organizers@pycon.tw">mail</a> and we shall refrain from using your personal information from then
	onwards. You are free to provide as much or as little information as you like. However, in the case that the provided
	information is erroneous, insufficient, or that you request us to cease the usage of your data, then for the proper
	operation of the event, we may reject your registration and participation.
</p>

<h4>Questions for Privacy Protection Policy</h4>
<p>
	If you have any questions regarding the gathering and usage of your personal information, please feel free to contact
	us at <a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>.
</p>

<h4>Privacy: Collecting Personal Information during COVID-19 Outbreak</h4>
<p>
	The purpose of collecting personal information in accordance with the Personal Data Protection Law and epidemic
	prevention and control requirements is to best respond and ensure health security for all attendees in COVID-19
	outbreak. It is necessary to collect, manage, and use relevant personal information. Please read below for
	details.
</p>
<p>
	PyCon TW 2020 collects personal data of attendees for the purpose of contact tracing during the outbreak of COVID-19.
	All collected information will be deleted after 28 days. attendees’ access in each venue will be recorded for epidemic
	control measures. We will inform everyone that if any suspected COVID-19 and provide such information for CECC for the
	purpose of preventing spread of COVID-19 and tracing contacts.
</p>

<h4>License (CC BY-SA 3.0 TW)</h4>
<p>This document is licensed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/tw/deed.zh_TW">Attribution-ShareAlike
	3.0 Taiwan</a> license.</p>
<p><img src="/static/images/CC_icon.png"></p>

<p>The Privacy Policy of PyCon TW will be effective July 1th, 2020.</p>
<p>
	However, due to the rapidly changing social and legal environment and the continual advancement in technology, we
	reserve the right to modify this privacy policy at any time, and will announce any update when available.
</p>
<p>Thank you.</p>

{% endblock content %}
