.portal-page {
	$buy-button-max-width: 240px;
	text-align: center;

	.portal-cards {
		display: grid;
		grid-template-rows: 20% 20% 20% 20%;
		@include on-desktop(){
			grid-template-rows: 33% 33%;
			grid-template-columns: 50% 50%;
		}

		justify-items: center;
		align-items: center;
		margin: 0;
		.card {
			display: flex;
			width: 100%;
			height: 120px;
			margin: 10px;
			justify-content: center;
			align-items: center;
			border-radius: 12px;
			border: solid 2px #23a16d;
			background-image: url(/static/pycontw-2019/assets/button-hover-bg.svg);

			@include on-desktop(){
				width: 80%;
			}

			a {
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
				color: $egyptian-blue;
				font-size: 28px;
				font-weight: normal;
				letter-spacing: -0.08px;
			}
			&:hover {
				border: solid 2px $portica;
			}
		}
	}

}
