{% extends 'contents/_base.html' %}

{% load i18n %}

{% block title %}活動總覽{% endblock title %}
{% block content %}

{% url 'page' path='events/sprints' as events_sprint_url %}
{% url 'page' path='events/tutorials' as events_tutorial_url %}
{% url 'page' path='events/open-spaces' as events_openspaces_url %}
{% url 'page' path='events/keynotes' as events_keynote_url %}
{% url 'events_talk_list' as events_talk_list_url %}

<h1>活動總覽</h1>

<h2>會議期間外</h2>

<h3>專業課程 (Tutorial)</h3>

<p>專業課程 (Tutorial) 是 PyCon Taiwan 的一部份，採付費方式。舉辦時間會在研討會前後一至三週，提供全天（6 小時）課程。課程內容採取公開遴選方式徵求提案。</p>

<p>更多關於<em>專業課程</em>的內容請參考<a href="{{ events_tutorial_url }}">{% trans 'Learning' context 'menu' %}</a>頁面。</p>

<h3>Sprint</h3>

<p>衝刺開發 (Sprints) 安排在大會的兩天之外。衝刺開發是一個聚集開源專案負責人、貢獻者、想貢獻但不知道從何開始的人的活動。在活動中，將會有專案領導人帶著他們專案待解決的問題、待開發的功能來現場分享與解說。你可以選擇加入自己喜歡的專案，或是帶著自己的專案和大家分享！</p>

<p>對已經有一定 Python 基礎的人，想參與開源專案但不知如何加入，或者害羞怕自己不了解該專案環境的人，參加衝刺開發是個大展身手的好時機；而對於專案領導人來說，這是一個找到志同道合的朋友、面對面和貢獻者交流、帶領更多新人加入開發的好機會！</p>

<p>更多關於<em>Sprint</em>的內容請參考<a href="{{ events_sprint_url }}">{% trans 'Sprints' %}</a>頁面。</p>

<h2>會議期間內（2018 年 6 月 1-2 日)</h2>

<h3>基調演講（Keynote）</h3>

<p>為期兩天的議程中，邀請兩位講者分別在不同場次進行基調演講 (Keynote)，所有議場將會同步轉播。基調演講 講者都是在全球而言各領域非常頂尖的人士，不論是工程師或管理者，他們將帶來對自己的領域、專案的經驗分享，或者對於未來數年發展的方向與想像。</p>

<p>更多關於<em>基調演講</em>的內容請參考<a href="{{ events_keynote_url }}">{% trans 'Keynotes' %}</a>頁面。</p>

<h3>演講（Talk）</h3>

<p>演講為會期兩天最主要的活動，屆時將會有來自台灣各地與全球的講者分享他們在 Python 相關的發現。Talk 有 30 分鐘與 45 分鐘兩種長度，每天都將有三軌議程同步進行，配合各個演講的難易度與類型，選擇自己有興趣的主題聆聽。許多人都會事先筆記想聽的議程，才不會跑錯地點。</p>

<p>更多關於<em>演講</em>的內容請參考<a href="{{ events_talk_list_url }}">{% trans 'Talks' %}</a>頁面。</p>

<h3>閃電秀（Lightning Talks）</h3>

<p>閃電秀在會議第二天 6 / 2 的 15:30 ~ 16:30，是每個演講包含設置投影片僅限五分鐘的刺激活動。如果要報名閃電秀，請在註冊櫃檯旁邊走道的白板區上的「閃電秀」區域寫下你的講題與姓名。</p>

<h3>大地遊戲：集點抽書</h3>

<p>持 App 至各攤位提供您的 QR code，經攤位主認證掃描後，即視為完成戳章集點。蒐集各攤位認證戳章後可獲得 Day 2 Lighting Talk 時抽獎贈書資格，共有 Effective Python 等十本好書等著送給您！掃描自己的 QR code 開始參與遊戲</p>

<h3>開放空間 (Open Spaces)</h3>

<p>開放空間（Open Spaces）是自助式、聚會形式的活動，並且將會和大會議程平行進行。開放空間將會舉辦在會場的交誼廳（R4）。開放空間有別於大會大部分的會議內容，開放空間的議程規劃是由 PyCon 與會者「當場」計畫的。開放空間讓你能用任何你喜歡的方式定義、組織、規劃你自己的小聚。</p>

<p>對於曾經參加過過往 PyCon Taiwan 或是其他研討會的會眾，開放空間的概念也許讓你覺得似曾相識。沒有錯，開放空間基本上很類似 <a href="https://tw.pycon.org/2014apac/zh/bof/" target="_blank" rel="noopener">BoF</a>，不過「開放空間 / Open Spaces」對於第一次參加的會眾來說是個更好猜測的詞語。</p>

<p>更多關於<em>Open Spaces</em>的內容請參考<a href="{{ events_openspaces_url }}">{% trans 'Open Spaces' %}</a>頁面。</p>

<h3>Job Fair</h3>

<p>這是一個專門為 Python 工程師而設的就業博覽會。Job Fair 雖不會安排任何議程但開放廠商在台上自我介紹，會眾可以趁此時與現場的廠商交流、投屨歷，廠商也會藉此時宣傳自己徵才的需求。對於想找工作的會眾，我們鼓勵在這時段多與廠商互相交流，也許美好的機會就此出現。</p>

{% endblock content %}

