{% extends 'contents/_base/events.html' %}

{% load static %}


{% block title %}衝刺開發（Sprints）{% endblock title %}


{% block meta_og %}
<meta property="og:title" content="Sprints | PyCon Taiwan 2018" />
<meta property="og:description" content="" />
{% endblock meta_og %}


{% block content %}

<h1><span>衝刺開發（Sprints）</span></h1>


<h2>活動簡介</h2>

<article>
	<p>Sprint 活動安排在會議以外的時間。當天的 sprint 將有開源專案的負責人，帶著他們專案待解決的問題、issue 來現場與大家分享與解說，參加的人可以就自己感興趣的專案一同加入。透過這個互動機會將能更了解自己關注的相關專案領域。歡迎帶自己的開源專案來找同好。對已經有一定 Python 基礎的人，想參加開源專案開放但不知如何加入，或者害羞怕自己不了解該專案環境的人，參加 sprint 是個大展身手的好機會！</p>
	<p>對於沒有把握自己是否能加入開發的朋友，四月的活動也會有 workshop 形式的工作坊，歡迎一起來玩！</p>
</article>


<h2>活動細節</h2>

<article>
  <p>TBD</p>
</article>

{% endblock content %}
