{% extends 'contents/_base/events.html' %}

{% load static %}


{% block title %}衝刺開發（Sprints）{% endblock title %}


{% block meta_og %}
<meta property="og:title" content="Sprints | PyCon Taiwan 2017" />
<meta property="og:description" content="" />
<meta property="og:image" content="http://{{ request.get_host }}{% static 'images/og_sprint.png' %}" />
{% endblock meta_og %}


{% block content %}

<h1><span>衝刺開發（Sprints）</span></h1>


<h2>活動簡介</h2>

<article>
	<p>Sprint 活動安排在會議三天以外的時間。當天的 sprint 將有開源專案的負責人，帶著他們專案待解決的問題、issue 來現場與大家分享與解說，參加的人可以就自己感興趣的專案一同加入。透過這個互動機會將能更了解自己關注的相關專案領域。歡迎帶自己的開源專案來找同好。對已經有一定 Python 基礎的人，想參加開源專案開放但不知如何加入，或者害羞怕自己不了解該專案環境的人，參加 sprint 是個大展身手的好機會！</p>
	<p>對於沒有把握自己是否能加入開發的朋友，四月的活動也會有 workshop 形式的工作坊，歡迎一起來玩！</p>
</article>


<h2>活動細節</h2>

<article>
	<h3>三月份：審稿系統優化</h3>
	<h4>審稿系統優化計畫開跑！</h4>
	<p>開始要 call for proposal 了，這次我們想邀請對於 reviewer 這個工作有興趣的人，一起參與我們，我們將分享給你 PyConTW 審稿系統、我們如何審稿，然後也希望你們一起參與我們的審稿系統優化計畫！</p>
	<p>本次活動也歡迎有其他專案的朋友一起和我們合作！</p>
	<ul>
		<li>時間：3 月 12 日，上午 10 點至下午 5 點</li>
		<li>地點：CLBC 大安館（<a href="https://goo.gl/maps/7szDBwze7q22">地圖</a>）<br>106 台灣台北市大安區復興南路一段 293 號 3 樓之 1</li>
		<li>報名網址：請點選<a href="https://www.meetup.com/Taipei-py/events/238139601/">連結</a>至 Meetup.com 報名</li>
	</ul>
</article>

<article>
	<h3>六月份：PyCon Taiwan x Taipei.py x Keynote 見面會</h3>
	<h4>一起加入 Keynote Speaker 的專案計畫吧！</h4>
	<p>主議程活動結束後是否還意猶未盡呢？想起各種有趣的技術想一展身手？或是想與同好一起解決發現的 bug 與改進專案的程式碼？會議結束一天讓我們延續著興奮與熱情的心一起來玩專案。</p>
	<p>PyCon Taiwan 2017 的基調演講講者 Russell Keith-Magee 將受邀光臨我們的六月份衝刺發開活動現場一起與大家分享他的專案囉！</p>
	<p>不知道大家有聽過 BeeWare 這個專案嗎？BeeWare 是一系列可以用來幫助幫助開發、調試和啟動 Python 的工具集合。每個工具都遵循 Unix 工具的設計哲學：「一個工具只單獨將一件事情做好」。儘管自稱是整合開發環境 (Integrated development evironment, IDE)，這系列工具的概念不同於傳統的 IDE，每個工具是各自獨立的，可以單獨使用。這個 Project 的一大貢獻在於，將 Python 帶進行動裝置的平台上。相信作為一個 Python 的熱愛者，你聽到這裡一定心動了吧！快到 BeeWare 的<a href="http://pybee.org/">官方網站</a>來一探究竟然後一起加入本次的衝刺開發吧。</p>
	<ul>
		<li>時間：6 月 12 日，上午 10 點至下午 5 點</li>
		<li>地點：CLBC 大安館（<a href="https://goo.gl/maps/7szDBwze7q22">地圖</a>）<br>106 台灣台北市大安區復興南路一段 293 號 3 樓之 1</li>
		<li>報名網址：敬請期待</li>
	</ul>
</article>

{% endblock content %}
