{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}衝刺開發{% endblock title %}

{% block body_class %}{{ block.super }} tutorials-page{% endblock body_class %}


{% block content %}

<h1>衝刺開發</h1>

<p>衝刺開發 (Sprints) 安排在大會的兩天之外。衝刺開發是一個聚集開源專案負責人、貢獻者、想貢獻但不知道從何開始的人的活動。在活動中，將會有專案領導人帶著他們專案待解決的問題、待開發的功能來現場分享與解說。你可以選擇加入自己喜歡的專案，或是帶著自己的專案和大家分享！</p>
<p>對已經有一定 Python 基礎的人，想參與開源專案但不知如何加入，或者害羞怕自己不了解該專案環境的人，參加衝刺開發是個大展身手的好時機；而對於專案領導人來說，這是一個找到志同道合的朋友、面對面和貢獻者交流、帶領更多新人加入開發的好機會！</p>

<div class="box">
  <h3 class="box-title">六月份 － 聽完議程還意猶未盡就來參加吧</h3>
	<div class="box-content">
		<dl class="inline">
			<dt>時間</dt>
			<dd>2018-06-03 09:00 ~ 17:00</dd>
			<dt>地點</dt>
      <dd><a href="https://goo.gl/maps/nBuJia6xWap">資策會科技服務大樓 103 會議室</a></dd>
			<dt>報名方式</dt>
			<dd>TBA</dd>
		</dl>

		<h3>活動流程</h3>
		<dl class="inline">
			<dt>09:00 ~ 09:30</dt>
			<dd>集合、打招呼、隨意聊天</dd>
			<dt>09:30 ~ 10:00</dt>
			<dd>各專案解說、參與者加入專案</dd>
			<dt>10:00 ~ 12:00</dt>
			<dd>Sprinting</dd>
			<dt>12:00 ~ 13:00</dt>
			<dd>午餐、隨意聊天</dd>
			<dt>13:00 ~ 16:30</dt>
			<dd>Sprinting</dd>
			<dt>16:30 ~ 17:00</dt>
			<dd>成果分享</dd>
		</dl>

		<h3>有哪些專案？</h3>
		<dl>
			<dt><a href="https://github.com/python-doc-tw/python-doc-tw">Python 官方文件繁體中文翻譯</a></dt>
			<dd>一起讓 Python 更繁體中文使用者友善吧！</dd>
			<dt><a href="https://github.com/pypa/pipenv">Pipenv</a></dt>
			<dd>打造更好的 Python 開發流程</dd>
			<dt><a href="https://github.com/plone">Plone</a></dt>
			<dd>用 Python 打造的開源 CMS 系統</dd>
			<dt>你的專案</dt>
			<dd>如果你有興趣當專案主，歡迎透過 <a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a> 聯絡我們</dd>
		</dl>
	</div>
</div>

<div class="box">
	<h3 class="box-title">二月份 － PyCon TW 2018 網站需要你的幫忙！</h3>
	<div class="box-content">
		<dl class="inline">
			<dt>時間</dt>
			<dd>2018-02-10 13:30 ~ 19:00</dd>
			<dt>地點</dt>
      <dd><a href="https://goo.gl/maps/ru5YrQe7Fb22">Komma Space 國父紀念館 701</a></dd>
			<dt>報名方式</dt>
			<dd>請至 <a href="https://www.meetup.com/Taipei-py/events/247421242/">Meetup</a> 報名</dd>
		</dl>

		<h3>活動流程</h3>
		<dl class="inline">
			<dt>13:30 ~ 15:00</dt>
			<dd>開場、介紹、Sprinting</dd>
			<dt>15:00 ~ 15:30</dt>
			<dd>Food Party</dd>
			<dt>15:30 ~ 18:30</dt>
			<dd>Sprinting</dd>
			<dt>18:30 ~ 19:00</dt>
			<dd>成果分享</dd>
		</dl>

		<h3>有哪些專案？</h3>
		<dl>
			<dt><a href="https://github.com/pycontw/pycontw2016">PyCon TW 官方網站</a></dt>
			<dd>一起打造 PyCon TW 2018 的網站吧！</dd>
		</dl>
	</div>
</div>

{% endblock content %}
