{% extends 'contents/_base/sponsor.html' %}
{% load static %}

{% block title %}Our Sponsors{% endblock title %}
{% block page_title %}<h1>Our Sponsors</h1>{% endblock page_title %}

{% block content %}
    {#  gold sponsor#}
    {% comment %}
    <section class="sponsor-section">
        <h3 class="sponsor-section__title">GOLD</h3>
        <div class="sponsor-wrapper--gold">
            <div class="sponsor sponsor--gold">
                <div class="row">
                    <img class="img-responsive sponsor__logo" src="{% static 'images/sponsors/akatsuki.png' %}" alt="logo of Akatsuki">
                    <h3 class="sponsor__title">Test code sponsor</h3>
                    <div class="sponsor__intro">
                        =================== This is test intro
                        Akatsuki創立於2010年6月,開發許多款熱門手機遊戲《萬千回憶 (Thousand Memories)》，與BANDAI NAMCO Studio共同開發的《Tales of Link》, 《七龍珠Z 爆裂激戰》也頗受好評。
                        2014年Akatsuki成立台灣分公司，這也是Akatsuki首度跨出日本在海外成立事業據點，歡迎遊戲界設計、企劃、製作等等人才加入台灣的第一期創設成員。
                        ===============  Test intro
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}
    {#  end gold sponsor  #}
    <section class="sponsor-section">
        <h3 class="sponsor-section__title">SILVER</h3>
        <div class="sponsor-wrapper--silver">
            <div class="sponsor sponsor--silver">
                <img class="img-responsive sponsor__logo" src="{% static 'images/sponsors/akatsuki.png' %}" alt="logo of Akatsuki">
                <h3 class="sponsor__title">Akatsuki 曉數碼</h3>
                <div class="sponsor__intro">
                    Akatsuki創立於2010年6月,開發許多款熱門手機遊戲《萬千回憶 (Thousand Memories)》，與BANDAI NAMCO Studio共同開發的《Tales of Link》, 《七龍珠Z 爆裂激戰》也頗受好評。
                    2014年Akatsuki成立台灣分公司，這也是Akatsuki首度跨出日本在海外成立事業據點，歡迎遊戲界設計、企劃、製作等等人才加入台灣的第一期創設成員。
                </div>
            </div>
        </div>
        <div class="sponsor-wrapper--silver">
            <div class="sponsor sponsor--silver">
                <img class="img-responsive sponsor__logo" src="{% static 'images/sponsors/sudo.png' %}" alt="logo of Akatsuki">
                <h3 class="sponsor__title">Sudo 速度資訊</h3>
                <div class="sponsor__intro">
                    Sudo 旨在打造軟體工程師專屬的求職平台、提供求職者最高規格的媒合服務，協助人才找到最佳舞台盡情展現！透過線下活動：贊助各大技術年會如 PHP conference、JCConf、舉辦開發者交流社群-Android Taipei & Designer night、產業交流媒合會、校園職涯講座、WeStudent 實習平台，多管齊下協助軟體工程師找到最適性的工作，盡情發揮個人價值。
                    合作夥伴遍及矽谷、東京、香港及新加坡，藉此提供軟體專才及網路菁英多樣的優質機會；誓言要讓台灣重回世界舞台，以亞洲矽谷的身份聚焦國際目光。
                </div>
            </div>
        </div>
    </section>
    <section class="sponsor-section">
        <h3 class="sponsor-section__title">SPECIAL</h3>
        <div class="sponsor-wrapper--special">
            <div class="sponsor sponsor--special">
                <img class="img-responsive sponsor__logo" src="{% static 'images/sponsors/gliacloud.png' %}" alt="logo of GliaCloud">
                <h3 class="sponsor__title">GliaCloud</h3>
                <div class="sponsor__intro"></div>
            </div>
        </div>
        <div class="sponsor-wrapper--special">
            <div class="sponsor sponsor--special">
                <img class="img-responsive sponsor__logo" src="{% static 'images/sponsors/wolftea.png' %}" alt="logo of Wolftea">
                <h3 class="sponsor__title">琅茶</h3>
                <div class="sponsor__intro">
                    喝好茶，是一趟回不去的味覺旅程。 琅茶每季走訪產地，嚴選上質茶園在最適天氣時辰，由優秀茶師採製的「單品茶」 (Single Origin)。不混茶，為每支「單品茶」編號，詳載茶事，與時俱進，售完不再，真真切切感受每一片山林不同時節的純粹美好。 一起品遍千變萬化的台灣茶吧！開展好茶地圖，認識自己的味蕾，找到屬於你「琅琅上口」的好茶。
                </div>
            </div>
        </div>
        <div class="sponsor-wrapper--special">
            <div class="sponsor sponsor--special">
                <img class="img-responsive sponsor__logo" src="{% static 'images/sponsors/openculture.png' %}" alt="logo of 開放文化基金會">
                <h3 class="sponsor__title">開放文化基金會</h3>
                <div class="sponsor__intro">
                    開放文化基金會成立於 2014 年，由多個開源社群及活動組織共同發起，希望協助台灣蓬勃的開放社群，進一步促進開放源碼、開放資料、開放硬體等自由精神，能更廣泛的於各領域中應用，同時也協助政府、企業及非政府組織更能了解開源軟體的優勢、開放資料的重要，進而推廣開放協作的文化。 2015 年起我們除了支援本地社群主辦多場中大型活動，也和英國代表處、美國在台協會及世界銀行等單位共同舉辦各種主題講座，深耕台灣的開放文化並與國際交流。
                </div>
            </div>
        </div>

    </section>
{% endblock content %}
