{% extends 'contents/_base.html' %}

{% block title %}會議售票{% endblock title %}

{% block meta_description %}PyCon Taiwan 2019 熱烈售票中。趕快來搶票以免向隅！{% endblock meta_description %}

{% block body_class %}{{ block.super }} ticket-info-page{% endblock body_class %}

{% block content %}

{% url 'page' path='registration/financial-aid' as reg_financial_aid_url %}

<h1>會議售票</h1>
<div class="box-row">
	<div class="ticket-box">
		<p class="ticket-box-title">個人</h3>
			<div class="price-box">
				<table>
					<tbody>
						<tr>
							<th>早鳥 / 優惠價</th>
							<td class="price">2,600</td>
							<td>NTD</td>
						</tr>
						<tr>
							<th>一般</th>
							<td class="price">3,500</td>
							<td>NTD</td>
						</tr>
					</tbody>
				</table>
				<a href="{{ KKTIX_URL.INDI }}" target="_blank" rel="noopener" class="buy">購票</a>
			</div>
	</div>
	<div class="ticket-box">
		<p class="ticket-box-title">企業</h3>
			<div class="price-box">
				<table>
					<tbody>
						<tr>
							<th>原價</th>
							<td class="price">5,500</td>
							<td>NTD</td>
						</tr>
						<tr>
							<th>團購價</th>
							<td class="price">洽詢</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<a href="{{ KKTIX_URL.CORP }}" target="_blank" rel="noopener" class="buy">購票</a>
			</div>
	</div>

	<div class="ticket-box">
		<p class="ticket-box-title">保留</h3>
			<div class="price-box">
				<table>
					<tbody>
						<tr>
							<th>講者票</th>
							<td class="price">1,500</td>
							<td>NTD</td>
						</tr>
						<tr>
							<th>貢獻者 / 工作人員票</th>
							<td class="price">1,500</td>
							<td>NTD</td>
						</tr>
					</tbody>
				</table>
				<a href="{{ KKTIX_URL.RSVD }}" target="_blank" rel="noopener" class="buy">購票</a>
			</div>
	</div>
</div>
<script>
		document.querySelectorAll(".buy").forEach((link) => {
			link.addEventListener("mouseover", (e) => {
				e.target.parentNode.parentNode.style["border"] = "solid 2px #f4d35e";
			});
			link.addEventListener("mouseleave", (e) => {
				e.target.parentNode.parentNode.style["border"] = "solid 2px #224398";
			})
		})
	</script>
<div class="desc-box">
		<p class="desc">個人票：限時限量，請及早購買。電子發票於會後統一以 email 寄送。無法使用統一編號。</p>
		<p class="desc">企業票：有統編需求，請填寫公司抬頭與統一編號。無統編需求，請於抬頭與統編填寫 N/A。電子發票於會後統一以 email 寄送。</p>
		<p  class="desc">保留票：我們誠摯邀請您以貴賓身份參與本會議。請於報名時輸入邀請碼。</p>
</div>

<ul>
	<li>
		<p>上列票種用於報名 9 月 20 日至 22 日的議程活動；專業課程（tutorials）的報名方式，請另見相關網頁說明。</p>
	</li>
	<li>
		<p>早鳥票售完即止，或是最晚在 8 月 14 日結束。所有票種販售於 9 月 10 日結束。</p>
	</li>
	<li>
		<p>若無特別標註，皆以台幣計價；參考匯率 USD 1.00 = NTD 31.31。</p>
	</li>
	<li>
		<p>所有票種預設將於會後統一寄發電子發票。</p>
	</li>
	<li>
		<p>企業票的電子發票標示買方統編，可用於公司報帳；個人留存之用的電子發票，預設只顯示賣方統編。如需開立英文收據，或有票務相關問題，請來信 <em>organizers[at]pycon.tw</em> 洽詢。</p>
	</li>
</ul>


<h2>注意事項</h2>

<h3>T 裇尺寸</h3>

<p>每一位報名參加者皆能獲得紀念 T 裇一件，請在報名時填寫您的尺寸。尺寸請參考下表：（單位為公分）</p>

<div class="table">
	<table>
		<thead>
			<tr>
				<th>尺寸</th>
				<th>XS</th>
				<th>S</th>
				<th>M</th>
				<th>L</th>
				<th>XL</th>
				<th>2XL</th>
				<th>3XL</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>肩寬</th>
				<td>40</td>
				<td>42</td>
				<td>44</td>
				<td>46</td>
				<td>48</td>
				<td>50</td>
				<td>52</td>
			</tr>
			<tr>
				<th>胸寬</th>
				<td>46</td>
				<td>48</td>
				<td>50</td>
				<td>53</td>
				<td>56</td>
				<td>58</td>
				<td>60</td>
			</tr>
			<tr>
				<th>衣長</th>
				<td>66</td>
				<td>68</td>
				<td>71</td>
				<td>73</td>
				<td>75</td>
				<td>78</td>
				<td>80</td>
			</tr>
			<tr>
				<th>袖長</th>
				<td>18</td>
				<td>19</td>
				<td>21</td>
				<td>23</td>
				<td>25</td>
				<td>27</td>
				<td>29</td>
			</tr>
		</tbody>
	</table>
</div>

<h3>Everybody Contributes</h3>

<p>PyCon Taiwan 是需付費的活動。所有參加，包含籌備人員和講者，均自行付費參加。見<a
		href="https://tw.pycon.org/2013/zh/blog/2013/03/05/everybody-pays-zh/" target="_blank" rel="noopener">公平付費</a>。
</p>

<h3>付款方式</h3>

<p>我們提供三種付款方式：信用卡、PayPal、ATM 轉帳。</p>

<h3>退費規則</h3>

<p>您可於會議開始十天前聯絡我們，由 KKTIX 逕行辦理退票。</p>

<h3>財務補助（Financial Aids）</h3>

<p>若您資金上有困難，歡迎申請大會 Financial Aid 計劃。若您計畫申請購票補助，請<strong>於購票之前先行申請</strong>，再依獲得的憑證購買補助用票券。更多的申請程序請至<a
		href="{{ reg_financial_aid_url }}">專頁</a>說明。</p>

<h3>飲食需求</h3>

<p>會議當天提供午餐。請務必註明您的飲食需求。</p>

<h3>正確的聯絡資訊</h3>

<p>報名時請留下正確的聯絡方式（手機號碼與 email），以便大會通知。</p>

<h3>票務諮詢管道</h3>

<p>如有任何問題，請寄信至 <em>organizers[at]pycon.tw</em> 洽詢，我們將盡快給予回應。</p>

<h3>其他活動</h3>

<p>本頁所售票券僅供大會使用，課程或衝刺開發等相關活動需要另外的報名動作。請於頁面上方選單選擇相關活動頁面進行報名。</p>

{% endblock content %}
