{% extends 'contents/_base.html' %}

{% block title %}開放空間{% endblock %}

{% block content %}

<section class="pill-title">
	<h1>開放空間</h1>
</section>

<p>開放空間（Open Spaces）是自助式、聚會形式的活動，與大會議程同時進行。開放空間有別於大會大部分的會議內容，議程規劃是由大會與會者「當場」計畫的。開放空間讓你能用任何你喜歡的方式定義、組織、規劃你自己的小聚。也歡迎你揪其他好夥伴一起來參與、分享、聊天、交朋友！</p>
<p>對於曾經參加過過往 PyCon Taiwan 或是其他研討會的會眾，開放空間的概念也許讓你覺得似曾相識。沒有錯，開放空間基本上很類似 <a href="https://tw.pycon.org/2014apac/zh/bof/" target="_blank" rel="noopener">BoF</a> ，不過「開放空間 / Open Spaces」對於第一次參加的會眾來說更容易理解。</p>


<h2>如何參與一個開放空間？</h2>

<p>很簡單：人到場就好了 :)</p>

<p>不同於往年舉辦在中研院，本次 PyCon TW 首次移師台南成功大學國際會議廳，而開放空間也很幸運地擁有了自己的場地。你只需要找到有興趣的主題，友善的與主持人打個招呼，就可以坐下與大家一起參與了。</p>

<h2>開放空間在哪裡？在什麼時候？</h2>

<p>地點：大會 1F 的多功能廳</p>

<p>時間：第一天早上 Keynote 結束後到下午 Keynote 開始前（11:10 ~ 16:30）<br>
　　　第二天早上 Keynote 結束後到午餐前（10:10 ~ 12:10）</p>

<p>總計有超過四個多小時的時間可以讓會眾們盡情享受開放空間中盈滿熱情的交流和討論。</p>

<h2>有哪些開放空間？</h2>

<p>這由你與其他會眾決定，我們也不知道會有什麼 😉</p>

<p>開放空間有各種與會者想討論的主題。由於與會者非常多元化，開放空間也同樣非常多元化。開放空間的主題並沒有限制，可以是關於美甲、女權主義、瑜珈、甚至是桌遊。也可以是討論各種常見的技術議題，從資訊安全到你最喜歡的 Python 專案，到一些特定職位的討論，比如說 SRE。</p>

<h2>如何舉辦一個開放空間？</h2>

<p>只要到大會服務台索取白板，填上您想要討論的主題、時間、以及您的名字。</p>

<p>如果是馬上就要分享，可以直接挑個桌子坐下，將白板放在桌上讓大家知道這裡的主題就可以了；而如果是晚一點才會開始的話，則可以先將白板寄放在服務台，等到準備開始了再回來拿。</p>

<h2>開放空間的好主意</h2>

<p>以下有幾個可以辦成開放空間的點子，提供您參考：</p>

<ul>
	<li>用 Python 的 Maker 專案（例如樹莓派、IoT、居家自動化、機器人、四軸飛行器）</li>
	<li>Hacking / Networking / DevOps</li>
	<li>資料視覺化、科學</li>
	<li>自然語言處理（例如聊天機器人）</li>
	<li>自我量化</li>
	<li>女性主義</li>
	<li>主辦人們的聚會：研討會、工作坊、在地社群的主辦人們</li>
	<li>網頁框架，例如 Django 或 Flask</li>
	<li>如何做開源貢獻：給初心者的協助、指導</li>
	<li>Git</li>
	<li>如何避免職業倦怠</li>
	<li>求職相關討論</li>
</ul>


{% endblock content %}
