$menu-desktop-border-radius: 8px;

@mixin index-section {
	@include content-section;
    margin: 0 auto;
    max-width: 1160px;

	h2 {
		@include h1();
		&:first-child {
			margin-top: 24px;
		}
	}
	h3 {
		@include h2();
	}
	article {
		margin-bottom: 64px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Apply this to any section to get a logo background after it.
@mixin logo-background-section {
	padding-bottom: calc(50vw + 35px);
	background: url('../assets/logo-py-indigo.svg') center 103% no-repeat;
	background-size: auto 50vw;

	@include on-desktop {
		padding-bottom: 264px;
		background-size: 42%;
		background-position: -10% 110%;
	}
}
