{% extends 'dashboard_base.html' %}

{% load i18n crispy_forms_tags %}

{% block dashboard_tablist %}
{% include '_includes/dashboard_tablist.html' with active='review' %}
{% endblock dashboard_tablist %}

{% block main-content %}
    <h3 class="dashboard-header"><span class="header-title">{{ proposal.title }}</span></h3>
    <div class="dashboard-body">
        <h4>Category</h4>
        <p>
            {{ proposal.get_category_display }}
        </p>
        <br>
        <h4>Duration</h4>
        <p>
            {{ proposal.get_duration_display }}
        </p>
        <br>
        <h4>Language</h4>
        <p>
            {{ proposal.get_language_display }}
        </p>
        <br>
        <h4>Abstract</h4>
        <p>
            {{ proposal.abstract }}
        </p>
        <br>
        <h4>Python level</h4>
        <p>
            {{ proposal.get_python_level_display }}
        </p>
        {% if proposal.objective %}
            <br>
            <h4>Objective</h4>
            <p>
                {{ proposal.objective }}
            </p>
        {% endif %}
        {% if proposal.detailed_description %}
            <br>
            <h4>Detailed description</h4>
            <p>
                {{ proposal.detailed_description }}
            </p>
        {% endif %}
        {% if proposal.outline %}
            <br>
            <h4>Outline</h4>
            <p>
                {{ proposal.outline }}
            </p>
        {% endif %}
        {% if proposal.supplementary %}
            <br>
            <h4>Supplementary</h4>
            <p>
                {{ proposal.supplementary }}
            </p>
        {% endif %}
    </div>
    <h3 class="dashboard-header"><span class="header-title">{% trans 'Review Proposal' %}</span></h3>
    <form action="." method="POST">
    {% csrf_token %}
    {{ form|crispy }}
        <input type="hidden" name="proposal" value="{{ proposal.pk }}">
    <input class="btn" type="submit" value="Submit">
    </form>
{% endblock %}
