{% extends 'dashboard_base.html' %}

{% load i18n crispy_forms_tags %}

{% block dashboard_tablist %}
{% include '_includes/dashboard_tablist.html' with active='review' %}
{% endblock dashboard_tablist %}

{% block main-content %}
    <h3 class="dashboard-header"><span class="header-title">Title</span></h3>
    <p>
        {{ proposal.title }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Category</span></h3>
    <p>
        {{ proposal.get_category_display }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Duration</span></h3>
    <p>
        {{ proposal.get_duration_display }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Language</span></h3>
    <p>
        {{ proposal.get_language_display }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Abstract</span></h3>
    <p>
        {{ proposal.abstract }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Python Level</span></h3>
    <p>
        {{ proposal.get_python_level_display }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Objective</span></h3>
    <p>
        {{ proposal.objective }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Detailed description</span></h3>
    <p>
        {{ proposal.detailed_description }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Outline</span></h3>
    <p>
        {{ proposal.outline }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Supplementary</span></h3>
    <p>
        {{ proposal.supplementary }}
    </p>
    <h3 class="dashboard-header"><span class="header-title">Slide Link</span></h3>
    <p>
        {{ proposal.slide_link }}
    </p>
    <form action="." method="POST">
    {% csrf_token %}
    {{ form|crispy }}
        <input type="hidden" name="proposal" value="{{ proposal.pk }}">
    <input class="btn" type="submit" value="Submit">
    </form>
{% endblock %}
