{% extends 'dashboard_base.html' %}

{% load i18n staticfiles %}
{% load compress crispy_forms_tags %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/simplemde.min.css' %}">
{% endblock extra_css %}


{% block dashboard_tablist %}
{% include '_includes/dashboard_tablist.html' with active='review' %}
{% endblock dashboard_tablist %}


{% block main-content %}

<h3 class="dashboard-header"><span class="header-title">{{ proposal.title }}</span></h3>

<div class="dashboard-body reviewed-proposal-view">
	{% if review_stage == 2 %}
		<h4>{% trans 'Submitter' %}</h4>
		<div>{{ proposal.submitter.speaker_name }}</div>
	{% endif %}
	<h4>{% trans 'Category' %}</h4>
	<div>{{ proposal.get_category_display }}</div>
	<h4>{% trans 'Duration' %}</h4>
	<div>{{ proposal.get_duration_display }}</div>
	<h4>{% trans 'Language' %}</h4>
	<div>{{ proposal.get_language_display }}</div>
	<h4>{% trans 'Abstract' %}</h4>
	<div>{{ proposal.abstract|linebreaks }}</div>
	<h4>{% trans 'Python level' %}</h4>
	<div>{{ proposal.get_python_level_display }}</div>
	<h4>{% trans 'Objective' %}</h4>
	<div>{{ proposal.objective|linebreaks }}</div>
	{% if proposal.detailed_description %}
	<h4>{% trans 'Detailed description' %}</h4>
	<div class="markdown-field">{{ proposal.detailed_description }}</div>
	{% endif %}
	{% if proposal.outline %}
	<h4>{% trans 'Outline' %}</h4>
	<div class="markdown-field">{{ proposal.outline }}</div>
	{% endif %}
	{% if review_stage == 2 and proposal.supplementary %}
		<h4>{% trans 'Supplementary' %}</h4>
		<div class="markdown-field">{{ proposal.supplementary }}</div>
	{% endif %}
</div>

{% if review_stage == 2 and other_reviews %}
<h3 class="dashboard-header"><span class="header-title">{% trans 'Previous Reviews by Other Reviewers' %}</span></h3>
<div class="dashboard-body">
	{% include 'reviews/_includes/previous_review_table.html' with reviews=other_reviews %}
</div>
{% endif %}

{% if review_stage == 2 and my_reviews %}
<h3 class="dashboard-header"><span class="header-title">{% trans 'My Previous Reviews' %}</span></h3>
<div class="dashboard-body">
	{% include 'reviews/_includes/previous_review_table.html' with reviews=my_reviews %}
</div>
{% endif %}

{% if proposal.accepted == None %}

<h3 class="dashboard-header"><span class="header-title">{% trans 'Review Proposal' %}</span></h3>
<form method="POST">
{% csrf_token %}
{{ form|crispy }}
<input class="btn btn-primary btn-lg" type="submit" value="Submit">
</form>
{% endif %}

{% endblock main-content %}


{% block extra_js %}
{{ block.super }}
{% compress js %}
<script src="{% static 'js/vendors/simplemde.js' %}"></script>
<script src="{% static 'js/reviews/review_form.js' %}"></script>
{% endcompress %}
{% endblock extra_js %}
