{% extends 'dashboard_base.html' %}

{% load i18n crispy_forms_tags %}

{% block dashboard_tablist %}
{% include '_includes/dashboard_tablist.html' with active='review' %}
{% endblock dashboard_tablist %}

{% block main-content %}

<h3>Unreviewed List</h3>
<ul>
{% for object in object_list %}
    <li>{{ object.title }} <a href="{% url 'review_create' %}?proposal_id={{ object.pk }}">Review</a></li>
{% endfor %}
</ul>
<h3>Reviewed List</h3>
<ul>
{% for review in user.review_set.all %}
<li>{{ review.proposal.title }} <a href="{% url 'review_update' review.pk %}">Review</a></li>
{% endfor %}
</ul>

{% endblock main-content %}
