{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}BoF{% endblock %}
{% block page_title %}<h1>BoF (Birds of a Feather)</h1>{% endblock %}

{% block content %}
<p>
	BoF 開始報名囉！今年度 BoF 的時間是在第二天 (6 月 4 日) 議程結束之後。
</p>

<h2>這是什麼活動？</h2>
<h3>BoF 緣起</h3>
<p>
	根據維基百科的解釋，BoF 是格言「物以類聚 (Birds of a feather flock together)」的簡化，指的是同類或是有相同興趣 (of a common feather) 的人 (birds)，喜愛聚集 (flocking) 在一起。
</p>
<p>
	今年，各位不知道又有什麼新的想法及創意成果？歡迎大家帶到這次 PyConTW 2016 的 BoF，讓我們 Implement the Future, Together!
</p>
<div class="container-fluid">
	<div class="row">
		<img class="img-responsive" alt="BoF Event Photo"
			src="{% static 'images/bof/bof_1.jpg' %}" >
	</div>
</div>

<h3>BoF 內容</h3>
<p>
	在 BoF 裡，我們不限定任何主題，只要是和 Python、PyCon 的交流和進步相關，都非常歡迎您參與。同時，還有各種美食可以享用喔！你可以報名當爐主，帶一些新奇好玩的作品：自製的機器人、LED 控制系統、燈光音響系統、或是沒時間生出一個作品，想要唱首歌、彈彈吉他，無論你的作品如何、唱得難不難聽，都歡迎來和大家分享。
</p>
<p>
	你也可以單純是一個爐友，帶著一顆好奇的心來觀摩，聊天交友、增廣見聞、招募社群志工等等！歡迎大家一起來圍爐！
</p>
<div class="container-fluid">
	<div class="row">
		<img class="img-responsive" alt="BoF Event Photo"
			src="{% static 'images/bof/bof_2.jpg' %}" >
	</div>
</div>

<h2>如何報名參加？</h2>
<h3>報名流程</h3>
<p>
	爐主報名請寄 email 至
	<a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>，並請說明：
</p>
<ul>
	<li>圍爐主題</li>
	<li>爐主姓名</li>
	<li>聯絡方式（手機、email）</li>
	<li>需要支援設備（只提供基本的桌椅，如果需要額外電源、螢幕等等，我們會盡可能想辦法，如果沒有的話...只能請爐主自備囉...）</li>
</ul>
{% endblock content %}
