{% extends 'contents/_base.html' %}

{% load i18n static %}


{% block title %}{% trans 'Schedule' %}{% endblock title %}


{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vendors/balloon.css' %}">
{% endblock styles %}


{% block content %}

<h1>{% block pagetitle %}{% trans 'Schedule' %}{% endblock pagetitle %}</h1>

<div class="icon-info">
	<div class="icon-group">
		<div class="icon-block en">
			<span><img src="{% static 'pycontw-2018/assets/schedule/en-talk.svg' %}"></img>{% trans 'English Speech' %}</span>
			<span><img src="{% static 'pycontw-2018/assets/schedule/en-slides.svg' %}"></img>{% trans 'English Slides' %}</span>
		</div>
		<div class="icon-block zh">
			<span><img src="{% static 'pycontw-2018/assets/schedule/zh-talk.svg' %}"></img>{% trans 'Mandarin Speech' %}</span>
			<span><img src="{% static 'pycontw-2018/assets/schedule/zh-slides.svg' %}"></img>{% trans 'Chinese Slides' %}</span>
		</div>
	</div>
	<div class="icon-group">
		<div class="icon-block level">
			<span><img src="{% static 'pycontw-2018/assets/schedule/python-level-novice.svg' %}"></img>{% trans 'Novice' %}</span>
			<span><img src="{% static 'pycontw-2018/assets/schedule/python-level-intermediate.svg' %}"></img>{% trans 'Intermediate' %}</span>
			<span><img src="{% static 'pycontw-2018/assets/schedule/python-level-experienced.svg' %}"></img>{% trans 'Experienced' %}</span>
		</div>
		<div class="icon-block recording">
			<span><img src="{% static 'pycontw-2018/assets/schedule/no-recording.svg' %}"></img>{% trans 'No recording' %}</span>
		</div>
	</div>
</div>

<article class="media schedule">
	<div class="tabbing" data-controller="tabbing">
		<ul class="tabs">
			{% for schedule_date, schedule_info in schedule_days.items %}
				<li data-target="tabbing.tab" data-action="click->tabbing#activate">
					{{ schedule_info.name }}
				</li>
			{% endfor %}
		</ul>
		{% block schedule %}
		<div class="schedule-content">
			{{ schedule_html|safe }}
		</div>
		{% endblock schedule %}
	</div>
</article>

{% block controls %}{% endblock controls %}

{% endblock content %}


{% block scripts %}
{{ block.super }}
<script type="module" src="{% static 'pycontw-2018/scripts/schedule.js' %}"></script>
{% endblock scripts %}
