{% extends 'contents/_base.html' %}

{% load i18n proposals %}


{% block title %}{% trans 'Talks' %}{% endblock %}

{% block content %}

<h1>{% trans 'Talks' %}</h1>

<article>
	<p>
		{% blocktrans trimmed %}
		The two conference days are packed with talks about Python by speakers
		from Taiwan and around the world. The talks will be either 30- or 45-minute
		long. Three tracks of talks will be delivered simultaneously, all with
		different topics and difficulties. We suggest you to make a schedule
		beforehand, and choose what you want ot listen based on your interests.
		Many people take notes on the program schedule before the meeting so they
		don't end up in some place wrong.
		{% endblocktrans %}
	</p>
	<p>
		{% blocktrans trimmed %}
		<em>Program schedule are subject to change.</em> Please check this page
		frequently to get the latest version.
		{% endblocktrans %}
	</p>
</article>

<h3>{% trans 'Category' %}</h2>

{% for category, talk_list in talk_category_list_pairs %}
<a class="tag" href="#{{category}}">{{ category }}</a>
{% endfor %}

{% for category, talk_list in talk_category_list_pairs %}
<h3 id="{{category}}">{{ category }}</h3>
<article>
	<ul class="talk-list">
		{% for proposal in talk_list %}
		{% url 'events_talk_detail' pk=proposal.pk as event_talk_detail_url %}
    <li><p>
      {% blocktrans with proposal_title=proposal.title speaker_names=proposal|speaker_names_display %}
      <span class="talk-title">{{ proposal_title }}</span> by {{ speaker_names }}
      {% endblocktrans %}
    </p></li>
    {% comment %}
    We should change them back to links once we're done with schedule
    <li><p>{% blocktrans with proposal_title=proposal.title speaker_names=proposal|speaker_names_display %}<a class="proposal-title" href="{{ event_talk_detail_url }}">{{ proposal_title }}</a> by {{ speaker_names }}{% endblocktrans %}</p></li>
    {% endcomment %}
		{% endfor %}
	</ul>
</article>
{% endfor %}

{% endblock content %}
