{% extends 'contents/_base.html' %}

{% block title %}台灣的在地 Python 社群{% endblock title %}


{% block content %}

<section class="pill-title alt">
    <h1>在地 Python 社群</h1>
</section>

<h2><a href="http://www.meetup.com/pythonhug/" target="_blank" rel="noopener">新竹 PyHUG</a></h2>

<p>台灣第一個 Python 社群，2011 年由 yyc 和 Albert Huang 共同成立。初期的聚會地點在清大創新育成中心，後來搬到交大的計算機中心，每月定期邀請講者來分享。參加成員以大學生為主，也有竹科工程師、語言學家、新竹市警官。也因此多數講題偏重Python 在科學上的應用，這也影響了第一屆 PyCon Taiwan 的議題走向。近幾年開始，每週三在咖啡館聚會，漸漸變成「吃吃喝喝聊 Python 及雜七雜八」的形式。目前由 Dainese 擔任負責人，聚會人數在 20 人左右，最近成員平均年齡有老化的趨勢？需要地方的新血加入。</p>


<h2><a href="http://www.meetup.com/Taipei-py/" target="_blank" rel="noopener">台北 Taipei.py</a></h2>

<p>2012 年的 COSCUP 後，Keith、Tim 與其快樂夥伴們創立了 Taipei.py。每個月固定在 CLBC 聚會，前幾次聚會過後，成員迅速增加到 50 人以上。聚會分享主題以網路相關技術為主，近期也越來越多大數據相關的分享。由於創辦者們多數在網路相關行業，因此除了每月例會，也會舉辦讀書會等活動。</p>


<h2><a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank" rel="noopener">台南 Tainan.py</a></h2>

<p>2013 年，公司從台北搬到台南的 Joe，順勢成立了 Tainan.py。適逢 jserv 移駕成大資工，Joe 為了壯大聲勢，決定與同在台南的 MOSUT 社群合辦聚會，成為「Tainan.py × MOSUT」。Tainan.py 的中場休息時間，會推廣台南在地美食，讓與會者品嘗鹽酥雞、杏仁湯等，讓衣服尺寸變大的食物。一個月聚會一次，時間在週末下午，是一種吃不夠還可以再續攤吃台南美食的概念。</p>


<h2><a href="https://tw.pyladies.com/" target="_blank" rel="noopener">PyLadies Taiwan</a></h2>

<p>PyLadies 是一個專屬於女生的 Python 愛好者聚會，專供喜歡 Python 的女生、想學 Python 的女生、想瞭解 Python 的女生，彼此交流、交換心得，聊天認識朋友的地方。我們是一個國際性的 Python 交流組織 ，主要任務是希望透過分享、教育與Workshop等活動的方式幫助更多女生可以在 Python 社群中成為主動的參與者與領導者。我們將會於每個月舉辦不同主題的活動，例如：初學者的入門、使用 Python 的應用與經驗分享，相關教學等主題。只要你是女孩並對 Python 有興趣，歡迎你來參加喔！</p>

<blockquote>專訪：<a href="http://pycontw.blogspot.tw/2015/06/pyladies.html" target="_blank" rel="noopener">PyLadies 社群注入台灣女性技術社群新動能</a></blockquote>


<h2><a href="http://www.meetup.com/Kaohsiung-Python-Meetup/" target="_blank" rel="noopener">高雄 Kaohsiung.py</a></h2>

<p>在 Kaohsiung.py 之前，高雄的同好如 TooMore、CD 等，不定期會安排 Python 的餐敘，在 KSDG 偶爾會有 Python 的主題分享。Victor Gau 是 Kaohsiung.py 的發起人，在 Kaohsiung.py 成立之前，Victor定期的會去參加 Joe 安排的 Tainan.py 的活動，直到有一次從台南回高雄時，與超速的機車發生擦撞，後續繁瑣的事故處理程序，讓 Victor 萌生在高雄成立社群減少交通奔波的念頭。2014 年，Victor 在高雄發起了 Kaohsiung Python UserGroup，除了不定期的在禮拜六下午安排外縣市的專家到高雄來分享新技術，每個月也會挑一個星期一晚上，在文藻外語大學聚會。竭誠歡迎大家路過高雄時，來參加 Kaohsiung.py 的聚會。</p>


<h2><a href="https://www.facebook.com/groups/780250978715991/" target="_blank" rel="noopener">台中 Taichung.py</a></h2>

<p>唐元亮老師與熱心友人們，也在 2014 年發起了 Taichung.py。初期流浪在各餐廳與咖啡館，後期由微程式科技提供場地空間，告別流浪的生活。每月聚會一次，時間在星期六下午，剛好可以在聚會結束後，到附近的逢甲夜市散步、覓食。</p>


<h2><a href="http://www.meetup.com/Hualien-Py/" target="_blank" rel="noopener">花蓮 Hualien.py</a></h2>

<p>花蓮.py 的創設要回溯到 2013 年，魏澤人老師有感於東部較缺乏開源及技術社群，開始邀約台灣各地的 Python 講者。在 c3h2、clkao、Mosky 等人爽快答應下，花蓮.py 在 2014 年順利展開。活動場地分別在花蓮的鐵道文化園區二館、東華大學理工一館，及花蓮文創園區湛盧狂草黎明公益店等地。之後多虧了各地許多朋友幫忙，前來分享各式技術，讓社群慢慢健康成長，現在花蓮本地的講者也越來越多了。目前聚會的形式，除了演講分享外，也常有自由聚會及特定主題的workshop。如果大家有規劃台灣東部小旅行，歡迎路過花蓮.py。</p>


<h2><a href="https://djangogirls.org/taipei/" target="_blank" rel="noopener">Django Girls Taipei</a></h2>

<p>2014 年，也是 Michelle 成立 Django Girls Taipei 的一年。藉由不定期舉辦教學活動，帶領女孩們一步步製作自己的網站。也和 Python Web Meetup 一起合辦新手村活動，給對 Django 有一點點了解，又想要瞭解更多的女孩們參加。</p>

<blockquote><a href="https://www.facebook.com/groups/djangogirls.taiwan/" target="_blank" rel="noopener">Facebook 社團</a></blockquote>


<h2><a href="https://www.facebook.com/%E5%8D%97%E6%8A%95python-113209870215893/" target="_blank" rel="noopener">南投PY</a></h2>
<p>2019年底，由南開科技大學副校長林正敏教授，號召、帶領並群聚著中台灣喜愛Python的人們。起初聚會地點在草屯768藝術空間，藉由768的公益性平台固定於每月舉行分享會，來自各行各業的大夥，無私地向大家分享自身經驗。在南投，人稱科技沙漠的地區，有著這一群人，為python貢獻己力，帶動產業連結，並為有意學習的大家，帶來一場無私、無限的學習地。</p>

<blockquote><a href="https://www.facebook.com/groups/Nantou.py/" target="_blank" rel="noopener">Facebook 社團</a></blockquote>

{% endblock content %}
