{% extends 'contents/_base.html' %}
{% load static %}
{% block title %}PyCon Taiwan 個人資料保護聲明{% endblock title %}

{% block content %}


<section class="pill-title alt">
	<h1>PyCon Taiwan 個人資料保護聲明</h1>
</section>

<h5 class="edited_info">(CC BY-SA 3.0 TW)<br/>最後更新時間：2020-08-04</h5>

<h4>個人資料保護政策</h4>

<p>感謝您參與臺灣 Python 年會 (以下簡稱「PyCon TW」)。「PyCon TW 主辦團隊」(以下簡稱「我們」)
	將依個人資料保護法之規定來使用、保管您於報名時所提供的個人資料，並維護您的隱私權。同時，我們在此對於您個人資料之使用蒐集將依下列聲明為利用、管理。</p>

<h4>個人資料之使用目的</h4>

<p>我們為求本活動順利進行及提供您相關之服務，蒐集並於使用目的範圍內利用您所提供之個人資料，<b>其法定特定目的為一三〇會議管理</b>。使用目的包含但不限於：</p>

<ol class="custom_ol">
	<li>確認報名者與前來報到者之身分同一性</li>
	<li>提供您的名牌</li>
	<li>其他有助於活動順利進行之相關目的</li>
</ol>

<h4>個人資料蒐集方式、利用範圍</h4>

<p>當您報名參與 PyCon TW 時，我們基於服務將會請您填寫服務所需之相關資料，而取得您的基本資料；我們僅將您的該些資料使用在您所需的個別服務上。</p>

<h4>個人資料使用方式</h4>

<p>我們將持續保存使用您提供的個人資料直至您提出停止使用或 PyCon TW 停止營運之日為止。我們<b>絕對不會</b>任意出售、交換、出租或以其他變相之方式，將您的個人資料揭露與其他團體或個人。惟有下列情形，我們會向第三者提供您的個人資料。</p>

<ol class="custom_ol">
	<li>經過您的事前同意或授權允許時。</li>
	<li>司法單位或其他主管機關經合法正式的程序要求時。</li>
</ol>

<h4>個人資料分類及項目</h4>

<p>我們因所提供服務及分析本活動之需要，可能需請您提供的個人基本資料，包括且不限於姓名、暱稱、性別、電子郵件、行動電話、職業別、現職單位（公司）、聯絡地址等資料，其法定蒐集個人資料類別為Ｃ〇〇一 辨識個人者。</p>

<h4>個人資料變更修改方式</h4>

<p>您得就您留於 PyCon TW
	報名網站之個人資料依法向我們以書面或電子文件請求行使：查詢或請求閱覽、製給複製本、補充或更正、請求停止蒐集、處理或利用、請求刪除等權利。惟上述權利，若因與會者不符合申請程序或法律規定，或我們依法負有保存義務，或法律另有規定之情況者，則不在此限；我們亦得就您的請求收取行政處理費用。如果您的個人資料有變更，您可自行於
	PyCon TW 之報名網站中進行更正或來信給我們以修正您的個人資料。</p>

<h4>選擇退出方式</h4>

<p>如果您不願意將您的資料提供予我們繼續使用，您可以<a href="mailto:organizers@pycon.tw" >來信</a>給我們告知，我們將停止使用您的資料。您得自由選擇提供個人資料之程度，惟若提供之資料不足或有誤，或請求刪除，為求本活動順利進行之必要，我們有權利拒絕您的報名及參與。</p>

<h4>隱私保護諮詢</h4>
<p>如果您對於我們的隱私權保護政策或是有個人資料蒐集、利用、更新等問題，請來信<a href="mailto:organizers@pycon.tw" >organizers@pycon.tw</a>。</p>

<h4>針對 2019 年新型冠狀病毒 (COVID-19) 防疫工作之個人資料收集聲明</h4>
<p>蒐集您的個人資料目的及法令依據，係為確保會眾健康安全及「嚴重特殊傳染性肺炎」防疫安全管理所必須，我們將依個人資料保護法，以公共衛生或傳染病防治及場所進出安全管理等目的，故有必要蒐集、處理或利用相關個人資料，請您詳閱。</p>
<p>PyCon TW 配合防疫期間所蒐集的資料，將在資料蒐集日起 28 天後刪除。參與者進出各館與各廳紀錄將作為疫情管控使用，若會後有任何疑似感染情況，PyCon TW
	將主動通知可能被影響的群眾，且得提供我國衛生主管機關依傳染病防治法等規定進行疫情調查及聯繫使用。</p>

<h4>授權 License (CC BY-SA 3.0 TW)</h4>
<p>此文件採用 <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-sa/3.0/tw/deed.zh_TW">姓名標示-相同方式分享 3.0 台灣</a> 授權條款。</p>
<p><img src="{% static 'images/CC_icon.png' %}"></p>

<p>本個人資料保護聲明從 2020 年 07 月 01 日起開始生效，惟為因應社會環境及法令的變遷與科技的進步，為保護客戶個人資料安全及隱私，我們將隨時修改這份公告聲明，並將儘速更新與公告予您。</p>
<p>感謝。</p>

{% endblock content %}
