.multi {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    > div {
        line-height: 1.2;
        .icon {
            position: absolute;
            left: 0;
        }
    }
}
