.discord-page {
  .entry {
    .small{
      padding: 0;
      font-size: small;
    }

    h4 {
      text-align:left;
    }

    h6 {
      text-align:left;
    }

    li {
      text-align:left;
    }

    .sec {
      padding-bottom: 18px;
    }

    img {
      max-width: 100%;
	  	height: auto;
    }
  }

    main {
        width: calc(100% - 80px);

        @include on-desktop() {
            min-width: 720px;
        }
    }
}

@import "../../css/vendors/semantic.min.css";
