.ticket-info-page {
	.box-row{
		display: flex;
		flex-direction: column;
		align-items: center;
		@include on-desktop{
			flex-direction: row;
			justify-content: space-between;
		}

		$ticket_box_height: 280px;
		$ticket_box_width: $ticket_box_height * 0.75;
		$ticket_box_title_height: 40px;
		$price_box_height: $ticket_box_height - $ticket_box_title_height;

		.ticket-box{
			display: flex;
			flex-direction: column;
			align-items: center;
			height: $ticket_box_height;
			width: $ticket_box_width;
			border-radius: 10px;
			border: solid 4px #6A3F3B;
			margin-bottom: 60px;

			@include on-desktop() {
				margin-bottom: 20px;
			}

			.ticket-box-title{
				height: $ticket_box_title_height;
				font-family: NotoSansTC;
				font-size: 20px;
				font-weight: normal;
				line-height: normal;
				letter-spacing: -0.03px;
				color: #333333;
				margin: 30px auto 20px auto;
			}
			.price-box {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				width:100%;
				height: $price_box_height;

				table {
					th, td {
						padding: 4px 1px;
						text-align: center;
						font-weight: 300;
						font-size: 1rem;
						line-height: normal;
						letter-spacing: normal;

						@include on-desktop() {
							max-width: 33%;
							text-align: center;
						}
					}
					.price {
						color: #6A3F3B;
						font-weight: 300;
						font-size: 1.75rem;

						@include on-desktop() {
							text-align: center;
							//padding-right: 1rem;
						}
					}
				}
				.buy {
					display: flex;
					justify-content: center;
					align-items: center;
					background: center;
					width: 100%;
					height: 50px;
					text-align: center;
					border: solid 4px #6A3F3B;
					color: #FBD9CA;
					text-decoration: none;
					font-family: PingFangTC;
					font-size: 2rem;
					font-weight: 300;
					line-height: normal;
					letter-spacing: normal;
					background-color: #6A3F3B;
					border-radius: 10px;
					margin-top: 60px;
					&:hover{
						color: #6A3F3B;
						border: solid 4px #6A3F3B;
						background-color: #FBD9CA;
					}
				}
			}
		}

		.ticket-box-imperial{
			display: flex;
			flex-direction: column;
			align-items: center;
			height: $ticket_box_height;
			width: $ticket_box_width;
			border-radius: 10px;
			border: solid 4px #E23728;
			margin-bottom: 60px;

			@include on-desktop() {
				margin-bottom: 20px;
			}

			.ticket-box-title-imperial{
				height: $ticket_box_title_height;
				font-family: NotoSansTC;
				font-size: 20px;
				font-weight: normal;
				line-height: normal;
				letter-spacing: -0.03px;
				color: #E23728;
				margin: 30px auto 20px auto;
			}
			.price-box-imperial {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				width:100%;
				height: $price_box_height;

				table {
					th, td {
						padding: 4px 1px;
						text-align: center;
						font-weight: 300;
						font-size: 1rem;
						line-height: normal;
						letter-spacing: normal;
						color: #E23728;

						@include on-desktop() {
							max-width: 33%;
							text-align: center;
						}
					}
					.price-imperial {
						color: #E23728;
						font-weight: 300;
						font-size: 1.75rem;

						@include on-desktop() {
							text-align: center;
						//	padding-right: 1rem;
						}
					}
				}
				.buy-imperial {
					display: flex;
					justify-content: center;
					align-items: center;
					background: center;
					width: 100%;
					height: 50px;
					text-align: center;
					border: solid 4px #E23728;
					color: #FBD9CA;
					text-decoration: none;
					font-family: PingFangTC;
					font-size: 2rem;
					font-weight: 300;
					line-height: normal;
					letter-spacing: normal;
					background-color: #E23728;
					border-radius: 10px;
					&:hover{
						color: #E23728;
						border: solid 4px #E23728;
						background-color: #FBD9CA;
					}
				}
			}
		}
	}

	.zh{
		margin-top: 54px;
	}
	.en{
		margin-top: 60px;
	}

	.desc-box{
		background-color: #FBD9CA;
		padding: 20px 40px;
		.title{
			color: #E23728;
		}
	}
}
