.venue-page {
	$map-height-mobile: 320px;
	$map-height-desktop: 496px;

	.map-section {
		height: $map-height-mobile;
		@include full-width();
		max-height: 50vh; // Make sure the user has some room to flick.

		@include on-desktop() {
			height: $map-height-desktop;
			max-height: none;
			width: 100vw;
		}
	}

	.map {
		width: 100%;
		height: 100%;
		z-index: 1;
		border-style: solid;
		border-color: $salmon;
		border-width: 2px 0px 2px 0px;
	}

	.map-info {
		display: none;

		&:after {
			background: url("../assets/button-hover-bg.svg");
			content: "";
			height: 17%;
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
		}

		@include on-desktop() {
			$total-width: 32vw;
			$padding-left: 4vw;
			$padding-right: 3vw;

			display: block;
			position: absolute;
			height: $map-height-desktop;
			width: $total-width - $padding-left - $padding-right;
			z-index: 2;
			background-color: rgba(255, 255, 255, 0.95);
			padding: 0 $padding-right 0 $padding-left;
			margin-top: 2px;

			@include breakpoint(1280px) {
				$total-width: 28vw;
				$padding-left: 4vw;
				$padding-right: 3vw;

				height: $map-height-desktop;
				width: $total-width - $padding-left - $padding-right;
				padding: 0 $padding-right 0 $padding-left;
			}

			h2 {
				font-size: 1.4rem;
				line-height: 1;
				text-align: left;

				> span {
					display: inline-block;
					margin-top: 1.2rem;

					&:first-child {
						margin-top: 0;
					}
				}
			}

			.name-block {
				h2 {
					margin-bottom: 12px;
				}

				.hint {
					color: #333;
					font-weight: 300;
					font-size: 0.9rem;
				}
			}

			p {
				font-size: 1rem;
				text-align: left;
			}
		}

		font-size: 0.6rem;

		h2 {
			margin-top: 40px;
		}

		@include breakpoint(90px) {
			h2 {
				margin-top: 60px;
			}

			font-size: 1rem;
		}

		@include breakpoint(1900px) {
			h2 {
				margin-top: 72px;
			}

			font-size: 1rem;
		}
	}

	.tutorial-block {
		padding-top: 50px;

		h1 {
			margin: 0;
		}

		.location-block {
			h2 {
				margin-top: 50px;
				color: #333;
				font-size: 1.6rem;
				margin-bottom: 10px;
			}

			p {
				text-align: center;
			}
		}
	}
}
