{% extends 'contents/_base/about.html' %}

{% block title %}Code of Conduct{% endblock title %}

{% block content %}

<article>
<p>
	PyCon Taiwan is a community-driven convention for the Python programming
	language in Taiwan, created to facilitate discussions and exchange ideas in
	the community. To provide a joyful, pleasant, and vibrant environment that
	creates value for all participants, we hereby publish this Code of Conduct,
	which applies to all speech and action in both physical and digital venues of
	PyCon Taiwan. Your cooperation is necessary to help all of us interact during
	PyCon Taiwan with respect and trust.
</p>
</article>


<h1><span>Code of Conduct</span></h1>

<article>

<p>
	Do not harass others, either verbally, physically, or otherwise. Harassment
	and discrimination is given zero tolerance. Each attendee should be equally
	respected regardless of nationality, race, language, gender, sexual
	orientation, age, disability, physical appearance, faith, profession,
	seniority, political view, or intellect.
</p>

<p>
	Appreciate each other. Each attendee is expected to show a professional
	attitude, and behave accordingly. User of Python are diverse in their
	professional roles, technical backgrounds, and application areas. They
	contribute to the technology in many different ways, some amazingly
	unimaginable. Opinions or actions that undervalue other members of the
	community are inappropriate.
</p>

<p>
	Show consideration to others. Sexual contents in any form are inappropriate
	in any conference venues, including but not limited to talks, open spaces,
	or social media. Words and actions originated from stereotypes are
	discouraged. Cell phones should be set to silence or a mode that does not
	annoy others in the conference rooms.
</p>

<p>
	The conference organizers have the power to take appropriate actions to
	redirect behavior of those who violate the Code of Conduct. Violators may be
	forced to leave the conference without a refund at the sole discretion of the
	organizers.
</p>

<p>
	This Code of Conduct is approved by the organizers of PyCon Taiwan.
</p>

</article>

{% endblock content %}
