{% extends 'contents/_base.html' %}

{% block title %}Python Community in Taiwan{% endblock title %}


{% block content %}

<h1>Python Community</h1>

<h2><a href="http://www.meetup.com/pythonhug/" target="_blank" rel="noopener">Hsinchu &mdash; Python Hsinchu User Group (PyHUG)</a></h2>

<p>PyHUG, founded by yyc and Albert Huang in 2011, is the first Python user community in Taiwan. The meetup was first located at Operations Center for Industry Collaboration, NTHU, and was later moved to Information Technology Service Center, NCTU. Speakers were invited on a monthly basis. The majority of participants were university students, along with engineers from Hsinchu Science Park, linguists, and even Hsinchu police officers. Therefore, topics were mostly about scientific application in Python, which affected the focus of first PyCon TW. In recent years, the meetup, held in a coffee shop with around 20 attendees on every Wednesday, turns to be “eating, chatting, talking about Python and everything”. Currently the community is organized by Dainese. They are looking for new face to join.</p>


<h2><a href="http://www.meetup.com/Taipei-py/" target="_blank" rel="noopener">Taipei &mdash; Taipei.py</a></h2>

<p>After COSCUP 2012, Keith, Tim and some enthusiasts launched Taipei.py. The number of members rapidly grew up to 50 after the first few meetups. The events are hosted monthly at CLBC. The topics are mainly related to web programming and web application. Recently there are more sharing of big data topics. Since most of the organizers are in web-related industry, Andy also hosts other activities, such as Python Web Meetup and Django study group, besides the monthly meetups.</p>


<h2><a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank" rel="noopener">Tainan &mdash; Tainan.py</a></h2>

<p>In 2013, Joe founded Tainan.py when he moved from Taipei to Tainan due to the change of company location. Since jserv also became the faculty in Department of Computer Science and Information Engineering, NCKU, Joe decided to launch “Tainan.py × MOSUT” events with MOSUT, another community located in Tainan. In order to promote local Tainan food, local dishes, like fried chicken and almond soup, are provided during the break in Tainan.py. Monthly meetup takes place in the weekend afternoon, so attendees are welcome to try more Tainan food after the meetup if the local dishes during the break is just not enough :)</p>

<h2><a href="http://www.meetup.com/PyLadiesTW/" target="_blank" rel="noopener">PyLadies Taiwan</a></h2>

<p>2014 was a year that the number of Python local communities grew rapidly. One of these communities was PyLadies Taiwan, founded during the night market event in PyCon Taiwan 2013. The first PyLadies meetup was hosted in Taipei. It is a girls only community. Currently there are casual meetups, which provides a place to exchange experience in Python, chat, and meet new friends. Every girl who likes Python or wants to learn Python are welcomed to become a member of PyLadies Taiwan.</p>

<blockquote>See report: <a href="http://pycontw.blogspot.tw/2015/06/pyladies.html" target="_blank" rel="noopener">PyLadies 社群注入台灣女性技術社群新動能</a></blockquote>


<h2><a href="http://www.meetup.com/Kaohsiung-Python-Meetup/" target="_blank" rel="noopener">Kaohsiung &mdash; Kaohsiung.py</a></h2>

<p>Before Kaohsiung.py was founded, Python enthusiasts, like TooMore and CD, sometimes shared Python-related topics in the KSDG meetups. Founder of Kaohsiung.py is Victor Gau. He joined Tainan.py regularly until one day he had an accident with a speeding motorcycle on the way from Tainan to Kaohsiung. The accident induced him to launch a Python community in Kaohsiung. Therefore, Kaohsiung Python User Group was founded in 2014. In addition to casual meetups, which invites specialist from other cities, there is a regular gathering in Wenzao Ursuline University of Languages on one Monday night every month. They welcome anyone who passes by Kaohsiung to join the events.</p>


<h2><a href="http://www.meetup.com/Taichung-Python-Meetup/" target="_blank" rel="noopener">Taichung &mdash; Taichung.py</a></h2>

<p>Taichung.py was started in 2014 by Prof. Yuan-Liang Tang and several enthusiasts. The events were held at restaurants or coffee shops until later Microprogram Co. supported the event venue. Now the events are held monthly in Saturday afternoon, which is best suited for a walk to have some snacks in Fengjia Night Market after the event.</p>


<h2><a href="http://www.meetup.com/Hualien-Py/" target="_blank" rel="noopener">Hualien &mdash; Hualien.py</a></h2>

<p>The history of Hualien.py can be dated back to 2013, Prof. Tzer-Jen Wei felt the lack of open source and technology communities in the east part of Taiwan. He started to invite Python speakers from other cities. Having speakers like c3h2, clkao and Mosky, Hualien.py began the first event in 2014. Events have been located in Hualien Railway Cultural Park, National Dong Hwa University, Hualien Cultural Creative Industries Park and so on. By the supports from all over the Taiwan, the community in Hualien thrives. Now there are more and more local speakers in the meetups. In addition to speeches, there are casual gathering and special focus workshop. Next time when having a trip in Taiwan east coast, drop by Hualien.py.</p>


<h2><a href="https://djangogirls.org/taipei/" target="_blank" rel="noopener">Django Girls Taipei</a></h2>

<p>Django Girls Taipei was founded by Michelle Leu in 2014. Currently there are casual tutorials and workshops to help girls build their own Django website. Also there are events held with the Python Web Meetup for novice. Highly recommend to girls with basic understanding of Django to learn more.</p>

<blockquote><a href="https://www.facebook.com/groups/djangogirls.taiwan/" target="_blank" rel="noopener">Facebook Group</a></blockquote>

{% endblock content %}
