{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}PyNight{% endblock %}


{% block content %}

<h1><span>PyNight</span></h1>

<article>
	<p>PyNight is an extension to the BoF event we held in previous years. This year's event is expanded to provide a more diverse occasion for the community. It consists of both “music” and “communication” parts. During the music event, the protagonist is a group of versatile friends from the community, bringing their carefully prepared music. In the community event, you are the protagonist! No matter what your thoughts, you can find like-minded friends here; the subject without any restrictions, as long as you are interested, everything is welcome.</p>

	<h3>Schedule</h3>
	<ul>
		<li><em>17:30&ndash;18:15</em> Piano solo (R0)</li>
		<li><em>18:20&ndash;</em> DInner buffet (4F)</li>
		<li><em>18:30&ndash;</em> Brass quitet (4F, back of R0)</li>
		<li><em>19:30&ndash;</em> PyCon Taiwan 2018 volunteer recruitment (R0)</li>
	</ul>

	<img alt="BoF Event Photo" src="{% static 'pycontw-2017/images/bof/bof_2.jpg' %}">
</article>


<h2><span>Piano Solo</span></h3>

<article>
	<ol>
		<li>Maurice Ravel: Gaspard de la Nuit</li>
		<li>Frederic Chopin: Ballade No. 1 in G minor</li>
		<li>Edvard Grieg: Wedding Day at Troldhaugen</li>
	</ol>
</article>


<h2><span>Brass Quintet</span></h2>

<article>
	<ol>
		<li>Don’t cry for me Argentina</li>
		<li>Itsumo Nando Demo, from <cite>Sen to Chihiro no Kamikakushi</cite></li>
		<li>That’s a plenty</li>
		<li>Little drummer boy</li>
		<li>How to train your dragon</li>
		<li>In the mood</li>
		<li>Scent of a Woman</li>
		<li>我的未來不是夢</li>
		<li>Band of Brothers</li>
		<li>Disney Favorites</li>
		<li>Apollo 13</li>
	</ol>
</article>


<h2><span>BoF (Birds of a Feather)</span></h2>

<article>
	<p>According to Wikipedia, BoF is derived from the proverb “Birds of a feather flock together.” A BoF session is an informal meeting at conferences, where the attendees group together based on a shared interest and carry out discussions without any pre-planned agenda.</p>

	<p>Any topic related to Python and PyCon is appreciated during BoF. Feel free to raise your own topic. We also provide an abundant supply of food!</p>
	<p>You can register as a host, and bring new or funny projects—fighting robots, LED control system, lighting, sound system, etc. If you find no time to prepare a project, you are also welcomed to sing a song, play some guitar, or anything.</p>
	<p>It is also great to just be an audience. Seize this opportunity to make friends, broaden your horizons, or recruit volunteers! Welcome to BoF!</p>
	<p>If you are willing to be a host at BoF, please send email to <a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a> with the following information:</p>
	<ul>
		<li>Your name.</li>
		<li>Your contact information (mobile phone and email).</li>
		<li>The topic you want to discuss, or the project, skill, or music you want to share.</li>
		<li>Required equipments. We provide desks and chairs, but please tell us in advance if you need other equipments. We will try our best to help.</li>
	</ul>

	<img alt="BoF Event Photo" src="{% static 'pycontw-2017/images/bof/bof_1.jpg' %}">
</article>
{% endblock content %}
