{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}BoF{% endblock %}
{% block page_title %}<h1>BoF (Birds of a Feather)</h1>{% endblock %}

{% block content %}
<p>
	Registration starts from now! This year, BoF is at the end of 2nd conference day (Jun 10).
</p>

<h2>What is BoF?</h2>
<h3>Birds of a feather flock together</h3>
<p>
	According to Wikipedia, BoF is derived from the proverb “Birds of a feather
	flock together.” A BoF session is an informal meeting at conferences, where
	the attendees group together based on a shared interest and carry out
	discussions without any pre-planned agenda.
</p>
<p>
	Do you want to share ideas and creative projects with others at PyCon TW?
	Everyone is welcomed to join the PyConTW 2017 BoF. Let us define the
	future, together!
</p>
<div class="container-fluid">
	<div class="row">
		<img class="img-responsive" alt="BoF Event Photo"
			src="{% static 'pycontw-2017/images/bof/bof_1.jpg' %}" >
	</div>
</div>

<h3>Do I Need to Prepare Anything?</h3>
<p>
	Any topic related to Python and PyCon is appreciated during BoF. Feel free to
	raise your own topic. We also provide an abundant supply of food!
</p>
<p>
	You can register as a host, and bring new or funny projects—fighting robots,
	LED control system, lighting, sound system, etc. If you find no time to
	prepare a project, you are also welcomed to sing a song, play some guitar, or
	anything.
</p>
<p>
	It is also great to just be an audience. Seize this opportunity to make
	friends, broaden your horizons, or recruit volunteers! Welcome to BoF!
</p>
<div class="container-fluid">
	<div class="row">
		<img class="img-responsive" alt="BoF Event Photo"
			src="{% static 'pycontw-2017/images/bof/bof_2.jpg' %}" >
	</div>
</div>

<h2>How Do I participate?</h2>

<h3>Host Registration</h3>
<p>
	If you are willing to be a host at BoF, please send email to
	<a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>
	with the following information:
</p>
<ul>
	<li>Your name.</li>
	<li>Your contact information (mobile phone and email).</li>
	<li>
		The topic you want to discuss, or the project, skill, or music you want to
		share.
	</li>
	<li>
		Required equipments. We provide desks and chairs, but please tell us in
		advance if you need other equipments. We will try our best to help.
	</li>
</ul>
{% endblock content %}
