{% extends 'contents/_base/keynotes.html' %}

{% load static %}

{% block title %}Keynotes{% endblock %}
{% block page_title %}<h1>Keynote Speakers</h1>{% endblock %}


{% block meta_og %}
  <meta property="og:title" content="Keynote Speakers | PyCon Taiwan 2017" />
  <meta property="og:description" content="Enjoy keynote speeches from Andrew Godwin、Carol Willing、Russell Keith-Magee." />
  <meta property="og:image" content="http://{{ request.get_host }}{% static 'images/og_keynote.png' %}" />
{% endblock %}

{% block content %}
{# Kyenote speakers ordered by their first name #}
{# 'HT-Lin', 'Andrew Godwin', Carol Willing', 'Russell Keith-Magee' #}

{# HT-Lin #}
<div id="keynote-speaker-ht-lin" class="keynote-speaker">
	<div class="keynote-speaker__profile">
		<img class="keynote-speaker__photo"
		src="{% static 'pycontw-2017/images/keynotes/ht_lin.jpg' %}"
		alt="Keynote profile photo">
		<h2 class="keynote-speaker__name">Hsuan-Tien Lin(HT Lin)</h2>
		<div class="keynote-speaker__url">
			<a href="http://www.csie.ntu.edu.tw/~htlin/" target="_blank" rel="noopener">http://www.csie.ntu.edu.tw/~htlin/</a>
		</div>
	</div><!-- /.keynote-speaker__profile -->
	<div class="keynote-speaker__bio">
		<h4 class="keynote-speaker__bio__header">Bio</h4>
		<p>
			Dr. Lin is a beloved figure in Asia’s artificial intelligence community. He joins Appier from National Taiwan University, where he served as Associate Professor of Department of Computer Science and Information Engineering.
		</p>
		<p>
			Dr. Lin’s research interests include theoretical foundations of machine learning, studies on new learning problems, and improvements on learning algorithms. Between 2010-2013, Dr. Lin co-led his university’s team to victory in machine learning competition KDD Cup six times, and his introductory machine learning textbook Learning from Data (which he co-authored) is a bestseller on Amazon. Online, his teachings on machine learning, hosted on Coursera, have been viewed millions of times.
		</p>
		<p>
			Dr. Lin received his PhD and MS in computer science from the California Institute of Technology, and served as a long-time consultant before joining Appier formally.
		</p>
		<h4 class="keynote-speaker__bio__header">《TBD》</h4>
		<p>
			(Keynote topic TBD)
		</p>
	</div><!-- /.keynote-speaker__bio -->
</div><!-- /.keynote-speaker -->

{# Andrew-Godwin #}
<div id="keynote-speaker-andrew-godwin" class="keynote-speaker">
	<div class="keynote-speaker__profile">
		<img class="keynote-speaker__photo"
		src="{% static 'pycontw-2017/images/keynotes/andrew_godwin.png' %}"
		alt="Keynote profile photo">
		<h2 class="keynote-speaker__name">Andrew-Godwin (andrewgodwin)</h2>
		<div class="keynote-speaker__url">
			<a href="https://twitter.com/andrewgodwin" target="_blank" rel="noopener">@andrewgodwin</a><br>
			<a href="http://www.aeracode.org/" target="_blank" rel="noopener">http://www.aeracode.org/</a>
		</div>
	</div><!-- /.keynote-speaker__profile -->
	<div class="keynote-speaker__bio">
		<h4 class="keynote-speaker__bio__header">Bio</h4>
		<p>
			Andrew is a Python programmer, Django core developer and the author of South, the Django migrations framework, and has been programming, maintaining and herding machines for over a decade.
		</p>
		<p>
			He is an alumnus of Magdalen College, Oxford. Now lives in mostly-sunny San Francisco. Now working in the Eventbrite.
		</p>
		<p>
			Andrew is a reasonably well-travelled technical public speaker. He enjoy the occasional bit of cycling, plenty of archery, flying small planes, mountains and overzealous consumption of cheese.
		</p>
		<h4 class="keynote-speaker__bio__header">《TBD》</h4>
		<p>
			(TBD)
		</p>
	</div><!-- /.keynote-speaker__bio -->
</div><!-- /.keynote-speaker -->

{# Carol-Willing #}
<div id="keynote-speaker-carol-willing" class="keynote-speaker">
	<div class="keynote-speaker__profile">
		<img class="keynote-speaker__photo"
		src="{% static 'pycontw-2017/images/keynotes/carol_willing.jpg' %}"
		alt="Keynote profile photo">
		<h2 class="keynote-speaker__name">Carol Willing (willingc)</h2>
		<div class="keynote-speaker__url">
			<a href="https://twitter.com/willingcarol" target="_blank" rel="noopener">@WillingCarol</a><br>
			<a href="https://willingconsulting.com/" target="_blank" rel="noopener">https://willingconsulting.com/</a>
		</div>
	</div><!-- /.keynote-speaker__profile -->
	<div class="keynote-speaker__bio">
		<h4 class="keynote-speaker__bio__header">Bio</h4>
		<p>
			Carol Willing is a Director of the Python Software Foundation, a core developer for Project Jupyter, and a Research Software Engineer at Cal Poly San Luis Obispo.
		</p>
		<p>
			She's also Geek-In-Residence at Fab Lab San Diego and co-organizes PyLadies San Diego and San Diego Python. She's an active contributor to open source projects, a maintainer for OpenHatch and the Anita Borg Institute's open source projects. Combining a love of nature, the arts, and math with a BSE in Electrical Engineering from Duke and an MS in Management from MIT, she's enjoyed creating and teaching others for over 20 years.
		</p>
		<p>
			She recently spoke at PyCon US 2016, PyCon Philippines 2016, Write/Speak/Code 2016, SciPy 2016, and PyData Carolinas 2016.
		</p>
		<h4 class="keynote-speaker__bio__header">《TBD》</h4>
		<p>
			(Keynote topic TBD)
		</p>
	</div><!-- /.keynote-speaker__bio -->
</div><!-- /.keynote-speaker -->

{# Russell-Keith-Magee #}
<div id="keynote-speaker-audrey-tang" class="keynote-speaker">
	<div class="keynote-speaker__profile">
		<img class="keynote-speaker__photo"
		src="{% static 'pycontw-2017/images/keynotes/russell_keith_magee.png' %}"
		alt="Keynote profile photo">
		<h2 class="keynote-speaker__name">Russell Keith-Magee</h2>
		<div class="keynote-speaker__url">
			<a href="https://twitter.com/freakboy3742" target="_blank" rel="noopener">@freakboy3742</a>
			<a href="http://cecinestpasun.com/" target="_blank" rel="noopener">http://cecinestpasun.com/</a>
		</div>
	</div><!-- /.keynote-speaker__profile -->
	<div class="keynote-speaker__bio">
		<h4 class="keynote-speaker__bio__header">Bio</h4>
		<p>
			Dr Russell Keith-Magee is a 10 year veteran of the Django core team, and for 5 years, was President of the Django Software Foundation. He's also the founder of the BeeWare project, developing GUI tools to support the development of Python software. When he’s not contributing to open source, he’s a freelancer working for Jambon Software. He lives in Perth, Western Australia, with his wife, 2 children, and 2 cats.
		</p>
		<h4 class="keynote-speaker__bio__header">From little things, big things grow</h4>
		<p>
			Python as a language has been around for over 25 years. How has it survived this long, and how can we, as a community, ensure that it sticks around for another 25 years? In this keynote, Dr Russell Keith-Magee will look at the lessons we can learn from the past and present of open source communities, so that we can ensure we have a strong, healthy Python community going into the future.
		</p>
	</div><!-- /.keynote-speaker__bio -->
</div><!-- /.keynote-speaker -->
{% endblock content %}
