{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Sprints{% endblock %}
{% block page_title %}<h1>Sprints</h1>{% endblock %}

{% block meta_og %}
  <meta property="og:title" content="Sprints | PyCon Taiwan 2017" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http://{{ request.get_host }}{% static 'images/og_sprint.png' %}" />
{% endblock %}

{% block content %}
<h1><span>Sprints</span></h1>
<h2>Introduction</h2>
<article>
	<p>
		Sprints will be held out of the conference dates. During the sprint,
		open source project managers will bring their projects and explain their
		issues or any unresolved problem. After the introduction of all projects,
		people find their projects of interest and get involved. By this
		interaction possibility, one can dig deep into projects or fields they
		care.
	</p>
	<p>
		It is highly welcomed to bring one’s own project and find enthusiasts of
		same interest. For people with sufficient Python background who wants to
		join open source projects but having no clue or too shy to shout out
		on the mail list and public channels, sprints serve as a great chance to
		get involved.
	</p>
	<p>
		Running alongside there is a separate schedule of workshops in April for
		attendees who want to learn more about knowledge for specific topics.
	</p>
</article>
<h2>Details</h2>
<article>
	<h3>March - Optimize the Review Process of PyConTW (3/12 10 AM ~ 17 PM @ CLBC Da-An)</h3>
	<h4>Kickoff of the optimization of review process of PyConTW</h4>
	<p>
		The PyConTW just starts calling for proposal recently. We want to invite people who are interested in the job of reviewer to join us. We will introduce the underling review system of proposals in PyConTW, and how we review the proposals. Hope you to join us to optimize our review system and make PyConTW great again.<br>
		We also welcome you to bring your projects together here!
		<ul>
			<li>Time：3/12 10 AM ~ 17 PM</li>
			<li>Place：CLBC Da-An (<a href="https://goo.gl/maps/TJQSK7K7QG12">Map</a>)<br>
				3F-1, 293 Fuxing South Road Section 1, Taipei, TAIWAN 106-65
			</li>
			<li>Registration：<a href="https://www.meetup.com/Taipei-py/events/238139601/">https://www.meetup.com/Taipei-py/events/238139601/</a></li>
		</ul>
	</p>
</article>
{% endblock content %}
