{% extends 'contents/_base/events.html' %}

{% load static %}


{% block title %}Sprints{% endblock title %}


{% block meta_og %}
<meta property="og:title" content="Sprints | PyCon Taiwan 2017" />
<meta property="og:description" content="" />
<meta property="og:image" content="http://{{ request.get_host }}{% static 'images/og_sprint.png' %}" />
{% endblock meta_og %}


{% block content %}

<h1><span>Sprints</span></h1>


<h2>Introduction</h2>

<article>
	<p>Sprints will be held out of the conference dates. During the sprint, open source project managers will bring their projects and explain their issues or any unresolved problem. After the introduction of all projects, people find their projects of interest and get involved. By this interaction possibility, one can dig deep into projects or fields they care.</p>
	<p>It is highly welcomed to bring one’s own project and find enthusiasts of same interest. For people with sufficient Python background who wants to join open source projects but having no clue or too shy to shout out on the mail list and public channels, sprints serve as a great chance to get involved.</p>
	<p>Running alongside there is a separate schedule of workshops in April for attendees who want to learn more about knowledge for specific topics.</p>
</article>


<h2>Details</h2>

<article>
	<h3>March: Hack on PyCon Taiwan’s Review System</h3>
	<h4>Kick off the review process optimization</h4>
	<p>We want to invite people who are interested in the job of reviewer to join us. We will introduce the underling review system of proposals in PyConTW, and how we review the proposals. Hope you to join us to optimize our review system and make PyConTW great again.</p>
	<p>We also welcome you to bring your projects together here!</p>
	<ul>
		<li>Time: 10:00–17:00, March 12</li>
		<li>Place: CLBC Da-An (<a href="https://goo.gl/maps/TJQSK7K7QG12">Map</a>)<br>3F-1, 293 Fuxing South Road Section 1, Taipei, TAIWAN 106-65</li>
		<li>Registration: Click <a href="https://www.meetup.com/Taipei-py/events/238139601/">link</a> to register on Meetup.com</li>
	</ul>
</article>

<article>
	<h3>June: PyCon Taiwan x Taipei.py</h3>
	<h4>Hack with our keynote speaker!</h4>
	<p>Russell Keith-Magee, one of our keynote speakers this year, will join the event and share his Beeware project.</p>
	<p>BeeWare is a collection of projects that can be used to help develop, debug and launch Python software. Each tool follows the Unix philosophy of doing one thing well. They can be used in isolation, or chained together to provide a rich set of programming tools.</p>
	<p>Check out more detail on Beeware’s <a href="http://pybee.org/">official website</a> if you want to know more about this wonderful Python toolkit.</p>
	<p>We also welcome you to bring your projects, and share them with us.</p>
	<ul>
		<li>Time: 10:00–17:00, June 12</li>
		<li>Place: CLBC Da-An (<a href="https://goo.gl/maps/TJQSK7K7QG12">Map</a>)<br>3F-1, 293 Fuxing South Road Section 1, Taipei, TAIWAN 106-65</li>
		<li>Registration: TBA</li>
	</ul>
</article>

{% endblock content %}
