{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Tutorial{% endblock %}
{% block page_title %}<h1>Tutorial</h1>{% endblock %}

{% block content %}
{% url 'page' path='speaking/tutorial' as speaking_tutorial_url %}
<h1><span>Tutorial</span></h1>
<article>
	<p>
		Tutorials are paid events that will be held 1 to 3 weeks before PyCon TW. They are held to help participants better understand talks during the conference, or get their hands on more Python applications. A tutorial can be either full-day (6 hours) or half-day (3 hours), with content selected by public proposal-calling.
	</p>
</article>

<h2><span>Tutorial</span></h2>
<article>
	<ul>
		<li>2017/05/21 (Sun) 09:30 ~ 17:30 <a href="https://pycontw.kktix.cc/events/pycontw2017-tutorial-ai-game">Play Game by AI</a></li>
		<li>2017/05/28 (Sun) 10:10 ~ 17:00 <a href="https://pycontw.kktix.cc/events/pycontw2017-tutorial-numpy">Numpy Tutorial</a></li>
		<li>2017/06/03 (Sat) 10:10 ~ 17:00 <a href="https://pycontw.kktix.cc/events/pycontw2017-tutorial-tensorflow-and-keras">Deep Learning Tutorial: Tensorflow and Keras</a></li>
	</ul>
</article>

<h2><span>Receipt Policy</span></h2>
<article>
	<ul>
		<li>
			Payment receipt will be handed over on-site.
		</li>
		<li>
			Please provide your Company Name and Unified Business Number.
		</li>
	</ul>
</article>

<h2><span>Notice</span></h2>
<article>
	<ul>
		<li>
			No Refund Except the condition above, there would be no refund once registration is confirmed.
		</li>
		<li>
			Everybody Pays PyCon Taiwan 2017 is a paid conference; everybody, including staffs and speakers, has to pay to attend. <a href="https://tw.pycon.org/2013/zh/blog/2013/03/05/everybody-pays-zh/"> (See also: Everybody Pays).
			</a>
		</li>
		<li>
			Ticketing Consultancy Please kindly mail to <a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>.
		</li>
	</ul>
</article>
{% endblock content %}
