{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Tutorial{% endblock %}
{% block page_title %}<h1>Tutorial</h1>{% endblock %}

{% block content %}
<p>
	Tutorials are paid events that will be held 1 to 3 weeks before PyCon TW. They are held to help participants better understand talks during the conference, or get their hands on more Python applications. A tutorial can be either full-day (6 hours) or half-day (3 hours), with content selected by public proposal-calling.
</p>
<h2>
	Tutorial
</h2>
<p>
	TBD
</p>
<h2>
	Receipt Policy
</h2>
<p>
	<li>
		Payment receipt will be handed over on-site.
	</li>
	<li>
		Please provide your Company Name and Unified Business Number.
	</li>
</p>
<h2>
	Notice
</h2>
<p>
	<li>
		No Refund
		Except the condition above, there would be no refund once registration is confirmed.
	</li>
	<li>
		Everybody Pays
		PyCon Taiwan 2017 is a paid conference; everybody, including staffs and speakers, has to pay to attend.
		<a href="https://tw.pycon.org/2013/zh/blog/2013/03/05/everybody-pays-zh/"> (See also: Everybody Pays).
		</a>
	</li>
	<li>
		Ticketing Consultancy
		Please kindly mail to
		<a href="mailto:organizers@pycon.tw">organizers@pycon.tw</a>.
	</li>
</p>
{% endblock content %}
