{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}Unconference{% endblock %}
{% block page_title %}<h1>Unconference</h1>{% endblock %}

{% block content %}
{% url 'page' path='speaking/unconference' as speaking_unconference_url %}
<h1><span>Unconference</span></h1>
<article>
	<p>
  	If you are interesting in propose unconference talk, see <a href="{{ speaking_unconference_url }}">How to Propose a Unconference Talk?</a>
  </p>
	<p>
    We’re going to open a new <em>“Unconference”</em> track (on the last day), our purpose is to provide different interaction between speakers and audiences. For unconference talks, not only Python-related proposals are accepted, any indirectly related topics are also welcomed. Unconference talks are voted and thus decided by conference attendees. (The current plan is to open for unconference proposal submission 10 days before the conference starts)
  </p>
  <p>
    An unconference talk can be run in any form, the speaker/host can decide the way he/she uses that space and time. Furthermore, unconference talks are not officially recorded in any ways, thus any topics that are more critical compared to the regular conference talks are welcomed.
  </p>
  <p>
    An unconference talk <em>lasts 20 minutes</em>, note that <em>the Q&amp;A session is included</em> in the 20 minutes. The system will open the registration 10 days before the conference, and the talk is voting decision by conference attendees.
  </p>
</article>
{% endblock content %}
