@import 'index-mixins';

.index-partners {
	@include index-section();
	padding: 0;

	> .container {
		@include container(904px);
		padding-bottom: 8px;
		> .grid-layout {
			display: grid;
			grid-template-columns: repeat(3, 220px);
			@media (max-width: 760px) {
				grid-template-columns: repeat(1, 220px);
			}
			
			column-gap: 40px;
			row-gap: 40px;
			margin: 40px;
			> .partner-container {
				background-color: white;
				border: 1px solid white;
				display: flex;
				height: 200px;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: 10px;
				position: relative;
				> span {
					position: absolute;
					top: 0.7em;
					left: 0.7em;
				}
				> span.platinum {
					color: black;
				}
				> span.gold {
					color: $imperial;
				}
				> span.silver {
					color: #262727;
				}
				> span.bronze {
					color: #502526;
				}
				> span.special {
					color: #502526;
				}
				> a {
					img, > span {
						margin: 40px 0px;
						position: relative;
						z-index: $background-deco-index + 1;
						max-width: 180px;
						height: 125px;
						line-height: 64px;
						vertical-align: middle;
						font-size: 175%;
	
						@include on-desktop() {
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}
