$menu-desktop-margin-x: 48px;
$menu-desktop-height: 70px;

@mixin menu-navbar-desktop($logo, $decocolor1, $decocolor2, $top-item-color) {
	display: none;

	@include on-desktop {
		display: flex;
		flex-direction: row;
		height: $menu-desktop-height;
		margin: 0px $menu-desktop-margin-x 100px $menu-desktop-margin-x;
		padding: 0px 40px;
        position: relative;
	}
	.menu-logo {
		width: 221.4px;
		height: 35.5px;
		background: $logo center no-repeat;
	}
	.menu {
		@include container(100%);
		@include menu($top-item-color, $top-item-color);

		$menu-item-spacing: 25px;
		$menu-item-height: $menu-desktop-height / 2;

		display: inline-block;
		height: $menu-item-height;

		> li {
			display: flex;
			flex-direction: column;
			align-items: center;
			float: left;
			padding: 0 $menu-item-spacing / 2;

			#{$menu-item-types} {
				width: 100%;
				// TODO: This only works for single-line text, and is a hack anyway
				// because we're relying on the half-logo/half-item nature of the
				// menubar. Real vertical centering would require additional markup.
				// The minus 1px is the bottom border decoration.
				line-height: $menu-item-height - 1px;
				font-weight: normal;
				color: $jinger-bread;
				&::after {
					content: '';
					display: block;
					width: 0;
					height: 1px;
					margin: 0px auto auto auto;
					background: linear-gradient(119deg, $decocolor1, $decocolor2);
					transition: width 0.25s ease-in-out;
				}

				&:hover::after {
					width: 100%;
				}
			}

			> input:checked ~ .dropdown > .submenu {
				opacity: 1;
				transform: scaleY(1);
			}

			// This requires the input to be *before* the label element in markup.
			> input:checked ~ label::after {
				width: 100%;
			}

            &.dashboard-item {
                position: absolute;
                right: 0;
                padding-right: 0;

                a {
                    font-family: "Quicksand";
                    text-transform: uppercase;

                    line-height: 1;
                    border: 1px solid $jinger-bread;
                    border-radius: 7px;
                    padding: 4px 6px;

                    transition: background 100ms linear, border 100ms linear;

                    &:hover {
                        background-color: $salmon;
                        border-color: transparent;
                    }
                }

                > a, > label {
                    &::after {
                        display: none;
                    }
                }
            }
		}

		.dropdown {
			min-width: 100%;
			min-height: 40px;	// Arbitrary; enough to fill gap under menu item.
		}

		.submenu {
			$width: 140px;
			$item-padding: 5px;

			position: absolute;
			top: $menu-item-height;
			left: calc(50% - #{$width / 2});
			min-width: $width;
			background: transparentize($salmon-dark, 0.05);
			text-align: center;
			opacity: 0;
			transform: scaleY(0);
			transform-origin: top;
			transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

            &.submenu-wide {
                $width: 180px;
                left: calc(50% - #{$width / 2});
                min-width: $width;
            }

			li {
				display: flex;
				flex-direction: column;
				align-content: stretch;

				@include menu-item($jinger-bread, $imperial) {
					flex: 1;
					padding: $item-padding;
				}

				&:first-child > *:first-child {
					padding-top: 2 * $item-padding;
				}
				&:last-child > *:first-child {
					padding-bottom: 2 * $item-padding;
				}
			}
		}
	}
}
