.tag {
	@include text($text-font-size);

	display: inline-block;
	margin: 3px 1px;
	padding: 4px 12px;
	border-radius: 2px;
	background: $imperial;
	color: $white;
	text-align: center;
	transition: background-color 150ms linear;

	&:hover {
		background-color: $jinger-bread;
		color: $white;
		text-decoration: none;
	}
}
