{% load i18n %}

<table class="proposals-table table table-striped table-hover">
  <thead>
    <tr>
        <th class="title-cell" width="99%">{% trans 'Title' %}</th>
        <th>{% trans 'Python Level' %}</th>
        <th>{% trans 'Language' %}</th>
        {% if user.is_valid_speaker %}<th></th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for proposal in proposals %}
    <tr>
      <td class="title-cell">{{ proposal.title }}</td>
      <td>{{ proposal.get_python_level_display }}</td>
      <td>{{ proposal.get_language_display }}</td>
      {% if user.is_valid_speaker %}
      <td>
        <form action="{{ proposal.get_cancel_url }}" method="post">
          {% csrf_token %}
          {% if proposal.cancelled %}
          <button type="submit" name="cancelled" value="" class="btn btn-success">{% trans 'Reactivate' %}</button>
          {% else %}
          <a href="{{ proposal.get_update_url }}" class="btn btn-default btn-primary">{% trans 'Edit' %}</a>
          <button type="submit" name="cancelled" value="true" class="btn btn-danger">{% trans 'Withdraw' %}</button>
          {% endif %}
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
