{% load i18n %}

<table class="proposals-table table table-responsive">
	<thead>
		<tr>
			<th>{% trans 'Title' %}</th>
			<th width="1%" class="hidden-xs">{% trans 'Python Level' %}</th>
			<th width="1%" class="hidden-xs">{% trans 'Language' %}</th>
			<th width="1%"></th>
		</tr>
	</thead>
	<tbody>
		{% for proposal in proposals %}
		<tr>
			<td class="proposal-title">{{ proposal.title }}</td>
			<td class="hidden-xs">{{ proposal.get_python_level_display }}</td>
			<td class="hidden-xs">{{ proposal.get_language_display }}</td>
			<td>
				<form class="dropdown" action="{{ proposal.get_cancel_url }}"
						method="post">
					{% csrf_token %}
					<button type="button" data-toggle="dropdown"
							id="proposal-edit-dropdown-{{ proposal.pk }}"
							class="btn edit-btn dropdown-toggle script-only"
							aria-haspopup="true" aria-expanded="true">
						{% trans 'Edit' %}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right"
							aria-labelledby="proposal-edit-dropdown-{{ proposal.pk }}">
						{% if proposal.cancelled %}
						<li><button type="submit" name="cancelled" value="">{% trans 'Reactivate' %}</button></li>
						{% else %}
						<li>
							<a href="{{ proposal.get_update_url }}"
									class="btn btn-block edit-btn text-edit">
								{% trans 'Edit Proposal' %}
							</a>
						</li>
						<li>
							<a href="{{ proposal.get_manage_speakers_url }}"
									class="btn btn-block edit-btn text-edit">
								{% trans 'Manage Speakers' %}
							</a>
						</li>
						<li>
							<button type="submit" name="cancelled" value="true"
									class="btn btn-block edit-btn text-danger">
								{% trans 'Withdraw' %}
							</button>
						</li>
						{% endif %}
					</ul>
					<noscript>
						<a href="{{ proposal.get_update_url }}"
								class="btn btn-block edit-btn text-edit">
							{% trans 'Edit Proposal' %}
						</a>
						<a href="{{ proposal.get_manage_speakers_url }}"
								class="btn btn-block edit-btn text-edit">
							{% trans 'Manage Speakers' %}
						</a>
						<button type="submit" name="cancelled" value="true"
								class="btn btn-block edit-btn text-danger">
							{% trans 'Withdraw' %}
						</button>
					</noscript>
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
