{% load i18n %}

<table class="proposals-table table table-responsive">
	<thead>
		<tr>
			<th class="proposal-title">{% trans 'Title' %}</th>
			<th width="1%" class="hidden-xs">{% trans 'Python Level' %}</th>
			<th width="1%" class="hidden-xs">{% trans 'Language' %}</th>
			<th width="1%"></th>
		</tr>
	</thead>
	<tbody>
		{% for proposal in proposals %}
		<tr>
			<td class="col-sm-4 col-sm-6 proposal-title">{{ proposal.title }}</td>
			<td class="col-sm-2 hidden-xs">{{ proposal.get_python_level_display }}</td>
			<td class="col-sm-1 hidden-xs">{{ proposal.get_language_display }}</td>
			<td class="col-sm-5 col-sm-6">
				<form action="{{ proposal.get_cancel_url }}" method="post">
					{% csrf_token %}
					{% if proposal.cancelled %}
					<button type="submit" name="cancelled" value="" class="btn edit-btn text-success">{% trans 'Reactivate' %}</button>
					{% else %}
					<a href="{{ proposal.get_update_url }}" class="btn btn-default edit-btn text-edit">{% trans 'Edit' %}</a>
					{% comment %}
					<a href="{{ proposal.get_manage_speakers_url }}" class="btn btn-default btn-default">{% trans 'Manage Speakers' %}</a>
					{% endcomment %}
					<button type="submit" name="cancelled" value="true" class="btn edit-btn text-danger">{% trans 'Withdraw' %}</button>
					{% endif %}
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
