
{% extends 'contents/_base.html' %}

{% load static %}

{% block title %}Tainan.py x MOSUT 聯合線上直播{% endblock title %}

{% block meta_description %}Tainan.py 合併 MOSUT 實體聚會所進行的線上與線下聯播活動！！{% endblock meta_description %}


{% block content %}

<section class="pill-title alt">
    <h1>Tainan.py x MOSUT 聯合線上直播</h1>
</section>

<p>我們最後一場聚會將在 PyCon Taiwan 2020 開始前的一個禮拜在專業課程與衝刺開發場地舉行。</p>

<ul>
    <li class="event-info">
        <b>活動時間</b><br />
        Saturday, August 29, 2020
                                2:00 PM to 5:00 PM GMT+8
    </li>
    <li class="event-info">
        <b>活動形式</b><br />
        Youtube 線上直播（
        <a href="https://www.youtube.com/watch?v=BGxC-mWSLu0" target="_blank" rel="noopener">
            影片連結
        </a>
				）
    </li>
    <li class="event-info">
        <b>線下聚會</b><br />
        <a href="https://www.meetup.com/Tainan-py-Python-Tainan-User-Group/events/272270687" target="_blank" rel="noopener">好想工作室</a> 台南市東區北門路二段 16 號
    </li>
</ul>

<h2> 社群介紹: <a href="https://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank" rel="noopener">Tainan.py - Python Tainan User Group</a></h2>
<p>讓各位期待已久的 Python 台南使用者群組終於成立了！此聚會簡稱為 Tainan.py ，將以一個月一次的頻率舉辦。歡迎南部地區的 Python 愛好者或對 Python 此一優雅之程式語言有興趣的朋友，一同來共襄盛舉，分享你的所見所得。期待各位在討論、把玩各項 Python 技術的同時，也能認識許多新朋友，共同領略 Python 之美。</p>

<h2>活動議程</h2>
<table>
	<thead>
		<tr>
			<th>時間</th>
			<th>執行項目</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>-</td>
			<td>講者分享1 : Eric - 打造一套end2end的自然語言處理框架</td>
		</tr>
		<tr>
			<td>-</td>
			<td>講者分享2 : Wei Lee - commitizen-tools: What can we gain from crafting a git message convention?</td>
		</tr>
		<tr>
			<td>-</td>
			<td>自由投稿</td>
		</tr>
	</tbody>
</table>

{% endblock content %}
