{% extends 'contents/_base/events.html' %}

{% load static %}

{% block title %}PyDay{% endblock %}
{% block page_title %}<h1>Python Day</h1>{% endblock %}

{% block content %}
<p>
    This year the PyDay will be held in Chengchi University after PyCon.
</p>

<h2>What is PyDay？</h2>
<p>
    PyDay is a newbie activities held by the PyCon TW and the  top univerisities in Taiwan. All the PyDay’s speakers are mostly from the PyCon keynote speakers and would share their experience throuhout sessions.
</p>
<p>
    2015 NCCU PyDay, invited 4 experts from MIT, Google as kenote speaker and talked about data analysis. Arnaud Bergeron has presented the fundamental of Theano, Steven Johnson introduce a new technical-computing language(Julia), Robert Bradshaw’s talk on Cython, Andy Terrel share the experience on Gallery.
</p>
<p>
    This year Taiwan university and Chengchi university cooperate with PyCon TW and invite the Paul Hildebrandt and Steve Dower. Mr. Hildebrandt is senior engineer at Walt Disney Animation Studios (WDAS) and Mr. Dower works in Microsoft as a software engineer. They will face to face with audience.
</p>
<p>
    Come and join us this event especially for those newbies out there!
</p>

<h2>Ticket Info</h2>

<p>The following tickets provide access to the PyDay activities on June 6. Please refer to their own pages for PyCon main conference, tutorial and sprint registrations.</p>

<div class="table-responsive">
    <table class="table table-pycon">
    <thead>
        <tr>
            <th></th>
            <th>Regular rate</th>
            <th>Link</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-emphasize">Regular</td>
            <td class="text-theme-highlight text-emphasize">200</td>
            <td>
                <a class="btn btn-action" href="http://pycontw.kktix.cc/events/pycontw2016-pyday" target="_blank">
                    Buy
                </a>
            </td>
            <td class="table-pycon__description">
                No receipt available.
            </td>
        </tr>
        <tr>
            <td class="text-emphasize">Students</td>
            <td class="text-theme-highlight text-emphasize">200</td>
            <td>
                <a class="btn btn-action" href="http://pycontw.kktix.cc/events/pycontw2016-pyday" target="_blank">
                    Buy
                </a>
            </td>
            <td class="table-pycon__description">
                <p>No receipt available.</p>
                <p>This discount is for students only. You are required to provide identification of eligibility (student ID card) when checking in at the conference.</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
